null

<section class="vc_off sidebar_off "><div class="container"><div class="row">

<div class="col-md-12">		<div data-elementor-type="wp-page" data-elementor-id="14380" class="elementor elementor-14380" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-f01bc2 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f01bc2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-692952f elementor-column elementor-col-100 elementor-top-column" data-id="692952f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-685e5e91 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="685e5e91" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2997f1d6 elementor-hidden-phone elementor-column elementor-col-50 elementor-inner-column" data-id="2997f1d6" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-7c6d163c elementor-widget elementor-widget-heading" data-id="7c6d163c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Awards &<br>Accolades</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-528a816d elementor-column elementor-col-50 elementor-inner-column" data-id="528a816d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-414ff602 elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="414ff602" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;5&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;pause_on_hover&quot;:&quot;no&quot;,&quot;pause_on_interaction&quot;:&quot;no&quot;,&quot;autoplay_speed&quot;:3000,&quot;slides_to_show_tablet&quot;:&quot;4&quot;,&quot;slides_to_show_mobile&quot;:&quot;3&quot;,&quot;navigation&quot;:&quot;dots&quot;,&quot;slides_to_scroll_tablet&quot;:&quot;1&quot;,&quot;slides_to_scroll_mobile&quot;:&quot;1&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;direction&quot;:&quot;ltr&quot;}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper">
				<div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-1208e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 12" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-12.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-1108e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 11" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-11.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-1008e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 10" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-10.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-908e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 9" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-9.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-808e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 8" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-8.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-708e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 7" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-7.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-608e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 6" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-6.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-508e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 5" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-5.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-408e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 4" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-4.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-208e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 2" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-2.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-108e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 1" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-1.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-308e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Dental Awards 3" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Dental-Awards-3.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Awards08e2.jpg?fit=200%2C400&amp;ssl=1" alt="FMS Awards" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/FMS-Awards.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div><div class="swiper-slide"><figure class="swiper-slide-inner"><img class="swiper-slide-image jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Untitled-design-1108e2.jpg?fit=200%2C400&amp;ssl=1" alt="Untitled-design-11" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Untitled-design-11.jpg?fit=200%2C400&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></figure></div>			</div>
												<div class="swiper-pagination"></div>
													</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-4c7cbfc6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4c7cbfc6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-301271f2 elementor-column elementor-col-33 elementor-top-column" data-id="301271f2" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-7866af9f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7866af9f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-22617111 elementor-column elementor-col-100 elementor-inner-column" data-id="22617111" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2f1b192e elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="2f1b192e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-195c507d elementor-widget elementor-widget-divider" data-id="195c507d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4fdfb61f elementor-widget elementor-widget-heading" data-id="4fdfb61f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Indywood Excellence Award 2017</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-188c8e9b elementor-widget elementor-widget-text-editor" data-id="188c8e9b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Dentistry &#8211; FMS DENTAL HOSPITALS</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3c76e46e elementor-widget elementor-widget-divider" data-id="3c76e46e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7f47b1e elementor-column elementor-col-33 elementor-top-column" data-id="7f47b1e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-791ed30a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="791ed30a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3ce7d2c3 elementor-column elementor-col-100 elementor-inner-column" data-id="3ce7d2c3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c3aa42 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="c3aa42" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6a1f1aee elementor-widget elementor-widget-divider" data-id="6a1f1aee" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-20a84cd9 elementor-widget elementor-widget-heading" data-id="20a84cd9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Times Healthcare Achievers 2017</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4000a201 elementor-widget elementor-widget-text-editor" data-id="4000a201" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Legend of the year &#8211; Dr. PP Reddy</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-67d47a47 elementor-widget elementor-widget-divider" data-id="67d47a47" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-354e8dfd elementor-column elementor-col-33 elementor-top-column" data-id="354e8dfd" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-fd29de8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="fd29de8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-40b6c7fa elementor-column elementor-col-100 elementor-inner-column" data-id="40b6c7fa" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-766c8179 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="766c8179" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-45cbadb2 elementor-widget elementor-widget-divider" data-id="45cbadb2" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-38766915 elementor-widget elementor-widget-heading" data-id="38766915" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Indywood Excellence Award 2018</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4afbbb84 elementor-widget elementor-widget-text-editor" data-id="4afbbb84" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Professional Excellence &#8211; Dr. PP Reddy</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-491ff84f elementor-widget elementor-widget-divider" data-id="491ff84f" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-da5c916 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="da5c916" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-617470f4 elementor-column elementor-col-33 elementor-top-column" data-id="617470f4" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-196e200c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="196e200c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5b009d84 elementor-column elementor-col-100 elementor-inner-column" data-id="5b009d84" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-20e9142d elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="20e9142d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1ed4769e elementor-widget elementor-widget-divider" data-id="1ed4769e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-30e0be9d elementor-widget elementor-widget-heading" data-id="30e0be9d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">NABH</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1f7e5f9c elementor-widget elementor-widget-text-editor" data-id="1f7e5f9c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Certificate of Accreditation</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-188510a1 elementor-widget elementor-widget-divider" data-id="188510a1" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-5279447 elementor-column elementor-col-33 elementor-top-column" data-id="5279447" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-e764bff elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="e764bff" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-d230eac elementor-column elementor-col-100 elementor-inner-column" data-id="d230eac" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-8d20ed7 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="8d20ed7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ad2059e elementor-widget elementor-widget-divider" data-id="ad2059e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-806b534 elementor-widget elementor-widget-heading" data-id="806b534" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">International Accredited Clinic </h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2acb380 elementor-widget elementor-widget-text-editor" data-id="2acb380" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Global Clinic Rating</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-67128f9 elementor-widget elementor-widget-divider" data-id="67128f9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-2d7a0639 elementor-column elementor-col-33 elementor-top-column" data-id="2d7a0639" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-7a530a15 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7a530a15" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7cf6ef4f elementor-column elementor-col-100 elementor-inner-column" data-id="7cf6ef4f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-74717a7a elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="74717a7a" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-2f5c8468 elementor-widget elementor-widget-divider" data-id="2f5c8468" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-25030302 elementor-widget elementor-widget-heading" data-id="25030302" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">NABH</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-43d0b6eb elementor-widget elementor-widget-text-editor" data-id="43d0b6eb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Scope of Accreditation</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-28a0c554 elementor-widget elementor-widget-divider" data-id="28a0c554" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-32970016 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="32970016" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5fc494ed elementor-column elementor-col-33 elementor-top-column" data-id="5fc494ed" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-ccc535 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ccc535" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-749da82 elementor-column elementor-col-100 elementor-inner-column" data-id="749da82" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2a5c81f elementor-widget elementor-widget-heading" data-id="2a5c81f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best Website</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-e437b57 elementor-column elementor-col-33 elementor-top-column" data-id="e437b57" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-4a706ef1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4a706ef1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-49bff36c elementor-column elementor-col-100 elementor-inner-column" data-id="49bff36c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-15aac541 elementor-widget elementor-widget-heading" data-id="15aac541" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best CLINIC</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-3a1b1287 elementor-column elementor-col-33 elementor-top-column" data-id="3a1b1287" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-2515bf3b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="2515bf3b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-73dbf991 elementor-column elementor-col-100 elementor-inner-column" data-id="73dbf991" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-7e8476f1 elementor-widget elementor-widget-heading" data-id="7e8476f1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best Clinic </h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f9e96e5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f9e96e5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5fdf33fa elementor-column elementor-col-33 elementor-top-column" data-id="5fdf33fa" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-4d6c861d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4d6c861d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-9f12a44 elementor-column elementor-col-100 elementor-inner-column" data-id="9f12a44" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-52de5ec7 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="52de5ec7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-68120886 elementor-widget elementor-widget-divider" data-id="68120886" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-25920153 elementor-widget elementor-widget-heading" data-id="25920153" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best International Dental Clinic</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-22777f16 elementor-widget elementor-widget-text-editor" data-id="22777f16" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">My Brand Better</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5604f5b8 elementor-widget elementor-widget-divider" data-id="5604f5b8" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-8521490 elementor-column elementor-col-33 elementor-top-column" data-id="8521490" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-60737ed5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="60737ed5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7e3a1844 elementor-column elementor-col-100 elementor-inner-column" data-id="7e3a1844" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6d2847dc elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="6d2847dc" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6648be4 elementor-widget elementor-widget-divider" data-id="6648be4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3a2dab0f elementor-widget elementor-widget-heading" data-id="3a2dab0f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">World Healthcare Achievers 2018</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7c385381 elementor-widget elementor-widget-text-editor" data-id="7c385381" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Best Dental Practice of the year</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3628c7b0 elementor-widget elementor-widget-divider" data-id="3628c7b0" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-5967a512 elementor-column elementor-col-33 elementor-top-column" data-id="5967a512" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-4ec6a0aa elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4ec6a0aa" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-168f588a elementor-column elementor-col-100 elementor-inner-column" data-id="168f588a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6c33933d elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="6c33933d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e1f78db elementor-widget elementor-widget-divider" data-id="e1f78db" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-41bc6f1f elementor-widget elementor-widget-heading" data-id="41bc6f1f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best Implantologist - Dr. Shailaja Reddy</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-878680c elementor-widget elementor-widget-text-editor" data-id="878680c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">My Brand Better</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1430837e elementor-widget elementor-widget-divider" data-id="1430837e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-164f7972 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="164f7972" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-6c92f69 elementor-column elementor-col-33 elementor-top-column" data-id="6c92f69" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-5f8b8be elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5f8b8be" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-28f4c83 elementor-column elementor-col-100 elementor-inner-column" data-id="28f4c83" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6c0e723 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="6c0e723" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fb03e97 elementor-widget elementor-widget-divider" data-id="fb03e97" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fcf92ad elementor-widget elementor-widget-heading" data-id="fcf92ad" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Corporate Chain of the Year</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4821349 elementor-widget elementor-widget-text-editor" data-id="4821349" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">THL Award &#8211; 2018</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-997a275 elementor-widget elementor-widget-divider" data-id="997a275" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-280c2201 elementor-column elementor-col-33 elementor-top-column" data-id="280c2201" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-7a9ce99 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7a9ce99" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5c38d2c9 elementor-column elementor-col-100 elementor-inner-column" data-id="5c38d2c9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-306296b7 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="306296b7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6b32c511 elementor-widget elementor-widget-divider" data-id="6b32c511" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-74d97866 elementor-widget elementor-widget-heading" data-id="74d97866" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Outstanding Dentist of the year - Dr. Shailaja</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-13c04c16 elementor-widget elementor-widget-text-editor" data-id="13c04c16" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">THL Award 2018 </span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-bb6cc95 elementor-widget elementor-widget-divider" data-id="bb6cc95" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-4b02ff46 elementor-column elementor-col-33 elementor-top-column" data-id="4b02ff46" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-eb1e620 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="eb1e620" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3d8f1734 elementor-column elementor-col-100 elementor-inner-column" data-id="3d8f1734" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-10853612 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="10853612" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-71bd8f77 elementor-widget elementor-widget-divider" data-id="71bd8f77" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4d4669a1 elementor-widget elementor-widget-heading" data-id="4d4669a1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Entrepreneur Dentist of the year - Dr. PP </h2>		</div>
				</div>
				<div class="elementor-element elementor-element-3486afd6 elementor-widget elementor-widget-text-editor" data-id="3486afd6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">THL Award 2018</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-703e2056 elementor-widget elementor-widget-divider" data-id="703e2056" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-21b252a6 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="21b252a6" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3885779d elementor-column elementor-col-33 elementor-top-column" data-id="3885779d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-4f90dfc9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4f90dfc9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7552928e elementor-column elementor-col-100 elementor-inner-column" data-id="7552928e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-212b0c5b elementor-widget elementor-widget-heading" data-id="212b0c5b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Dental Tourism</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-6ddcab29 elementor-column elementor-col-33 elementor-top-column" data-id="6ddcab29" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-5e21bce7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5e21bce7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-75efc11c elementor-column elementor-col-100 elementor-inner-column" data-id="75efc11c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-47243ce9 elementor-widget elementor-widget-heading" data-id="47243ce9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Specialist dentist</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-12999e40 elementor-column elementor-col-33 elementor-top-column" data-id="12999e40" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-3d0cc691 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="3d0cc691" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-54447488 elementor-column elementor-col-100 elementor-inner-column" data-id="54447488" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-32cad483 elementor-widget elementor-widget-heading" data-id="32cad483" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">BEST HOSPITAL</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-754e4392 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="754e4392" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-4c561ca9 elementor-column elementor-col-33 elementor-top-column" data-id="4c561ca9" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-172ed647 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="172ed647" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-439d3b7 elementor-column elementor-col-100 elementor-inner-column" data-id="439d3b7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-9b74a66 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="9b74a66" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1aa65fb3 elementor-widget elementor-widget-divider" data-id="1aa65fb3" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-53bb3245 elementor-widget elementor-widget-heading" data-id="53bb3245" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">ISO 18001:2007</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-69b051af elementor-widget elementor-widget-text-editor" data-id="69b051af" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Dental Health Care Service</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4a61670e elementor-widget elementor-widget-divider" data-id="4a61670e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-72babe9 elementor-column elementor-col-33 elementor-top-column" data-id="72babe9" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-33930f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="33930f3" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f57b236 elementor-column elementor-col-100 elementor-inner-column" data-id="f57b236" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-8cd28e9 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="8cd28e9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-9acbf1c elementor-widget elementor-widget-divider" data-id="9acbf1c" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8456b52 elementor-widget elementor-widget-heading" data-id="8456b52" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">India's Greatest Brnads - 2016-17</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ffa31fc elementor-widget elementor-widget-text-editor" data-id="ffa31fc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">URS ASIA ONE</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e7e5293 elementor-widget elementor-widget-divider" data-id="e7e5293" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-134bfa17 elementor-column elementor-col-33 elementor-top-column" data-id="134bfa17" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-458f1fcf elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="458f1fcf" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2bf7a88c elementor-column elementor-col-100 elementor-inner-column" data-id="2bf7a88c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-4ecce124 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="4ecce124" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5a4e7d74 elementor-widget elementor-widget-divider" data-id="5a4e7d74" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6cd89586 elementor-widget elementor-widget-heading" data-id="6cd89586" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">ISO 9001:2015</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-5e623ca3 elementor-widget elementor-widget-text-editor" data-id="5e623ca3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Dental Health Care Service</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6405488d elementor-widget elementor-widget-divider" data-id="6405488d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-6079baf5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6079baf5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f0f14cd elementor-column elementor-col-33 elementor-top-column" data-id="f0f14cd" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-c973b18 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="c973b18" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-ffb1898 elementor-column elementor-col-100 elementor-inner-column" data-id="ffb1898" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-1d26da5 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="1d26da5" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-71a60d2 elementor-widget elementor-widget-divider" data-id="71a60d2" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-c42bfd5 elementor-widget elementor-widget-heading" data-id="c42bfd5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Times Healthcare Achievers 2016</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-db6e86d elementor-widget elementor-widget-text-editor" data-id="db6e86d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Best Hospital  &#8211; Dentistry</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-703cd2d elementor-widget elementor-widget-divider" data-id="703cd2d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-77951011 elementor-column elementor-col-33 elementor-top-column" data-id="77951011" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-526574f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="526574f2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3fe139a4 elementor-column elementor-col-100 elementor-inner-column" data-id="3fe139a4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-676cf406 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="676cf406" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-45dd175e elementor-widget elementor-widget-divider" data-id="45dd175e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-14c1aa74 elementor-widget elementor-widget-heading" data-id="14c1aa74" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Best Dental Hospital of the year</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9d68028 elementor-widget elementor-widget-text-editor" data-id="9d68028" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Times Award &#8211; 2017</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3a7fbcf3 elementor-widget elementor-widget-divider" data-id="3a7fbcf3" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-3e4dca63 elementor-column elementor-col-33 elementor-top-column" data-id="3e4dca63" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-32ccf9e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="32ccf9e1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2f90f7fb elementor-column elementor-col-100 elementor-inner-column" data-id="2f90f7fb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-75f1f7b9 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="75f1f7b9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7b45e9b0 elementor-widget elementor-widget-divider" data-id="7b45e9b0" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-56e18849 elementor-widget elementor-widget-heading" data-id="56e18849" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Rising Star of the Year - 2018</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4e3b034b elementor-widget elementor-widget-text-editor" data-id="4e3b034b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><span style="color: wite; font-family: Roboto, sans-serif; font-size: 12px; text-align: center;">Dr. Dushyanth Paul</span></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-67d80d0e elementor-widget elementor-widget-divider" data-id="67d80d0e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		
      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    </div>

</div></div></section>

