<ul class="list-group">
    <li class="list-group-item">
        <a href="/admin/hospitals">Hospitals</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/doctors">Doctors</a>
    </li>
</ul>