<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Adult Orthodontics</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../orthodontics-home/index.html" class="list-group-item">Orthodontics Home</a>
<a href="../orthodontics-team/index.html" class="list-group-item">Orthodontics Team</a> 
<a href="../orthodontics-infrastructure/index.html" class="list-group-item">Infrastructure</a> 
<a href="../malocclusion/index.html" class="list-group-item">Malocclusion</a>
<a href="../child-orthodontics/index.html" class="list-group-item">Child Orthodontics</a>
<a href="index.html" class="list-group-item active">Adult Orthodontics</a> 
<a href="../invisible-braces/index.html" class="list-group-item">Invisible Braces</a>
<a href="../surgical-orthodontics/index.html" class="list-group-item">Surgical Orthodontics</a>
<a href="../ortho-home-care/index.html" class="list-group-item">Home Care</a> 
<a href="../orthodontic-emergencies/index.html" class="list-group-item">Orthodontic Emergencies</a>
   </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #800000;"><u>Orthodontics and Adults</u></span></h3>
<p>Orthodontic treatment can be <span style="color: #800000;">successfully done at any age</span> provided the patient has <span style="color: #800000;">good bone health</span>. Adults, especially appreciate the benefits of a beautiful smile. FMS dental hospital provides Traditional braces treatment, Colored braces treatment , Ceramic braces treatment, Self Ligating Bracket system, Lingual bracket system as well as Clear aligner (Invisalign/ Clear path) therapy for adults.</p>
<p>Dental health concerns are often the primary consideration for adult treatment. Crooked teeth and bad bites may affect oral health. Orthodontic treatment may help prevent many serious potential problems such as tooth decay, gum disease and eventual tooth loss.</p>
<p>Many adults are seeking braces to improve the appearance of their teeth and looks. The techniques used in the movement of adult teeth are similar to those used in children. Gaps between teeth, crowding, protruding front teeth, and teeth in abnormal positions are problems that may be corrected in the adult by orthodontic treatment.</p>
<p>As people become increasingly health conscious, orthodontists may see a continuing increase in the number of adult orthodontic patients. The use of small metal or clear (ceramic) braces has led to greater acceptance by adults to undergo orthodontic treatment. However, certain conditions cannot be resolved with braces alone, because an adult&#8217;s facial bones are no longer growing. Sometimes, jaw surgery is required to obtain the ideal result.</p>
<p>The <span style="color: #800000;">health of teeth, gums and supporting bone, as well as harmonious jaw relationships</span>, are <span style="color: #800000;">key factors</span> in determining the possibility of improving one&#8217;s appearance through orthodontic treatment.</p>
<p>With modern technologies and materials used in Orthodontics today, it is never too late to consider braces treatment for an adult. Braces are not only useful for cosmetic improvement but also it can treat your jaw joint function. If you are planning to get crowns, veneers or other restorative treatments for either cosmetic or functional reasons, braces may even be recommended to obtain the maximum result, because braces places teeth where they should be. Treatment time is not a big issue anymore as we are able to complete treatment in a minimal amount of time, often one year depending on the case type.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong>Types of Braces</strong></span></p>
<p><span style="color: #800000;"><strong><u>Traditional Metal Braces</u></strong></span></p>
<p>Traditional metal braces are the most common type of braces and are more comfortable. Brackets are bonded to the teeth, arch wires are placed through the brackets and small elastic bands secure the wire in the bracket. Tightening the arch wire gradually, move the teeth into proper position.</p>
<p>These braces are adjusted every 4-6 weeks to bring about the desired results. Although a little discomfort is expected during the treatment, today’s braces are more comfortable than ever before. These braces are made of high grade stainless steel which are smaller, lighter and show far less metal than the past.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/8-1b3b3.jpg?fit=300%2C275&amp;ssl=1" width="300" height="275" alt="8" title="8" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/8-1.jpg?fit=300%2C275&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/9-3d89b.jpg?fit=538%2C403&amp;ssl=1" width="538" height="403" alt="9" title="9" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/9-3.jpg?fit=538%2C403&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong><u>Colored Braces</u></strong></span></p>
<p>Coloured braces are essentially a fixed brace with coloured elastic bands in place which can give a tailored aesthetic appeal to your new braces. They are available in many colours as seen below. They are typically changed at each visit.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/10-275bf.jpg?fit=539%2C283&amp;ssl=1" width="539" height="283" alt="10" title="10" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/10-2.jpg?fit=539%2C283&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong><u>Ceramic Braces</u></strong></span></p>
<p>Ceramic braces are made of a clear ceramic material, and are therefore less visible on your teeth than metal braces. For this reason, these braces are used mainly on older teenagers and adult patients who have cosmetic concerns. While they are visually less prominent, they do require more attention to oral hygiene as ceramic braces are larger and are more brittle than their metal counterparts. These brackets are expensive compared to the regular metal brackets as they are more esthetic i.e.; they are less conspicuous.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/11-23434.jpg?fit=247%2C175&amp;ssl=1" width="247" height="175" alt="11" title="11" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/11-2.jpg?fit=247%2C175&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
</div>

<div class="teaser_box wpb_content_element text-center   boxed  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/12-2a915.jpg?fit=960%2C350&amp;ssl=1" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/12-2.jpg?fit=960%2C350&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>


<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong><u>Self Ligating System </u></strong></span></p>
<p>One of the most significant differences from conventional dental braces is the absence of <a href="https://en.wikipedia.org/wiki/Elastic_Ligature_(orthodontic)">elastic ligature</a> (bands or ties). Self-ligating braces typically are smaller and more aesthetic since a metal door is required to hold wires in place. The self-ligating braces uses a slide mechanism to hold the archwire, thus reducing the amount of pressure exerted on the teeth.</p>
<p>Both traditional and self ligation (DAMON) braces achieve the same results, but the self ligation style is typically easier to tolerate.</p>
<p>The differences include:</p>
<p><span style="color: #800000;"><strong>Looks</strong></span></p>
<p>With self ligation braces, elastic bands are eliminated and the braces are less obvious in their appearance.</p>
<p><span style="color: #800000;"><strong>How they work</strong></span></p>
<p>While both styles of orthodontic treatment get the same results, the way those results are achieved is different. Traditional braces uses a system in which you return to the orthodontist every four to six weeks to have them tightened for the teeth to move. Self ligation braces work by using tiny spring loaded door to maintain pressure on the archwires. This process applies pressure to the system to gently adjust the teeth to the desired position. Because of the new technology used in self ligation braces, the need for tightening is eliminated frequently.</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/13735c.png?fit=720%2C300&amp;ssl=1" width="720" height="300" alt="13" title="13" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/13.png?fit=720%2C300&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong>Tooth Extractions</strong></span></p>
<p>Many people who get traditional braces treatment must have several teeth removed in the process. This is to make enough room for crowded teeth. With self ligation braces teeth removal is not typically necessary. While in some cases extractions are needed, it is much less often than with traditional braces. In addition, the need for expanders and headgear is significantly reduced. This is due to the self ligation method using the body’s natural ability to adapt during the process.</p>
<p><span style="color: #800000;"><strong>Time Involved</strong></span></p>
<p>Because self ligation braces don’t require tightening, the appointments throughout treatment are spaced further apart than with conventional treatment. In many cases actual time during the appointment is also shorter.</p>
<p><span style="color: #800000;"><strong>Length of the treatment</strong></span></p>
<p>Self ligating braces treatment typically lasts six months shorter than treatment with conventional braces. In addition, approximately fewer check-up appointments are required with this system.</p>
<p>The self ligation braces also help in maintaining the hygiene in an easier way as cleaning around the braces is much easy compared to traditional braces. With several advantages this latest system may be more expensive in treatment but helps the patient in reduction of treatment time and also requirement of tooth removal is minimised.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/148b5f.jpg?fit=464%2C213&amp;ssl=1" width="464" height="213" alt="14" title="14" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/14.jpg?fit=464%2C213&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3321 current_page_item menu-item-8894"><a href="index.html" aria-current="page">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>