<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>All On 4 Dental Implant Procedure</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1471079165900">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../dental-implants-homepage/index.html" class="list-group-item">Dental Implants Home</a> 
<a href="../why-dental-implants/index.html" class="list-group-item">Why Dental Implants?</a>
<a href="../best-dental-implant-center-in-india/index.html" class="list-group-item">The Implant Center</a>
<a href="../best-implant-dentist-in-india/index.html" class="list-group-item">FMS Implant Team</a> 
<a href="../dental-implant-cost/index.html" class="list-group-item">Dental Implant Cost</a>
<a href="../single-tooth-dental-implant-in-india/index.html" class="list-group-item">Single Tooth Replacement with Dental Implant</a>
<a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
<a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
<a href="../teeth-in-a-day/index.html" class="list-group-item">Teeth In A Day</a>
<a href="../permenant-fixed-teeth-in-5-days/index.html" class="list-group-item">Permenant Fixed Teeth In 5 Days</a>
<a href="../full-mouth-dental-implants/index.html" class="list-group-item">Full Mouth Dental Implants</a>
<a href="index.html" class="list-group-item active">All On 4 Dental Implant Procedure</a>
<a href="../boi-implants/index.html" class="list-group-item">BOI Implants</a>
<a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
<a href="../zygoma-implants/index.html" class="list-group-item">Zygoma-Implants</a>                        
<a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
<a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">Cone Beam 3D CT Scan</a>
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a>
<a href="../implantology-frequently-asked-questions/index.html" class="list-group-item">FAQs</a> 
<a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="color: #ff6600;">All on 4 dental implants protocol for completely missing teeth with minimal bone<br>
</span></h2>
<h3><span style="font-size: 12pt;">(Scientifically documented for 30 years, with 99% success rate)<a title="implant scientific" href="../implantscientificdocument/index.html" target="_new"> *click here to know more</a></span></h3>

		</div>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/all-on-four-implantsefac.jpg?fit=347%2C225&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1d1cd.jpg?fit=600%2C315&amp;#038;ssl=1" alt="Ask about All-on-4">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Ask about All-on-4</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/hnrvfXFJiuM?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4 style="text-align: justify;">What is All-On-4?   &#8212;&#8212;&#8212;&#8211;   Also know about <a href="../allon4plus/index.html"><img class="alignnone wp-image-7800 size-full" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/allon4plus5734.jpg?resize=239%2C60" alt width="239" height="60" data-recalc-dims="1"></a></h4>
<p style="text-align: justify;">All on 4 Dental implants contains 4 implants placed in a completely teeth-less jaw, providing secure and optimal support for a fixed  12-14 unit Nobel Procera Bridge (Sweden) or a Nobel Procera Hybrid Prosthesis (Sweden). The posterior two implants are specially designed and angulated to achieve, the most Comprehensive, Successful, Safe, Simpler, Graft-less, Minimum-Number-Implant-Solution for completely missing teeth.</p>
<p style="text-align: justify;">Often, tooth loss is accompanied by loss of the jaw bone which poses the problem of reconstruction of the jaw bone. For the implantation to be successful, it is necessary to transplant bone from other parts of the body. It requires an additional surgery and many patients can not do the transplant of bone for general health reasons also (diabetes and others).</p>
<p style="text-align: justify;">The All-on-4 Dental Implants solution, will address these drawbacks because it consists in establishing a fully customized fixed teeth, based only on four titanium implants, anchored into the basal bone. These implants act as &#8220;pillars&#8221; to the bridge that supports the prosthetic teeth. This most successful procedure allows taking advantage of existing bone, even if scarce, avoiding having to use bone grafts, sinus lift surgeries, nerve repositioning on the lower jaw etc.The posterior implants are substantially angled at approximately 45 degrees to avoid compromising the sinus cavity in the upper jaw and the nerve canal in the lower jaw.</p>
<p style="text-align: justify;">The All-on-4 dental implants solution owes its name to the very nature of the method, which consists of a screwed-on  CAD-CAM designed dental prosthesis &#8211; the Nobel Procera Crown and Bridge or the Nobel Procera Hybrid Prosthesis (Sweden), with at least twelve teeth (bridge) fixed on each jaw, based only on four titanium implants.</p>
<p style="text-align: justify;">The specific <strong>all on 4 dental implants protocol</strong> is  internationally patented, and is performed with one of the best implant brands in the world &#8211; Nobel Biocare Implants from Sweden.</p>

		</div>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Why all on 4 dental implants procedure ?</h4>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="891" height="333" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-pre-op-FMS-DENTAL-Hyderabad-Indiadb78.jpg?fit=891%2C333&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt="All on 4 dental implants pre op FMS DENTAL Hyderabad India" data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-pre-op-FMS-DENTAL-Hyderabad-India.jpg?w=891&amp;ssl=1 891w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-pre-op-FMS-DENTAL-Hyderabad-India.jpg?resize=300%2C112&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-pre-op-FMS-DENTAL-Hyderabad-India.jpg?resize=768%2C287&amp;ssl=1 768w" data-lazy-sizes="(max-width: 891px) 100vw, 891px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-pre-op-FMS-DENTAL-Hyderabad-India.jpg?fit=891%2C333&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="891" height="333" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-post-op-FMS-DENTAL-Hyderabad-Indiadb78.jpg?fit=891%2C333&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt="All on 4 dental implants post op FMS DENTAL Hyderabad India" data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-post-op-FMS-DENTAL-Hyderabad-India.jpg?w=891&amp;ssl=1 891w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-post-op-FMS-DENTAL-Hyderabad-India.jpg?resize=300%2C112&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-post-op-FMS-DENTAL-Hyderabad-India.jpg?resize=768%2C287&amp;ssl=1 768w" data-lazy-sizes="(max-width: 891px) 100vw, 891px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/06/All-on-4-dental-implants-post-op-FMS-DENTAL-Hyderabad-India.jpg?fit=891%2C333&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600; font-family: arial black,sans-serif; font-size: 18pt;">&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;&#8216; <strong>SMILE CARNIVAL 2018 &#8216;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</strong></span></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><strong><span style="font-size: 14pt;">Restore your Youth and Smile with Dental Implants</span></strong></p>

		</div>
	</div>


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../free-checkup-offer-dental-implants/index.html" title target="_blank"> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/09/usa-new-15bf5.jpg?fit=1200%2C628&amp;#038;ssl=1" alt>   

        

    </a>

  </div>



</div>


<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_message_box vc_message_box-solid vc_message_box-square vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><h2><span style="color: #000000;">Benefits of all on 4 dental implants procedure</span></h2>
<p><span style="color: #000000;">&#8211; High success rate : Mandible – 98.1%, Maxilla – 98.42% (Success Rate at FMS Dental is 100% till today)</span></p>
<p><span style="color: #000000;">&#8211; High aesthetics and function, restores the lost soft and hard tissue to near natural.</span></p>
<p><span style="color: #000000;">&#8211; High hygiene maintenance capability, also can be unscrewed by the implant surgeon anytime for cleaning and polishing.</span></p>
<p><span style="color: #000000;">&#8211; Simple surgical procedure, since only 4 implants are used, and there&#8217;s no bone grafting, sinus lifts, nerve re-positioning.</span></p>
<p><span style="color: #000000;">&#8211; Walk-in Edentulous and walk out Dentulous in less than a day.</span></p>
</div>
                </div>
            </div>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/maloclinic46ce.jpg?fit=279%2C190&amp;#038;ssl=1" alt>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><strong>Team FMS</strong>, have been successfully practicing All on 4 dental implants protocol with 100% success rate, since 2007, after undergoing extensive interactive sessions at Malo Center, Lisbon, Portugal.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/malofms46ce.jpg?fit=279%2C190&amp;#038;ssl=1" alt>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><b>Team FMS, with Dr. Paulo Malo</b> *photographed 2007 at the Malo Center, Lisbon. All-on-4 concept was developed, institutionalized and systematically analyzed by Dr. Paulo Malo in the 1990s.</p>

		</div>
	</div>

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding vc_custom_1471084090999">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600; font-family: 'arial black', sans-serif;"><strong>A Case of All-On-4 (plus) Dental Implants  Protocol upper jaw with conventional straight implants on lower jaw</strong></span></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-four-implant-surgeryffc3.jpg?fit=2560%2C1447&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Before Implant surgery</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-4-dental-implants-1ee92.jpg?fit=1105%2C547&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Post Implant surgery</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-4-hybrid-prosthesis3e8b.jpg?fit=5124%2C3568&amp;#038;ssl=1" alt="Immediate Provisional Hybrid Prosthesis">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Immediate Provisional Hybrid Prosthesis</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-4-procera-crown-and-bridge3e8b.jpg?fit=5124%2C3568&amp;#038;ssl=1" alt="Final Nobel Procera Crown and Bridge">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Final Nobel Procera Crown and Bridge</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600; font-family: 'arial black', sans-serif;"><strong>A Case of All-On-4 with Zygoma Implants for extremely resorbed maxilla and conventional All-on-4 on lower jaw</strong></span></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/IMG-20160130-WA019e942.jpg?fit=357%2C169&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Before Implant surgery</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/IMG-20160130-WA016a972.jpg?fit=390%2C210&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Before Implant surgery</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/IMG-20160127-WA00567cd.jpg?fit=1600%2C828&amp;#038;ssl=1" alt="Radiograph after Zygoma Implant placement ">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Radiograph after Zygoma Implant placement </h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/IMG_6238f104.jpg?fit=890%2C454&amp;#038;ssl=1" alt="With Nobel Procera Hybrid Prosthesis">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>With Nobel Procera Hybrid Prosthesis</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #ff6600; font-family: 'arial black', sans-serif;">An extreme case of upper jaw (maxilla) with severe bone loss restored with All-on-4 Dental Implant protocol</span></strong></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-4-deental-implant-surgeryeddb.jpg?fit=672%2C414&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Aggressive periodontitis with Grade III mobile teeth</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-four-dental-implant-techniqued085.jpg?fit=720%2C647&amp;#038;ssl=1" alt="CBCT Scan frontal view">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>CBCT Scan frontal view</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-four-dental-implant-procedure5ead.jpg?fit=720%2C643&amp;#038;ssl=1" alt="CBCT right side view">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>CBCT right side view</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-dental-implant-surgery-21d66.jpg?fit=576%2C518&amp;#038;ssl=1" alt="CBCT Scan left side view">   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>CBCT Scan left side view</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-four-dental-implants-26d42.jpg?fit=983%2C385&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Upper jaw with All-on-4 (plus) implant placement </h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/all-on-4-fixed-teeth2fb4.jpg?fit=671%2C414&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Immediate Hybrid prosthesis fixed in 48 hrs</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #ff6600; font-family: 'arial black', sans-serif;">For any queries</span></strong><span style="color: #ff6600; font-family: 'arial black', sans-serif;"> on</span><strong><span style="color: #ff6600; font-family: 'arial black', sans-serif;"> Dental Implants, call on 0091 888 50 60 750 or <img class="alignnone wp-image-12379 size-thumbnail" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1-150x150ea9f.jpg?resize=150%2C150" alt width="150" height="150" srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1.jpg?resize=150%2C150&amp;ssl=1 150w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1.jpg?zoom=2&amp;resize=150%2C150&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w" sizes="(max-width: 150px) 100vw, 150px" data-recalc-dims="1">  or email to contact @fmsdental.com</span></strong></p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/OWL176rpAqs?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3191 current_page_item menu-item-6536"><a href="index.html" aria-current="page">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>