<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>CAD CAM</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                  <a href="../prosthodontics/index.html" class="list-group-item ">Prosthodontics Home</a> 
<a href="../prosthodontic-team/index.html" class="list-group-item ">Prosthodontics Team</a> 
<a href="../infrastructure/index.html" class="list-group-item ">Infrastructure</a> 
<a href="../complete-denture/index.html" class="list-group-item ">Complete Denture</a> 
<a href="../bps-dentures/index.html" class="list-group-item ">BPS</a> 
<a href="../flexi-denture/index.html" class="list-group-item ">Flexi Denture</a> 
<a href="../over-denture/index.html" class="list-group-item ">Over Denture</a> 
<a href="../fixed-partial-denture/index.html" class="list-group-item "> Fixed Partial Denture</a>                                
<a href="../metal-free-crown/index.html" class="list-group-item ">Metal Free Crown</a> 
<a href="index.html" class="list-group-item active">CAD CAM</a> 
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM3de9.jpg?fit=800%2C533&amp;ssl=1" width="800" height="533" alt="CDM" title="CDM" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM.jpg?fit=800%2C533&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000; font-size: 24pt;">CAD-CAM </span><br>
</strong></p>
<p><strong><span style="font-size: 14pt; color: #800000;">Fms</span></strong> is in pace with current technology and ever rising industry standards. CAD/CAMs are the latest dental innovations which give a micron level accuracy in the fit of the dental prosthesis. This provides much stable crown fit and occlusion thus avoiding revisits to the clinic once the treatment is complete. Hence these latest advancements provide great comfort to our patients.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="font-size: 14pt; color: #800000;">CAD-CAM</span></strong> is the acronym for <a href="https://en.wikipedia.org/wiki/Computer-aided_technologies">computer-aided design and computer-aided manufacturing</a>, it offers high precision and high quality restorations. The whole process involves 3D designing and imaging of the teeth using computer software. Once the restoration is designed by the computer under the direction of a dentist, the information is sent to a sculpting machine which creates the restoration to exact specification. The precision and fit of such crowns are much superior to manually built-up crowns.</p>
<p><strong><span style="color: #800000;">Why use CAD-CAM systems to fabricate dental restorations?</span> </strong></p>
<p>Dental CAD-CAM systems have advantages that cannot be matched with respect to the strength of materials and precision of the restorations. Dental materials used here are manufactured using standardized manufacturing procedures under strict quality control. These materials are generally better in quality, strength, and durability than those used to make dental restorations in the traditional casting process. Furthermore, due to computer controlled milling process, the materials are not subjected human error that can lead to problems. Therefore, dental restorations fabricated from CAD-CAM systems possess optimum strength (all-ceramic materials have a flexural strength &gt; 500 MPa). In terms of a restorations precision, because of the accuracy of the scanner, software, and milling machine in a CAD-CAM system, the fit of the dental restorations is quite predictable.</p>
<p><strong><em><span style="color: #800000;">Systems offered: </span> </em></strong></p>
<p><em>Nobel Biocare &#8211; Procera</em></p>
<p><em>Sirona &#8211; InLab MC XL</em></p>
<p><em>Amann Girrbach ceramill® motion 2<strong> &#8211;</strong></em><em>5-axis</em></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong>IPS e.max® System</strong></span></p>
<p>A family of products, and a variety of processing  techniques, e.max is really a complete ceramic system  designed to provide esthetic, metal free solutions for  most indications. This system is considered to be the most aesthetic ceramic system till date in the market.</p>
<p>Depending on the case requirements, two types of  materials are available for CAD/CAM techniques: the</p>
<p>innovative IPS e.max CAD glass-ceramic blocks  (Lithium disilicate) and the high-strength zirconium  oxide IPS e.max ZirCAD.         IPS e.max can be pressed or milled using Enhanced Procera 2G software and the Sirona inLab® MC XL milling machine.</p>
<p>IPS e.max Press</p>
<p>IPS e.max CAD</p>
<p>IPS e.max ZirPress</p>
<p>IPS e.max ZirCAD</p>
<p>IPS e.max Ceram is the connecting element between the different components of the all-ceramic system. You now only have to use one layering ceramic, which will enable you to achieve highly esthetic results on glass-ceramics as well as zirconium oxide.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM2-18a79.jpg?fit=920%2C614&amp;ssl=1" width="920" height="614" alt="CDM2" title="CDM2" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM2-1.jpg?fit=920%2C614&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000;"><strong>Nobe Biocare – procera and 2G</strong>  </span></p>
<p>Patients are becoming more aware of newer technologies and treatment modalities, and are increasingly requesting metal-free digital restorations</p>
<p>At V dent Arts, we have some of the best CAD-CAM systems, Procera forte and Procera 2G being among them.</p>
<p>These CAD-CAM systems are providers of the most comprehensive and flexible crown, bridge and implant solutions in the world.</p>
<p><em>Procera Fixed Solutions</em></p>
<p>Single Crowns                &#8211; Zirconia, Alumina, e.max, Titanium, Cobalt Chromium</p>
<p>Abutments                      &#8211; Zirconia, Titanium,</p>
<p>Bridges(Upto 14 units)  &#8211; Zirconia, Titanium, Cobalt Chromium</p>
<p>Bridges (partial)             &#8211; Zirconia, Alumina (2–4 units), Titanium, Cobalt Chromium</p>
<p>PIB (Implant Bridges)    &#8211; Zirconia, Titanium,</p>
<p>Laminates                                                     &#8211; e.max</p>
<p><span style="color: #800000;"><strong>Sirona &#8211; InLab MC XL</strong></span></p>
<p>All-ceramic restorations fabricated on Sirona’s CAD/CAM systems have proved themselves millions of times in clinical practice.</p>
<p>The Sirona Best Quality Label guarantees optimum results – in the interests of our patients. The USP of Sirona is that we can customize the restorations to our patients needs within 24 hours. Patients have variety of material options for their prosthesis.</p>
<p><span style="color: #800000;">Sirona Material Options</span></p>
<p><span style="color: #800000;"><em>Amann Girrbach ceramill® motion 2 </em><em>5-axis</em></span></p>
<p>FMS takes pride is being one of the few labs in India that uses this technology.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM3-553x553.png" width="553" height="553" alt="CDM3" title="CDM3" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CDM3-553x553.png?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7265 current_page_item menu-item-8597"><a href="index.html" aria-current="page">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>