<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>cleft lip and palate</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1466241016959">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../oral-surgery-home/index.html" class="list-group-item">Oral Surgery Home</a> 
<a href="../our-surgeons/index.html" class="list-group-item">Our Surgeons </a>
<a href="../surgical-infrastructure/index.html" class="list-group-item">Surgical Infrastructure</a> 
<a href="../extraction-of-teeth/index.html" class="list-group-item">Extraction of Teeth</a>
<a href="../impacted-teeth/index.html" class="list-group-item">Impacted Teeth</a> 
<a href="../orthognathic-surgery/index.html" class="list-group-item">Orthognathic (Jaw) Surgery</a>
<a href="../facial-infections/index.html" class="list-group-item">Facial Infections</a>
<a href="../facial-injuries/index.html" class="list-group-item">Facial Injuries</a>
<a href="../jaw-cysts-and-tumors/index.html" class="list-group-item">Jaw Cysts and Tumors</a>
<a href="../jaw-joint-problems/index.html" class="list-group-item">Jaw Joint Problems</a>
<a href="../inability-to-open-mouth/index.html" class="list-group-item">Inability To Open Mouth</a>
<a href="index.html" class="list-group-item active">Cleft Lip and Palate</a>
<a href="../nose-correction/index.html" class="list-group-item">Nose Correction</a>
<a href="../oral-cancer/index.html" class="list-group-item">Oral Cancer</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt;"><strong><span style="color: #800000;">CLEFT LIP &amp; CLEFT PALATE</span></strong></span></p>
<p>Cleft lip and cleft palate are facial and oral malformations that occur very early in pregnancy, while the baby is developing inside the mother. Clefting results when there is not enough tissue in the mouth or lip area, and the tissue that is available does not join together properly.</p>
<ul>
<li><span style="color: #800000;"><strong>A cleft lip</strong> </span>is a physical split or separation of the two sides of the upper lip and appears as a narrow opening or gap in the skin of the upper lip. This separation often extends beyond the base of the nose and includes the bones of the upper jaw and/or upper gum.</li>
<li><span style="color: #800000;"><strong>A cleft palate</strong></span> is a split or opening in the roof of the mouth.</li>
<li>Cleft lip and cleft palate can occur on one or both sides of the mouth. Because the lip and the palate develop separately, it is possible to have a cleft lip without a cleft palate, a cleft palate without a cleft lip, or both together.</li>
</ul>

		</div>
	</div>


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/CLP1903d.jpg?fit=400%2C424&amp;ssl=1" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/CLP1.jpg?fit=400%2C424&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/CLP2f90d.jpg?fit=400%2C241&amp;ssl=1" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/CLP2.jpg?fit=400%2C241&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000; font-size: 14pt;"><strong>What Causes a Cleft Lip and Cleft Palate?</strong></span></p>
<p>In most cases, the cause of cleft lip and cleft palate is unknown. Most scientists believe clefts are due to a combination of genetic and environmental factors. There appears to be a greater chance of clefting in a newborn if a sibling, parent, or relative has had the problem.</p>
<p>Another potential cause may be related to a medication a mother may have taken during her pregnancy. Cleft lip and cleft palate may also occur as a result of exposure to viruses or chemicals while the fetus is developing in the womb.</p>
<p><span style="color: #800000;"><strong>What Problems Are Associated With Cleft Lip and/or Palate?</strong></span></p>
<ul>
<li><span style="color: #800000;"><strong>Eating problems.</strong></span> With a separation or opening in the palate, food and liquids can pass from the mouth back through the nose.</li>
<li><span style="color: #800000;"><strong>Ear infections/hearing loss.</strong></span>Children with cleft palate are at increased risk of ear infections since they are more prone to fluid build-up in the middle ear. If left untreated, ear infections can cause hearing loss.</li>
<li><span style="color: #800000;"><strong>Speech problems.</strong></span> Children with cleft lip or cleft palate may also have trouble speaking. These children&#8217;s voices don&#8217;t carry well, the voice may take on a nasal sound, and the speech may be difficult to understand. Not all children have these problems and surgery may fix these problems entirely for some.</li>
<li><span style="color: #800000;"><strong>Dental Problems.</strong></span> Children with clefts are more prone to a larger than average number of cavities and often have missing, extra, malformed, or displaced teeth requiring dental and orthodontic treatments. In addition, children with cleft palate often have an alveolar ridge defect. These problems can usually be repaired through oral surgery.</li>
</ul>
<p><span style="color: #800000;"><strong>Who Treats Children With Cleft Lip and/or Palate</strong>?</span></p>
<p>The health care team works together to develop a plan of care to meet the individual needs of each patient. Treatment usually begins in infancy and often continues through early adulthood.</p>
<ul>
<li><span style="color: #800000;"><strong>An OMF surgeon</strong></span> to reposition segments of the upper jaw when needed, to improve function and appearance and to repair the cleft of the gum</li>
<li><span style="color: #800000;"><strong>An orthodontist</strong> </span>to straighten and reposition teeth</li>
<li><span style="color: #800000;"><strong>A dentist</strong></span> to perform routine dental care</li>
<li><span style="color: #800000;"><strong>A prosthodontist</strong></span> to make artificial teeth and dental appliances to improve the appearance and to meet functional requirements for eating and speaking</li>
<li><span style="color: #800000;"><strong>A speech therapist</strong></span> to work with the child to improve speech.</li>
</ul>
<p><span style="color: #800000; font-size: 14pt;"><strong>What’s the Treatment for Cleft Lip and Cleft Palate?</strong></span></p>
<p>A <span style="color: #800000;"><strong>cleft lip</strong> </span>may require one or two surgeries depending on the extent of the repair needed. The initial surgery is usually performed by the time a baby is 3 months old.</p>
<p>Repair of a <span style="color: #800000;"><strong>cleft palate</strong></span> often requires multiple surgeries till the age of 18 years. The first surgery to repair the palate usually occurs when the baby is between 6 and 12 months old. The initial surgery creates a functional palate, reduces the chances that fluid will develop in the middle ears, and aids in the proper development of the teeth and facial bones. Children with a cleft palate may also need a bone graft when they are about 8 years old to fill in the upper gum line so that it can support permanent teeth and stabilize the upper jaw. About 20% of children with a cleft palate require further surgeries to help improve their speech. Once the permanent teeth grow in, braces are often needed to straighten the teeth.</p>
<p>Additional surgeries may be performed to improve the appearance of the lip and nose, close openings between the mouth and nose, help breathing, and stabilize and realign the jaw. Final repairs of the scars left by the initial surgery will probably not be performed until adolescence, when the facial structure is more fully developed.</p>
<p><span style="color: #800000; font-size: 14pt;"><strong>What Is the Outlook for Children With Cleft Lip and/or Cleft Palate?</strong></span></p>
<p>Although treatment for a cleft lip and/or cleft palate may extend over several years and require several surgeries depending upon the involvement, most children affected by this condition can achieve near normal appearance, speech, and eating.</p>
<p><span style="color: #800000;"><strong>Dental Care for Children With Cleft Lips and/or Palates</strong></span></p>
<p>Generally, the preventive and restorative dental care needs of children with clefts are the same as for other children. However, children with cleft lip and cleft palate may have special problems related to missing, malformed, or malpositioned teeth that require close monitoring.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>