<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Complete Denture</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1466400534791">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                  <a href="../prosthodontics/index.html" class="list-group-item ">Prosthodontics Home</a> 
<a href="../prosthodontic-team/index.html" class="list-group-item ">Prosthodontics Team</a> 
<a href="../infrastructure/index.html" class="list-group-item ">Infrastructure</a> 
<a href="index.html" class="list-group-item active">Complete Denture</a> 
<a href="../bps-dentures/index.html" class="list-group-item ">BPS</a> 
<a href="../flexi-denture/index.html" class="list-group-item ">Flexi Denture</a> 
<a href="../over-denture/index.html" class="list-group-item ">Over Denture</a> 

<a href="../fixed-partial-denture/index.html" class="list-group-item "> Fixed Partial Denture</a>                                
<a href="../metal-free-crown/index.html" class="list-group-item ">Metal Free Crown</a> <a href="../cad-cam/index.html" class="list-group-item">CAD CAM</a> 
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-FMS-DENTALd41c.jpg?fit=507%2C338&amp;ssl=1" width="507" height="338" alt="Best Dental Clinic FMS DENTAL" title="Best-Dental-Clinic-FMS-DENTAL" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-FMS-DENTAL.jpg?fit=507%2C338&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Complete Denture is a removable replacement of full complement of missing teeth .They are made of acrylic resin. Fabrication of complete dentures is an elaborate and technique sensitive procedure, meticulously carried out at fms by our dedicated prosthodontic team.</p>
<p><span style="color: #800000; font-size: 18pt;"><strong>Complete Dentures</strong></span></p>
<p><strong>The complete denture treatment modalities available at FMS include:</strong></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000; font-size: 14pt;">Acrylic complete denture : Conventional and Immediate</span></strong></p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CD38bad.jpg?fit=444%2C296&amp;ssl=1" width="444" height="296" alt="CD3" title="CD3" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CD3.jpg?fit=444%2C296&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000; font-size: 14pt;"><strong>BPS dentures ( Bio-functional Prosthetic system)</strong></span></p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CD27fd3.jpg?fit=476%2C317&amp;ssl=1" width="476" height="317" alt="CD2" title="CD2" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/CD2.jpg?fit=476%2C317&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000; font-size: 14pt;">Implant retained overdetures </span></strong></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #800000; font-size: 14pt;"><strong>Are you a candidate for complete dentures??</strong></span></p>
<p>Complete dentures are given after all the teeth have been lost/removed. So, ideally the treatment should start only after the tissues have healed well. But, in some instances because of social and aesthetic concerns, the patient may not be able to go through a phase without teeth. So, in such cases, taking the patients’ requirements into consideration, an immediate denture can be delivered right after removal of the front teeth.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Complete dentures can be either &#8220;conventional&#8221; or &#8220;immediate.&#8221; Made after the teeth have been removed and the gum tissue has begun to heal, a conventional denture is ready for placement in the mouth about eight to 12 weeks after the teeth have been removed.</p>
<p>Unlike conventional dentures, immediate dentures are made in advance and can be positioned as soon as the teeth are removed. As a result, the wearer does not have to be without teeth during the healing period. However, bones and gums shrink over time, especially during the healing period following tooth removal. Therefore a disadvantage of immediate dentures compared with conventional dentures is that they require more adjustments to fit properly during the healing process and generally should only be considered a temporary solution until conventional dentures can be made.</p>
<h5><strong><span style="color: #800000; font-size: 18pt;">FAQ’s</span></strong></h5>
<ul>
<li><u>Why should we wear complete dentures?</u></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=2#2">How Are Dentures Made?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=2#3">What Do New Dentures Feel Like?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=2#4">Will Dentures Make Me Look Different?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=2#5">Will Eating With New Dentures Be Difficult?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=3#1">Will Dentures Change How I Speak?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=3#2">Are Dentures Worn 24 Hours a Day?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=3#3">Should I Use a Denture Adhesive?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=3#4">When Shouldn&#8217;t Denture Adhesives Be Considered?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=4#1">How Are Denture Adhesives Applied?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=4#2">What Are the Types of Denture Adhesives?</a><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=4#3">Are Denture Adhesives Safe?</a></li>
<li><a href="http://www.webmd.com/oral-health/dental-health-dentures?page=1#3">Are There Alternatives to Dentures?</a></li>
</ul>
<p><strong><span style="color: #800000; font-size: 14pt;">Why should we wear complete dentures?</span></strong></p>
<p>Replacing missing teeth enhances your oral, general health and your appearance. Dentures also improve a person’s ability to speak and to eat.</p>
<h3><span style="color: #800000;"><strong><span style="font-size: 14pt;">How Are Dentures Made?</span></strong></span></h3>
<p>The denture development process takes 6-7 appointments. Once your prosthodontist determines what type of appliance best suits you, the general steps are to:</p>
<ol>
<li>Make a series of preliminary and final impressions of your jaw and take measurements of how your jaws relate to one another and how much space is between them.</li>
<li>Fabrication of  models, wax patterns, and/or plastic patterns in the exact shape and position of the denture will be made. You will &#8220;try in&#8221; this model and the denture will be assessed for colour, shape, and fit before the final denture is cured.</li>
<li>Cast a final denture</li>
<li>Adjustments will be made as necessary.</li>
<li>Recall and assessment of denture</li>
</ol>
<h3><span style="color: #800000; font-size: 14pt;"><strong>Will Dentures Make Me Look Different?</strong></span></h3>
<p>Dentures are made to closely resemble your natural teeth so it will enhance your overall personality and improve your smile and built you with more confidence.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Will Eating With New Dentures Be Difficult?</span></strong></p>
<p>Eating with new dentures will take a little practice and may be uncomfortable for some wearers for a few weeks. Your prosthodontist will guide during this phase.</p>
<p><strong><span style="font-size: 14pt; color: #800000;">What Do New Dentures Feel Like?</span></strong></p>
<p>New dentures may feel a little odd or loose for a few weeks until the muscles of the cheeks and <a href="http://www.webmd.com/oral-health/picture-of-the-tongue">tongue</a> learn to keep them in place and you get comfortable inserting and removing them. Also, it is not unusual for minor irritation or soreness to occur and for saliva flow to increase when you first start wearing dentures, but these problems will diminish as the mouth adjusts.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Will Dentures Change How I Speak?</span></strong></p>
<p>After getting dentures, you may have difficulty pronouncing certain words. If so, practice by saying the difficult words out loud. With practice and with time you will become accustomed to speaking properly with dentures.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Are Dentures Worn 24 Hours a Day?</span></strong></p>
<p>Your dentist or prosthodontist will instruct you as to how long to wear dentures and when to remove them. Minor adjustments will be done during your first check-up appointment, after this you should remove dentures before going to bed. This allows gum tissues to rest and allows normal stimulation and cleansing by the tongue and saliva. The denture can be placed back in the morning.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Should I Use a Denture Adhesive?</span></strong></p>
<p>A denture adhesive may be considered under the following circumstances:</p>
<ol>
<li>To enhance satisfaction with a properly constructed denture. Adhesives enhance retention, stability, bite force, and an individual&#8217;s sense of security.</li>
</ol>
<ol>
<li>To assist individuals with dry mouth conditions that lessen denture adherence, such as individuals taking cold <a href="http://www.webmd.com/drugs/index-drugs.aspx">medications</a>, those with neurologic disabilities including strokes, and the elderly.</li>
<li>To provide added stability and security for those who place unusual demands on facial muscles, such as public speakers or musicians.</li>
</ol>
<p><strong><span style="color: #800000; font-size: 14pt;">When Shouldn&#8217;t Denture Adhesives Be Considered?</span></strong></p>
<p>There are situations when denture adhesives should not be used. Those cases include:</p>
<ol>
<li>When it is used as a &#8220;fix&#8221; for ill-fitting or poorly constructed dentures. If dentures begin to feel loose, cause discomfort or cause sores to develop, contact your dentist as soon as possible.</li>
<li>When a dentist has not evaluated dentures for a long time. Dentures rest on gum tissue and the jawbone, which shrink and deteriorate, respectively, over time. Therefore, the real problem might be a need for a denture adjustment or new dentures.</li>
<li>When oral hygiene practices cannot be sustained.</li>
<li>When any known allergy exists to the adhesive&#8217;s ingredients.</li>
</ol>
<p><span style="font-size: 14pt; color: #800000;"><strong>How Are Denture Adhesives Applied?</strong></span></p>
<p>Here are some tips to consider when applying denture adhesives:</p>
<ol>
<li>Distribute the adhesive evenly on the tissue bearing surface of the denture.</li>
<li>Apply or reapply when necessary to provide the desired effect.</li>
<li>Always apply the adhesive to a thoroughly clean denture.</li>
<li>Remember adhesives work best with a well-fitting denture.</li>
</ol>
<p><strong><span style="color: #800000; font-size: 14pt;">Are There Alternatives to Dentures?</span></strong></p>
<p>Yes, <a href="http://www.webmd.com/oral-health/dental-implants">dental implants</a> can be used to support cemented bridges, eliminating the need for a denture. The cost is usually greater, but the implants and bridges more closely resemble the feel of real teeth. Dental implants are becoming the alternative to dentures but not everyone is a candidate for implants. Consult your dentist for advice.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&nbsp;</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>