<div class="head_panel">
  <div class="slider_wrapper">
    <div id="head_panel_slider" class="owl-carousel">


      

       <div class="stretchy_wrapper ratio_slider"> 

        <div style="background-image: url(../wp-content/uploads/2017/12/Digital-Smile-Design-FMS-DENTAL.jpg);" aria-hidden="true" class="item    ">
          <div class="container">


            <div class="caption caption_right caption_fancy  centered">

              <div class="inner secondary_section transparent_film ">

                 <div class="t1">Smile !!</div> 
                 <div class="t2">- Wear the new Fashion -</div> 
                
                


              </div>
            </div>


          </div>
        </div>

       </div> 

      

    </div>
  </div>
</div>null