<div class="head_panel">
    <div style="background-image: url(../terminology/hair-loss/index.html)" class="full_width_photo   ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Implants Home</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Near natural way to replace missing teeth</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #ff6600;"><strong><u>Are you a Candidate for Dental Implant?</u></strong></span></span></span></h2>
<p>As technology advanced, Dental Implants are the preferred treatment option to replace a missing tooth, in comparison with a crown &amp; bridge, wherein good natural teeth has to be ground down on either side to cement the bridge. Anybody who is 17 years and above, can be a candidate for dental implants, barring few medical conditions.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #ff6600;"><strong><u>WHAT IS A DENTAL IMPLANT?</u></strong></span></span></span></h2>
<p style="text-align: left;"><em><strong><span style="font-size: 14pt; color: #800000;">dental implant is the ideal replacement for a missing tooth</span></strong></em></p>
<p style="text-align: justify;">Dental implant, is a prototype of a natural tooth root, made of the most biocompatible metal, Titanium / Zirconium, which fuses to the jaw bone (osseointegrates) over a period of time. A crown is placed over it. If done well, it looks, feels and lasts like the real tooth it replaces.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #f7f2f2;">FMS is one of the best dental implant center, implant dentist, dental implant clinic in hyderabad</span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;">DIFFERENT CLINICAL SCENARIOS FOR IMPLANT TREATMENT</span></span></h3>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/single-tooth-implant645d.jpg?fit=146%2C90&amp;#038;ssl=1" alt>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Single Missing Tooth </span>&#8211; <span style="font-size: 8.0pt;">IMPLANT AND CROWN  </span><a href="https://fmsdental.com/new/single-tooth-replacement/"><span style="color: #ff6600;">Know more&#8230;&#8230;</span></a></p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/crown-and-bridge-on-implantd54d.jpg?fit=146%2C98&amp;#038;ssl=1" alt>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Multiple Missing Tooth </span>&#8211; <span style="font-size: 8.0pt;">IMPLANTS AND CROWN &amp; BRIDGE  </span><a href="https://fmsdental.com/new/multiple-teeth-replacement/"><span style="color: #ff6600;">Know more&#8230;..</span></a></p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/Complete-Replacement-Dental-Implants-FMS-DENTAL-HOPSITAL-Hyderabad-Indiaabbc.jpg?fit=146%2C93&amp;#038;ssl=1" alt>   

        


  </div>



</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Completely Missing Teeth &#8211; </span><span style="font-size: 8.0pt;">MULTIPLE TREATMENT OPTIONS  </span><a href="https://fmsdental.com/new/complete-teeth-replacement/"><span style="color: #ff6600;">Know more&#8230;..</span></a></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/0RAO5vsLWow?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/OWL176rpAqs?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="text-decoration: underline; color: #ff6600;"><strong>About FMS DENTAL</strong></span></h3>
<ul>
<li>First multi-specialty dental practice in India since <strong><span style="color: #ff6600;">1993</span></strong></li>
<li><span style="color: #800000;"><span style="color: #000000;">Practicing</span></span><strong><span style="color: #800000;"> Advanced Dental Implant procedures</span></strong> since <span style="color: #ff6600;"><strong>2000</strong></span></li>
<li>Placed <strong><span style="color: #ff6600;">12000+ implants</span></strong><span style="color: #000000;"> from all the best Implant systems in the world </span></li>
<li>Exclusive Implant centers with in-house <span style="color: #ff6600;"><strong>CBCT facility for virtual planning</strong></span></li>
<li>Trained internationally in advanced Implant techniques like All-on-4, Zygomatic, Pterygoid Implants etc.</li>
<li>Digital impression from Cerec, Germany &amp; In-house <strong><span style="color: #ff6600;">CAD-CAM</span></strong> Dental Lab, for customization &amp; immediate delivery</li>
<li>Operation theater, <span style="color: #ff6600;"><strong>ICU </strong></span>and in-patient rooms with Sedation / General Anesthesia facility for advanced Implant Surgeries</li>
</ul>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #ff6600;"><strong><u>ARE YOU BLESSED WITH GOOD BONE ?</u></strong></span></span></span></h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong style="color: #800000;">If so, all-on-6 or 8 Implants is the best option for you&#8230;</strong></p>
<div class="row">
<p>Six to eight implants placed in a completely teeth-less jaw, providing a secure and optimal support for a fixed bridge. It is the most Comprehensive, Successful, Safe, Simpler implant supported fixed teeth protocol for completely missing teeth.</p>
</div>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="230" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India9a78.jpg?fit=300%2C230&amp;ssl=1" class="vc_single_image-img attachment-medium jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?w=400&amp;ssl=1 400w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?resize=300%2C230&amp;ssl=1 300w" data-lazy-sizes="(max-width: 300px) 100vw, 300px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?fit=300%2C230&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="400" height="183" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India93d7.jpg?fit=400%2C183&amp;ssl=1" class="vc_single_image-img attachment-large jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?w=400&amp;ssl=1 400w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?resize=300%2C137&amp;ssl=1 300w" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-6-implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India.jpg?fit=400%2C183&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #ff6600;"><strong><u>ARE YOU A CANDIDATE WITH MINIMUM BONE ?</u></strong></span></span></span></h3>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><span style="color: #ff6600;">What is All-On-4?</span>   &#8212;&#8212;&#8212;&#8211;   <span style="color: #800000;">Also know about<a href="../allon4plus/index.html"> </a></span><a href="../allon4plus/index.html" target="_blank" rel="noopener noreferrer"><img class="alignnone wp-image-907 size-full" style="color: #800000;" src="../../i0.wp.com/www.fmsdental.ae/wp-content/uploads/2018/09/all-on-4-plus-FMS-DENTAL-Hyderabad-India5734.html?resize=239%2C60" alt="all on 4 plus" width="239" height="60" data-recalc-dims="1"></a></h4>
<p>&nbsp;</p>
<p>Often, tooth loss is accompanied by loss of the jaw bone and pneumatization of sinuses. The All-on-4 Dental Implants solution based on four titanium implants, will address these drawbacks because these implants act as &#8220;pillars&#8221; taking advantage of existing bone, even if scarce, avoiding having to use bone grafts.</p>
<p>The posterior implants are substantially angled at approximately 45 degrees to avoid compromising the sinus cavity in the upper jaw and the nerve canal in the lower jaw. So, All on 4 Dental implant technique contains 4 implants placed in a completely teeth-less jaw, providing secure and optimal support for a fixed bridge/hybrid prosthesis.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/Ushnj78EvH4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-4-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India967b.jpg?fit=400%2C146&amp;ssl=1" width="400" height="146" alt="All-on-4-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India" title="All-on-4-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/All-on-4-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India967b.jpg?fit=400%2C146&amp;ssl=1" width="400" height="146" alt="All-on-4-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India" title="All-on-4-Dental-Implant-protocol-FMS-DENTAL-HOSPITAL-Hyderabad-India"></div>
		</figure>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ff6600;">All-on-4 plus in the upper jaw and All-on-8 in the lower jaw</span></h3>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/all-on-4-ideal-case-FMS-DENTAL6d2d.jpg?fit=221%2C125&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/all-on-4-FMS-DENTAL-Hyderabad-India6d2d.jpg?fit=221%2C125&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/all-on-4-Dental-Implants-FMS-DENTAL-Hyderabad6d2d.jpg?fit=221%2C125&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/all-on-4-FMS-DENTAL-Hyderabadbf58.jpg?fit=225%2C125&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #ff6600;"><strong><u>ARE YOU LEFT OUT WITH ABSOLUTELY NO BONE ON UPPER JAW ?</u></strong></span></span></span></h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong style="color: #800000;"><strong>Zygomatic implants </strong>might help you<strong>……A Unique Solution for Rehabilitation of the Severely Resorbed Maxilla !</strong></strong></p>
<div class="row">
<p>Zygomatic Dental Implants are embedded into the cheekbones, elminating the need for bone grafting and/or sinus lifts prior to getting dental implants. A specially designed dental implant (up to 55 mm instead ofthe usual 10mm or 15 mm for normal dental implants) can be placed into the cheekbone (medically referred to as Zygoma) instead of the jaw bone, which benefits those who don’t have enough jaw bone to sustain regular implants.<br>
After the long zygomatic implants are anchored on the upper jaw and inside the zygomatic bone, a provisional prosthesis can be fixed immediately..</p>
</div>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/Zygomatic-implants-FMS-DENTAL-India3694.jpg?fit=400%2C183&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;">Meet our TEAM IMPLANTOLOGY</span></span></h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A comprehensive<a href="../fms-implant-team/index.html"><span style="color: #ff6600;"> team</span> </a>of Oral and Maxillofacial surgeons, Implantologist, Prosthodontists, Periodontist with decades of experience, academic and research background, trained abroad constitutes the implant team.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3 vc_custom_1578990448554">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-shailaja-reddy/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Dr.-Shailaja-Reddy-Directorc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Shailaja Reddy">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Shailaja Reddy</h4>
       <p>Senior Consultant Implantology</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-dushyanth-paul/index.html" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Dr.-Dushyanth-Paul-Oral-Maxillofacial-Surgeonc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Dushyanth Paul">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Dushyanth Paul</h4>
       <p>Implantologist &amp; Maxillofacial Surgeon</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-ramakrishna-reddy/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/admin-ajaxc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Rama Krishna">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Rama Krishna</h4>
       <p>Implantologist &amp; Maxillofacial Surgeon</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-p-parthasarathi-reddy/index.html" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Dr.-Parthasaradhi-Reddy-Best-CEOc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. PP Reddy">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. PP Reddy</h4>
       <p>COSMETIC DENTIST &amp; CAD-CAM DENTAL LAB EXPERT</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3 vc_custom_1578990817500">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-nidhi-guptha/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dr.-Nidhi-Gupta-Prosthodontistc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Nidhi Gupta">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Nidhi Gupta</h4>
       <p>Implantologist &amp; Prosthodontist</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3 vc_custom_1578990832503">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-s-venkat-aditya-2/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dr.-Venkat-Aditya-Prosthodontistc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. S. Venkat Aditya">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. S. Venkat Aditya</h4>
       <p>Implantologist &amp; Prosthodontist</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3 vc_custom_1578990921605">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-kavya/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dr.-Kavya-Ravuri-Prothodontistc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Kavya">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Kavya</h4>
       <p>Implantologist &amp; Prosthodontist</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../profile/dr-murali-krishna/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dr.-Murali-Krishna-Periodontistc21a.jpg?fit=221%2C217&amp;#038;ssl=1" alt="Dr. Murali Krishna">   

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Dr. Murali Krishna</h4>
       <p>Implantologist &amp; LASER Gum Specialist</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_message_box vc_message_box-solid vc_message_box-rounded vc_color-mulled_wine"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><h3><span style="color: #ffffff;"><strong><u>IMMEDIATE vs DELAYED LOADING of Implants at FMS Implant Centers</u></strong></span></h3>
<p><span style="font-size: 10.0pt;">All-On-4 Dental Implants with or with out Zygoma Implants are primarily designed for immediate loading by giving the splinting effect thereby enhancing osseointegration (bone healing). Early implant loading is also advantageous with regards to convenience and comfort for patients, which FMS DENTAL has been practicing over a decade with 99.6 % success rate. Depending on the clinical situation, the immediate loading protocol with provisional prosthesis followed by the permanent prosthesis placement after 4-6 months is equally successful as the conventional delayed loading implant technique.</span></p>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/cad22bd.jpg?fit=221%2C147&amp;#038;ssl=1" alt>   

        


  </div>



</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/procera22bd.jpg?fit=221%2C147&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><strong><span style="font-size: 18.0pt; color: #ff6600;">In-house FMS DENTAL LAB &#8211; <span style="font-size: 14pt;">Quicker &amp; tailor made prosthesis in the shortest period</span></span></strong></h3>

		</div>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul>
<li>Having an in-house CAD-CAM Dental Lab with the digital Impression technology provides precision dental solutions and concepts like <span style="color: #800000;"><strong>TOOTH IN A DAY</strong></span>. The in house lab also gives us the biggest advantage of personalized customization of prosthesis for our patients and immediate crown &amp; Bridges.</li>
<li>In <span style="color: #800000;"><strong>single or multiple implant cases</strong></span> specially in the front teeth region, you will receive the <span style="color: #800000;"><strong>provisional crown &amp;/or bridge</strong></span> on the <span style="color: #800000;"><strong>same day</strong></span>. This will be replaced with the final metal free Zirconium crowns from Sirona In-lab Germany, anytime between 4-6 months.</li>
<li><span style="color: #800000;"><strong>All-on-4</strong></span> with or with out Zygoma Implants will <span style="color: #800000;"><strong>receive fixed provisional teeth in 3 days</strong></span>. The final Hybrid Prosthesis or Crown &amp; Bridge by Nobel Procera will replace the provisional after 6 months.</li>
<li><span style="color: #800000;"><strong>All-on-6 or 8</strong></span> cases will <span style="color: #800000;"><strong>receive provisional prosthesis in 2 days</strong></span>. The final crown and bridge with Zirconium (Nobel Procera) /  Sirona InLab can be given within 4 &#8211; 6 months post surgery.</li>
</ul>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hybrid-Denture22bd.jpg?fit=221%2C147&amp;#038;ssl=1" alt>   

        


  </div>



</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/malo-bridge22bd.jpg?fit=221%2C147&amp;#038;ssl=1" alt>   

        


  </div>



</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><span style="color: #ff6600;"><strong><u><span style="font-size: 20pt;">Listen to people who benefitted from us</span></u></strong></span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/BhF4cry-QX4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/Ewltcva3MHk?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/DfwF9X6CWe4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/47t6GQWPhwo?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="text-decoration: underline; color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;">THE SPECIALIZED FMS IMPLANT CENTER</span></span></h3>

		</div>
	</div>
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Awarded 27 times in 2017 - 18</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Ranked 2nd Best Dental Center in the world and 1st in India by GCR (Global Clinic Rating)</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>FMS INTERNATIONAL DENTAL CENTER, JUBILEE HILLS and FMS Dental Hospital, Koti, Hyderabad, are the exclusive Centers for Oral &amp; Maxillofacial Surgery and Dental Implants. The FMS DENTAL is equipped with an Operation theatre, Dental Implant clinic, I.C.U and In-patient facility, along with a team of Implantologists, Maxillofacial Surgeons, Anesthetist and Paramedical staff.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="https://www.google.co.in/maps/@17.438015,78.3985198,3a,75y,26.73h,103.93t/data=!3m6!1e1!3m4!1sh2_5nNpU6_gAAAQ3kNY8-Q!2e0!7i9000!8i4500" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/best-dental-implant-clinic-2d13d.jpg?fit=1075%2C644&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>CLINIC</h4>
       <p>CLICK to have VIRTUAL TOUR of the CENTER</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="https://www.google.co.in/maps/@17.4380405,78.3985187,3a,75y,38h,90t/data=!3m6!1e1!3m4!1sF9NdPfBES2YAAAQ3kNY9Dw!2e0!7i9000!8i4500" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2017/06/FMS-DENTAL-HOSPITAL-COSMETIC-CLINIC-LOUNGE0bb1.jpg?fit=2560%2C1709&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Lounges</h4>
       <p>CLICK to have a VIRTUAL TOUR of the LOUNGES</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../sedation-general-anesthesia/index.html" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/best-dental-hospital-FMS-DENTAL-hyderbad-india4c2e.jpg?fit=400%2C299&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>THEATER</h4>
       <p>CLICK to have VIRTUAL TOUR of the CENTER</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../the-fms-dental-lab/index.html" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/01/best-dental-lab-FMS-DENTAL-Hospital-Hyderabad-Indiaacc4.jpg?fit=400%2C196&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>CAD-CAM LAB</h4>
       <p>CLICK to have a VIRTUAL TOUR of the LAB</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<script type="application/ld+json"></script>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>