<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>ENDODONTICS TEAM</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1466142424959">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                                <a href="../endodontics-home/index.html" class="list-group-item ">Endodontics Home</a>
<a href="index.html" class="list-group-item active">Endodontics Team</a> 
<a href="../endodontics-infrastructure/index.html" class="list-group-item ">Endodontics Infrastructure</a> 
<a href="../root-canal-treatment/index.html" class="list-group-item ">Root Canal Treatment</a>
<a href="../single-sitting-rct/index.html" class="list-group-item">Single Visit RCT</a>
<a href="../micro-endodontics/index.html" class="list-group-item ">Micro Endodontics</a> 
<a href="../endodontic-laser-rct/index.html" class="list-group-item ">Endodontic LASER RCT</a> 
<a href="../mutilated-teeth/index.html" class="list-group-item ">Mutilated Teeth</a>
<a href="../invisible-fillings/index.html" class="list-group-item ">Invisible Fillings</a>
<a href="../endodontics-cad-cam/index.html" class="list-group-item ">CAD CAM Fillings</a> 
<a href="../endodontics-faqs/index.html" class="list-group-item ">Endodontics FAQs</a> 
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-ramesh-babu-mandava/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-Ramesh-babu0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Ramesh Babu Mandava, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-Ramesh-babu.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Ramesh Babu Mandava, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-ramesh-babu-mandava/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-smitha-reddy/index.html" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-Smitha-reddy0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Smitha Reddy, MDS" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-Smitha-reddy.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Smitha Reddy, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-smitha-reddy/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-shekar/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-shekar0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. K. Shekar, MDS" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-shekar.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. K. Shekar, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-shekar/" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-ravi-chandra/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-ravi-chandra0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Ravi Chandra, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-ravi-chandra.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Ravi Chandra, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-ravi-chandra/" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-binoy-dola/" title="Dr. Binoy Endodontist" target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Binoy-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Binoy Dola, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Binoy-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Binoy Dola, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-binoy-dola/" Dr. Binoy Endodontist class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-thakur-veerandar-singh/" title="Dr. Virender" target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Virender-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Thakur Veerandar Singh, MDS" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Virender-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Thakur Veerandar Singh, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-thakur-veerandar-singh/" Dr. Virender class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-priyendu-bhattacharjee/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-priyandu0922.jpg?fit=600%2C722&amp;ssl=1" alt="Dr. Priyendu Bhattacharjee, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr-priyandu.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>Dr. Priyendu Bhattacharjee, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-priyendu-bhattacharjee/" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="https://fmsdental.com/profile/dr-gaddala-naresh/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Naresh-Gaddala-Endodontistc96a.jpg?fit=540%2C650&amp;ssl=1" alt="DR. Naresh Gaddala, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Naresh-Gaddala-Endodontist.jpg?fit=540%2C650&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Naresh Gaddala, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/profile/dr-gaddala-naresh/" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-rubeena-tabasum/index.html" title="Dr. Rubeena Tabasum" target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Dr.-Rubina-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Rubeena Tabasum, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Dr.-Rubina-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Rubeena Tabasum, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-rubeena-tabasum/index.html" Dr. Rubeena Tabasum class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-sandeep-reddy-eleti/index.html" title="Dr. Sandeep Eleti" target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Sandeep-Eleti-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Sandeep Eleti, MDS" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Sandeep-Eleti-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Sandeep Eleti, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-sandeep-reddy-eleti/index.html" Dr. Sandeep Eleti class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-roshan-babu-mathew/index.html" title="Dr. Roshan Mathew" target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Roshan-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Roshan Mathew, MDS" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Roshan-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Roshan Mathew, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-roshan-babu-mathew/index.html" Dr. Roshan Mathew class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-aisha-habeeb/index.html" title="Dr. Aisha Habeeb" target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Aisha-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Aisha Habeeb, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Aisha-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Aisha Habeeb, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-aisha-habeeb/index.html" Dr. Aisha Habeeb class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-deepti-vundavalli/index.html" title="Dr. Deepti Endodontist" target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Deepti-Endodontist0922.jpg?fit=600%2C722&amp;ssl=1" alt="DR. Deepti Vundavalli, MDS" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/03/Dr.-Deepti-Endodontist.jpg?fit=600%2C722&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. Deepti Vundavalli, MDS</h4>
       <p>Endodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-deepti-vundavalli/index.html" Dr. Deepti Endodontist class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>