<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Flap Surgery</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1466065546468">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../periodontics/index.html" class="list-group-item">Home</a>
<a href="../periodontics-team/index.html" class="list-group-item">Team</a>
<a href="../dental-tips/index.html" class="list-group-item">Dental Tips</a> 
<a href="../perio-myths-facts/index.html" class="list-group-item">MYTHS &amp; FACTS</a> 
<a href="../home-care/index.html" class="list-group-item">Home Care</a> 
<a href="../gum-disease/index.html" class="list-group-item">Gum Disease</a>
<a href="../scaling-root-planing/index.html" class="list-group-item">Scaling &amp; Root Planing</a>
<a href="../curettage/index.html" class="list-group-item">Curettage</a> 
<a href="../gingivectomy/index.html" class="list-group-item">Gingivectomy</a>
<a href="index.html" class="list-group-item active">Flap Surgery</a> 
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a> 
<a href="../guided-tissue-regeneration/index.html" class="list-group-item">GTR</a>
<a href="../splinting/index.html" class="list-group-item">Splinting</a> 
<a href="../cosmetic-gum-surgery/index.html" class="list-group-item">Cosmetic Gum Surgery</a> 
<a href="../papilla-reconstruction-procedure/index.html" class="list-group-item">Papilla Reconstruction</a>
<a href="../perio-faqs/index.html" class="list-group-item">FAQS</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2>Flap Surgery, gum surgery</h2>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Your teeth are at risk because of periodontal disease. It began with the buildup of plaque and tartar on your teeth, which may have resulted from insufficient brushing and flossing. Over time, the plaque and tartar have caused loss of the supporting tissue around some of your teeth.</p>
<p>When plaque builds up on a tooth, bacteria in the plaque attack the bone around the tooth as well as the fibers, which connect the tooth to the bone. As the fibers and bone are destroyed, a pocket or space forms between the gum and the tooth- an ideal site for more plaque to build up. Without proper hygiene, the process may continue, sometimes without symptoms, until the tooth is endangered.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="512" height="366" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery86a4.jpg?fit=512%2C366&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery.jpg?w=512&amp;ssl=1 512w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery.jpg?resize=300%2C214&amp;ssl=1 300w" data-lazy-sizes="(max-width: 512px) 100vw, 512px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery.jpg?fit=512%2C366&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Why do you need periodontal (osseous) gum surgery?</h4>
<p>This surgical procedure is used by the periodontist to smooth / correct defects and irregularities in the bone surrounding the diseased teeth with the ultimate goal of eliminating periodontal pockets</p>
<h4>What exactly we do during gum surgery?</h4>
<p>Do not let the word &#8220;Surgery&#8221; scare you except in complex cases.</p>
<p>&nbsp;</p>
<ul>
<li><b>Once the area is made numb with local anesthesia, we flap / raise the gum back so that we can visualize the amount and type of bone loss. We can also visualize tartar that may be attached to the roots.</b></li>
<li><b>We then remove the tartar and scoop out the diseased tissue from the bone defects. This infected material / tissue is basically responsible for the progression of your gum diseases. Next, we use hand instruments called Curettes to smoothen your root surfaces.</b></li>
<li><b>Once the bone defects are contoured and your root surfaces are cleaned, the gum is placed back in its original position and stitches are placed.</b></li>
<li><b>Postoperative instructions are then given to teach you how to take care of the area so that as little discomfort will take place as possible.</b></li>
</ul>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="90" height="80" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c01c4d8.jpg?fit=90%2C80&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c01.jpg?fit=90%2C80&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Gum pocket and defect before surgery.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="90" height="80" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c02c4d8.jpg?fit=90%2C80&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c02.jpg?fit=90%2C80&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Gum is retracted for access to the bone and root.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="90" height="80" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c03c4d8.jpg?fit=90%2C80&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c03.jpg?fit=90%2C80&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Bone defects are removed.</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="90" height="80" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c04c4d8.jpg?fit=90%2C80&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c04.jpg?fit=90%2C80&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Gum tissue is sutured back around the tooth.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="90" height="80" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c05c4d8.jpg?fit=90%2C80&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flapsurgery1c05.jpg?fit=90%2C80&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>After healing, the gum is tightly &#8220;seald&#8221; around the tooth.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid Wrapper_Content vc_custom_1466065587618">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>What are the precautions after gum surgery?</h4>
<p>Post Procedure Instructions</p>
<p>&nbsp;</p>
<ul>
<li><b>Bleeding:</b> Some bleeding may occur within the first 24 hours following surgery. This is normal. If this should occur, apply gentle pressure to the area with a piece of sterile cotton or wet gauze.</li>
<li><b>Working-Exercise:</b> You can carry out your normal routine activities like going to work etc., but avoid any kind of strenuous exercise.</li>
<li><b>Diet:</b> You are recommended to follow a soft and cold diet for a few days. Avoid consumption of hot beverages for atleast 2 to 3 days after surgery. Preferably, chew from the other side which is not surgically treated.</li>
<li><b>Smoking &#8211; Alcohol:</b> Alcohol should be restricted during the first 48 hours following surgery. Please abstain from smoking for atleast 2 weeks after surgery as smoking has been shown to slow down the healing process.</li>
<li><b>Medication: </b>If any medication has been prescribed for comfort and/or the prevention of infection during the healing process, please follow the directions carefully.</li>
<li><b>Ice Packs for Swelling:</b> If there is any swelling, ice packs should be applied to the area during the first four hours after surgery (use 15 minutes on 15 minutes off). Some swelling can be expected during the first 24 hours.</li>
<li><b>Saltwater Rinse:</b> Using teaspoon of salt in a glass of warm water, you may rinse the treated area gently. Rinsing several times in the first twelve-hour period will help keep your mouth fresh and odor-free. However, vigorous rinsing should be avoided in the first 24 hours.</li>
<li><b>Brushing:</b> Try to avoid brushing over the surgical area for at least 5 to6 days after surgery as it may dislodge or loosen the sutures. Brushing can be started once the sutures are removed. Meanwhile the area can be kept clean by massaging the area with the finger and paste and also with the help of a mouthwash.</li>
<li><b>Surgical Dressing:</b> If necessary a periodontal dressing will be placed over the treated area which protects the surgical site and should remain in place for approximately one week. Small pieces may break off but this should be of no concern. However, if the complete dressing should come off within three days, please call to have it replaced. If this should occur after the fourth day, there is no need for concern so long as there is no discomfort. Continue to rinse the area with warm salt water until your next appointment</li>
</ul>
<p>&nbsp;</p>
<h4>What are the recent advances in surgery?</h4>
<p>Periodontal surgery has evolved with newer techniques and materials advancing the art and science of dentistry.</p>
<p>REGENERATION is a present concept where the tissues that are lost due to periodontal disease are reconstructed to a certain extent using newer and advanced techniques.</p>
<p>Various methods of regeneration used at FMS are:</p>
<p>&nbsp;</p>
<ul>
<li><b>Bone Grafts</b></li>
<li><b>Guided Tissue Regeneration</b></li>
</ul>
<p>&nbsp;</p>
<h4>Is flap surgery a permanent cure?</h4>
<p>As you have learned, you may be prone to periodontal diseases that require constant and careful attention. Like other chronic diseases, such as diabetes, hypertension and asthma, there is no permanent cure. Periodontal surgery helps control disease and prevents further destruction to the gums and bone, thereby minimizing tooth loss. Regular check-ups would ensure tooth loss is further minimized.</p>
<h4>How much will the treatment cost?</h4>
<p>The cost of the periodontal treatment will vary depending upon your needs. After the periodontist has examined you and determined the appropriate treatment, he or she can provide you with an estimate of the cost. As you consider this a health investment, keep in mind that treating gum disease is less costly &#8211; and better for your health &#8211; than replacing teeth lost to untreated gum disease.</p>
<h3>A case of Flap surgery</h3>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="488" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery14955.jpg?fit=650%2C488&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery1.jpg?w=650&amp;ssl=1 650w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery1.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery1.jpg?fit=650%2C488&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="488" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery24955.jpg?fit=650%2C488&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery2.jpg?w=650&amp;ssl=1 650w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery2.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery2.jpg?fit=650%2C488&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="488" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery34955.jpg?fit=650%2C488&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery3.jpg?w=650&amp;ssl=1 650w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery3.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/flap-surgery3.jpg?fit=650%2C488&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ebebeb;">flap surgery, gum surgery,flap surgery, gum surgery,flap surgery, gum surgery,flap surgery, gum surgery,flap surgery, gum surgery</span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3683 current_page_item menu-item-4131"><a href="index.html" aria-current="page">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>