<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Implants&#8230;Frequently Asked Questions</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../dental-implants-homepage/index.html" class="list-group-item">Dental Implants Home</a> 
<a href="../why-dental-implants/index.html" class="list-group-item">Why Dental Implants?</a>
<a href="../best-implant-dentist-in-india/index.html" class="list-group-item">FMS Implant Team</a>
<a href="../best-dental-implant-center-in-india/index.html" class="list-group-item">The Implant Center</a> 
<a href="../dental-implant-cost/index.html" class="list-group-item">Dental Implant Cost</a>
<a href="../single-tooth-dental-implant-in-india/index.html" class="list-group-item">Single Tooth Replacement</a>
<a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
<a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
<a href="../teeth-in-a-day/index.html" class="list-group-item">Teeth-In-A-Day</a>
<a href="../permenant-fixed-teeth-in-5-days/index.html" class="list-group-item">Permenant-Fixed-Teeth-In-5-Days</a>
<a href="../all-on-4-dental-implants/index.html" class="list-group-item">All-On-4 Dental Implant Procedure</a>
<a href="../full-mouth-dental-implants/index.html" class="list-group-item">Full Mouth Dental Implants</a>
<a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
<a href="../zygoma-implants/index.html" class="list-group-item">Zygoma-Implants</a>                        
<a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a>
<a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">3D CBCT Scan&amp;Implants</a>
<a href="index.html" class="list-group-item active">FAQs</a> 
<a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>Please explain what a dental implant is? and how it&#8217;s different from other types of false teeth?</h5>
<p>A dental implant is a small titanium fixture that serves as the replacement for the root portion of a missing natural tooth. It is surgically placed in the bone of either the upper or the lower jaw. The bone grows around it and anchors the implant, and a dental crown is placed over it, so that it becomes a complete tooth replacement. They can be used is you are missing one tooth, missing several teeth, and even if you are missing all your teeth.</p>
<h5>Are the dental implants long-lasting and a successful way to replace missing teeth?</h5>
<p>When dental implants were first developed back in the 1970s, they weren&#8217;t very long-lasting. It took a lot of research and development to improve the success rate. Now, after more than three decades of clinical experience with over a million patients treated, statistics show that about 95 percent of individual implants are successful. The rate is even higher for bridges supported by implants.</p>
<p>Success is defined as remaining in function over a five-year period</p>
<h5>What is the Cost of Dental Implants?</h5>
<p>Dental implant costs vary over a wide range, depending on the individual case. We&#8217;ll try to give you some helpful figures here, to help you budget for this expense. The costs mentioned below include the fee for the actual implant fixture, plus the crown, bridge, or denture attached to it.</p>
<p>Hopefully you understand the world well enough to know that you need to be careful about price shopping for this service. If you look for the cheapest implants, but the placement technique is sloppy and so they only last four years instead of twenty, have you really saved any money? The surgery to place implants is demanding, and if done properly, requires a lot of training, precision, and care, and can&#8217;t be rushed.</p>
<p>At FMS, the cost of a single dental implant will vary from one fourth to half the cost in USA (US cost- $2000 to $5000), depending on the situation. This is the complete cost, which includes the surgery plus the crown. If bone grafts are required, there could be extra costs for that. If one tooth is missing, only one fixture will be required.</p>
<p>If many teeth are missing, there could be considerable variation in the number of fixtures needed, depending on the situation. In the USA the dental implant surgery will cost about $2000 for each fixture placed, and then crowns or bridges will be placed on top of those. The price of placing a full set of teeth on these implants could vary from $5000 to $10,000, again depending on the materials used and the difficulty and complexity of the case. We leave it your imagination that how much savings you gain at FMS when you are in India, that too a wonderful holiday to the most exotic location in the world, practically FREE OF COST.</p>
<p>Don&#8217;t expect much help for implants from dental insurance. Most insurance plans provide for benefits based on the least expensive option for your case. Often the least expensive option is not very desirable, so be prepared for a stingy response from your insurance company.</p>
<h5>I have insurance. Will my dental insurance cover implants?</h5>
<p>You could easily become frustrated with insurance coverage for dental implants if you expect too much from the insurance company. But if you remember that the company is in business to make money, you will find the issue easier to deal with.</p>
<p>What they do is, when you are missing teeth, they will pay benefits for the least expensive treatment option. So, let&#8217;s say you&#8217;re missing several teeth on the upper arch. The least expensive way to treat that would be with a removable partial denture. Well, you don&#8217;t want that because it means you have to wear hardware in your mouth, and it moves when you chew, and it is hard on the teeth it attaches to. You feel they should cover dental implants because that is clearly a superior treatment. But they aren&#8217;t a charitable organization and what is &#8220;best&#8221; for you isn&#8217;t their concern. They&#8217;re in business to make money for their shareholders, and it doesn&#8217;t make sense for them to pay thousands of dollars for a treatment when they can pay a few hundred.</p>
<p>So if you can move away from the entitlement mentality and into the &#8220;you get what you pay for&#8221; mentality, you&#8217;ll be much less frustrated and will be content for any help you can get from your dental insurance for implants.</p>
<h5>Will dental implants work for me? How can I know if I&#8217;m a candidate?</h5>
<p>Anyone who is missing one or more teeth due to injury, disease or decay can be a candidate for dental implants. The key limitation is the amount of available bone to hold the implant. And even in some cases where there isn&#8217;t enough bone, a bone graft can rectify that situation.</p>
<p>Many people fear that age is a limitation—that they may be &#8220;too old&#8221; for dental implants. But this isn&#8217;t a factor. General health can be a factor, but not age.</p>
<p>If you like the idea of getting dental implants, the best way to find out if they will work for you is to schedule a consultation with THE TEAM OF SPECIALISTS AT FMS. They will explain the benefits and limitations in your situation and will be honest with you in telling you whether or not they will work, or if another treatment option would be better for your situation.</p>
<p>Call us at +91 888 50 60 750 and schedule a consultation. We&#8217;d be happy to talk to you. Be aware that giving you an accurate answer will involve conducting a thorough examination and health history.</p>
<h5>I think I&#8217;m too old for dental implants. Is old age a problem?</h5>
<p>Sometimes, older patients are concerned that their age may prohibit them from enjoying the benefits of dental implants. However, this is not the case. Health is a key factor, but age isn&#8217;t so important. Generally, if you&#8217;re healthy enough to have a tooth extracted, you&#8217;re healthy enough to receive dental implants.</p>
<p>If you have general health problems, however, that could pose a problem. Certain chronic diseases can contraindicate this treatment. The specialists in FMS can decide whether you are a candidate. Give us a call at +91 888 50 60 750, and schedule a consultation. We will conduct a careful evaluation of your dental and health history and tell you honestly whether dental implants will work for you. But you&#8217;re not too old for that</p>
<h5>What are the advantages of dental implants over a removable denture or a bridge?</h5>
<p>There are several important advantages to this treatment as compared with a bridge or a removable denture:</p>
<ul>
<li>More esthetic. Since an implant uses a root replacement, the tooth looks like it&#8217;s growing right out of the gum, so it is very natural looking.</li>
<li>No jaw shrinkage. When you lose entire tooth &#8211; crown and root &#8211; your jawbone shrinks because there is no tooth there. When a number of teeth are missing, the shrinkage can be substantial and can give your face a &#8220;caved-in&#8221; look that makes you look much older. Dental implants can prevent this from happening.</li>
<li>No damage to surrounding teeth. To get a dental bridge, the two teeth adjacent to a missing tooth must be ground down to serve as anchors. Dental implants eliminate the need to grind down healthy teeth.</li>
<li>With a removable complete denture, the adjacent teeth don&#8217;t have to be completely ground down, but they do have to be modified some. Plus, anchoring the denture on existing teeth causes stress and weakens those teeth.</li>
<li>Permanent solution. The fixture is placed permanently in your jawbone as a replacement tooth. There are no loose parts to worry about. It is stable and comfortable. It won&#8217;t become loose and cause sores. Normally, it will serve you for life.</li>
</ul>
<h5>What will it feel like to have dental implants in my mouth?</h5>
<p>Implant-supported replacement teeth look, feel and function like natural teeth. This means that you can eat and drink whatever you are used to. Most importantly, dental implants often improve your quality of life in a very concrete way. People who have felt embarrassed and worried because of their tooth problems are often overwhelmed by what new permanent teeth can do for their self-esteem. Since they feel just like having natural teeth again, it is a great boost to your confidence. They aren&#8217;t going to come loose at the wrong time. You aren&#8217;t going to develop sores that make them hard to wear.</p>
<h5>What can you tell me about dental implant esthetics. Will my new teeth look natural?</h5>
<p>Dental implants, if done right, are very esthetic. When you have a missing tooth, the root form is placed in your jaw, and the crown is attached to it. Therefore, your tooth looks like it is growing out of the gums, exactly like a natural tooth.</p>
<h5>How about implant function? Will I be able to chew the same, using the same force and pressure as with natural teeth?</h5>
<p>People wonder if dental implants are as sturdy as natural teeth. The answer is, yes, they are. Following a brief adaptation period, chewing capacity is the same as natural teeth.</p>
<p>They also feel as secure as natural teeth, since they are anchored in the bone. It wasn&#8217;t too long ago that an extended healing period of up to six months was required before these fixtures could be used. During this healing period, the patient would wear a dental flipper or other temporary tooth replacement to avoid placing stress on the dental implant during the healing period. Our specialists however, has kept up with recent developments and can place implants that function immediately implants. It&#8217;s called the teeth-in-an-hour concept, and what it means for you as a patient is that the surgery is much simpler and you can leave the placement appointment with permanent teeth that you can use right away.</p>
<h5>Is the implant treatment painful?</h5>
<p>Just as with any surgery, there can be some discomfort. We use local anesthesia and nitrous oxide patient sedation or general anesthesia to eliminate any discomfort at the time of the procedure. Most patients report that they were much more comfortable following the procedure than they had anticipated. It may be helpful to talk to another patient who has undergone dental implant treatment to discuss their personal experience.</p>
<p>We use the teeth-in-an-hour concept to provide dental implants that function immediately. One of the side benefits of this more rapid treatment is that the amount of discomfort after the procedure is greatly reduced</p>
<h5>How much time is required for this procedure?</h5>
<p>Traditionally, the procedure has been performed in two steps. The dentist began by installing the implant, which was left for from three to six months to heal and integrate with the jawbone. During the healing period, the patient was given a temporary prosthesis until the permanent crown could be put in place.</p>
<p>Today, there is an alternative to the two-step method that allows you to have the implant installed in one whole piece in one single session. This new method has simplified the procedure a lot, both for patients and dentists.</p>
<p>The procedure is chosen depends on several factors, such as the patient&#8217;s dental health, the number of teeth involved and which teeth are replaced. These factors will also determine the total number of visits to the dentist throughout the treatment period.</p>
<h5>What about post-operative discomfort? How will I feel after the treatment?</h5>
<p>It is normal to have some small bruises and swelling in the gum and soft tissues. But usually the discomfort, if any, is treated with an ordinary painkiller. You should expect to be able to work the next day.</p>
<p>We work with the teeth-in-an-hour concept that gives you implants that function immediately. With this new technology the surgery required is much less invasive and the amount of post-operative discomfort is greatly reduced over older techniques.</p>
<h5><span style="font-size: 10pt;">What </span>kind of implant maintenance is required? How should I care for my new teeth?</h5>
<p>Your new teeth must be cared for and checked regularly, just like your natural teeth. Brush and floss as recommended by your dentist or dental hygienist.</p>
<p>It&#8217;s also important that a dentist trained in maintaining dental implants see you.</p>
<p>Many people are surprised to learn that, just as natural teeth can succumb to gum disease, dental implants are also subject to gum disease that attacks the attachment between the implant and your jaw. To avoid this gum disease, keep them clean and maintained with faithful brushing and flossing and professional cleanings.</p>
<h5>I have had a missing tooth and a bridge to replace it&#8230;then the teeth supporting the bridge broke, so there&#8217;s nothing left to attach to. Would an implant be goo for me now?</h5>
<p>Yes, these are good situations for undergoing dental implant treatment. You still can have fixed teeth in this bridge area.</p>
<h5><span style="font-size: 12pt;">What can you tell me about dental implants vs bridges?</span></h5>
<p>Implants are Conservative &#8230;.To place a bridge, the teeth on either side have to be ground down and crowns placed. This is avoided with an implant. Since your healthy teeth are left untouched, this can have a significant long-term benefit for your oral health.</p>
<hr>
<p><span style="font-family: 'arial black', sans-serif;">For any queries regarding Dental Implants, call on <span class="number">+91 888 50 60 750</span></span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>