<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Orthognathic &#038; Other Facial Surgeries</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../cosmetic-home/index.html" class="list-group-item">Cosmetic Home</a>
<a href="fms-cosmetic-dentistry-team.html" class="list-group-item">Cosmetic Dentistry team</a>
<a href="../tooth-whitening/index.html" class="list-group-item">Tooth Whitening</a>
<a href="../dental-veneers-laminates/index.html" class="list-group-item">Veeners/Laminates</a> 
<a href="../enamel-tooth-recontouring/index.html" class="list-group-item">Enamel Contouring</a>
<a href="../gum-depigmentation/index.html" class="list-group-item">Gum Depigmentation</a> 
<a href="../gum-recontouring/index.html" class="list-group-item">Gum Recontouring</a>
<a href="../minor-orthodontics/index.html" class="list-group-item">Minor Orthodontics</a>
<a href="index.html" class="list-group-item active">Orthognathic &amp;Other Facial Surgeries</a>
<a href="../cosmetic-photo-gallery/index.html" class="list-group-item">Photo Gallery</a>
<a href="../orths-faqs/index.html" class="list-group-item">Faqs</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1></h1>
<p style="margin-bottom: .0001pt; text-indent: .5in;">Orthognathic surgery is an operation to reposition the jaws. (Ortho means straighten, gnathia means jaw in Latin). The operation aims to correct imbalances between the upper and lower jaws.</p>
<p style="text-indent: .5in;">It is not always possible to correct your teeth and acheive the bite using only orthodontics (braces). This is because the bones of your face and jaws, in which the teeth are positioned, may be out of balance with one another. (For example, you may have a larger lower jaw and a normal sized upper jaw).</p>
<p>It is not always possible to correct your teeth and acheive the bite using only orthodontics (braces). This is because the bones of your face and jaws, in which the teeth are positioned, may be out of balance with one another. (For example, you may have a larger lower jaw and a normal sized upper jaw).</p>
<p>Orthognathic surgery is able to correct larger jaw discrepancies and improve both the bite of your teeth as well as your appearance by altering the shape of the face.</p>
<p><strong><span style="color: #800000;">Why do I need Orthognathic Surgery?</span></strong></p>
<ul>
<li>Do you have any difficulty in chewing or biting?</li>
<li>Dont you like your facial appearance from the front?</li>
<li>Dont you like your facial appearance from the side?</li>
<li>Do you have a protruding jaw or no chin?</li>
<li>Do you have an open bite?</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000; font-size: 14pt;">What is the First Step?</span></strong></p>
<p>The first consultation is a very important part of your treatment. It is an opportunity to meet the team consisting maxillofacial surgeon and orthodontist.</p>
<p>Your doctor will assess your expectations and also establish the diagnosis. They will take photos, dental impressions for study models, x-rays or CT scans needed to assess your case.</p>
<p>If your condition warrants surgery then this will be explained to you about the realistic outcome, the required time frame and also any risks involved.</p>
<p>It is normal to need orthodontic treatment before as well as after the surgery. It is important to use braces to move the teeth to make sure that they will meet together correctly after the operation.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">How is orthognathic surgery performed?</span></strong></p>
<p>The surgery may be limited to either the upper or lower jaw or in some cases both jaws (bimaxillary osteotomy).</p>
<p>In the vast majority of cases all surgery is all done from inside the mouth, so there are no external scars. The jawbones are repositioned and secured by tiny plates and screws made from pure titanium, which remain under the gums and are not seen in the mouth. Immediately following the surgery the teeth are not normally wired together. Small elastic bands are placed between the top and bottom braces to guide the teeth into their new bite after a day or so.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		<h2 class="wpb_heading wpb_singleimage_heading">Le Fort 1 Osteotomy</h2>
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic2-400x400.jpg" width="400" height="400" alt="orthognathic2" title="orthognathic2" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic2-400x400.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic3bd08.png?fit=681%2C250&amp;ssl=1" alt="Genioplasty" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic3.png?fit=681%2C250&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Genioplasty</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic46bca.jpg?fit=274%2C148&amp;ssl=1" alt="Mandibular Sagittal Split Osteotomy" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/orthognathic4.jpg?fit=274%2C148&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Mandibular Sagittal Split Osteotomy</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000; font-size: 14pt;">Which type of anaesthetic will be used?</span></strong></p>
<p>Surgery will require a general anaesthetic which will involve admission to a Hospital.</p>
<p><span style="color: #800000;"><strong>Preparing to have your surgery</strong></span></p>
<p>Your surgeon will explain how to prepare for your procedure. For example,</p>
<ul>
<li>if you smoke, you will be advised to stop as this significantly increases your risk of wound infection, slowing your recovery.</li>
<li>Some types of medication you take may also require special consideration.</li>
<li>Since you are having a general anaesthetic, you will be asked to follow fasting instructions, this means not eating or drinking for some hours prior to the procedure. You will be given specific instructions by the hospital prior to your admission date.</li>
<li>Most patients will remain in hospital for 2 nights and you should probably plan to be away from work for two weeks after you are discharged from hospital.</li>
</ul>
<p><span style="color: #800000;"><strong>Recovery from the Surgery</strong></span></p>
<ul>
<li>After the operation you will have some swelling and bruising. This will rapidly begin to subside over the first 2 &#8211; 3 weeks.</li>
<li>For operations on the lower jaw it is fairly common to have some numbness of the lower lip for some weeks or months afterwards. In a very small number of cases a residual area of numbness will remain. This numbness will not affect movement of your lip.</li>
<li>However patients recover at different rates. It takes around 4-6 weeks for the total bone healing and 3-4 months for the facial muscles to get adapted.</li>
</ul>
<p><span style="color: #800000;"><strong>Risks &amp; Complications</strong></span></p>
<p>This is usually a very safe procedure which is carried out regularly by specialised and experienced surgeons at FMS. Complications in this type of surgery are, fortunately, rare and may not apply to you but it is important that you are aware of them. These may include:</p>
<ul>
<li><span style="color: #800000;"><strong>Numbness</strong></span> – At times the lips will be numb immediately after the operation, similar to the sensation of an injection of local anaesthetic at the dentist. Very rarely sensation never completely returns. (The lip still looks and moves normally and only exceptionally does it bother patients).</li>
<li><span style="color: #800000;"><strong>Infection</strong></span> &#8211; The tiny fixing plates are usually left in place permanently. In less than 10% of cases the plates may have to be removed if they become infected</li>
<li><span style="color: #800000;"><strong>Re-adjustment of the bite</strong></span> &#8211; In rare circumstances the bite may require some more adjustments</li>
<li><span style="color: #800000;"><strong>Relapse of the operation</strong></span> &#8211; With most patients significant relapse is not a problem. However those who are having complicated surgery (movements of 10mm or more in one jaw, patients previously having had a cleft palate, or those with a particularly unusual bite) a relapse can occur. If relapse does occur, it is exceptionally rare for this to be significant. Your Consultant will discuss the risks that are specific to yo</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><span style="font-family: arial, helvetica, sans-serif;">For any queries talk to the Cosmetic surgeon at <span class="number">+91 888 50 60 750</span></span></h4>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>