<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>OVER DENTURE</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">




<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                  <a href="../prosthodontics/index.html" class="list-group-item ">Prosthodontics Home</a> 
<a href="../prosthodontic-team/index.html" class="list-group-item ">Prosthodontics Team</a> 
<a href="../infrastructure/index.html" class="list-group-item ">Infrastructure</a> 
<a href="../complete-denture/index.html" class="list-group-item ">Complete Denture</a> 
<a href="../bps-dentures/index.html" class="list-group-item ">BPS</a> 
<a href="../flexi-denture/index.html" class="list-group-item ">Flexi Denture</a> 
<a href="index.html" class="list-group-item active">Over Dentures</a> 
<a href="../fixed-partial-denture/index.html" class="list-group-item "> Fixed Partial Denture</a>                                
<a href="../metal-free-crown/index.html" class="list-group-item ">Metal Free Crown</a> <a href="../cad-cam/index.html" class="list-group-item">CAD CAM</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 18pt;"><strong><span style="color: #800000;">OVER DENTURES</span></strong></span></p>
<p>Overdentures are replacement of your teeth which rest either on natural teeth or dental implants. The drawback with conventional dentures is that the first denture was usually satisfactory but with each passing year &amp; with each subsequent denture, patients become more intolerant of their prosthesis. The resorption of bone began a vicious cycle of an ill-fitting denture, causing inflammation, which in turn increases the resorptive process, creating an even more unstable base, repeating the entire process once again.</p>
<p>With overdenture you will have more control over your dentures they by fewer complications.</p>
<p><span style="color: #800000;"><strong>BENEFITS OF OVER DENTURES</strong></span></p>
<p>Overdentures offer a variety of advantages as compared to conventional dentures. While some of these advantages are purely cosmetic, all of these can affect your quality of life, making you happier and healthier.</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Eat the Food You Love</span></strong></p>
<p>When conventional dentures are secured with adhesives, the hard and chewy foods you love are often difficult to eat. Implant-retained overdentures can also even improve your dietary health by putting more nutritious foods back on the menu. With implant retained overdentures, you can chew your food more completely which aids in digestion. This increases the nutrients your body is able to absorb.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><span style="color: #800000; font-size: 14pt;">Regain Your Self Confidence</span></strong></p>
<p>An implant-retained overdenture can help stop the deterioration of your natural facial contours. Keeping this bone alive and stimulated is the only way to halt the resorption (shrinkage) that naturally occurs in areas where your natural teeth have been lost. In addition, because the overdenture is secured with implants you will not have to worry about embarrassing dislodgment.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #800000;"><strong><span style="font-size: 14pt;"><em>No More Adhesives</em></span></strong></span><em><br>
</em></p>
<p>Adhesives for denture retention, while convenient for some, do not truly secure your dentures to your ridge. Conventional dentures that are held-in with adhesives can easily dislodge, affect the taste of the foods you eat and can be very messy. Because the retention and stability is un-matched with implant-retained overdentures, you’ll no longer need the added cost, mess and hassle of adhesives to keep your dentures in place.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><span style="color: #800000; font-size: 14pt;"><em>Improve Your Quality of Life</em></span></strong><strong><span style="color: #800000; font-size: 14pt;"><em><br>
</em></span></strong></p>
<p>Implant-retained overdentures secure your teeth in your mouth and can reduce or eliminate movement, improve the aesthetics of your smile, improve chewing functions, improve speech and have a positive impact on your physical and psychological health.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_right">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD13a98.jpg?fit=320%2C351&amp;ssl=1" width="320" height="351" alt="OD1" title="OD1" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD1.jpg?fit=320%2C351&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_single_image wpb_content_element vc_align_right">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD2c8a9.jpg?fit=712%2C349&amp;ssl=1" width="712" height="349" alt="OD2" title="OD2" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD2.jpg?fit=712%2C349&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_single_image wpb_content_element vc_align_right">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD32c3c.jpg?fit=852%2C480&amp;ssl=1" width="852" height="480" alt="OD3" title="OD3" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD3.jpg?fit=852%2C480&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_single_image wpb_content_element vc_align_right">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD4c6de.png?fit=683%2C455&amp;ssl=1" width="683" height="455" alt="OD4" title="OD4" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD4.png?fit=683%2C455&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_single_image wpb_content_element vc_align_right">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD58a50.jpg?fit=300%2C216&amp;ssl=1" width="300" height="216" alt="OD5" title="OD5" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD5.jpg?fit=300%2C216&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>