<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>PEDIATRIC ORTHODONTICS</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">

<a href="../pediatric-dentistry-home/index.html" class="list-group-item">Pediatric Dentistry Home</a>

<a href="../pediatric-dentistry-team/index.html" class="list-group-item">Pediatric Dentistry Team</a>

<a href="../importance-of-milk-teeth/index.html" class="list-group-item">Importance Of Milk Teeth</a>

<a href="../preventive-dental-therapy/index.html" class="list-group-item">Preventive Dental Therapy</a>

<a href="../early-childhood-caries/index.html" class="list-group-item">Early Childhood Caries</a>

<a href="../pit-and-fissure-sealants/index.html" class="list-group-item">Pit And Fissure Sealants</a>

<a href="../anti-decay-fluoride-application/index.html" class="list-group-item">Anti-Decay Fluoride Application</a>
 
<a href="index.html" class="list-group-item active">Preventive Orthodontics</a>

<a href="../conscious-sedation/index.html" class="list-group-item">Conscious Sedation</a>

 <a href="../pedo-emergency/index.html" class="list-group-item">Pediatric Dental Emergencies</a>

<a href="../frequently-asked-questions/index.html" class="list-group-item">Frequently Asked Questions</a>

<a href="../brushing-tips-for-children/index.html" class="list-group-item">Brushing Tips For Children</a> 


  </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><strong>Pediatric Orthodontics</strong></h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>DENTAL SPACE MANAGEMENT</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="800" height="552" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-managementc54b.jpg?fit=800%2C552&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-management.jpg?w=800&amp;ssl=1 800w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-management.jpg?resize=300%2C207&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-management.jpg?resize=768%2C530&amp;ssl=1 768w" data-lazy-sizes="(max-width: 800px) 100vw, 800px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-management.jpg?fit=800%2C552&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="200" height="150" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-106f7.jpg?fit=200%2C150&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-1.jpg?fit=200%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="220" height="220" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-2ad63.jpg?fit=220%2C220&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-2.jpg?w=220&amp;ssl=1 220w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-2.jpg?resize=150%2C150&amp;ssl=1 150w" data-lazy-sizes="(max-width: 220px) 100vw, 220px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-2.jpg?fit=220%2C220&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="220" height="220" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-3ad63.jpg?fit=220%2C220&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-3.jpg?w=220&amp;ssl=1 220w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-3.jpg?resize=150%2C150&amp;ssl=1 150w" data-lazy-sizes="(max-width: 220px) 100vw, 220px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/dental-space-3.jpg?fit=220%2C220&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>WHY TO MAINTAIN SPACE</strong></h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Failure to maintain space results in Malocclusion</p>
<ul style="list-style-type: square;">
<li>Drifting / tipping of teeth</li>
<li>Loss of arch length</li>
<li>Midline shift</li>
<li>Crowding of permanent teeth</li>
<li>Impactions</li>
<li>Orthodontic intervention, including extractions</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>What is Pediatric Dentistry?</h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>It is the specialty that provides both primary and complete oral health care for infants and children till adolescence including those with special health care needs.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1239" height="826" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusione425.jpg?fit=1239%2C826&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusion.jpg?w=1239&amp;ssl=1 1239w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusion.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusion.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusion.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/malocclusion.jpg?fit=1239%2C826&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>BASIC CONCEPTS</h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul style="list-style-type: square;">
<li>Space closure occurs during the first 6 months after extraction/tooth lost. It is best to insert the appliance as soon as possible following the extraction/tooth loss. Loss of space occurs primarily due to a tipping movement of teeth.  Erupting premolars usually require 4-5 months to move through 1mm of bone.</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>SPACE MAINTAINERS</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A space maintainer is an intra-oral appliance used to preserve arch length following the premature loss of primary teeth/tooth.” „ This allows the permanent teeth to erupt unhindered into proper alignment and occlusion.„ A space maintainer is recommended after the untimely loss of a primary tooth.</p>
<p>.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>TYPES OF SPACE MAINTAINERS</h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A space maintainer is an intra-oral appliance used to preserve arch length following the premature loss of primary teeth/tooth.</p>
<p>This allows the permanent teeth to erupt unhindered into proper alignment and occlusion</p>
<p><span style="color: #ff6600;"><em>Commonly used spacemantainer</em></span></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>BAND AND LOOP</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1509" height="1006" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1278f.jpg?fit=1509%2C1006&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1.jpg?w=1509&amp;ssl=1 1509w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-1.jpg?fit=1509%2C1006&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2304" height="1536" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-233bd.jpg?fit=2304%2C1536&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?w=2304&amp;ssl=1 2304w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?w=2000&amp;ssl=1 2000w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-2.jpg?fit=2304%2C1536&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1457" height="971" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-38c9c.jpg?fit=1457%2C971&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-3.jpg?w=1457&amp;ssl=1 1457w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-3.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-3.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-3.jpg?resize=1024%2C682&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/band-loop-3.jpg?fit=1457%2C971&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>LOWER LINGUAL ARCH</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1320" height="880" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-14b01.jpg?fit=1320%2C880&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-1.jpg?w=1320&amp;ssl=1 1320w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-1.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-1.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-1.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-1.jpg?fit=1320%2C880&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1267" height="845" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2519f.jpg?fit=1267%2C845&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2.jpg?w=1267&amp;ssl=1 1267w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/lower-lingual-arch-2.jpg?fit=1267%2C845&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>NANCE APPLIANCE</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-1465b.jpg?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-1.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-1.jpg?zoom=2&amp;resize=150%2C150&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-1.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w" data-lazy-sizes="(max-width: 150px) 100vw, 150px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-1.jpg?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-2465b.jpg?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-2.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-2.jpg?zoom=2&amp;resize=150%2C150&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-2.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w" data-lazy-sizes="(max-width: 150px) 100vw, 150px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/nance-appliance-2.jpg?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>TRANSPALATAL ARCH</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="884" height="589" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-14c55.jpg?fit=884%2C589&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-1.jpg?w=884&amp;ssl=1 884w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-1.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-1.jpg?resize=768%2C512&amp;ssl=1 768w" data-lazy-sizes="(max-width: 884px) 100vw, 884px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-1.jpg?fit=884%2C589&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1110" height="739" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2520f.jpg?fit=1110%2C739&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2.jpg?w=1110&amp;ssl=1 1110w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2.jpg?resize=768%2C511&amp;ssl=1 768w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2.jpg?resize=1024%2C682&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/transpalatal-arch-2.jpg?fit=1110%2C739&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>ANTERIOR ESTHETIC SPACE MAINTAINER</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="957" height="538" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-10c8e.jpg?fit=957%2C538&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-1.jpg?w=957&amp;ssl=1 957w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-1.jpg?resize=300%2C169&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-1.jpg?resize=768%2C432&amp;ssl=1 768w" data-lazy-sizes="(max-width: 957px) 100vw, 957px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-1.jpg?fit=957%2C538&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1042" height="586" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-21cef.jpg?fit=1042%2C586&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-2.jpg?w=1042&amp;ssl=1 1042w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-2.jpg?resize=300%2C169&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-2.jpg?resize=768%2C432&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-2.jpg?resize=1024%2C576&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/anterior-maintainer-2.jpg?fit=1042%2C586&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6071 current_page_item menu-item-6350"><a href="index.html" aria-current="page">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>