<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Periodontics</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="index.html" class="list-group-item active">Home</a>
<a href="../periodontics-team/index.html" class="list-group-item">Team</a>
<a href="../dental-tips/index.html" class="list-group-item">Dental Tips</a> 
<a href="../perio-myths-facts/index.html" class="list-group-item">MYTHS &amp; FACTS</a> 
<a href="../home-care/index.html" class="list-group-item">Home Care</a> 
<a href="../gum-disease/index.html" class="list-group-item">Gum Disease</a>
<a href="../scaling-root-planing/index.html" class="list-group-item">Scaling &amp; Root Planing</a>
<a href="../curettage/index.html" class="list-group-item">Curettage</a> 
<a href="../gingivectomy/index.html" class="list-group-item">Gingivectomy</a>
<a href="../flap-surgery/index.html" class="list-group-item">Flap Surgery</a> 
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a> 
<a href="../guided-tissue-regeneration/index.html" class="list-group-item">GTR</a>
<a href="../splinting/index.html" class="list-group-item">Splinting</a> 
<a href="../cosmetic-gum-surgery/index.html" class="list-group-item">Cosmetic Gum Surgery</a> 
<a href="../papilla-reconstruction-procedure/index.html" class="list-group-item">Papilla Reconstruction</a>
<a href="../perio-faqs/index.html" class="list-group-item">FAQS</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Are your gums getting the respect they deserve?</h4>
<p>They will&#8230; now that you have entrusted your gum care in our safe hands!</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>What is periodontal disease / gum disease?</h4>
<p>The word periodontal literally means around the tooth. Periodontal diseases also known as gum diseases are some of the most common infections in the world next to respiratory infections! One major problem is that periodontal disease is usually painless, with few obvious symptoms in its early stages. If left untreated, periodontal disease can eventually result in tooth loss. In fact, periodontal diseases are now the leading cause of tooth loss in adults. Despite the number of people infected with this disease, most believe they don&#8217;t have them.</p>
<p>Despite all these facts, periodontal diseases are also some of the most preventable diseases, you need to understand what causes them, practice good oral health habits and seek regular professional case.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home465b.jpg?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home.jpg?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><b>Who is a periodontist?</b></p>
<p>A periodontist is a dentist who specializes in the prevention, diagnosis and treatment of periodontal disease, and in the placement of dental implants. Periodontists receive extensive training, including three additional years of education beyond dental school.</p>
<p>Periodontists are familiar with the latest techniques for diagnosing and treating periodontal disease. In addition, they can perform cosmetic periodontal procedures to help you achieve the smile you desire.</p>
<p>The periodontist or gum specialist performs Laser gum treatment,flap surgery with bone grafting at FMS Dental Hospital hyderabad India.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="133" height="227" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/scaling4757.jpg?fit=133%2C227&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/scaling.jpg?fit=133%2C227&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><b>What causes gum disease?</b></p>
<p>The main cause of these gum disease is bacterial plaque, a sticky, colorless film that constantly forms on your teeth. If plaque is not removed on a daily basis it can turn into a hard substance called calculus (tartar). When plaque and calculus are not removed, the bacteria in plaque produce toxins (or poisons) that can destroy the supporting tissues and bone around the teeth . As the diseases progress, the gums around the tooth becomes loose and separates away from the tooth resulting in deep areas called pockets. As these pockets deepen, more gum tissue and bone are destroyed and the teeth eventually become loose. If periodontal diseases are not treated, the teeth may need to be removed.</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>What are the warning signs of gum disease?</h4>
<p>A general dentist or periodontist during regular examinations can easily detect periodontal disease. A periodontist is a dentist who specializes in the diagnosis, prevention and the treatment of gum disease.</p>
<p>A periodontal charting will be performed for all teeth. An instrument called the periodontal probe, with ruled millimeter makings is used to measure the depth of the.space between the teeth and gums. Ideally, normal measurement ranges between 1 and 3mm. Depths greater than this may signify the presence of periodontal pockets and associated gum disease. X rays will also be taken to see the extent of bone damage that has occurred.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="444" height="215" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home2c0aa4.jpg?fit=444%2C215&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home2c.jpg?w=444&amp;ssl=1 444w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home2c.jpg?resize=300%2C145&amp;ssl=1 300w" data-lazy-sizes="(max-width: 444px) 100vw, 444px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home2c.jpg?fit=444%2C215&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Is there a cure?</h4>
<p>The good news is that periodontal disease is preventable and treatable if diagnosed at the right time .We at FMS, provide you with professional care in our office and instructions on proper home care. Our periodontist would welcome the opportunity to carefully evaluate your individual situation and discuss treatment options.</p>
<p>The goal of periodontal treatment is to control any infection that exists and to halt progression of the disease. Depending on how advanced an individual case is, treatment may involve any of the following:</p>
<p>&nbsp;</p>
<ul>
<li>Non Surgical treatment</li>
<li>Surgical treatment</li>
</ul>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6>Non Surgical treatment</h6>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="192" height="138" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home3c01d02f.jpg?fit=192%2C138&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home3c01.jpg?fit=192%2C138&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6>Surgical treatment</h6>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="192" height="138" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home3c02d02f.jpg?fit=192%2C138&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home3c02.jpg?fit=192%2C138&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Non Surgical treatment</h4>
<ul>
<li>Dental Cleaning by a dentist or dental hygienist (prophylaxis / scaling) All the deposits which are harmful for your teeth are removed with the help of curettes and ultrasonic devices.</li>
<li>Deep Cleaning (Scaling and root planing) With the help of curettes and ultrasonic devices, all the deposits which are harmful for your teeth are removed and your roots are cleaned to speed up the healing process. With the help of curettes and ultrasonic devices, all the deposits which are harmful for your teeth are removed and your roots are cleaned to speed up the healing process.</li>
</ul>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="237" height="91" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home4c03d353.jpg?fit=237%2C91&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/per_home4c03.jpg?fit=237%2C91&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul>
<li>Bite (Occlusal) Adjustment: an improper bite may increase bone destruction attached to such offending teeth. We may either choose to adjust your bite so that your teeth meet properly and function better, or construct a custom bite guard or splint a removable device that fits over upper or lower teeth to protect teeth surfaces and relax tense jaw muscles.</li>
<li>Medications are used to help kill germs that cause Periodontitis or suppress the destruction of the tooth&#8217;s attachment to the bone. Antibiotic gels, fibers or chips are applied directly to the infected pocket. Antibiotics may be placed in the pocket or given orally depending on the case.</li>
<li>Use of x-rays and charting of the pockets to see how deep the pockets are. Maintain regular check-ups</li>
<li>with your dentist (once a month up to once every 3 months or as requested by your dentist) to re-evaluate the stage of the gum disease.</li>
</ul>
<p>&nbsp;</p>
<h4>Surgical Treatment</h4>
<p>Periodontal surgery is necessary when the tissue around your teeth is unhealthy and cannot be repaired with non-surgical treatment. Various surgical treatments done at FMS are:</p>
<p>&nbsp;</p>
<ul>
<li><b>Curettage</b></li>
<li><b>Flap surgery</b></li>
<li><b>Gingivectomy</b></li>
<li><b>Frenectomy</b></li>
<li><b>Flapsurgery with BONE GRAFTS</b></li>
<li><b>Guided tissue regeneration(GTR)</b></li>
<li><b>Gum Contouring</b></li>
</ul>
<p>&nbsp;</p>
<h4>Is there any possibility of regaining the bone that is lost due to periodontal disease?</h4>
<p>With advanced materials and techniques like bone grafts and guided tissue regeneration, it is possible to restore lost bone to some extent. Our periodontist would first assess the case and give you various treatment options depending on the situation.</p>
<h4>What are the various advances in surgery?</h4>
<p>Various advances in surgery include regenerative techniques where the tissues that are lost due to disease are regenerated to a certain extent. Various methods of regeneration include: Bone graft materials which are natural or synthetic substitutes to bone and a technique called Guided tissue regeneration which allows only the cells which are required for healing to reach the surgical site.</p>
<h4>Is extraction the only treatment for mobile (loose) teeth?</h4>
<p>Treatment for a mobile tooth depends on the severity of mobility. In teeth were the mobility is mild it can be tied together to the adjacent healthy teeth by using a wire and a tooth colored material. This procedure is called splinting. Extraction is the only option for teeth with severe mobility</p>
<h4>How can you prevent periodontal diseases from returning?</h4>
<p>Nothing will help you maintain the results of professional treatment better than proper home care (daily removal of plaque by proper brushing, flossing and other cleaning methods) recommended for you.</p>
<p>We believe in teamwork to help prevent your periodontal disease from returning. Once the disease has been arrested, a regular maintenance (cleaning) schedule will be set up for you. This will allow us to continuously assess your periodontal health. During these visits, your mouth is closely examined, new calculus and plaque are removed and your teeth are polished.</p>
<h4>Is there a treatment for teeth which appear long and the gums seem to be pulling away?</h4>
<p>When gum tissue recedes due to periodontal disease, it pulls away from the teeth making the teeth appear longer. Cosmetic procedures can restore some coverage and dramatically improve a person&#8217;s smile. Soft tissue grafts and other root coverage procedures cover exposed roots and restore healthy gum tissue. This will reduce further bone loss and recession, make the tooth less sensitive, protect the root from root cavities, and look more natural when you smile.</p>
<h4>What is the treatment for gummy smile?</h4>
<p>Teeth may appear &#8220;short&#8221; due to the relationship between their teeth and gums. This creates a &#8220;gummy&#8221; smile. A procedure called &#8220;gum contouring&#8221; is often used to remove excess gum tissue and expose more of the crown of the tooth. In fact, your gum line can be carefully sculpted to create just the right proportion between gum tissue and tooth surface &#8212; and the result is a better looking smile.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #e3dcdc;"><span style="color: #f2f0f0;">Laser gum treatment,flap surgery, Laser gum treatment,flap surgery, Laser gum treatment,flap surgery, Laser gum treatment,flap surgery, Laser gum treatment,flap surgery</span><br>
</span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>