<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Permenant Fixed Teeth In 5 Days</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../dental-implants-homepage/index.html" class="list-group-item">Dental Implants Home</a> 
<a href="../why-dental-implants/index.html" class="list-group-item">Why Dental Implants?</a>
<a href="../best-dental-implant-center-in-india/index.html" class="list-group-item">The Implant Center</a>
<a href="../best-implant-dentist-in-india/index.html" class="list-group-item">FMS Implant Team</a> 
<a href="../dental-implant-cost/index.html" class="list-group-item">Dental Implant Cost</a>
<a href="../single-tooth-dental-implant-in-india/index.html" class="list-group-item">Single Tooth Replacement with Dental Implant</a>
<a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
<a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
<a href="../teeth-in-a-day/index.html" class="list-group-item">Teeth In A Day</a>
<a href="index.html" class="list-group-item active">Permenant Fixed Teeth In 5 Days</a>
<a href="../full-mouth-dental-implants/index.html" class="list-group-item">Full Mouth Dental Implants</a>
<a href="../all-on-4-dental-implants/index.html" class="list-group-item">All On 4 Dental Implant Procedure</a>
<a href="../boi-implants/index.html" class="list-group-item">BOI Implants</a>
<a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
<a href="../zygoma-implants/index.html" class="list-group-item">Zygoma Implants</a>                        
<a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
<a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">Cone Beam 3D CT Scan</a>
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a>
<a href="../implantology-frequently-asked-questions/index.html" class="list-group-item">FAQs</a> 
<a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/permanent-teeth-in-3-days9fbb.jpg?fit=399%2C245&amp;ssl=1" alt="Before teeth removal" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/permanent-teeth-in-3-days.jpg?fit=399%2C245&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Before teeth removal</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/permanent-teeth-in-3-days-final5282.jpg?fit=405%2C245&amp;ssl=1" alt="After implant placement" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/permanent-teeth-in-3-days-final.jpg?fit=405%2C245&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>After implant placement</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3></h3>
<p style="text-align: center;"><b style="text-align: center;">(KOS, BCS &amp; BOI Basal Implants)<br>
(say good bye to bone grafting, sinus lifts, and nerve repositioning)</b></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="Wrapper_Content">
<h4><span style="font-size: 12pt; font-family: arial black,sans-serif;">For all queries regarding Dental Implants Call  +91 888 50 60 750  or email to contact@fmsdental.com</span></h4>
<p>Dental implants are changing the way people live. They are designed to provide a foundation for replacing teeth which look, feel and function like natural teeth. Moreover the facial contours are also preserved. With dental implants, the person who has lost teeth regains the ability to eat virtually anything.</p>
<p>There are different protocols/techniques for <b>Dental implant treatment</b>. FMS Implant team believes only in scientifically proven protocols. The proven Branemark Protocol is a two stage dental implant treatment which requires 3 to 6 months with 2-3 sittings. Patients undergoing such treatment have to wait for a longer time before they can enjoy the benefits of better appearance, chewing, speech and their self confidence.</p>
</div>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="Wrapper_Content">
<h4>What is Permanent-fixed teeth-in-5days protocol?</h4>
<p>Permanent-fixed teeth-in 5-days protocol is the in thing in dental implant treatment today. As the name says, every patient receives fixed permanent ceramic teeth in exactly 5 days from the day of implant placement. The most conservative (flapless) surgical technique combined with an in-house dental laboratory can deliver fixed teeth in 5 days.</p>
<p>With <b>Permanent-fixed teeth-in-5-days</b> protocol we can replace a single tooth, several teeth, or a full mouth of teeth, upper or lower, with remarkable comfort, predictability and aesthetics.</p>
</div>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Permanent-fixed-teeth-in-5 days, How is it done?</h4>
<p>The Permanent-fixed teeth-in-5 days protocol is performed in a single phase. It includes,</p>
<p>&#8211; Any tooth extraction, as indicated</p>
<p>&#8211; Implant placement, as planned</p>
<p>&#8211; Custom made CAD-CAM (designed ‘n’ milled) permanent prosthesis (teeth) fixed on Implants.</p>
<h4>Day 1</h4>
<p>On the first visit, the implant team clinically examines the patient, followed by necessary X-rays taken for preliminary assessment. A 3D CBCT Scan (FMS has an in-house CBCT scan facility) if required, will be performed for precision planning. A virtual placement of implants will be demonstrated to the patient on the 3D CBCT SCAN, before finalizing the treatment plan. As a part of the treatment planning, the technique, cost factor and different fixed teeth options will be explained to the patient.</p>
<h4>Day 2/3</h4>
<p>The teeth are extracted and the basal implants are also placed during the same surgical visit. A fixed acrylic bridge is fabricated on the same day of surgery. Impressions are taken for permanent ceramic teeth.</p>
<h4>Day4/5</h4>
<p>The permanent ceramic teeth are custom prepared and fixed within 5 days.</p>
<p><b>Thus the timeline for Permanent-fixed teeth-in-5 days is completed within one trip. At FMS, we place 8 to 10 implants to restore the upper jaw and 6 to 8 implants for the lower jaw. The technique includes a combination of compression implants, basal implants and pterygoid implants. With this combination, every patient receives a full set of fixed teeth, without any bone graft procedure, sinus lift or nerve repositioning, that too with a lifetime warranty.</b></p>
<p>With these 8 to 10 basal implants, a full set of permanent ceramic teeth are fixed. A full set means the patient gets a total of 14 teeth on each arch, including the 2nd molars. The fabrication of permanent teeth takes approximately 4 to 5 days in our hi-tech dental lab. These permanent solutions are exclusively customized for you using CAD-CAM precision, along with the manual artistry and dexterity of skilled technicians. You have varied options to choose from such as metal ceramics, metal free Zirconium or titanium based crown and bridges.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Why is Permanent-fixed teeth-in-5 days protocol so successful at FMS?</h4>
<div class="ulli">
<ul>
<li>Vast experience of the multispecialty implant team, close to 2 decades, with thousands of implants placed, a big percentage of which includes immediate loading implants.</li>
<li>Constant collaborations with leaders in immediate loading implants, Ihde Dental Switzerland and their associates. FMS has standardized the rehabilitation of edentulous jaws, using this wonderful technique which is based on basal implants and immediate loading implants.</li>
<li>With an in-house 3D CBCT SCAN, every implant planning and placement is done with ultimate precision. Hi-tech CAD-CAM supported, in house dental laboratory with 20 versatile and artistic dental technicians, in team with 2 high profile Prosthodontists (tooth replacement specialists) make sure you get the most natural looking, functional teeth in just 5 days time.</li>
<li>There are 9 branches of FMS in Hyderabad city, but advanced implant treatments are performed only in a dedicated Implant center. No general dental treatments are done in this zone. It means that implant treatments are done with high stanadards of sterlization and state-of-the-art equipments.</li>
<li>Even though every practitioner claims painless/ stress less placement of implants, we believe that full mouth implant placement needs more attention as far as the stress factor is concerned. To overcome this issue, the implant centre is equipped with conscious sedation machines, general anesthesia facility and a senior anesthetist on call.</li>
<li>The implant centre even has inpatient facilities, if you prefer round the clock attention and surely some savings on your accommodation.</li>
</ul>
</div>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Advantages of Permanent-fixed teeth-in-5 days protocol using KOS, BCS, BOI implants.</h4>
<div class="ulli">
<ul>
<li>The BCS implants can be placed immediately after extraction.</li>
<li>KOS, BCS and BOI Implants are designed to be immediately loaded. That means permanent teeth (not removable dentures) can be fixed in 5 days.</li>
<li>This implant system heals faster, when they are loaded immediately, so no waiting for 3-6 months, for Osseo integration.</li>
<li>As these are single piece implants, so no screw loosening, less chance of peri implantitis.</li>
<li>These implants can be placed flapless (except BOI, which needs a gum incision and suturing) so more patient comfort and faster healing assured.</li>
<li>BCS and BOI (basal) implants are smooth surface implants. The advantages of smooth surface implants are-more resistant to infections-less maintenance needed-less bone resorption around implants-less risk of periimplantitis&#8230;(which is a major reason for implant failure )</li>
<li>This protocol can be performed in controlled diabetic patients, smokers and patients with severe gum disease with equal success.</li>
<li>In a single visit&#8230;.both extraction and implant can be completed. So, a single surgical visit is required, compared to a two-staged implant protocol, thus avoiding multiple surgeries.</li>
<li>These implants are from highly reputed IDHE DENTAL, a SWISS company which is known for its perfection.</li>
<li>All patients can enjoy the benefits of permanent fixed bridges on implants within 5 days.</li>
<li>This improvised technique is equally reliable as the traditional techniques.</li>
<li>This protocol can often be used to replace a single tooth, several teeth, or a full mouth of teeth, upper or lower, with remarkable comfort, predictability and aesthetics.</li>
<li>The Permanent-fixed teeth-in-5 days protocol is completed in a single trip.</li>
</ul>
</div>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Comparison of different implant treatment techniques at FMS</h4>
<div class="ulli">
<ul>
<li>Versatility of the implant team is very crucial in implant treatment planning and execution.</li>
<li>No single implant procedure is ideal for every clinical situation. Many of the known implant practitioners perform only a single technique for every situation, because they are only familiar to that one technique. They not only promote that technique, they even put down other modalities. This is lack of expertise and knowledge.</li>
<li>No technique is superior to any other technique. The fact is that, different techniques and approaches are required for different clinical situations, for the ultimate success of implant.</li>
</ul>
</div>
<table class="table table-bordered ">
<tbody>
<tr>
<th>#</th>
<th>Permanent-fixedteeth-in-5days</th>
<th>All-on-4</th>
<th>All-on-6 / 8</th>
<th>Zygomatic implant</th>
</tr>
</tbody>
<tbody>
<tr>
<th>Relative risk of failure</th>
<td>Less risk, lifetime warranty</td>
<td>Less risk, lifetime warranty.</td>
<td>Less risk, lifetime warranty.</td>
<td>Mild risk of sinus infection, life time warranty</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Cantilevers</th>
<td>No cantilevers required</td>
<td>Technique designed for cantilevers on either side</td>
<td>No cantilevers required</td>
<td>Technique designed for cantilevers on either side</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Type of prosthesis</th>
<td>Metal Ceramic or Zirconium Ceramic Crown &amp; Bridge</td>
<td>Acrylic (initial), Final prosthesis with Titanium Hybrid Denture or Procera Implant Bridge</td>
<td>Metal Ceramic or Zirconium Ceramic Crown &amp; Bridge</td>
<td>Acrylic (initial), Final prosthesis with Titanium Hybrid Denture or Procera Implant Bridge</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Type of implants</th>
<td>Single piece Implants. Combination of compression screw, Basal Implants and Pterygoid Implants are used.</td>
<td>Two piece implants</td>
<td>Single piece Implants /Two piece implant</td>
<td>Two piece implants</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Screw loosening</th>
<td>No screw loosening, since single piece implants used</td>
<td>Screw loosening rarely a problem. But has an advantage of unscrewing the prosthesis to clean and polish</td>
<td>Combination</td>
<td>Screw loosening rarely a problem. But has an advantage of unscrewing the prosthesis to clean and polish</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Infections</th>
<td>Mild risk</td>
<td>Mild risk</td>
<td>Mild risk</td>
<td>Mild risk of Sinus infection</td>
</tr>
</tbody>
<tbody>
<tr>
<th>No of implants</th>
<td>6-8 for lower jaw. 8-10 for upper jaw.</td>
<td>4- 5 implants</td>
<td>6-8 implants</td>
<td>4-6 implants for upper jaw</td>
</tr>
</tbody>
<tbody>
<tr>
<th>No of teeth</th>
<td>12-14 teeth in each jaw. Teeth replaced till second molar</td>
<td>10 teeth (intial) 12-14 teeth (final)</td>
<td>12-14 teeth in each jaw. Teeth replaced till second molar</td>
<td>10 teeth (intial) 12-14 teeth (final)</td>
</tr>
</tbody>
<tbody>
<tr>
<th>No of trips</th>
<td>One trip, as permanent ceramic crown or bridge is placed in 5 days</td>
<td>Two trips. Final teeth fixed after 3-6 months of implant placement.</td>
<td>One/Two trips.</td>
<td>Two trips. Final teeth fixed after 3-6 months of implant placement.</td>
</tr>
</tbody>
<tbody>
<tr>
<th>Dental lab support</th>
<td>FMS in house CAD-CAM Dental Lab support</td>
<td>FMS in house CAD-CAM Dental Lab support</td>
<td>FMS in house CAD-CAM Dental Lab support</td>
<td>FMS in house CAD-CAM Dental Lab support</td>
</tr>
</tbody>
</table>
<h4>Single or multiple teeth replacement</h4>
<p>The risk factor of immediate crown in single implants is slightly higher compared to multiple implants. As such, in very few cases of single implants, we may place a temporary crown for 2-3 months and the permanent ceramic crown is then replaced later.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>