<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>PREVENTIVE DENTAL THERAPY</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">

<a href="../pediatric-dentistry-home/index.html" class="list-group-item">Pediatric Dentistry Home</a>

<a href="../pediatric-dentistry-team/index.html" class="list-group-item">Pediatric Dentistry Team</a>

<a href="../importance-of-milk-teeth/index.html" class="list-group-item">Importance Of Milk Teeth</a>

<a href="index.html" class="list-group-item active">Preventive Dental Therapy</a>

<a href="../early-childhood-caries/index.html" class="list-group-item">Early Childhood Caries</a>

<a href="../pit-and-fissure-sealants/index.html" class="list-group-item">Pit And Fissure Sealants</a>

<a href="../anti-decay-fluoride-application/index.html" class="list-group-item ">Anti-Decay Fluoride Application</a>
 
<a href="../pediatric-orthodontics/index.html" class="list-group-item ">Preventive Orthodontics</a>

<a href="../conscious-sedation/index.html" class="list-group-item ">Conscious Sedation</a>

 <a href="../pedo-emergency/index.html" class="list-group-item">Pediatric Dental Emergencies</a>

<a href="../frequently-asked-questions/index.html" class="list-group-item">Frequently Asked Questions</a>

<a href="../brushing-tips-for-children/index.html" class="list-group-item">Brushing Tips For Children</a> 


  </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>Preventive Dental Therapy</strong></h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Implementing oral hygiene measures no later than the time of eruption of the first primary tooth. Tooth brushing should be performed for children by a parent twice daily, using a soft toothbrush of age-appropriate size. All children under the age of three, a ‘smear’ or ‘rice-size’ amount of fluoridated toothpaste should be used. In all children ages three to six, a ‘pea-size’ amount of fluoridated toothpaste should be used.</p>
<p>Providing professionally-applied fluoride varnish treatments for children at risk for ECC.</p>
<p>Establishing a dental home within six months of eruption of the first tooth and no later than 12 months of age to conduct a caries risk assessment and provide parental education including anticipatory guidance for prevention of oral diseases</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>How to prevent cavities ?</strong></h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1300" height="918" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities45c2.jpg?fit=1300%2C918&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities.jpg?w=1300&amp;ssl=1 1300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities.jpg?resize=300%2C212&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities.jpg?resize=768%2C542&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities.jpg?resize=1024%2C723&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/prevent-cavities.jpg?fit=1300%2C918&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Good oral hygiene removes bacteria and the left over food particles that combine to create cavities. For infants, use a wet gauze or clean washcloth to wipe the plaque from teeth and gums. Avoid putting your child to bed with a bottle filled with anything other than water. For older children, brush their teeth at least twice a day. Also, watch the number of snacks containing sugar that you give your children.</p>
<p>The American Academy of Pediatric Dentistry recommends visits every six months to the pediatric dentist, beginning at your child’s first birthday.  Routine visits will start your child on a lifetime of good dental health.</p>
<p>Your Pediatric dentist may also recommend protective sealants or home fluoride treatments for your child.  Sealants can be applied to your child’s molars to prevent decay on hard to clean surfaces.</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>PRE TREATMENT</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1359" height="906" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-12b70.jpg?fit=1359%2C906&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-1.jpg?w=1359&amp;ssl=1 1359w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-1.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-1.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-1.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-1.jpg?fit=1359%2C906&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1243" height="829" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-24f66.jpg?fit=1243%2C829&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-2.jpg?w=1243&amp;ssl=1 1243w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-2.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-2.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-2.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-2.jpg?fit=1243%2C829&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1236" height="824" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3045a.jpg?fit=1236%2C824&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3.jpg?w=1236&amp;ssl=1 1236w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/pretratment-3.jpg?fit=1236%2C824&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>POST TREATMENT</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1690" height="1100" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-10e83.jpg?fit=1690%2C1100&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-1.jpg?w=1690&amp;ssl=1 1690w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-1.jpg?resize=300%2C195&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-1.jpg?resize=768%2C500&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-1.jpg?resize=1024%2C667&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-1.jpg?fit=1690%2C1100&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1396" height="930" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-22869.jpg?fit=1396%2C930&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-2.jpg?w=1396&amp;ssl=1 1396w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-2.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-2.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-2.jpg?resize=1024%2C682&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-2.jpg?fit=1396%2C930&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1572" height="1048" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3c4df.jpg?fit=1572%2C1048&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3.jpg?w=1572&amp;ssl=1 1572w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3.jpg?resize=1024%2C683&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/post-treatment-3.jpg?fit=1572%2C1048&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>OUR GOALS</strong></h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul style="list-style-type: square;">
<li>Create awareness about the importance of milk teeth and prevention programs to avoid early childhood caries</li>
<li>Decrease the child&#8217;s anxiety level and to provide painless dental treatment under inhalation sedation (laughing gas)</li>
<li>Incorporate preventive and interceptive orthodontics at the early mixed dentition stage, to prevent severely malalligned teeth / growth abnormalities of the jaw, in the growing children.</li>
</ul>

		</div>
	</div>

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6018 current_page_item menu-item-6345"><a href="index.html" aria-current="page">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>