<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Prosthodontics</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">




<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                  <a href="index.html" class="list-group-item active">Prosthodontics Home</a> 
<a href="../prosthodontic-team/index.html" class="list-group-item ">Prosthodontics Team</a> 
<a href="prosthodontics-infrastructure.html" class="list-group-item ">Infrastructure</a> 
<a href="../complete-denture/index.html" class="list-group-item ">Complete Denture</a> 
<a href="../bps-dentures/index.html" class="list-group-item ">BPS Denture</a> 
<a href="../flexi-denture/index.html" class="list-group-item ">Flexi Denture</a> 
<a href="../over-denture/index.html" class="list-group-item ">Over Denture</a> 

<a href="../fixed-partial-denture/index.html" class="list-group-item "> Fixed Partial Denture</a>                                
<a href="../metal-free-crown/index.html" class="list-group-item ">Metal Free Crown</a> <a href="../cad-cam/index.html" class="list-group-item">CAD CAM</a> 
<a href="maxillofacial-prosthodontics.html" class="list-group-item">Maxillofacial Prosthodontics</a> 
<a href="implant-prosthodontics.html" class="list-group-item ">Implant Prosthodontics</a> 
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">




        





</div>



	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img  jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/1aa29.jpg?fit=387%2C291&amp;ssl=1" width="387" height="291" alt="1" title="1" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/1.jpg?fit=387%2C291&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><strong><span style="color: #800000; font-size: 14pt;">We are Prosthodontists&#8230;..</span></strong></p>
<p style="text-align: center;"><strong><span style="color: #800000; font-size: 14pt;">OUR JOB<em> …………..</em><span style="font-family: 'times new roman', times, serif; font-size: 18pt;">is recreating your precious smiles!</span></span></strong></p>
<p style="text-align: center;">Prosthodontics is a recognized dental specialty that deals with the replacement of missing or deficient teeth and/or related craniofacial tissues. Where bone, gums and teeth are destroyed, a prosthodontist can re-create the form and function that has been lost and help restore quality of life.</p>
<p><span style="color: #800000; font-size: 14pt;"><strong>Routine treatments provided by a Prosthodontist include:</strong></span></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/29c8d.png?fit=476%2C318&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Complete and partial dentures</h4>
      
    </div>

    


  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/4-12bde.jpg?fit=320%2C351&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Over dentures</h4>
      
    </div>

    


  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/5-13f49.jpg?fit=520%2C264&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Laminate and Veneers </h4>
      
    </div>

    


  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_2-1" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/30370.png?fit=267%2C226&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Crown and bridge work</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>