<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Zygoma Implants</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../dental-implants-homepage/index.html" class="list-group-item">Dental Implants Home</a> 
<a href="../why-dental-implants/index.html" class="list-group-item">Why Dental Implants?</a>
<a href="../best-dental-implant-center-in-india/index.html" class="list-group-item">The Implant Center</a>
<a href="../best-implant-dentist-in-india/index.html" class="list-group-item">FMS Implant Team</a> 
<a href="../dental-implant-cost/index.html" class="list-group-item">Dental Implant Cost</a>
<a href="../single-tooth-dental-implant-in-india/index.html" class="list-group-item">Single Tooth Replacement with Dental Implant</a>
<a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
<a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
<a href="../teeth-in-a-day/index.html" class="list-group-item">Teeth In A Day</a>
<a href="../permenant-fixed-teeth-in-5-days/index.html" class="list-group-item">Permenant Fixed Teeth In 5 Days</a>
<a href="../full-mouth-dental-implants/index.html" class="list-group-item">Full Mouth Dental Implants</a>
<a href="../all-on-4-dental-implants/index.html" class="list-group-item">All On 4 Dental Implant Procedure</a>
<a href="../boi-implants/index.html" class="list-group-item">BOI Implants</a>
<a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
<a href="index.html" class="list-group-item active">Zygoma Implants</a>                        
<a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
<a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">Cone Beam 3D CT Scan</a>
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a>
<a href="../implantology-frequently-asked-questions/index.html" class="list-group-item">FAQs</a> 
<a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>The Zygomatic Implant Technique</h3>
<h4>for Atrophic Maxilla (Upper Jaw)</h4>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="517" height="237" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Zygomaimplantillustration9187.jpg?fit=517%2C237&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Zygomaimplantillustration.jpg?w=517&amp;ssl=1 517w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Zygomaimplantillustration.jpg?resize=300%2C138&amp;ssl=1 300w" data-lazy-sizes="(max-width: 517px) 100vw, 517px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Zygomaimplantillustration.jpg?fit=517%2C237&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p align="center">Are you not a candidate for dental implants <strong>due to lack of bone in the upper jaw, </strong>then<strong> Zygomatic implants </strong>might help you<strong>&#8230;&#8230;A Unique Solution for Rehabilitation of the Severely Resorbed Maxilla !</strong></p>
<p>Zygomatic Dental Implants are embedded into the cheekbones, elminating the need for bone grafting and/or sinus lifts prior to getting dental implants. A specially designed dental implant (up to 55 mm instead ofthe usual 10mm or 15 mm for normal dental implants) can be placed into the cheekbone (medically referred to as Zygoma) instead of the jaw bone, which benefits those who don&#8217;t have enough jaw bone to sustain regular implants.<br>
After the long zygomatic implants are anchored on the upper jaw and inside the zygomatic bone, a provisional prosthesis can be fixed immediately.</p>
<p>Grafting procedures involving the severely resorbed maxilla have always been a challenge for both the clinician and the patient. Due to extreme bone loss in the maxillary molar regions, patients would normally have needed bilateral posterior bone grafts with <strong>sinus lift surgery</strong>. Hence, the possibility of an additional surgery with prolonged treatment time.</p>
<p>The development of the Zygoma implant presents a unique alternative for patients who wish to avoid bone grafting, sinus lifts and still get dental implants, as the implants can be placed in areas with only single surgical procedure and eliminates the need for grafting</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>Advantages of zygomatic implants (over sinus lift/ graft procedure)</strong></h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>a) Avoidance of an additional surgery.</p>
<p>b) Less duration of treatment</p>
<p>C) The success rate, which, according to studies is of 100% after 5 years.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Branemark and his team treated the first patient with zygomaticus implants in 1989. In a follow up study of implants in function up to ten years, 97 implants were evaluated. The cumulative success rates for this new implant was 96.8%.<br>
<strong>With Zygomatic implants, provisional denture is fixed straight away; so that you can walk away with a brand new smile.</strong></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Why Zygoma Implants</h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul style="list-style-type: square;" type="disc">
<li>In severe bone resorption cases.</li>
<li>A graftless solution.</li>
<li>Immediate function and short treatment time.</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4 style="text-align: center;"><strong>Phase I</strong></h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="81" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro1d6ee.jpg?fit=120%2C81&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro1.jpg?fit=120%2C81&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8211; Diagnosis and planning with panoramic x-rays/ CBCT scans</p>
<p>&#8211; Necessary health checks.</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="81" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro2d6ee.jpg?fit=120%2C81&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro2.jpg?fit=120%2C81&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Tooth extraction (if required) and dental implant placement, followed by immediate provisional denture (fixed).</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4 style="text-align: center;"><strong>Phase I</strong>I</h4>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="81" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro3d6ee.jpg?fit=120%2C81&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygopro3.jpg?fit=120%2C81&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>&#8211; Diagnosis and planning with panoramic x-rays/ CBCT scans</p>
<p>&#8211; Necessary health checks.</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Factors to consider for Zygoma-Implants</h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<ul style="list-style-type: square;" type="disc">
<li>Clinically symptom free and pathology free sinuses</li>
<li>Appropriate radiographic imaging of the maxillary sinuses and zygoma regions</li>
<li>Possibility of placing at least two ordinary implants in the frontal maxilla</li>
</ul>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="592" height="216" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygomaimplantxray193d.jpg?fit=592%2C216&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygomaimplantxray.jpg?w=592&amp;ssl=1 592w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygomaimplantxray.jpg?resize=300%2C109&amp;ssl=1 300w" data-lazy-sizes="(max-width: 592px) 100vw, 592px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/zygomaimplantxray.jpg?fit=592%2C216&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4><strong>Scientific documentation of zygomatic implants</strong></h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Hirsch JM, Ohrnell LO, Henry PJ, Andreasson L, Brånemark PI, Chiapasco M, et al. A clinical evaluation of the Zygoma fixture: one year of follow-up at 16 clinics. J Oral Maxillofac Surg. 2004 Sep;62(9 Suppl 2):22-9.<br>
Malevez C, Daelemans P, Adriaenssens P, Durdu F. Use of zygomatic implants to deal with resorbed posterior maxillae. Periodontol 2000. 2003;33:82-9.<br>
Brånemark PI, Gröndahl K, Ohrnell LO, Nilsson P, Petruson B, Svensson B, et al. Zygoma fixture in the management of advanced atrophy of the maxilla: technique and long-term results. Scand J Plast Reconstr Surg Hand Surg. 2004;38(2):70-85.<br>
Malevez C, Abarca M, Durdu F, Daelemans P. Clinical outcome of 103 consecutive zygomatic implants: a 6-48 months follow-up study. Clin Oral Implants Res. 2004 Feb;15(1):18-22</p>
<p>Nakai H, Okazaki Y, Ueda M. Clinical application of zygomatic implants for rehabilitation of the severely resorbed maxilla: a clinical report. Int J Oral Maxillofac Implants. 2003 Jul-Aug;18(4):566-70.</p>
<p>Bothur S, Jonsson G, Sandahl L. Modified technique using multiple zygomatic implants in reconstruction of the atrophic maxilla: a technical note. Int J Oral Maxillofac Implants. 2003 Nov-Dec;18(6):902-4</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3233 current_page_item menu-item-6537"><a href="index.html" aria-current="page">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>