<div class="head_panel">
    <div class="parallax-window ">


        <div class="hgroup">

            <div class="title diagonal-bgcolor-trans   ">
                <div class="container">
                    <h1>Employee Login</h1>
                </div>
            </div>

            <div class="subtitle body-bg_section hidden">
                <div class="container">
                    <p>Fill in the Form or call us directly at <b> 00 91 8885060780</b></p>
                </div>
            </div>

        </div>


    </div>
</div>


<section class="vc_row wpb_row vc_row-fluid light_section">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section margin_bottom_grid">
                <div class="wpb_wrapper">
                    <div>
                        <form action="/employee/login" method="post" enctype="multipart/form-data" id="loginForm">
                            <p>Email Address: (*)<br>
                                <span class="wpcf7-form-control-wrap email-71"><input type="email" name="email" 
                                        size="40"
                                        class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email"
                                        aria-required="true" aria-invalid="false"></span> </p>
                            
                            <p style="margin-bottom: 10px;">Password: (*)<br>
                                <span class="wpcf7-form-control-wrap email-71"><input type="password" name="password" 
                                        size="40"
                                        class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email"
                                        aria-required="true" aria-invalid="false"></span> </p>

                            <p error-for="email" class="alert alert-danger"></p>

                            <p><input type="submit" value="Sign In"
                                    class="btn btn-primary"></p>
                                    <p><br></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>