null<div class="main foo" data-colorset="foo"><div class="page_title_in_content skincolored_section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section_header fancy">
				<h1 class="post_title">Best Flap Surgery in Cochin Kerala</h1>							</div>
		</div>
	</div>
</div><section class="vc_off sidebar_off no_top_padding"><div class="container"><div class="row"><div class="col-md-12"><main class="main bg-custom-template " role="main">
	<div class="bge-content-main">
		<article id="post-2470" class="bg-page-article post-2470 page type-page status-publish hentry">
			
			<div class="bge-entry-content">
				<div class="boldgrid-section" bis_size="{&quot;x&quot;:45,&quot;y&quot;:81,&quot;w&quot;:987,&quot;h&quot;:840,&quot;abs_x&quot;:210,&quot;abs_y&quot;:936}">
<div class="container" bis_size="{&quot;x&quot;:53,&quot;y&quot;:81,&quot;w&quot;:970,&quot;h&quot;:840,&quot;abs_x&quot;:218,&quot;abs_y&quot;:936}">
<div class="row" bis_size="{&quot;x&quot;:53,&quot;y&quot;:81,&quot;w&quot;:970,&quot;h&quot;:840,&quot;abs_x&quot;:218,&quot;abs_y&quot;:936}">
<div class="col-md-12 col-xs-12 col-sm-12" bis_size="{&quot;x&quot;:53,&quot;y&quot;:81,&quot;w&quot;:970,&quot;h&quot;:840,&quot;abs_x&quot;:218,&quot;abs_y&quot;:936}">
<p>Sadly, when gum disease begins, many people are unaware that they have it and start to notice only when the symptoms like bleeding gums, dull annoying pain in the gums, bad breath, appearance of gaps in between your teeth, mobility of teeth etc are felt.There are many factors which lead to gum infection in a person, most common being the build up of debris around the tooth surfaces called plaque or tartar which happens because of improper tooth brushing or flossing. When plaque builds up on a tooth, bacteria in the plaque attack the bone around the tooth as well as the fibers, which connect the tooth to the bone. As the fibers and bone are destroyed, a space forms between the gum and the tooth called a pocket. These pockets remain as uncleansable areas where the bacteria proliferate and the pockets keep progressing. If left untreated, this might eventually lead to loss of tooth as the complete support of the tooth is lost. Lots of studies happening in this field also confirms that gum diseases can cause other bodily issues such as diabetes, heart problems, premature births in pregnant females etc.</p>
<p><strong>When do you need a flap surgery?</strong></p>
<p>-Normally a minimal to moderate gum infection can be handled by scaling and deeper cleaning called curettage with or without use of lasers. But when the extent of gum infection is severe and the instruments used for deeper cleaning will not be able to penetrate to the deepest areas of infection or when regeneration of lost bone is possible using bone graft materials, then a Flap surgery is indicated.</p>
<p><strong>What exactly do we do during a flap surgery?</strong></p>
<p>-Once the area is made numb with local anesthesia, we open/ raise the gum back so that we can visualize tartar that may be attached to the roots.<br>
-we then remove the tartar and scoop out the diseased and dead tissue from the bone defects and plane the surface of the tooth to make it smooth.<br>
-Lasers are used to further create a sterilized environment ensuring complete removal of bacteria and other toxic agents.<br>
-The bone defects are filled with bone grafts if regeneration is possible or if not then its contoured using bone files.<br>
-The gum is placed back in its original position and stitches are placed.<br>
-Post operative medications and instructions are given to make you feel comfortable and to help you take care of the surgical area.</p>
<p>Gum infections initially start off as ginigivitis when it involves only the gums and it is called periodontitis when it spreads from the gums to the underlying bone there by leading to bone loss around the tooth eventually leading to the loss of tooth. Flap surgery is nothing but the procedure of opening the gums to expose the roots of the teeth with very deep pockets thereby providing easier access and visibility. These pockets are filled with tartar and infected dead tissues which can be thoroughly cleaned and disinfected and if possible regenerated using bone grafts.<br>
Periodontitis is a form of gum infection involving the supporting structures of the tooth ie the periodontium, which consists of gums and the underlying bone around the tooth.</p>
</div>
</div>
</div>
</div>
			</div>
					</article>

			</div>
	</main>
</div></div></div></section></div>