<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Tourism India</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="/medical-tourism-india" class="list-group-item ">Medical Tourism India</a>   
                            <a href="/dental-tourism-india" class="list-group-item active">Dental Tourism India</a>
                            <a href="/dental-tourism-hyderabad" class="list-group-item">Dental Tourism Hyderabad</a>
                            <a href="/dental-tourism-cochin" class="list-group-item ">Dental Tourism Cochin</a>
                            <a href="/why-fms" class="list-group-item">Why FMS ?</a> 
                            <a href="/international-patient-customer-care" class="list-group-item">International Patient Customer Care</a> 
                            <a href="/visa-travel-and-accommodation" class="list-group-item">Visa,Travel & Accomodation</a>
                            <a href="/explore-india" class="list-group-item">Explore India</a> 
                            <a href="/plan-your-trip" class="list-group-item">Plan Your Trip</a>
                        </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #000000;"><strong>DENTAL TOURISM</strong><strong> IN INDIA</strong></span></p>
<p style="text-align: justify;">India is one of the leading players in the dental tourism/healthcare facilitation industry. It is increasingly emerging as the destination of choice for a wide range of dental procedures. There are numerous advantages of coming to India for treatment. Some of the advantages are:</p>
<ul style="text-align: justify;">
<li>Internationally accredited dental facilities using the latest technologies.</li>
<li>Highly qualified Dentists/Implantologists/Maxillofacial surgeons and hospital support staff.</li>
<li>Significant cost savings compared to domestic dental healthcare.</li>
<li>Dental treatment costs in India are lower by at least 60-80% when compared to similar procedures in USA and the UK.</li>
<li>No Wait Lists.</li>
<li>Fluent English speaking staff.</li>
<li>Can easily be combined with a holiday / business trip.</li>
</ul>
<p style="text-align: justify;">Thousands of people every year fly from Middle East, USA, and Europe to tour places in India for a grand holiday and dental care. The cost of dental care in the western countries is approximately 10 times more than that in India. Dental tourism in India offers several packages. However, these will be based on the requirements of the person and their holiday needs.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center image_hover skincolored_section    with_button ">

  <div class="figure ">


      <a href="http://incredibleindia.org/" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/india-39ba1.jpg?fit=550%2C422&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Incredible India</h4>
      
    </div>

    

    <div class="link centered">
        <a href="http://incredibleindia.org/" class="btn btn-xs btn-secondary"><strong>Know more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center image_hover skincolored_section    with_button ">

  <div class="figure ">


      <a href="http://www.tourism-of-india.com/" title target> 

        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/india-45767.jpg?fit=800%2C448&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Tourism India</h4>
      
    </div>

    

    <div class="link centered">
        <a href="http://www.tourism-of-india.com/" class="btn btn-xs btn-secondary"><strong>Know more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_sandy_brown vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Regular Dental Procedures</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_message_box vc_message_box-solid-icon vc_message_box-rounded vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="vc_pixel_icon vc_pixel_icon-explanation"></i></div><p style="text-align: justify;">Dental Scanning &#8211; CBCT Scan</p>
<p style="text-align: justify;">Dental Implants</p>
<p style="text-align: justify;">Bridges</p>
<p style="text-align: justify;">Zirconia / metal free crowns</p>
<p style="text-align: justify;">Teeth Whitening</p>
<p style="text-align: justify;">Tooth Contouring and Reshaping</p>
<p style="text-align: justify;">Composite and Porcelain Tooth Veneers</p>
<p style="text-align: justify;">Root Canals</p>
<p style="text-align: justify;">Surgical removal of wisdom teeth under GA</p>
<p style="text-align: justify;">Vertical and horizontal bone grafting</p>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_message_box vc_message_box-solid-icon vc_message_box-rounded vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="vc_pixel_icon vc_pixel_icon-explanation"></i></div><p style="text-align: justify;">Gum Grafting</p>
<p style="text-align: justify;">Invisalign orthodontics</p>
<p style="text-align: justify;">Fluoride treatments for children</p>
<p style="text-align: justify;">Orthognathic surgery (cosmetic jaw surgery)</p>
<p style="text-align: justify;">Combined prostheses with milling (CAD-CAM)</p>
<p style="text-align: justify;">Dental Bonding</p>
<p style="text-align: justify;">Dental Caps / Crowns</p>
<p style="text-align: justify;">Dental Fillings</p>
<p style="text-align: justify;">Implant supported Over dentures</p>
<p style="text-align: justify;">BPS Dentures</p>
</div>
                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><strong>Dentists can charge $300 to $400 for a Dental Filling in USA &amp; Europe. It costs only $20 to $40 in India. </strong><strong>A Root Canal is $3,000 in the West, but only $150 to $200 in India. Dentures can cost $3000 overseas but only $ 500 in India. </strong></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Reiner Kuske (New Zealand)</em></span></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/Ewltcva3MHk?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Rashid Al Salami (Sharjah UAE)</em></span></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="375" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/yUDsH6DtZvw?start=59&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Chandini Camlesh (London, United Kingdom)</em></span></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/JzRr0LoNe9c?start=45&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Rasammy (China)</em></span></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/rup_dad59U4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Sulaiman Al Khudhouri (Oman)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/BhF4cry-QX4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Sammy Kilonzo (Kenya)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/47t6GQWPhwo?start=11&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Vadym (Ukraine)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/BCnSprEOssA?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Basheer Mohammed (UAE)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/c5ppwGvM4kY?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>