<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Visa,Travel and Accommodation</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid white_section transparent_film no_bottom_padding vcenter bgimage bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="/medical-tourism-india" class="list-group-item ">Medical Tourism India</a>   
                            <a href="/dental-tourism-india" class="list-group-item">Dental Tourism India</a>
                            <a href="/dental-tourism-hyderabad" class="list-group-item">Dental Tourism Hyderabad</a>
                            <a href="/dental-tourism-cochin" class="list-group-item ">Dental Tourism Cochin</a>
                            <a href="/why-fms" class="list-group-item">Why FMS ?</a> 
                            <a href="/international-patient-customer-care" class="list-group-item">International Patient Customer Care</a> 
                            <a href="/visa-travel-and-accommodation" class="list-group-item active">Visa,Travel & Accomodation</a>
                            <a href="/explore-india" class="list-group-item">Explore India</a> 
                            <a href="/plan-your-trip" class="list-group-item">Plan Your Trip</a>
                        </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>VISA</strong></p>
<ul>
<li>Tourists wishing to visit India will normally be granted <span style="color: #800000;">Tourist Visa</span>, effective from the date of issue. Tourist Visa is non-extendible and non-convertible. Travel Agents who have to visit India frequently may be granted tourist Visa for a longer duration</li>
<li>Business Visa is normally granted for 3 or 6 months. However, multiple-entry Business Visa for up to 2 years validity may be granted to technicians/experts going to India in pursuance of bilateral agreements or joint venture projects having government approval.</li>
<li>Student and Employment Visa Student Visa can be obtained on furnishing proof of admission to recognized Universities/Institutions in India. Employment Visa can also be obtained on furnishing of proof of employment with companies in India.</li>
<li>Transit Visa are valid for halts of up to 72 hours in India within 15 days from the date of issue of the visa and must be obtained before departure. Transit Visa cannot be obtained from immigration counters at ports of entry in India. Evidence of onward travel to a destination outside India is required.</li>
<li>Entry Visa are issued to persons of Indian origin for a duration of up to 5 years. These can be obtained, depending on the purpose of visit and eligibility, on a case by case basis.</li>
</ul>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section transparent_film no_bottom_padding vcenter bgimage bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		<h2 class="wpb_heading wpb_singleimage_heading">HYDERABAD LOCATION MAP</h2>
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="290" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/hyd-location-map8570.jpg?fit=300%2C290&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/hyd-location-map.jpg?fit=300%2C290&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><b>HYDERABAD TOURISM – ON WEBSITE</b></h3>
<ul>
<li>  Visa assistance – <a href="https://indianvisaonline.gov.in/" target="_blank" rel="noopener">www.indianvisaonline.gov.in </a>/ <a href="http://www.passport.gov.in/" target="_blank" rel="noopener">www.passport.gov.in</a></li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Information on embassy in your country –<a href="http://www.meaindia.nic.in/">www.meaindia.nic.in</a></li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Air Ticket booking with Discounts –<a href="http://www.yatra.com/">www.yatra.com</a></li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Hotel Booking at Hyderabad– <a href="https://www.tripadvisor.in/">www.tripadvisor.in</a></li>
</ul>
<p>&nbsp;</p>
<ul>
<li> India tourism –<a href="http://www.incredibleindia.org/">www.incredibleindia.org</a></li>
</ul>
<p>&nbsp;</p>
<ul>
<li>About the city –<a href="http://www.telanganatourism.gov.in/">www.telanganatourism.gov.in</a></li>
</ul>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid white_section transparent_film no_padding vcenter bgimage bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		<h2 class="wpb_heading wpb_singleimage_heading">CONNECTIVITY</h2>
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="685" height="299" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/International-Airportc5c7.jpg?fit=685%2C299&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/International-Airport.jpg?w=685&amp;ssl=1 685w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/International-Airport.jpg?resize=300%2C131&amp;ssl=1 300w" data-lazy-sizes="(max-width: 685px) 100vw, 685px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/International-Airport.jpg?fit=685%2C299&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>TRAVEL</strong></p>
<ul class="ul-content visa-travel">
<li><b><a class="visa-travel" href="http://www.hyderabad.aero/traveller.aspx" target="_blank" rel="noopener">Rajiv Gandhi International Airport</a></b> , also known as <b>Hyderabad International Airport</b>, or simply <b>RGIA</b>, is an international airport serving the metropolis of <b>Hyderabad located at Shamshabad</b>, about 22 km (14 mi) south of Hyderabad.</li>
<li>Hyderabad, a potential transit hub of South Asia, is centrally located with well connected national and international air carriers. One can reach Hyderabad from anywhere in the world with ease of time and convenience.</li>
<li>International flights that directly connect to Hyderabad arrive at International terminal where the delegates get a homely welcome while they go through necessary Immigration and Customs formalities.</li>
<li>Hyderabad is also well connected to major metro cities throughout India by domestic airlines.</li>
<li>Rail and Road Connectivity from Hyderabad to all major cities of India is also noteworthy. Trains leaving from Nampally and Kachiguda can also be boarded at Secunderabad Railway Station.</li>
<li>Apart from normal taxi and cab services, Pushpak Airport liner run by APSRTC connects Rajiv Gandhi International airport with major parts of the city. APSRTC also provides non-air-conditioned bus services at much lower fares.</li>
<li>The 11.6 km PV Narasimha Rao Expressway from Mehdipatnam to Rajendranagar provides dedicated high-speed travel to the airport and is the second longest flyover in India. The Nehru Outer Ring Road serves as an controlled-access highway from Gachibowli to Shamshabad.</li>
</ul>
<p>.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div>
<h3 style="font-weight: bolder; color: #e66a2c; border-bottom-style: dashed; border-bottom-color: rgba(255, 0, 0, 0.27); padding: 20px 0px;">Accommodation</h3>
<p>If you are an international patient and are travelling to Hyderabad for dental or medical treatment, accommodation will often be one of the top concerns when planning your trip. Many of our patients combine their dental appointments with medical appointments with a holiday or business trip to maximize their time in warm and sunny Hyderabad.</p>
<p>There are different types of accommodation options in Hyderabad, ranging from 5 star hotels to budget hotels, to room rentals and backpacker dorms. Many of these are within walking distance to the FMS DENTAL Hospital or a taxi / bus ride away.</p>
<p><b>These include:</b></p>
</div>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="360" height="128" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star-41ecc.jpg?fit=360%2C128&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star-4.jpg?w=360&amp;ssl=1 360w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star-4.jpg?resize=300%2C107&amp;ssl=1 300w" data-lazy-sizes="(max-width: 360px) 100vw, 360px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star-4.jpg?fit=360%2C128&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.hyderabadmarriott.com/" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/marriotthotelhyderabadouter657d.jpg?fit=356%2C247&amp;#038;ssl=1" alt="Marriott Hotel">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Marriott Hotel</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address : Tank Bund Road,<br>
Opposite Hussain Sagar Lake<br>
Phone No. : 040-27522999</p></div> 

    <div class="link centered">
        <a href="http://www.hyderabadmarriott.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.hotelavasa.com/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/avasa7085.jpg?fit=1402%2C894&amp;#038;ssl=1" alt="Hotel AVASA">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel AVASA</h4>
       <p>Hyderabad,India</p> 
    </div>

     <div class="desc"><p>HUDA Techno Enclave, Madhapur<br>
Phone No. : 040-6728 2828</p></div> 

    <div class="link centered">
        <a href="http://www.hotelavasa.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.tajhotels.com/" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/taj-krishnac84c.jpg?fit=2048%2C896&amp;#038;ssl=1" alt="Hotel Taj Krishna">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel Taj Krishna</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address : Road No. 1, Banjara Hills, Hyderabad<br>
Phone No. : 040-66662323</p></div> 

    <div class="link centered">
        <a href="http://www.tajhotels.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.itchotels.in/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/kakatiyaf681.jpg?fit=840%2C460&amp;#038;ssl=1" alt="Hotel ITC Kakatiya">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel ITC Kakatiya</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address : 6-3-1187, Begumpet<br>
Phone No. : 040-23400132</p></div> 

    <div class="link centered">
        <a href="http://www.itchotels.in/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="361" height="135" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star57a63.jpg?fit=361%2C135&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star5.jpg?w=361&amp;ssl=1 361w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star5.jpg?resize=300%2C112&amp;ssl=1 300w" data-lazy-sizes="(max-width: 361px) 100vw, 361px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star5.jpg?fit=361%2C135&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.novotelhyderabad.com/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/novotel4ad4.jpg?fit=448%2C298&amp;#038;ssl=1" alt="Hotel Novotel">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel Novotel</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address :Near P.O Bag 1101 Kondapur, HITEC City<br>
Phone No : +91 40-66824422</p></div> 

    <div class="link centered">
        <a href="http://www.novotelhyderabad.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.thegolkondahotel.com/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/golcondad875.jpg?fit=448%2C245&amp;#038;ssl=1" alt="The Golkonda Hotel">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>The Golkonda Hotel</h4>
       <p>Hyderabad,India</p> 
    </div>

     <div class="desc"><p>Address : Banjara Hills, Masab Tank<br>
Phone No : +91 40-66110101</p>
<p></p></div> 

    <div class="link centered">
        <a href="http://www.thegolkondahotel.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.daspallahotels.com/" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/daspalla4ad4.jpg?fit=448%2C298&amp;#038;ssl=1" alt="DASPALLA HOTEL">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>DASPALLA HOTEL</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address : Road No. 37, Jubilee Hills,Hyderabad.<br>
Phone No. : +91 40-6654 5678, 89789 34567</p></div> 

    <div class="link centered">
        <a href="http://www.daspallahotels.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.marigoldhotels.com/home" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/maric802.jpg?fit=448%2C238&amp;#038;ssl=1" alt=" Marigold by Green Park">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4> Marigold by Green Park</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address : 6-3-1187, Begumpet, Hyderabad<br>
Phone No : +91 40 23400132</p></div> 

    <div class="link centered">
        <a href="http://www.marigoldhotels.com/home" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="361" height="127" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star6876c.jpg?fit=361%2C127&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star6.jpg?w=361&amp;ssl=1 361w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star6.jpg?resize=300%2C106&amp;ssl=1 300w" data-lazy-sizes="(max-width: 361px) 100vw, 361px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/star6.jpg?fit=361%2C127&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://minervagrand.com/Banjara/home.htm" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/minerva5876.jpg?fit=448%2C232&amp;#038;ssl=1" alt="Hotel Minerva Grand Banjara">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel Minerva Grand Banjara</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>8-2-616,Road No 11,Banjara Hills<br>
Tel.: + 91 40 6719 8888 / 6612 7373</p></div> 

    <div class="link centered">
        <a href="http://minervagrand.com/Banjara/home.htm" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="https://www.lemontreehotels.com/lemon-tree-hotel/hyderabad/gachibowli-hyderabad.aspx" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/lemon-tree363b.jpg?fit=448%2C252&amp;#038;ssl=1" alt="Lemon Tree Hotel">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Lemon Tree Hotel</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address: Survey No. 115/1, Financial District, Nanakram Guda, Gachibowli<br>
Phone: 040 4414 1414</p></div> 

    <div class="link centered">
        <a href="https://www.lemontreehotels.com/lemon-tree-hotel/hyderabad/gachibowli-hyderabad.aspx" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.jubileeridge.com/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/wetern-jubileef8e7.jpg?fit=448%2C234&amp;#038;ssl=1" alt="Best Western Jubilee Ridge Hotel">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Best Western Jubilee Ridge Hotel</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address: Plot No. 38 &amp; 39, Kavuri Hills, Madhapur<br>
Phone: 040 4567 9999</p></div> 

    <div class="link centered">
        <a href="http://www.jubileeridge.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  dark_section boxed_special   with_button ">

  <div class="figure ">


      <a href="http://www.nkmsgrand.com/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/nkm7d99.jpg?fit=448%2C95&amp;#038;ssl=1" alt="Hotel NKM's Grand">   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Hotel NKM's Grand</h4>
       <p>Hyderabad, India</p> 
    </div>

     <div class="desc"><p>Address: 6-3-563/31/1, Off Taj Deccan Road Erramanzil, Somajiguda<br>
Phone: 040 6619 0462</p></div> 

    <div class="link centered">
        <a href="http://www.nkmsgrand.com/" class="btn btn-xs btn-secondary"><strong>Find more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>