<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>WHY FMS</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="/medical-tourism-india" class="list-group-item ">Medical Tourism India</a>   
                            <a href="/dental-tourism-india" class="list-group-item">Dental Tourism India</a>
                            <a href="/dental-tourism-hyderabad" class="list-group-item">Dental Tourism Hyderabad</a>
                            <a href="/dental-tourism-cochin" class="list-group-item ">Dental Tourism Cochin</a>
                            <a href="/why-fms" class="list-group-item active">Why FMS ?</a> 
                            <a href="/international-patient-customer-care" class="list-group-item">International Patient Customer Care</a> 
                            <a href="/visa-travel-and-accommodation" class="list-group-item">Visa,Travel & Accomodation</a>
                            <a href="/explore-india" class="list-group-item">Explore India</a> 
                            <a href="/plan-your-trip" class="list-group-item">Plan Your Trip</a>
                        </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #008000;"><strong><span style="color: #f59402;">WHY</span> <span style="color: #592e04;">FMS</span></strong></span> – <span style="color: #800000;"><em>‘<strong>Face Makeover &amp; Smile Clinics’</strong></em> </span><span style="color: #ff6f00;"> for dental care:</span></p>
<p style="text-align: justify;"><strong>FMS International Dental Center is equipped with world class infrastructure and team of senior dental specialists.</strong></p>
<p style="text-align: justify;">FMS is the first multi-speciality Dental Center started in India in the year 1993. A chain of dental clinics was established under the aegis of FMS, on par international standards.</p>
<p style="text-align: justify;">Today, FMS Dental hospitals are one of the biggest dental health care providers in <em>South East Asia where more than 100 dental specialists work.</em> FMS Dental is a group of 10 multi-speciality dental centers including a Dental Hospital, supported with a Dental School and the laboratory V-dental arts, located in the twin cities of Hyderabad-Secunderabad, India. The dental hospital facility at Koti also has an operation theater with advanced surgery equipments, ICU, inpatient facility etc.</p>
<p style="text-align: justify;">Going one step forward, FMS has established a dedicated center for our international patients with the world’s best dental technology and equipment, highly qualified specialists from all the fields of dentistry, ergonomically designed clinic spaces with high-end dental operatories. This center has got 9 high-end dental operatories from CASTELLINI and SKANRAY with private lounges. Other high-end equipment like FOTONA Er:YAG LASERs, Biopak for TM Joint disorders and SEILER operating microscopes etc are available. Inhouse Lab for perfect matching of the shades supported by CAD-CAM milling units provides our international patients with crowns, bridges &amp; Implant prosthesis within 48 hours. An exclusive center for Implantology with the availability of various surgical systems and renowned Implantologists function round the week. The highest standard of sterilization protocols are followed with Class B &amp; DAC autoclaves along with liberal usage of disposables and adheres to OSHA standards..</p>
<p style="text-align: justify;">This <em>dedicated</em><strong> FMS International Dental Center </strong>is situated in the most modern JUBILEE HILLS, close to <u>hi-tech city,</u> which is just 30 minutes away from the International Airport. This center is established amidst the best hotels of the city and renowned multi-cuisine restaurants for the comfortable stay of our international patients.</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #800000; font-size: 14pt;"><strong>LOCATION</strong></span></p>
<p style="text-align: justify;"><span style="color: #800000;"><strong>WHY FMS ?</strong></span></p>
<p style="text-align: justify;"><strong><u>HITEC City</u></strong> (Telugu: హైటెక్ సిటీ), (Urdu حیدرآباد انفارمیشن ٹیکنالوجی اور انجینرنگ کی مشاورتی شہر) is a major High tech business district, which is one of the leading Information Technology, Engineering, Health informatics, and Bioinformatics hubs of India. HITEC City is spread across 500 acres of land under suburbs of Kondapur, Madhapur, Gachibowli, Manikonda, and Nanakramguda. The technology township is also known as Cyberabad.<strong> </strong></p>
<p style="text-align: justify;"><span style="color: #800000;"><strong>Access:</strong></span></p>
<p style="text-align: justify;"><span style="color: #4d0026;">By Air:</span> Indian Airlines has flights connecting Hyderabad with all major cities in India. The nearest airport <em>is Shamshabad International Airport </em>which is just <em>30 minutes</em> away from our <strong>‘International Dental Center’.</strong></p>

		</div>
	</div>
<div class="vc_message_box vc_message_box-solid vc_message_box-rounded vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="vc_pixel_icon vc_pixel_icon-chart_pie"></i></div><p><span style="color: #800000; font-size: 14pt;"><strong>COSTS</strong><strong><br>
</strong></span></p>
<p>Cost of dental treatment at FMS is approximately 1/6 th the cost when compared to US and UK. Certain dental treatments like IMPLANTS, All-ceramic-CROWNS, Laminates, RCTs and Cosmetic surgeries are a lot more affordable than in western countries. The savings on such treatments can be as much as 60-70% including the travel and stay.</p>
<p>Comparative costs of some of the <strong>Dental Procedures done at <span style="color: #800000;">FMS</span> and <span style="color: #800000;">other countries</span>:</strong></p>
<table width="616">
<tbody>
<tr>
<td style="text-align: center;" width="205"><strong>Dental procedure</strong></td>
<td style="text-align: center;" width="205"><strong>Cost at FMS ($)</strong></td>
<td style="text-align: center;" width="205"><strong>Approx. Cost in the USA &amp; UK ($)</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Implants- Nobel Active</td>
<td style="text-align: center;" width="205"><strong>1,100 – 1,200</strong></td>
<td style="text-align: center;" width="205"><strong>6,600 – 7,200</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Implants- Nobel Speedy</td>
<td style="text-align: center;" width="205"><strong>1,050 – 1,150</strong></td>
<td style="text-align: center;" width="205"><strong>6,300- 6,900</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Implants- Nobel Groovy</td>
<td style="text-align: center;" width="205"><strong>1,000 – 1,100</strong></td>
<td style="text-align: center;" width="205"><strong>6,000 – 6,600</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Implants- Nobel Replace</td>
<td style="text-align: center;" width="205"><strong>900 – 1,000</strong></td>
<td style="text-align: center;" width="205"><strong>5,400 – 6,000</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Zirconium crown</td>
<td style="text-align: center;" width="205"><strong>200 &#8211; 300</strong></td>
<td style="text-align: center;" width="205"><strong>1,350 – 2,350</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Metal free EMAX crown</td>
<td style="text-align: center;" width="205"><strong>195 – 280</strong></td>
<td style="text-align: center;" width="205"><strong>1,170 – 2,200</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Laminate</td>
<td style="text-align: center;" width="205"><strong>245 – 345</strong></td>
<td style="text-align: center;" width="205"><strong>1,470 – 2,000</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Metal Ceramic Crown</td>
<td style="text-align: center;" width="205"><strong>115 – 145</strong></td>
<td style="text-align: center;" width="205"><strong>1,100 – 1,750</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Tooth impactions</td>
<td style="text-align: center;" width="205"><strong>65 – 155</strong></td>
<td style="text-align: center;" width="205"><strong>550 – 800</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">RCT</td>
<td style="text-align: center;" width="205"><strong>95 </strong><strong>– 145</strong></td>
<td style="text-align: center;" width="205"><strong>600 &#8211; 875</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Tooth whitening</td>
<td style="text-align: center;" width="205"><strong>230 – 310</strong></td>
<td style="text-align: center;" width="205"><strong>1,600 – 2,199</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Tooth colored composite filling</td>
<td style="text-align: center;" width="205"><strong>39 – 46</strong></td>
<td style="text-align: center;" width="205"><strong>350 – 500</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Tooth cleaning</td>
<td style="text-align: center;" width="205"><strong>25 – 32</strong></td>
<td style="text-align: center;" width="205"><strong>155 – 200</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Braces</td>
<td style="text-align: center;" width="205"><strong>1550 – 1675</strong></td>
<td style="text-align: center;" width="205"><strong>10,900 – 12,000</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Flap Surgery</td>
<td style="text-align: center;" width="205"><strong>650 – 690 </strong></td>
<td style="text-align: center;" width="205"><strong>5,100 – 6,000</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Laser Assisted Flap Surgery</td>
<td style="text-align: center;" width="205"><strong>900 – 1,100</strong></td>
<td style="text-align: center;" width="205"><strong>7,000 – 8,600</strong></td>
</tr>
<tr>
<td style="text-align: center;" width="205">Bone Graft per tooth</td>
<td style="text-align: center;" width="205"><strong>15 – 20</strong></td>
<td style="text-align: center;" width="205"><strong>110 – 175</strong></td>
</tr>
</tbody>
</table>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt;"><strong><span style="color: #5e1f00;">Dedicated Team</span> <span style="color: #800000;">of</span> <span style="color: #f76300;">International Customer Care<br>
</span></strong></span></p>
<p><span style="font-size: 14pt;"><strong><u><span style="color: #f76300;">Team</span> <span style="color: #5e1f00;">International Customer Care</span> <span style="color: #a14000;">(ICC)</span></u></strong></span></p>
<p>A dedicated team of ICC is placed at FMS for coordinating our international patients viz. Foreigners, Expats and NRIs. The team consists of a Director, Dental tourism facilitator, coordinator, PROs and dentists.</p>
<p><strong><span style="color: #ff6600;">Contact the team @</span> <span style="color: #993300;">(+91) 888 50 60 780, (+91) 888 50 60 770, (+91) 888 50 60 760.</span></strong></p>
<p>The team is dedicated for:</p>
<ul>
<li>Coordinating the first phase of e-consultation with our Team ICC dentist.</li>
<li>Organizing a video conference or e-consultation with our senior dental specialists.</li>
<li>Team ICC will coordinate for the necessary invitation letters and other Visa requirements.</li>
<li>Helping our clients with Hotel booking with FMS corporate discounts.</li>
<li>Helping out in planning for tourism in India in-between the treatments.</li>
<li>Airport pickups and local guidance.</li>
<li>Recall Service to remind patients of review &amp;follow-up.</li>
</ul>
<p>&nbsp;</p>
<p><span style="color: #800000; font-size: 14pt;"><strong>DENTAL TREATMENTS ON PAR WITH GLOBAL STANDARDS<br>
</strong></span></p>
<p>Team FMS comprises of more than 100 specialists with the <strong>‘core team’ having over 2 decades</strong> of service. We are the Connoisseurs in Implantology, Cosmetic Dentistry, orthognathic surgery, LASER assisted dental procedures and micro endodontics.</p>
<p>Our ‘Implantology Team’ consists of Maxillo facial surgeons, periodontists, prosthodontists and Implantologists having experience of more than a decade and also travelled widely around the globe to keep updated in the field. We use the world’s best Implant systems like Nobel Active, Nobel Groovy, Nobel Speedy, Nobel Replace etc.</p>
<p>Smile designing with contouring or bonding with composites or using ceramic laminates is also <strong><em>‘our forte’</em></strong>. Having an in-house CAD-CAM lab with equipment like AMANN GIRRBACH, CERAMIC INLAB etc. and also <span style="color: #ff5500;"><strong>“Exclusive Shade Matching Center” </strong></span>will help us to provide expats the perfectly matching and precisely fit Laminates within 48 hours.</p>
<p>We use LASERs for all the necessary procedures, since we believe in minimal invasion and conservation of the natural tooth structure. We are proud to have specialists who mastered the art &amp; science of LASERs. Today we boast of having world’s best LASERs like Water LASE, FOTONA, CAVO LASE, SIRO LASE, AMD etc and mastered in all the LASER assisted dental procedures.</p>
<p>Our Orthodontists have the expertise in the invisible braces like  Invisalign Clear path etc.</p>
<p>&nbsp;</p>
<p><span style="color: #800000; font-size: 14pt;"><strong>QUALITY OF THE MATERIALS USED IN TREATMENT</strong></span><br>
FMS uses only internationally approved dental materials from FDA of European countries and U.S.A.</p>
<p>&nbsp;</p>
<p><span style="font-size: 14pt; color: #800000;"><strong> TIME FACTOR<br>
</strong></span></p>
<p>Many treatments like SMILE DESIGNING, COSMETIC DENTISTRY and IMPLANTS can be finished approximately in 1-2 weeks’ time and can be combined with a business trip or exploring India. FMS offers appointments at short notice, free cost estimate and a free first consultation. You can plan your trip way in advance and consider visiting historic monumental places in and around Hyderabad and also in India, as this city is well connected with an International airport to all the major destinations in India. Our Team ICC will be in touch with you in every moment of your journey in India.</p>
<p>&nbsp;</p>
<p><span style="color: #800000; font-size: 14pt;"><strong>LANGUAGE</strong></span></p>
<p>The language is not a barrier as our staff is very fluent in English.<strong><br>
</strong></p>
<p>&nbsp;</p>
<p><span style="font-size: 14pt;"><strong><span style="color: #800000;">CREDIBILITY</span> <span style="color: #ff9900;">AND</span> <span style="color: #ff6600;">REPUTATION</span></strong></span></p>
<p><strong><em><span style="color: #ff0000;">‘</span><span style="color: #800000;"><span style="color: #ff6600;">The</span> <span style="color: #540707;">FMS</span></span> DENTAL <span style="color: #ff6600;">Group</span><span style="color: #ff0000;">’</span></em></strong> is in the health care industry for the past <span style="color: #800000;"><strong>24 years</strong></span> and had attended around <span style="color: #ff0000;"><strong>1 Million patients</strong> </span>for their dental needs. The organization has got a reputation and credibility for delivering the quality dental care with global standards of practice and strictly adhering to the medical ethics.</p>
<p>For the past one decade, thousands of international patients had visited FMS and availed our speciality services and the <em>reviews</em> posted by them are showing us a <em>class-apart</em> in dental care delivery. FMS Dental Hospitals is the most sought after destination for Dental Implants and Cosmetic Dentistry in India today.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section id="facilities" class="vc_row wpb_row vc_row-fluid light_section no_top_padding separator_bottom sep_angled_positive_bottom">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12 text-center">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-left">

    


    
        <h2 style="text-align: left;">Facilities</h2>

    

        <p>We constantly invest in high-end equipment</p>
    
</div>





                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-6">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

<div class="vc_grid-container-wrapper vc_clearfix">
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_media_grid" data-initial-loading-animation="fadeIn" data-vc-grid-settings="{&quot;page_id&quot;:3059,&quot;style&quot;:&quot;all&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1553356220502-8a1f624a-13ab-10&quot;,&quot;tag&quot;:&quot;vc_media_grid&quot;}" data-vc-request="https://www.fmsdental.com/wp-admin/admin-ajax.php" data-vc-post-id="3059" data-vc-public-nonce="a9779e3ab0">
		
	</div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>