<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div style="display: flex;justify-content: space-between;">
                <h3 class="modal-title">Add New Appointment</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
                        class="mdi mdi-close"></span></button>
            </div>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="/appointment/create" id="hospitalCreate">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Clinet Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="Clinet Name" class="form-control form-control-sm" autocomplete="off">
                        <div class="alert error-label" error-for="name"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" name="phone" placeholder="Phone number" class="form-control form-control-sm" autocomplete="off">
                        <div class="alert error-label" error-for="phone"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" name="email" placeholder="Email" class="form-control form-control-sm" autocomplete="off">
                        <div class="alert error-label" error-for="email"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-9">
                        <input type="text" name="date" placeholder="Date of appointment" class="form-control form-control-sm datepicker" autocomplete="off">
                        <div class="alert error-label" error-for="date"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Preferred Hospital</label>
                    <div class="col-sm-9">
                        <select name="branch" class="form-control form-control-sm">
                            <option value="">Select Hospital</option>
                            {{#each hospitals}}
                            <option value="{{ this.name }}">{{this.name}}</option>
                            {{/each  }}
                        </select>
                        <div class="alert error-label" error-for="branch"></div>
                    </div>
                </div>
                <div class="form-group" style="display: flex; align-items: center;">
                    <label class="col-sm-3 control-label">How did you know about our practice</label>
                    <div class="col-sm-9">
                        <select name="practice" class="form-control form-control-sm">
                            <option value="Web Site">Web Site</option>
                            <option value="Internet">Internet</option>
                            <option value="Radio/Television">Radio/Television</option>
                            <option value="Post Card">Post Card</option>
                            <option value="News Paper">News Paper</option>
                            <option value="Referred">Referred</option>
                            <option value="Others">Others</option>
                        </select>
                        <div class="alert error-label" error-for="practice"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">Purpose</label>
                    <div class="col-sm-9">
                        <select name="purpose" class="form-control form-control-sm">
                            <option value="Appointment">Appointment</option>
                            <option value="Billing">Billing</option>
                            <option value="Consultation">Consultation</option>
                            <option value="General Information">General Information</option>
                            <option value="Others">Others</option>
                        </select>
                        <div class="alert error-label" error-for="purpose"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Query</label>
                    <div class="col-sm-9">
                        <textarea name="query" class="form-control form-control-sm summernote"></textarea>
                        <div class="alert error-label" error-for="query"></div>
                    </div>
                </div>
                <div class="xs-pt-15 text-right">
                    <button class="btn btn-space btn-default" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-space btn-primary">Create Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.summernote').summernote({height: 150});
    $('.datepicker').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        todayHighlight: true
    });
</script>