<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>FMS International Dental Center</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Talk to the Incharge Doctor @ 888 50 60 770</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">
<div class="vc_icon_element vc_icon_element-outer wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_icon_element-align-center vc_icon_element-have-style"><div class="vc_icon_element-inner vc_icon_element-color-sandy_brown vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-mulled_wine"><span class="vc_icon_element-icon fa fa-hand-o-right"></span></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-center">

    


    
        <h3>Best Dental Implant &amp; Cosmetic Dental Clinic in Hyderabad</h3>
<h3></h3>
<h3></h3>
<h3><span style="color: #ff6600;">Address</span></h3>

    

        <p></p>
    
</div>






<div class="teaser_box wpb_content_element text-center image_hover secondary_section boxed_special  ">




        




  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>FMS DENTAL HOSPITALS</h4>
       <p>JUBILEE HILLS</p> 
    </div>

     <div class="desc"><p>Road No. 37, Hi-Tech City Road,<br>
CBI Colony, Near Daspalla Hotel,<br>
Jubilee Hills, Hyderabad, Telangana 500033</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-left">

    


    
        <h3 style="text-align: center;"><span style="color: #993300; font-size: 24pt;">An Insight Into The Clinic</span></h3>

    

        <p></p>
    
</div>





                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="pl_fixed_ratio_media">
    <div class="stretchy_wrapper ratio_4-3   bg_vcenter" style="background-image: url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/10/FMS-DENTAL-Newadfb.jpg?fit=2560%2C1905&amp;ssl=1');">
      <img alt="FMS DENTAL (New)" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/10/FMS-DENTAL-Newadfb.jpg?fit=2560%2C1905&amp;ssl=1" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/10/FMS-DENTAL-New.jpg?fit=2560%2C1905&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>
    </div>

</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><span style="color: #800000; font-family: georgia, palatino, serif;"><span style="font-size: 14pt;">FMS International Dental Center being the best Dental Implant Clinic in Hyderabad exudes great sophistication and </span><span style="font-size: 18.6667px;">ambiance</span><span style="font-size: 14pt;"> while maintaining OSHA standards of sterilization in all of its 8 operatories.</span></span></em></p>
<p><span style="color: #ff6600;"><em><span style="font-size: 10pt;">This </span></em></span><span style="color: #ff6600;"><em><span style="color: #800000; font-family: georgia, palatino, serif;"><span style="font-size: 14pt;"><span style="font-size: 10pt;">best Dental Implant Clinic in Hyderabad </span></span></span></em></span><span style="font-size: 12pt; color: #ff6600;"><em><span style="color: #800000; font-family: georgia, palatino, serif; font-size: 12pt;">is in fact now rated  as the</span> <span style="color: #800000;"><strong>Best dental center</strong></span> in India  and <span style="color: #800000;"><strong>2<sup>nd</sup> in the world</strong></span>, according to <span style="color: #800000;"><strong>Global clinic ratings (GCR)</strong>.</span> With the introduction of new <span style="color: #800000;"><strong>International Dental Center at Jubilee Hills</strong>,</span> FMS Dental is at the brink of setting another bench mark of  Dental care delivery in India. </em></span></p>
<p><span style="color: #800000;"><em><span style="font-size: 12pt;"><strong>This facility is mainly focused on international patients and dental tourism, maintaining global standards in dental care.</strong><span style="font-family: 'arial black', sans-serif;"> </span></span></em></span><span style="font-size: 14pt; color: #800000;"><em><span style="font-family: georgia, palatino, serif;">It is 30 minutes away from the International airport.</span></em></span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_icon_element vc_icon_element-outer wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_icon_element-align-center vc_icon_element-have-style"><div class="vc_icon_element-inner vc_icon_element-color-orange vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-mulled_wine"><span class="vc_icon_element-icon vc-oi vc-oi-compass"></span></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="wpb_gmaps_widget wpb_content_element"><div class="wpb_wrapper"><div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.77804598206!2d78.398944!3d17.438426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcf026b1e66834df!2sFMS+DENTAL+HOSPITAL+(International+Dental+Center)%2C+Jubilee+Hills+Branch!5e0!3m2!1sen!2sin!4v1487166675829" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_icon_element vc_icon_element-outer wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_icon_element-align-center vc_icon_element-have-style"><div class="vc_icon_element-inner vc_icon_element-color-orange vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-mulled_wine"><span class="vc_icon_element-icon fa fa-car"></span></div></div>
                </div>
            </div>
</div><div class="vc_message_box vc_message_box-solid vc_message_box-round vc_color-orange wpb_animate_when_almost_visible wpb_appear appear"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><div class="hgroup">
<h3 style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 18pt;"><strong><span style="color: #800000; font-family: 'book antiqua',palatino,serif; text-decoration: underline;">CONTACTS</span></strong></span></span></h3>
</div>
<div class="desc">
<h3 style="text-align: center;"><span style="color: #850505; font-family: 'book antiqua', palatino, serif;"><strong><span style="font-size: 14pt;">Clinic :</span></strong> </span><strong><span style="font-size: 14pt; color: #ff6600;">+91 40-02354 2222/2354 6454</span></strong><br>
<span style="font-family: georgia, palatino, serif; color: #850505;"><strong>Branch In-charge: </strong></span><strong><span style="color: #ff6600;">+91 888 50 60 750</span></strong><br>
<span style="font-family: georgia, palatino, serif; color: #800000;"><strong>Appointments:</strong> </span><span style="color: #ff6600;"><strong>+91888 50 60 780</strong></span><br>
<span style="font-family: georgia, palatino, serif;"><strong><span style="color: #3b0101; font-size: 14pt;"><span style="color: #800000;">Email:</span> </span></strong></span><strong><span style="color: #ff6600; font-family: 'times new roman', times, serif; font-size: 14pt;">contact@fmsdental.com</span></strong></h3>
</div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding elevate">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><span style="color: #800000;"><strong><em><span style="font-size: 18pt;">Virtual Tour</span></em></strong></span></p>

		</div>
	</div>
<div class="vc_icon_element vc_icon_element-outer Virtual Tour wpb_animate_when_almost_visible wpb_appear appear vc_icon_element-align-center vc_icon_element-have-style"><div class="vc_icon_element-inner vc_icon_element-color-orange vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-less vc_icon_element-background vc_icon_element-background-color-mulled_wine"><span class="vc_icon_element-icon fa fa-binoculars"></span><a class="vc_icon_element-link" href="https://www.google.co.in/maps/uv?hl=en&amp;pb=!1s0x3bcb91445ba5af61%3A0xdcf026b1e66834df!2m16!8m1!8b1!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e4!2m2!1m1!1e5!3m1!7e115!4s%2Fmaps%2Fplace%2Ffms%2Bdental%2Bhospital%2Binternational%2Bdental%2Bcenterjubilee%2Bhills%2F%4017.4380519%2C78.3985449%2C3a%2C75y%2C136.83h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sdTjSWmhT2roAAAQ3kNY9Cg*212e0*214m2*213m1*211s0x0%3A0xdcf026b1e66834df&amp;imagekey=!1e2!2sdTjSWmhT2roAAAQ3kNY9Cg&amp;sa=X&amp;ved=0ahUKEwjz1YPvrLzSAhWJQo8KHXTRDWwQoB8IcTAK&amp;activetab=owners" title target="_self"></a></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_tta-container" data-vc-action="collapse" data-vc-tta-autoplay="{&quot;delay&quot;:10000}"><h2>Infrastructure, Technology &amp; Hours</h2><div class="vc_general vc_tta vc_tta-accordion vc_tta-color-orange vc_tta-style-classic vc_tta-shape-round vc_tta-o-shape-group vc_tta-controls-align-center"><div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel vc_active" id="1476300102441-b5c36fab-3448" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1476300102441-b5c36fab-3448" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-fighter-jet"></i><span class="vc_tta-title-text">Technology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4></div><div class="vc_tta-panel-body">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #808000;"><em>Having all the specialities of dentistry under one roof, this center is unique having the first TMD clinic established in the state of Telangana equipped with BIOPAK system to diagnose temperomandibular joint pain and related problems.</em></span></strong></p>

		</div>
	</div>
</div></div><div class="vc_tta-panel" id="1476300102759-9af96d1b-1fdd" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1476300102759-9af96d1b-1fdd" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-fighter-jet"></i><span class="vc_tta-title-text">Disciplines</span><i class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4></div><div class="vc_tta-panel-body">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #993300;"><em>This International center houses an exclusive Dental Implant clinic with the top notch Implantologists and Cosmetic dentists available round the week. Offering all the top international brands of Implants, this facility  is also one of the few in India to have an inhouse CBCT, CAD/CAM supported Dental Lab, digital impression making and shade matching. What makes this center complete is the availability of conscious sedation and general anesthesia facility for the pediatric and dental phobia patients, with a senior anesthetist and maxillofacial surgeons on call round the clock.</em></span></strong></p>
<p><strong><span style="color: #ff9900;"><em>FMS rechristened as Face Makeover and Smile clinics lives true to its name here, by uniting the stalwarts from all disciplines of dentistry creating a comprehensive Cosmetic Dentistry team like none other. Here, these Smile Engineers recreate those lost smiles with Digital smile designing, lumineers, laminates, professional tooth whitening, composite bonding, metal free crowns etc, working hand-in-hand with the dental technicians in the center’s own state-of-the-art dental lab.</em></span></strong></p>

		</div>
	</div>
</div></div><div class="vc_tta-panel" id="1476301484802-02eff9f8-101b" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1476301484802-02eff9f8-101b" data-vc-accordion data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-fighter-jet"></i><span class="vc_tta-title-text">Hours Of Operation</span><i class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4></div><div class="vc_tta-panel-body"><section class="vc_cta3-container"><div class="vc_general vc_cta3 vc_cta3-style-classic vc_cta3-shape-round vc_cta3-align-center vc_cta3-color-classic vc_cta3-icon-size-md"><div class="vc_cta3_content-container"><div class="vc_cta3-content"><header class="vc_cta3-content-header"><h2>MON - SAT : 9 a.m. – 9 p.m.</h2><h4>SUN: 9 a.m. – 5 p.m.</h4></header><p><em><strong><span style="color: #800000; font-family: comic sans ms,sans-serif;">In case of emergency, feel free to call @ 888-50-60-780</span></strong></em></p>
</div></div></div></section></div></div></div></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

<div class="vc_grid-container-wrapper vc_clearfix">
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_media_grid" data-initial-loading-animation="fadeIn" data-vc-grid-settings="{&quot;page_id&quot;:9477,&quot;style&quot;:&quot;all&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1570801790644-07b3e889-fd64-0&quot;,&quot;tag&quot;:&quot;vc_media_grid&quot;}" data-vc-request="https://www.fmsdental.com/wp-admin/admin-ajax.php" data-vc-post-id="9477" data-vc-public-nonce="a9779e3ab0">
		
	</div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>OUR OTHER FACILITIES</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special   with_button ">

  <div class="figure secondary_section">



        
         <div class="figure secondary_section stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/10/PF3A0802928f.jpg?fit=2560%2C1707&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>FMS DENTAL HOSPITALS, Bank Street, KOTI</h4>
      
    </div>

     <div class="desc"><p>This centre is the only true dental hospital in the country, with in-patient beds, ICU, operation theatre, conscious sedation facility, and CBCT scan. </p></div> 

    <div class="link centered">
        <a href="#" class="btn btn-xs btn-warning"><strong>More</strong></a>
    </div>

  </div>

</div>



	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special   with_button ">

  <div class="figure secondary_section">



        
         <div class="figure secondary_section stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-Dental-Implant-Clinic-Langar-House-Hyderabad-India928f.jpg?fit=2560%2C1707&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>FMS DENTAL HOSPITALS, Langar House</h4>
      
    </div>

     <div class="desc"><p>This centre is one of the biggest corporate dental hospitals in India, established in 22000 Sq.Ft., state-of-the-art in-house CAD-CAM dental laboratory.</p></div> 

    <div class="link centered">
        <a href="#" class="btn btn-xs btn-warning"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special   with_button ">

  <div class="figure secondary_section">


      <a href="../fms-dental-hospital-cosmetic-dental-clinic-dentist-kondapur-hyderabad-india/index.html" title target> 

        
         <div class="figure secondary_section stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/1111b56c.jpg?fit=1146%2C624&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>FMS DENTAL HOSPITALS, Kondapur</h4>
      
    </div>

     <div class="desc"><p>The first branch of FMS Dental Hospital established in the year 1993, providing personalized advanced dental care for the past 25 years.</p></div> 

    <div class="link centered">
        <a href="../fms-dental-hospital-cosmetic-dental-clinic-dentist-kondapur-hyderabad-india/index.html" class="btn btn-xs btn-warning"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure secondary_section">



        
         <div class="figure secondary_section stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/appointment-1112a63.jpg?fit=1800%2C872&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>FMS DENTAL HOSPITALS, Kukatpally</h4>
      
    </div>

     <div class="desc"><p>This branch is situated in the largest residential town of Hyderabad, with 8 dental operatories, state of art equipment housed in a well-designed clinic.</p></div> 

    <div class="link centered">
        <a href="#" class="btn btn-xs btn-warning"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt; color: #800000;"><strong>Best Dental Clinic in Jubilee Hills Hyderabad India</strong></span></p>
<p>FMS Dental Hopsital in Jubilee Hills Hyderabad India is the <span style="color: #ff6600;"><a style="color: #ff6600;" href="https://www.youtube.com/watch?v=cOdCg9Ou2_I"><strong>best dental clinic</strong></a></span> nearby</p>
<h5>Madhapur, Kavuri Hills, Ayyappa Society, Daspalla Hotel, Image Hospitals, YSR statue, Yousufguda, Peddama gudi, Jubilee Hills Check-post, Film Nagar, Road No. 5 Jubilee Hills, Banjara Hills, Srinagar Colony, Nandagiri Hills, silent valley hills, journalist colony, prashasan nagar, Aditya Enclave, Gayatri hills, CBI colony, Kamalapuri colony, Nandinagar colony, Giani Zail Singh Nagar, Natural&#8217;s Ice cream parlour etc.</h5>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<script type="application/ld+json"></script>
<script type="application/ld+json"></script>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>