<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo  parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>FMS DENTAL, Chandanagar</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Best Dental Clinic in Chandanagar & Madinaguda Hyderabad</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="color: #ff6600;"><strong>Best Dental Clinic in Chandanagar and Madinaguda</strong></span></h2>
<h2></h2>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-in-Chandanagar-FMS-DENTALdd3a.jpg?fit=1039%2C1280&amp;ssl=1" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-in-Chandanagar-FMS-DENTAL.jpeg?fit=1039%2C1280&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-in-Chandanagar-and-Madinagudadd3a.jpg?fit=1039%2C1280&amp;ssl=1" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/11/Best-Dental-Clinic-in-Chandanagar-and-Madinaguda.jpeg?fit=1039%2C1280&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong><span style="color: #800000;">FMS Dental Hospitals</span></strong> with over 2 decades of experience in Creating miles of Smiles, is the Best <span style="color: #ff6600;"><a style="color: #ff6600;" href="https://www.youtube.com/watch?v=BzSOynYFVnk&amp;t=15s"><strong>Dental Clinic in Chandanagar</strong></a></span> and Madinaguda Hyderabad.  It is widely considered to be the most sought out dental hospital in Hyderabad and one of the instigator brands in Hospital Dentistry.  FMS Dental Hospital in Chandanagar and Madinaguda is the 10<sup>th</sup> division of FMS Dental Hospitals which is not only a fully equipped latest technology dental clinic but also a patient friendly clinic, striving to provide best in class dental treatments to the patients.</p>
<p>FMS Dental Hospitals is one of the most awarded dental clinics in Hyderabad which covers all the dental specialties such as Dental Implants, Cosmetic Dentistry, Periodontics, Endodontics, Orthodontics, Paedodontics, Oral &amp; Maxillofacial Surgery, Prosthodontics, TMD , Laser Dentistry, Hospital Dentistry, etc. This best Dental Clinic in Chandanagar and Madinaguda Hyderabad is supported by world class peerless dental laboratory (CAD-CAM). To maintain Zero Bacteria Zone it follows OSHA (Occupational Safety and Health Act) rules and regulations for infection control and sterilization have been formulated as a universal standard.</p>
<h3><span style="color: #ff6600;">Dental Experts Team:</span></h3>
<p>FMS Dental Hospitals Chandanagar and Madinaguda Hyderabad have a team of well experienced and highly skilled best dentists in Hyderabad. The Dental Experts Team includes Implantologists, Oral &amp; Maxilofacial Surgeons, Cosmetic Dentists, Periodontists, Endodontists, Orthodontists, Pedodontists, Prosthodontists, etc.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/BzSOynYFVnk?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/03/Best-Dental-Clinic-in-Chandanagar-FMS-DENTALf8e1.jpg?fit=1200%2C628&amp;ssl=1" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/03/Best-Dental-Clinic-in-Chandanagar-FMS-DENTAL.jpg?fit=1200%2C628&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="text-decoration: underline;"><span style="color: #ff6600; text-decoration: underline;">Dental Treatments:</span></span></h3>
<p>All the dental treatments are performed by certified, experienced and renowned dentists in Hyderabad, India. The services offered here are Dental Implants, Smile Designing, teeth scaling or cleaning, teeth filling, Root Canal Treatments, teeth whitening, dental veneers, Laminates, metal free crowns, Gum contouring, Enamel tooth re-contouring, gum depigmentation, minor orthodontis, adult orthodontics, braces treatment, ceramic braces, clear aligners, invisible braces, lingual braces, all-on- 4 dental implants, dental implants in 3 days, pterygoid implants, zygoma implants, over dentures, LASER dentistry, LASER gum therapy, LASER  root canal treatment, TMD therapy, wisdom tooth extractions, surgical extractions, surgical orthodontics, gingivectomy, flap surgery, orthognathic surgery etc.</p>

		</div>
	</div>

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<script type="application/ld+json"></script>
<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="17.494745618580243">
    <meta itemprop="longitude" content="78.34196459575287">
  </div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>