<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo  parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Clinic in Kochi India</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="font-size: 18pt; color: #ff6600;"><strong>FMS INTERNATIONAL DENTAL CENTER &#8211; COCHIN (KOCHI)</strong></span></h2>
<div class="section_header subtitle_bottom fancy text-left">
<h1>THE BEST DENTAL CLINIC IN KOCHI, INDIA</h1>
</div>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="section_header subtitle_bottom fancy text-left">
<h1 style="text-align: justify;"></h1>
</div>
<div class="wpb_text_column wpb_content_element " style="text-align: justify;">
<div class="wpb_wrapper">
<p><strong>An epitome of Excellence, Dedication and Quality dental care, a practice that takes pride in Creating miles of Smiles since 1993</strong></p>
<p>FMS DENTAL  being one of the <a href="https://gcr.org/top/dental/in" target="_blank" rel="noopener noreferrer">top dental clinics in Hyderabad, India</a> and <strong>2nd best dental center in the world</strong> <a href="https://gcr.org/top/dental?button=&amp;location=&amp;page=1&amp;search%5Bclinic_type_text%5D=Dental" target="_blank" rel="noopener noreferrer">(GCR Rating)</a>, are pioneers in the concept of multi-specialty practice. FMS DENTAL has 10 Specialities of dentistry under one roof supported by state-of-the-art equipments and a world class CAD-CAM supported dental laboratory.<br>
FMS Dental Hospital, rechristened as <strong>Face Make Over &amp; Smile Clinics,</strong> is one of the best dental clinics for dental implant in Hyderabad and Cochin (Kochi), India, which has made a world of difference to the smiles of many Indians and foreigners. Today,FMS Dental Hospitals is the most sought after destination for dental implant and Cosmetic Dentistry in India. We offer an exciting Dental Tourism opportunity, which combines your dental procedures with great holidays around COCHIN (KOCHI) and exotic India. So enjoy the splendour of this incredible part of the world, while also being on your way to healthier teeth and beautiful smiles, at one of the<strong><a href="../best-dental-clinic-in-hyderabad/index.html"> best dental clinics in Cochin (KOCHI),</a></strong> India.</p>
</div>
</div>
<div class="wpb_text_column wpb_content_element " style="text-align: justify;">
<div class="wpb_wrapper">
<p>FMS is in the path of expansion within the state and all over the country. <strong><a href="../best-dental-implant-clinic-in-hyderabad/index.html">FMS INTERNATIONAL DENTAL CENTER</a></strong> at JUBILEE HILLS, Hyderabad, is one of the premium dental practices in the country today. Being pioneers in the field of dentistry, the management of <strong>FMS DENTAL</strong> has channelized their passion into other verticals of dentistry viz, DENTAL COLLEGE (SSCDS), GUIDE ACADEMY (Global Update In Dental Education), DENTAL LABORATORY etc.</p>
</div>
</div>
<div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text" style="text-align: justify;"></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p style="text-align: justify;">The FMS INTERNATIONAL DENTAL CENTER is one of the sought after Dental Clinic in Cochin for dental implants,cosmetic dentistry in India, which is a state-of-the-art facility<span style="color: #000000;"> incorporating high-end technology and equipment including CBCT Scan, In-house Dental Lab and highly experienced consultant doctors from all specialities of dentistry. Advanced dental Implant protocols like All-on-4 and Zygomatic Implants, Cosmetic Dentistry including Digital Smile Designing (DSD), Oral and Maxillofacial Surgery procedures, LASER Dentistry and all other dental procedures will be routinely performed at the center.</span></p>
</div>
</div>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2019/03/Best-Dental-Clinic-in-Cochin-India-FMS-DENTALf492.jpg?fit=856%2C567&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/03/Dental-Clinic-in-Cochin-India-FMS-DENTAL560f.jpg?fit=1280%2C622&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div role="form" class="wpcf7" id="wpcf7-f5221-p13446-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/dental-clinic-in-kochi-india/#wpcf7-f5221-p13446-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5221">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5221-p13446-o1">
<input type="hidden" name="_wpcf7_container_post" value="13446">
</div>
<p>Full Name: (*)<br>
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Phone Number: (*)<br>
<span class="wpcf7-form-control-wrap tel-760"><input type="tel" name="tel-760" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </p>
<p>Email Id: (*)<br>
  <span class="wpcf7-form-control-wrap email-71"><input type="email" name="email-71" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
<p>Date Of Appointment: (*)<br>
    <span class="wpcf7-form-control-wrap datetime-875"><input type="text" name="datetime-875" value size="40" class="wpcf7-form-control wpcf7-date wpcf7-datetime"> </span> </p>
<p>Preferred Branch Of FMS Dental:<br>
    <span class="wpcf7-form-control-wrap Branch"><select name="Branch" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Any Branch">Any Branch</option><option value="Jubilee Hills">Jubilee Hills</option><option value="Koti">Koti</option><option value="Kukatpally">Kukatpally</option><option value="Punjagutta">Punjagutta</option><option value="Dilsukhnagar">Dilsukhnagar</option><option value="Secunderabad">Secunderabad</option><option value="Langar House">Langar House</option><option value="A S Rao Nagar">A S Rao Nagar</option><option value="Kondapur">Kondapur</option><option value="Chandanagar">Chandanagar</option><option value="Vanasthalipuram">Vanasthalipuram</option><option value="Cochin (Kochi)">Cochin (Kochi)</option></select></span></p>
<p>How did you know about our practice:<br>
<span class="wpcf7-form-control-wrap practice"><select name="practice" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Web Site">Web Site</option><option value="Internet">Internet</option><option value="Radio/Television">Radio/Television</option><option value="Post Card">Post Card</option><option value="News Paper">News Paper</option><option value="Referred">Referred</option><option value="Others">Others</option></select></span>
 </p>
<p>Purpose:<br>
<span class="wpcf7-form-control-wrap Purpose"><select name="Purpose" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Appointment">Appointment</option><option value="Billing">Billing</option><option value="Consultation">Consultation</option><option value="General Information">General Information</option><option value="Others">Others</option></select></span>
 </p>
<p>Query: (*)<br>
    <span class="wpcf7-form-control-wrap Chiefcomplaint"><textarea name="Chiefcomplaint" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span></p>
<p>[recaptcha]</p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="130" height="100" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-130ad.png?resize=130%2C100&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="Book an appointment" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-1.png?resize=130%2C100&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Solutions to your dental problems &#8230;</p>
<p><span style="color: #d66813; font-size: 18pt;"><strong>Call Now <span style="font-family: arial,helvetica,sans-serif;">00 </span><span style="font-family: arial,helvetica,sans-serif;">91 40 2222 1111</span></strong></span></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="text-decoration: underline;"><span style="color: #ff6600; text-decoration: underline;">Our Dental Specialists:</span></span></h3>
<p>FMS International Dental Center in Cochin India has all the specialities of dentistry under one roof, this center is unique in having high end technologies for Dental Implants, Cosmetic Dentistry etc. It<strong><em> </em></strong>has the senior most team of highly reputed dental specialists in Hyderabad delivering duties under the guidance of Dr. PP Reddy, CEO of FMS DENTAL. These dental Experts’ Team includes of Endodontists (Root Canal Specialists) Dental Implantologists, Oral &amp; Maxilofacial Surgeons, Cosmetic Dentists, Braces Specialists (Orthodontists), Periodontists, Pedodontists (Child Dentists), Dental Surgeons, Prosthodontists etc.</p>

		</div>
	</div>
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Clinic hours</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="timetable">
  <table class="timetable_hours">
    <tr>
      <td>MONDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>TUESDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>WEDNESDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>THURSDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>FRIDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>SATURDAY</td>
      <td>09:00-21:00</td>
    </tr>
    <tr>
      <td>SUNDAY</td>
      <td>10:00-19:00</td>
    </tr>
  </table>
</div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>