<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Clinic in Langar House Hyderabad India</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt; color: #800000;"><strong>Dental Clinic in Langar House Hyderabad India</strong></span></p>
<p>FMS Dental Clinic in Langar House Hyderabad India is the <span style="color: #ff6600;"><a style="color: #ff6600;" href="https://www.youtube.com/watch?v=DfwF9X6CWe4"><strong>best dental clinic</strong></a></span> nearby</p>
<h5>Mehdipatnam, Rathibowli, Nanal Nagar, Attapur, Tolichowki, Suncity, Karwan, Upparpally, Masab tank, Narsing, Ziaguda, Kishan Bagh, Paramount colony, Bapu ghat, Golkonda, Janpriya utopia, Shaikpet, Aramghad, Ibrahimpatnam, Bandlaguda Jagir, Shankarpalli, Chilkur, Manikonda, Kokapet, etc.</h5>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>This centre is one of the biggest corporate dental hospitals in India, established in 22000 Sq.Ft., 30 dental chairs, state-of-the-art in-house CAD-CAM dental laboratory.</strong></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<section class="vc_cta3-container"><div class="vc_general vc_cta3 vc_cta3-style-classic vc_cta3-shape-rounded vc_cta3-align-center vc_cta3-color-mulled-wine vc_cta3-icon-size-md"><div class="vc_cta3_content-container"><div class="vc_cta3-content"><header class="vc_cta3-content-header"><h2>CALL YOUR DENTIST RIGHT AWAY!</h2><h4>BOOK AN APPOINTMENT</h4></header><p><span style="color: #ff6600; font-size: 18pt;">@ <strong>+91 8886643234</strong></span></p>
</div></div></div></section>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>Dental Specialists Team:</h5>
<p>FMS dental clinic in Langar House Hyderabad India is a fully equipped clinic with dental lab facility as well. The team of dental specialists at FMS Dental clinic in Langar House is highly experienced and skillful. Specialists from all the departments of dentistry including Oral &amp; Maxillofacial Surgeons, Braces Specialists (Orthodontists), Dental Implantologists, Cosmetic Dentists, Periodontists, Pedodontists (Child Dentists), Endodontists (Root Canal Specialists), Prosthodontists render their services in this facility.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>Dental Treatments Offered:</h5>
<p>All dental treatments at FMS Dental Clinic in Langar House are performed by senior dental specialists. The services offered in  this dental clinic include Dental Implants, Cosmetic smile correction, teeth cleaning, <a href="../root-canal-treatment/index.html"><strong>RCT (Root Canal Treatments)</strong></a>, teeth whitening / bleaching, teeth extractions, teeth fillings, dental veneers, metal free Zirconium crowns, gum depigmentation, Gum contouring, Flap surgery, Enamel tooth re-contouring, minor &amp;  major Orthodontics.</p>
<p>Treatments like dental implants in 3 days, <a href="../all-on-4-dental-implants/index.html"><strong>all-on- 4 dental implants</strong></a>, Pterygoid implants, Zygoma implants, over dentures, LANAP (LASER Gum therapy), braces treatment (adult orthodontics), ceramic braces, clear aligners, invisible braces, lingual braces, LASER dentistry including LASER root canal treatment, TMD treatments, surgical extractions, surgical orthodontics, gingivectomy, Orthognathic surgery, Laminates, etc. FMS Dental clinic in Langar House is considered the best Dental Clinic in Langar House Hyderabad India due to high quality services rendered for almost a decade now.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-Dental-Implant-Clinic-Langar-House-Hyderabad-India928f.jpg?fit=2560%2C1707&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>


<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-Dental-Implant-Clinic-Hyderabad-India0bb1.jpg?fit=2560%2C1709&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-CBCT-Scan-Dental-Implant-Clinic-Langar-House-Hyderabad-India-7c67.jpg?fit=1160%2C1200&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 14pt; color: #800000;"><strong>FMS DENTAL HOSPITALS, LANGAR HOUSE</strong></span></p>
<p><strong>It is established in the year 2010, in an independent building 22000 Sq.Ft independent building with ample parking spaces, 30 dental chairs,accommodating an in house dental lab .</strong></p>
<p>FMS Dental Hospital, Langar house established in the year 2010 in <strong>independent building with 22,000 Sq. ft. and ample parking spaces</strong>. It is situated on the main road adjacent to the Langar House fly-over bridge, just 20 minutes’ drive from the airport.</p>
<p>The centre has got 30 dental operatories with in-house radiology department that includes, Digital OPG &amp; Ceph from VILLA and radio visiographs(RVGs) from KODAK.</p>
<p>It is unique in having an in-house CAD-CAM supported dental laboratory to custom make the crowns, bridges &amp; dental implant prosthetic solutions. Having an In-house lab is a big boon for the patients, helping them match the shades to perfection, for their laminates, crowns and bridges. A dedicated area for shade matching is ear-marked in the centre. This centre also has got an advantage of quicker delivery of crowns and bridges for our international patients.</p>
<p>Other special equipments are SUNNY LASER, DIAGNOdent, X-smart rotary endodontic system, Bio pak for TMJ disorders etc.</p>
<p>This centre has a conference hall, demonstration clinics with video conferencing facility for conducting the CDE (Continuing Dental Education) programs.</p>
<p>More than 12 specialists from various specialities of dentistry, 5 general dentists &amp; dental hygienists are available between 9 a.m. – 9 p.m. in this hospital.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #f2f0f0;">It is a very well located dental clinic in langar house, dentist in mehdipatnam</span></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Dental-Implant-Clinic-Langar-House-Hyderabad-India-Dental-Implantologiste24c.jpg?fit=1920%2C1080&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Dental-Implant-Clinic-Langar-House-Hyderabad-India-Lounge0bb1.jpg?fit=2560%2C1709&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/cadc842.jpg?fit=1431%2C954&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/07/cerec_cosmetic9051.jpg?fit=581%2C230&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #f2f0f0;">FMS is a dental clinic in langar house, dentist in mehdipatnam.</span></p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-Dental-Implant-lab-Langar-House-Hyderabad-Indiad684.jpg?fit=1024%2C689&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Best-Dental-Implant-Center-Langar-House-Hyderabad-Indiab8c3.jpg?fit=2515%2C953&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>



                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			

<script type="application/ld+json"></script>
<script type="application/ld+json"></script>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>