<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div style="display: flex;justify-content: space-between;">
                <h3 class="modal-title">Add New Doctor</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
                        class="mdi mdi-close"></span></button>
            </div>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="/admin/doctors/create" id="hospitalCreate">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Salutation</label>
                    <div class="col-sm-9">
                        <select name="title" class="form-control form-control-sm">
                            <option value="">Select Salutation</option>
                            <option value="Dr.">Dr</option>
                            <option value="Sr. Dr.">Sr. Dr</option>
                            <option value="MD">MD</option>
                            <option value="MBBS">MBBS</option>
                        </select>
                        <div class="alert error-label" error-for="title"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="firstName" placeholder="First Name" class="form-control form-control-sm">
                        <div class="alert error-label" error-for="firstName"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control form-control-sm">
                        <div class="alert error-label" error-for="lastName"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        <select name="gender" class="form-control form-control-sm">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="alert error-label" error-for="gender"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Position</label>
                    <div class="col-sm-9">
                        <select name="position" class="form-control form-control-sm">
                            <option value="">Select Position</option>
                            <option value="CEO">CEO</option>
                            <option value="Director">Director</option>
                            <option value="Consultant">Consultant</option>
                            <option value="Clinic Head">Clinic Head</option>
                            <option value="General Dentist">General Dentist</option>
                            <option value="International Patient Services">International Patient Services</option>
                            <option value="Dental Hygienists & Technicians">Dental Hygienists &amp; Technicians</option>
                        </select>
                        <div class="alert error-label" error-for="position"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Facebook</label>
                    <div class="col-sm-9">
                        <input type="text" name="facebook" placeholder="Link to facebook" class="form-control form-control-sm">
                        <div class="alert error-label" error-for="facebook"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Twitter</label>
                    <div class="col-sm-9">
                        <input type="text" name="twiter" placeholder="Link to twitter" class="form-control form-control-sm">
                        <div class="alert error-label" error-for="twiter"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Google+</label>
                    <div class="col-sm-9">
                        <input type="text" name="google" placeholder="Link to Google+" class="form-control form-control-sm">
                        <div class="alert error-label" error-for="google"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quote</label>
                    <div class="col-sm-9">
                        <textarea name="quote" placeholder="Personal Quote" class="form-control form-control-sm"></textarea>
                        <div class="alert error-label" error-for="quote"></div>
                    </div>
                </div>
                <div class="xs-pt-15 text-right">
                    <button class="btn btn-space btn-default" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-space btn-primary">Add Doctor</button>
                </div>
            </form>
        </div>
    </div>
</div>
