<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Laboratory Technician</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Sri Sai College of Dental Surgery - Recognized by Dental Council of India</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="index.html" class="list-group-item">Dental Lab Technician Home</a> 
<a href="../dental-laboratory-technician-course-specialty/index.html" class="list-group-item">Training You </a>
<a href="../learn-with-us-dental-laboratory/index.html" class="list-group-item">Learn with Us</a>
<a href="../individual-dental-laboratory-technician/index.html" class="list-group-item">Individual Development</a> 
<a href="../career-opportunities-dental-laboratory-technician-hyderabad-india/index.html" class="list-group-item">Career Opportunities</a> 
                            </div> 
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">




        





</div>



	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="900" height="390" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/DLT-Homec86d.jpg?fit=900%2C390&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt="Dental lab technician course" data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/DLT-Home.jpg?w=900&amp;ssl=1 900w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/DLT-Home.jpg?resize=300%2C130&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/DLT-Home.jpg?resize=768%2C333&amp;ssl=1 768w" data-lazy-sizes="(max-width: 900px) 100vw, 900px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/DLT-Home.jpg?fit=900%2C390&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>
<div class="vc_message_box vc_message_box-solid vc_message_box-square vc_color-mulled_wine"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><p><span style="color: #ffffff;"><strong>For details about Dental Laboratory Technician Course, call Dr. Johnson @ 8885060760</strong></span></p>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><strong>WHY DENTAL LABORATORY TECHNICIAN COURSE ?</strong></h2>
<p>In the field of Dentistry, besides dentists and dental surgeons, there is a great need for skilled personals who helps dentists in dental treatment. These essential members of the dental team known as Dental Technicians, carry out all aspects of technical work in the dental field i.e Dental Technology. Dental Technicians is considered as a global profession which combines the art and science of Dental world.<br>
Dental technician’s careers are for those who love working with tools and equipment’s and have an artistic ability to construct forms and designs. Dental technicians also have direct contact with the patients for various reasons like Shade matching and also work under the written prescription or direct communication with the dentists.</p>

		</div>
	</div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="900" height="278" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/dent-percnt3c43.jpg?fit=900%2C278&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/dent-percnt.jpg?w=900&amp;ssl=1 900w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/dent-percnt.jpg?resize=300%2C93&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/dent-percnt.jpg?resize=768%2C237&amp;ssl=1 768w" data-lazy-sizes="(max-width: 900px) 100vw, 900px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/dent-percnt.jpg?fit=900%2C278&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;"><strong> &#8212;&#8212;- </strong><strong>Why Sri Sai College of Dental Surgery for Dental Lab Technician Course? &#8212;&#8212;-</strong></h2>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/IIT_logo_color_1465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="Hands on Training" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/IIT_logo_color_1.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Hands-on training</h5>
<p style="text-align: center;">Our small class sizes and state-of-the-art facilities provide the perfect atmosphere for our qualified faculty to train students. The students in our dental laboratory technician course produce a high-quality product and a high quantity of work, both of which are necessary to become gainfully employed as a dental laboratory technician.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/timme465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="Time" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/timme.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Finish fast</h5>
<p style="text-align: center;">Our dental laboratory technician course is designed to get students enrolled, trained, and into their careers as dental laboratory technicians as quickly as possible — you can complete the program in as few as 2 Years.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/accridation465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="accreditation" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/accridation.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Accredited</h5>
<p style="text-align: center;">Sri Sai College of Dental Surgery is accredited to NTR University. Dental Technician Course is recognized by Dental Council of India</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;"><strong>&#8212;&#8212;- </strong><strong>Program Overview &#8212;&#8212;-</strong></h2>
<div class="vc_row wpb_row vc_row-fluid container gen-padding bg-light">
<div class="content wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element program-details">
<div class="wpb_wrapper">
<p>&nbsp;</p>
<p><strong>Certification: Recognized by DCI, New Delhi</strong><br>
<strong>Theory : Thrice a week</strong><br>
<strong> Practicals: Six Days a week</strong><br>
<strong>Location: Hyderabad, Telangana</strong><br>
<strong>Eligibility : 12th Std (Science is a must)</strong></p>
<p>Our dental laboratory technician course stresses the importance of producing a high quality product and learning the skills to produce the quantity of work necessary to become gainfully employed as a Dental Laboratory Technician.</p>
<p>Dental laboratory technicians can become certified by passing an examination that evaluates their technical skills and knowledge. A dental technician who passes the certification examination becomes a Certified Dental Technician (CDT), recognized by Dental Council of India.</p>
<p>Upon completion of the program, career placement is made available at our Dental Laboratory equipped with advanced CAD &#8211; CAM systems and 3D-Printers.</p>
<p>With advancements in technology and materials, and with increased number of Dental Clinics, there is an high demand for restorative and cosmetic dentistry. As a result, there currently is a great demand for dental laboratory technicians. Employment opportunities will be excellent well into the next coming years.</p>
<h4></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/certification465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="certification" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/certification.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Certification</h5>
<p style="text-align: center;">Graduates of the program are prepared for the Dentures, Crown and Bridge and Ceramics from the Recognized Graduate test offered by the Dental Council Of India. After 2 years of the course.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/finanical-aid465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="financial aid" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/finanical-aid.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Financial Aid</h5>
<p style="text-align: center;">We understand paying for college is a primary concern for most of our students. We believe college should be accessible and affordable to everyone. That is why we offer a variety of financial aid options for those who are eligible.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/calander465b.png?resize=150%2C150&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="calendar" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/calander.png?resize=150%2C150&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;">Next Start Date</h5>
<p style="text-align: center;">Our dental laboratory technician program offers one enrollment periods annually. Our next start date is August 25. Due to the limited number of spots available, we highly recommend you apply as early as possible.</p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="900" height="294" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/how-to-get-started487d.jpg?fit=900%2C294&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt="How Do I Get Started" data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/how-to-get-started.jpg?w=900&amp;ssl=1 900w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/how-to-get-started.jpg?resize=300%2C98&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/how-to-get-started.jpg?resize=768%2C251&amp;ssl=1 768w" data-lazy-sizes="(max-width: 900px) 100vw, 900px" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/08/how-to-get-started.jpg?fit=900%2C294&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: left;"><strong>Ready to be a part of our course?</strong></h2>

		</div>
	</div>
<div role="form" class="wpcf7" id="wpcf7-f12687-p12597-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/dental-laboratory-technician-course/#wpcf7-f12687-p12597-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="12687">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f12687-p12597-o1">
<input type="hidden" name="_wpcf7_container_post" value="12597">
</div>
<p>Full Name: (*)<br>
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Phone Number: (*)<br>
<span class="wpcf7-form-control-wrap tel-760"><input type="tel" name="tel-760" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </p>
<p>Email Id: (*)<br>
  <span class="wpcf7-form-control-wrap email-71"><input type="email" name="email-71" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
<p>Query: (*)<br>
    <span class="wpcf7-form-control-wrap Chiefcomplaint"><textarea name="Chiefcomplaint" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span></p>
<p>[recaptcha]</p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>