<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Social Concern</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><em><span style="color: #800000;"><strong><span style="font-size: 18pt;">FMS Dental Hospitals</span></strong></span></em> besides establishing dental clinics with high technology also focused on public health aspects and prevention through its specialty of public health dentistry. A dedicated team of dental surgeons with a mobile dental clinic and special portable chairs and equipment   conducts many dental camps in and around Hyderabad city. These camps are mainly focused on bringing the awareness among the children and the public thereby preventing the dental diseases. The regular dental checkups are conducted in schools, corporate houses and in small communities for early diagnosis and treatments. The treatment camps are also in the rural areas for the poor and the needy.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>School Programs include:</p>
<p>1) Health education for all levels of school children and Dental health checkup.</p>
<p>2) Training the teachers on oral hygiene measures</p>
<p>3) Student participation through quiz, paintings, debates on oral health.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0059ef73.jpg?fit=1032%2C581&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Educating the school teachers</h4>
      
    </div>

    


  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/20160108_104034e720.jpg?fit=2560%2C1440&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>dental check up camps</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Rural164b5.jpg?fit=1024%2C576&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>lecture for students</h4>
      
    </div>

    


  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0031ef73.jpg?fit=1032%2C581&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>educating the little ones</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Our corporate program include:</p>
<ul>
<li>Free dental checkups with advanced equipments like DIAGNOdent and digital  Radio-visiography.</li>
<li>Privilege cards for the needy.</li>
<li>Health talk for small groups.</li>
</ul>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0075bc94.jpg?fit=1032%2C581&amp;ssl=1" alt="corporate dental camps" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0075.jpg?fit=1032%2C581&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>corporate dental camps</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0080a95e.jpg?fit=581%2C707&amp;ssl=1" alt="dental checkup camps" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0080.jpg?fit=581%2C707&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>dental checkup camps</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0082bc94.jpg?fit=1032%2C581&amp;ssl=1" alt="fms team of doctors" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/IMG-20160805-WA0082.jpg?fit=1032%2C581&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>fms team of doctors</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Rural Camps</p>
<p>Our social commitment for the poor and the needy is always been appreciated and well recognized by the government and many other service organizations. Thousands of rural camps are being conducted all around Telangana with the help of Lion’s club, Rotary and other philanthropic organizations. Collaborating with our sister concern SSCDS, almost all the dental treatments like dentures, fillings, extractions are done free of cost in these rural camps.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/camp-bus-15472.jpg?fit=448%2C254&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>social service</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">




        





</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/bus-campad71.jpg?fit=1456%2C816&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>mobile clinic service</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify; line-height: 16.5pt; background: white;"><span lang="EN-US">Adoption of villages and orphanages/old-age homes:</span></p>
<ul>
<li style="text-align: justify; line-height: 16.5pt; background: white;"><span lang="EN-US"> We adopted two villages and few orphanages and provides comprehensive dental care for these needy. </span></li>
</ul>
<p>&nbsp;</p>
<p>A dedicated Dental Clinic has been set up for the underprivileged and the poor , at  Langar House. Here most of the dental treatments are provided free of cost / highly concessional rates.</p>
<p>&nbsp;</p>
<p style="text-align: center;"> <strong>Call us on 888-50-60-768, to be a part of health awareness program in your community.<br>
</strong></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>