<div class="main foo" data-colorset="foo">

<section class="vc_off sidebar_off "><div class="container"><div class="row">

<div class="col-md-12">		<div data-elementor-type="wp-page" data-elementor-id="14717" class="elementor elementor-14717" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-2e01c883 elementor-section-stretched elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="2e01c883" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-fa2b044 elementor-column elementor-col-100 elementor-top-column" data-id="fa2b044" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-1526ae37 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1526ae37" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5512d37e elementor-column elementor-col-50 elementor-inner-column" data-id="5512d37e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-74bce083 elementor-widget elementor-widget-heading" data-id="74bce083" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">TECHNOLOGY AT NDH</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-38c0a5c elementor-widget elementor-widget-text-editor" data-id="38c0a5c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>We update ourselves with the global trends and innovations that occur in dentistry.</p><p>Various technological innovations that are brought into the field of dentistry at NDH are:</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-42dae141 elementor-column elementor-col-50 elementor-inner-column" data-id="42dae141" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-8ae1ce0 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="8ae1ce0" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-e8530a8 elementor-column elementor-col-100 elementor-top-column" data-id="e8530a8" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-639d4ee elementor-widget elementor-widget-heading" data-id="639d4ee" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">CAD-CAM DENTISTRY:

</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a9a37cd elementor-widget elementor-widget-text-editor" data-id="a9a37cd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p class>CAD CAMs are the latest dental innovations which give a micron level accuracy in the fit of the dental prosthesis. This provides crown with better precision fit, thus avoiding revisits to the clinic once the treatment is completed. Hence these latest advancements provide great quicker &amp; digitally designed esthetic crowns to the patient.</p><p>All Ceramic crowns like Zirconia and Emax (Lithium disilicate) are made using CAD-CAM. Implant prosthesis are also manufactured with CAD-CAM.</p><p><strong><em>At NDH</em></strong>, the CAD/CAM systems being used are:</p><ul><li>SIRONA (Germany) – INLAB MCXL</li><li>NOBEL BIOCARE (Sweden) – PROCERA 2G</li><li>AMANN GIRBACH (USA) – CERAMILL MOTION2</li></ul></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-e121be5 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e121be5" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-439fd700 elementor-column elementor-col-50 elementor-top-column" data-id="439fd700" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-7bac1d39 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7bac1d39" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-70765dc1 elementor-column elementor-col-100 elementor-inner-column" data-id="70765dc1" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-59b07253 elementor-widget elementor-widget-heading" data-id="59b07253" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">SIRONA (Germany) – INLAB MCXL</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-bdbfd48 elementor-column elementor-col-50 elementor-top-column" data-id="bdbfd48" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-6edb35b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="6edb35b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-e1dd3c6 elementor-column elementor-col-100 elementor-inner-column" data-id="e1dd3c6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-caa8608 elementor-widget elementor-widget-heading" data-id="caa8608" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">3-shape-scanner</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-71e2306 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="71e2306" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-35c52cf elementor-column elementor-col-100 elementor-top-column" data-id="35c52cf" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-925ba7a elementor-widget elementor-widget-heading" data-id="925ba7a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">LASER DENTISTRY:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-153e776 elementor-widget elementor-widget-text-editor" data-id="153e776" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Laser dentistry is fast, painless, and can effectively eliminate any form of bacteria during the procedure. The advantage of laser dentistry is that it allows to perform less invasive procedures.</p><p>Lasers are used at NDH in most important procedures like RCTs, gum treatments and in cosmetic dentistry etc.</p><p>The different types of LASER equipments used at FMS are FOTONA (Er-YG), BIOLASE (Er-Cr-YSGG) for hard tissues and SUNNY (Diode 830) Ez LASE (Diode 730), CAVO LASE (Diode ), SIRO LASE (Diode 830) for soft tissues.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-32f275b9 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="32f275b9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-496aac8c elementor-column elementor-col-33 elementor-top-column" data-id="496aac8c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-11ed6e01 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="11ed6e01" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-60d91f60 elementor-column elementor-col-100 elementor-inner-column" data-id="60d91f60" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-491b6e7f elementor-widget elementor-widget-heading" data-id="491b6e7f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Water-laser</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-df5e106 elementor-column elementor-col-33 elementor-top-column" data-id="df5e106" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-ee95a38 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ee95a38" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-476c5ae elementor-column elementor-col-100 elementor-inner-column" data-id="476c5ae" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-417e39d elementor-widget elementor-widget-heading" data-id="417e39d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Scan-leoara</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-a7ae984 elementor-column elementor-col-33 elementor-top-column" data-id="a7ae984" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-17cbd1b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="17cbd1b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2c44253 elementor-column elementor-col-100 elementor-inner-column" data-id="2c44253" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-4f389ce elementor-widget elementor-widget-heading" data-id="4f389ce" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">sunny-laser</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-5cda976 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5cda976" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-69d137c elementor-column elementor-col-100 elementor-top-column" data-id="69d137c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ce2ac7f elementor-widget elementor-widget-heading" data-id="ce2ac7f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">DENTAL OPERATORIES:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-e27cb48 elementor-widget elementor-widget-text-editor" data-id="e27cb48" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Ergonomically designed imported dental chairs are used at NDH. These chairs are very helpful in providing high comfort to our patients. Most of the dental chairs have <strong><em>SURGE function </em></strong>for disinfecting the attachments between the patients. CASTELLINI, SIRONA, KAVO, SKANRAY, MECTRON are the world class dental chairs that we use at NDH.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-d7df1b0 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="d7df1b0" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b8dbf39 elementor-column elementor-col-33 elementor-top-column" data-id="b8dbf39" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-53df6e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="53df6e7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f863ac2 elementor-column elementor-col-100 elementor-inner-column" data-id="f863ac2" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d9a078e elementor-widget elementor-widget-heading" data-id="d9a078e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">dental-implant</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-8e2a255 elementor-column elementor-col-33 elementor-top-column" data-id="8e2a255" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-8f732bb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8f732bb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f6a8cfe elementor-column elementor-col-100 elementor-inner-column" data-id="f6a8cfe" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3bfffe8 elementor-widget elementor-widget-heading" data-id="3bfffe8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Tooth-whitening</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-dfd5fc2 elementor-column elementor-col-33 elementor-top-column" data-id="dfd5fc2" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-e74c620 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="e74c620" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5faba2c elementor-column elementor-col-100 elementor-inner-column" data-id="5faba2c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5d2571c elementor-widget elementor-widget-heading" data-id="5d2571c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">dental-laser</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-73ef61d elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="73ef61d" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-537df10 elementor-column elementor-col-100 elementor-top-column" data-id="537df10" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d3571de elementor-widget elementor-widget-heading" data-id="d3571de" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">BIO PAK FOR TMJ DISORDERS:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-2070174 elementor-widget elementor-widget-text-editor" data-id="2070174" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>It is a non-invasive treatment procedure using computerized diagnostic methodology that measures the health of your jaws, facial muscles and TM Joint. This procedure takes less than an hour and helps us to estimate the effect of jaw muscles and joints on your teeth and bite.</p><p>It consists of <strong>T scan, JVG, 3 D Jaw Tracker </strong>and<strong> Tens</strong> to diagnose and treat the complex muscles, ligaments, joints of the oro-facial region.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f8f2e05 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f8f2e05" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-fed5198 elementor-column elementor-col-33 elementor-top-column" data-id="fed5198" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-701710e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="701710e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a5cdc65 elementor-column elementor-col-100 elementor-inner-column" data-id="a5cdc65" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6f4d397 elementor-widget elementor-widget-heading" data-id="6f4d397" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">t-scan</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-d601ae3 elementor-column elementor-col-33 elementor-top-column" data-id="d601ae3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-e94c38a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="e94c38a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-1a35484 elementor-column elementor-col-100 elementor-inner-column" data-id="1a35484" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d8cf465 elementor-widget elementor-widget-heading" data-id="d8cf465" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">tmj-scanner</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-fb949c7 elementor-column elementor-col-33 elementor-top-column" data-id="fb949c7" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-f8f689b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="f8f689b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7984a6f elementor-column elementor-col-100 elementor-inner-column" data-id="7984a6f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-fba232f elementor-widget elementor-widget-heading" data-id="fba232f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">jaw-TRACKER</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-fe05d2f elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="fe05d2f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-0ce8615 elementor-column elementor-col-100 elementor-top-column" data-id="0ce8615" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2f2487b elementor-widget elementor-widget-heading" data-id="2f2487b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">CBCT SCANS:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9e5fd37 elementor-widget elementor-widget-text-editor" data-id="9e5fd37" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Cone beam computed tomography is a boon to dentistry wherein the 3 dimensional views of the jaws, root canals, nerves and sinuses can be seen. It is a non-invasive diagnostic procedure.</p><p>The introduction of CBCT into our practice has revolutionized the IMPLANT dentistry by more accurate planning and placement.</p><p>KODAK CS9000, latest technological CBCTs are being used at NDH.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-e130870 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e130870" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f3e40f3 elementor-column elementor-col-33 elementor-top-column" data-id="f3e40f3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-2c74057 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="2c74057" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-8c0cd4a elementor-column elementor-col-100 elementor-inner-column" data-id="8c0cd4a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-8a5a605 elementor-widget elementor-widget-heading" data-id="8a5a605" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">cbct-scan</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-f723d5e elementor-column elementor-col-33 elementor-top-column" data-id="f723d5e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-8823ffe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8823ffe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7da3560 elementor-column elementor-col-100 elementor-inner-column" data-id="7da3560" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-aacf42b elementor-widget elementor-widget-heading" data-id="aacf42b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">3d-scanner</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-9528cc8 elementor-column elementor-col-33 elementor-top-column" data-id="9528cc8" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-85ad117 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="85ad117" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2051a06 elementor-column elementor-col-100 elementor-inner-column" data-id="2051a06" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-8c5e5a5 elementor-widget elementor-widget-heading" data-id="8c5e5a5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">ultra-sonic</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-77ab909 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="77ab909" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a76c3ea elementor-column elementor-col-100 elementor-top-column" data-id="a76c3ea" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-1a11599 elementor-widget elementor-widget-heading" data-id="1a11599" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">STERILIZATION:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a750aa3 elementor-widget elementor-widget-text-editor" data-id="a750aa3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>We use the most advanced B-class &amp; Doc Autoclaves in all our Clinics ensuring zero bacteria environment in the operatories.</p><p>We ensure liberal use of disposables for all the procedures thereby maintaining OSHA standards of sterilization.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f6a517b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f6a517b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5760197 elementor-column elementor-col-50 elementor-top-column" data-id="5760197" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-9b92127 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="9b92127" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7e54416 elementor-column elementor-col-100 elementor-inner-column" data-id="7e54416" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-914cf2e elementor-widget elementor-widget-heading" data-id="914cf2e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Lab-press</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-5670726 elementor-column elementor-col-50 elementor-top-column" data-id="5670726" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-9083b38 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="9083b38" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a17ff2c elementor-column elementor-col-100 elementor-inner-column" data-id="a17ff2c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2267102 elementor-widget elementor-widget-heading" data-id="2267102" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Microscope-ww</h2>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-ba9b2f4 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ba9b2f4" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-61bea11 elementor-column elementor-col-100 elementor-top-column" data-id="61bea11" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a4e2daf elementor-widget elementor-widget-heading" data-id="a4e2daf" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">SEDATION IN DENTISTRY:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-232c35c elementor-widget elementor-widget-text-editor" data-id="232c35c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>At NDH, Nitrous oxide (Laughing Gas) sedation dentistry is being used since it is both safe and effective. Compared to more conventional Intravenous sedation, inhalation sedation requires no needles and the patient maintains a conscious state and can respond to the doctor during the treatment. This is useful for patients who fear the dental treatment and stay away from dentist on account of anxiety.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-731498ed elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="731498ed" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-fedce8b elementor-column elementor-col-33 elementor-top-column" data-id="fedce8b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-41a26e93 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="41a26e93" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-12d93596 elementor-column elementor-col-100 elementor-inner-column" data-id="12d93596" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-285ea8a5 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="285ea8a5" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-74860f50 elementor-widget elementor-widget-divider" data-id="74860f50" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1091238f elementor-widget elementor-widget-heading" data-id="1091238f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">

3d-printer</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-534d0795 elementor-widget elementor-widget-text-editor" data-id="534d0795" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6b3af52d elementor-widget elementor-widget-divider" data-id="6b3af52d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-515a2b4d elementor-column elementor-col-33 elementor-top-column" data-id="515a2b4d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-3a9f8d89 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="3a9f8d89" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-22581b45 elementor-column elementor-col-100 elementor-inner-column" data-id="22581b45" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-739796dd elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="739796dd" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-19e538b7 elementor-widget elementor-widget-divider" data-id="19e538b7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1989749b elementor-widget elementor-widget-heading" data-id="1989749b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Sirona-scanner</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-4bfcb1b3 elementor-widget elementor-widget-text-editor" data-id="4bfcb1b3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-624a65b9 elementor-widget elementor-widget-divider" data-id="624a65b9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-3b07e3a8 elementor-column elementor-col-33 elementor-top-column" data-id="3b07e3a8" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-4c599d7a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4c599d7a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-57f9c38 elementor-column elementor-col-100 elementor-inner-column" data-id="57f9c38" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3840d2db elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="3840d2db" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7e58a9c3 elementor-widget elementor-widget-divider" data-id="7e58a9c3" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1d4a89f9 elementor-widget elementor-widget-heading" data-id="1d4a89f9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">3D-PRINTER</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-748fa4f8 elementor-widget elementor-widget-text-editor" data-id="748fa4f8" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6db421b6 elementor-widget elementor-widget-divider" data-id="6db421b6" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-33884df elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="33884df" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-935440f elementor-column elementor-col-100 elementor-top-column" data-id="935440f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-fa98c2b elementor-widget elementor-widget-heading" data-id="fa98c2b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">DIGITAL DENTISTRY:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-404a4c5 elementor-widget elementor-widget-text-editor" data-id="404a4c5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><strong><u>Electronic Medical Records</u></strong></p><p>At NDH, every patient’s treatment details, including images, radiographs are maintained in our customized <em>dental software.</em></p><p><strong><u>Digital Radiography</u></strong></p><ul><li>We use only digital x-rays with RVG (KODAK, SIRONA, SUNI-RAY) etc. an</li><li>Digital OPGs like Villa, Care Stream, Sirona.</li><li>CBCT from KODAK Care Stream.</li></ul><p><strong><u>Digital Diagnosis</u></strong></p><ul><li>Diagnodent is used routinely for hidden diagnosis of dental treatments.</li></ul><ul><li>It is a device used for the detection of cavities in the teeth where even x rays cannot pass. Diagnodent ensures thorough check of the oral cavity for any early signs of cavities making sure you do not end up spending more in the future for the more larger cavities.</li></ul><p><strong><u>Digital Designed Crown &amp; Bridges</u></strong></p><ul><li>With the introduction of CAD-CAM milling units into our dental laboratory from 2008, we are able to deliver precision fit, esthetical, metal and metal free (ZIRCONIUM, EMAX, ALUMINA) crowns even in a days’ time.</li></ul></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-acdf783 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="acdf783" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b4b25b0 elementor-column elementor-col-33 elementor-top-column" data-id="b4b25b0" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-18981e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="18981e0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-497277c elementor-column elementor-col-100 elementor-inner-column" data-id="497277c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c7c9112 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="c7c9112" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6441d5d elementor-widget elementor-widget-divider" data-id="6441d5d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-de1642f elementor-widget elementor-widget-heading" data-id="de1642f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">k-laser</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-19f32d4 elementor-widget elementor-widget-text-editor" data-id="19f32d4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-731d8b6 elementor-widget elementor-widget-divider" data-id="731d8b6" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-f265d33 elementor-column elementor-col-33 elementor-top-column" data-id="f265d33" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-7aad53f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="7aad53f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-cad70a8 elementor-column elementor-col-100 elementor-inner-column" data-id="cad70a8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a9ee7a3 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="a9ee7a3" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-c2c27b4 elementor-widget elementor-widget-divider" data-id="c2c27b4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fc3ecf2 elementor-widget elementor-widget-heading" data-id="fc3ecf2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">mtab-mill-miller</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-165b385 elementor-widget elementor-widget-text-editor" data-id="165b385" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-0e031fc elementor-widget elementor-widget-divider" data-id="0e031fc" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-83a42b3 elementor-column elementor-col-33 elementor-top-column" data-id="83a42b3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section class="elementor-element elementor-element-34c3297 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="34c3297" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-57acd9c elementor-column elementor-col-100 elementor-inner-column" data-id="57acd9c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ff16853 elementor-widget__width-auto elementor-widget elementor-widget-divider" data-id="ff16853" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-cba53ac elementor-widget elementor-widget-divider" data-id="cba53ac" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d6d891c elementor-widget elementor-widget-heading" data-id="d6d891c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Sirona-mcx5-miller</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f23693d elementor-widget elementor-widget-text-editor" data-id="f23693d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-0a49545 elementor-widget elementor-widget-divider" data-id="0a49545" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		
      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    </div>

</div></div></section>

</div>