<div class="head_panel">
			<div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


				<div class="hgroup">

					<div class="title diagonal-bgcolor-trans   ">
						<div class="container">
							<h1>The Evolution</h1>
						</div>
					</div>

					<div class="subtitle body-bg_section   ">
						<div class="container">
							<p>FMS - an everlasting commitment to a healthy smile.</p>
						</div>
					</div>

				</div>


			</div>
		</div><div class="main foo" data-colorset="foo">
			

			
			<section class="vc_row wpb_row vc_row-fluid">
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_column_container col-sm-12 col-md-6 margin_bottom_grid">
							<div class="wpb_wrapper">

								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p style="text-align: justify;">FMS Dental Hospitals&#8230;&#8230;the beginning
											of a new era in speciality dental practice.</p>
										<p style="text-align: justify;">FMS was started in the year 1993 as a small
											private dental clinic in Panjagutta, Hyderabad, INDIA.</p>
										<p style="text-align: justify;">In the year 1994, started the first
											multi-speciality dental practice under one roof at Koti, to provide
											comprehensive dental care to the people of Hyderabad.</p>
										<p style="text-align: justify;">Over a period of time, FMS established 3 more
											branches at different parts of the twin cities viz., Secunderabad (estd.
											1998), Dilsukhnagar (estd. 2000) and Mahbubnagar (1999).</p>
										<p style="text-align: justify;">In the year 1999, we have introduced the
											revolutionary concept of hospital dentistry @ Koti, probably for the first
											time in the country. This facility is equipped with an Operation theatre,
											Dental Implant clinic, I.C.U and In-patient facility, round the clock
											emergency services along with a team of Maxillofacial Surgeons,
											Implantologists, Anesthetist, Physicians and Paramedical staff. Today FMS
											Dental Hospital, Koti, is the exclusive Center for Oral &amp; Maxillofacial
											Surgery and Dental Implants.</p>

									</div>
								</div>

							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-12 col-md-6">
							<div class="wpb_wrapper">

								<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
									<div class="wpb_wrapper">

										<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/Q6o9ne5mkXg?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-12">
							<div class="wpb_wrapper">

								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>During this period we also realised the importance of having in-house dental
											lab for providing quick and customized dentures, crowns, bridges and
											implants with a personalized touch and assured quality to the patients. This
											conceptualised into the establishment of state-of-the-art dental laboratory.
										</p>
										<p>In order to reach out to the length and breadth of the twin cities –
											Hyderabad and Secunderabad &#8211;  4 more well designed, world class
											multi-speciality dental centers were established at Kuakatpally, Langar
											House, A.S.Rao Nagar and Kondapur. Each branch is well equipped with its own
											infrastructure and specialists.</p>

									</div>
								</div>
								<div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey">
									<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
								</div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p><em>FMS is unique, the excellence in patient’s dental care is spilled over to
												other arenas of dentistry like, the Dental College, Dental Laboratory,
												Research and so on.</em></p>

									</div>
								</div>
								<div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey">
									<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
								</div>
								<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container col-sm-8">
										<div class="wpb_wrapper">

											<div class="wpb_text_column wpb_content_element ">
												<div class="wpb_wrapper">
													<p style="text-align: justify;"><span style="color: #ff6600;">SRI
															SAI COLLEGE OF DENTAL SURGERY</span></p>
													<p style="text-align: justify;">In the year 2001 – the management of
														FMS established Sri Sai College of Dental Surgery, Vikarabad,
														Telangana , INDIA, for dental education and research in the
														country. This institute for dental education and research was
														born out of a mission of bringing the most advanced dental
														health facility to the rural area of Telangana. This institute
														has been instrumental in educating over 1500 dental graduate
														(BDS) and post graduate (MDS)  doctors since its inception in
														2001.</p>

												</div>
											</div>

										</div>
									</div>
									<div class="wpb_column vc_column_container col-sm-4">
										<div class="wpb_wrapper">

											<div class="wpb_single_image wpb_content_element vc_align_center">

												<figure class="wpb_wrapper vc_figure">
													<a href="http://www.sscds.edu.in/" target class="vc_single_image-wrapper   vc_box_border_grey"><img width="1366" height="768" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery4c61.jpg?fit=1366%2C768&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery.jpg?w=1366&amp;ssl=1 1366w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery.jpg?resize=300%2C169&amp;ssl=1 300w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery.jpg?resize=768%2C432&amp;ssl=1 768w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery.jpg?resize=1024%2C576&amp;ssl=1 1024w" data-lazy-sizes="(max-width: 1000px) 100vw, 1000px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-College-in-India-Sri-Sai-College-of-Dental-Surgery.jpg?fit=1366%2C768&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></a>
												</figure>
											</div>

										</div>
									</div>
								</div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p><span style="color: #ff6600;">V DENT ARTS &#8211; the CAD-CAM Dental
												Laboratory</span></p>
										<p>An epitome of Excellence, Dedication and Quality dental lab solutions, FMS
											Dental established V Dental Arts, a commercial dental laboratory with
											advanced CAD-CAM technology providing  Prosthetic solutions to practitioners
											in the country. At FMS, the patients experience a true advantage over
											traditional dental clinics who outsource the laboratory work to commercial
											labs.</p>

									</div>
								</div>
								<div class="vc_row wpb_row vc_inner vc_row-fluid">
									<div class="wpb_column vc_column_container col-sm-8">
										<div class="wpb_wrapper">

											<div class="wpb_text_column wpb_content_element ">
												<div class="wpb_wrapper">
													<p style="text-align: justify;"><span style="color: #ff6600;">INTERNATIONAL DENTAL CENTER</span>
													</p>
													<p style="text-align: justify;">Today India has become the hub for
														Medical Tourism in the world. Being the pioneer Dental Health
														Care Provider in India, FMS realized the dream of establishing a
														world class dental facility – THE FMS INTERNATIONAL DENTAL
														CENTER – for International patients and expats, at JUBILEE
														HILLS, the Heart of Hyderabad.</p>
													<p style="text-align: justify;">The Center is state-of-the-art with
														best in class infrastructure with digital dentistry including
														CBCT scans, TMD clinic, OSHA standards of sterilization,
														internationally acclaimed specialist doctors with a personalised
														 approach.</p>

												</div>
											</div>

										</div>
									</div>
									<div class="wpb_column vc_column_container col-sm-4">
										<div class="wpb_wrapper">
											

											<div class="teaser_box wpb_content_element text-center     ">

												<div class="figure ">






													<img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/fms-dental-jubilee-hills-hyderabadedf5.jpg?fit=342%2C336&amp;#038;ssl=1" alt>




												</div>



											</div>

											

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-12 white_section text-left">
							<div class="wpb_wrapper">
								<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
								<div class="vc_empty_space" style="height: 0px"><span class="vc_empty_space_inner"></span></div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="vc_row wpb_row vc_row-fluid secondary_section">
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_column_container col-sm-12">
							<div class="wpb_wrapper">
								<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
									<span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
									<h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-4">
							<div class="wpb_wrapper">
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">Dental Issues?</h2>
										<div class="menu-dental-issues-container">
											<ul id="menu-dental-issues" class="menu">
												<li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303">
													<a href="../dental-cavities/index.html">Dental Cavities</a></li>
												<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517">
													<a href="../gum-disease/index.html">Bleeding Gums</a></li>
												<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312">
													<a href="../loose-teeth/index.html">Loose Teeth</a></li>
												<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309">
													<a href="../stained-teeth/index.html">Stained Teeth</a></li>
												<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306">
													<a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
												<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521">
													<a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">PROSTHODONTICS</h2>
										<div class="menu-prosthodontics-container">
											<ul id="menu-prosthodontics" class="menu">
												<li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285">
													<a href="../metal-free-zirconium-crowns/index.html">Metal free /
														Zirconium Crowns</a></li>
												<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154">
													<a href="../bps-dentures/index.html">BPS DENTURES</a></li>
												<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597">
													<a href="../cad-cam/index.html">CAD CAM</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2>
										<div class="menu-paediatric-dentistry-container">
											<ul id="menu-paediatric-dentistry" class="menu">
												<li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343">
													<a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK
														TEETH</a></li>
												<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345">
													<a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL
														THERAPY</a></li>
												<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348">
													<a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE
														SEALANTS</a></li>
												<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349">
													<a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY
														FLUORIDE APPLICATION</a></li>
												<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350">
													<a href="../pediatric-orthodontics/index.html">PEDIATRIC
														ORTHODONTICS</a></li>
												<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351">
													<a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-4">
							<div class="wpb_wrapper">
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">Smile make over</h2>
										<div class="menu-smile-make-over-container">
											<ul id="menu-smile-make-over" class="menu">
												<li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735">
													<a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
												<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176">
													<a href="../dental-veneers-laminates/index.html">Dental Veneers /
														Laminates</a></li>
												<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291">
													<a href="../composite-bonding/index.html">Composite Bonding</a></li>
												<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294">
													<a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
												<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297">
													<a href="../bridal-smile-make-over/index.html">Bridal Smile Make
														Over</a></li>
												<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535">
													<a href="../gum-depigmentation/index.html">Gum Depigmentation</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">ENDODONTICS</h2>
										<div class="menu-endodontics-container">
											<ul id="menu-endodontics" class="menu">
												<li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144">
													<a href="../laser-rct/index.html">LASER Root Canal Treatment</a>
												</li>
												<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525">
													<a href="../single-sitting-rct/index.html">Single Sitting RCT</a>
												</li>
												<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531">
													<a href="../invisible-fillings/index.html">Invisible Fillings</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">ORTHODONTICS</h2>
										<div class="menu-orthodontics-container">
											<ul id="menu-orthodontics" class="menu">
												<li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228">
													<a href="../timing-of-braces-treatment/index.html">Timing of braces
														treatment</a></li>
												<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101">
													<a href="../child-orthodontics/index.html">Child Orthodontics</a>
												</li>
												<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894">
													<a href="../adult-orthodontics/index.html">Adult Orthodontics</a>
												</li>
												<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102">
													<a href="../invisible-braces/index.html">Invisible Braces</a></li>
												<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928">
													<a href="../clear-aligners/index.html">Clear Aligners</a></li>
												<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112">
													<a href="../orthodontic-emergencies/index.html">Orthodontic
														Emergencies</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container col-sm-4">
							<div class="wpb_wrapper">
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">Dental Implants</h2>
										<div class="menu-dental-implants-container">
											<ul id="menu-dental-implants" class="menu">
												<li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958">
													<a href="../dental-implants/index.html">Dental Implants</a></li>
												<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995">
													<a href="../dental-implant-cost/index.html">Dental Implant Cost</a>
												</li>
												<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160">
													<a href="../single-tooth-dental-implant-in-india/index.html">Single
														tooth replacement with dental implant</a></li>
												<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161">
													<a href="../multiple-teeth-replacement/index.html">Multiple Teeth
														Replacement</a></li>
												<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536">
													<a href="../all-on-4-dental-implants/index.html">All On 4 Dental
														Implant Procedure</a></li>
												<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537">
													<a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">PERIODONTICS</h2>
										<div class="menu-periodontics-container">
											<ul id="menu-periodontics" class="menu">
												<li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131">
													<a href="../flap-surgery/index.html">Flap Surgery</a></li>
												<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263">
													<a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting
														with gum surgery</a></li>
												<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266">
													<a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="vc_wp_custommenu wpb_content_element">
									<div class="widget widget_nav_menu">
										<h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2>
										<div class="menu-oral-and-maxillofacial-surgery-container">
											<ul id="menu-oral-and-maxillofacial-surgery" class="menu">
												<li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206">
													<a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth
														Surgery</a></li>
												<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210">
													<a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial
														and Jaw bone Trauma Surgery</a></li>
												<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215">
													<a href="../orthognathic-surgery/index.html">Orthognathic
														Surgery</a></li>
												<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216">
													<a href="../advanced-dental-implant-surgery/index.html">Advanced
														Dental Implant Surgery</a></li>
												<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218">
													<a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor
														Surgery</a></li>
												<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221">
													<a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose
														Surgery )</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<div id="new_comment">
				<div class="container">
					<div class="new_comment">
					</div>
				</div>
			</div>


			

			
		</div>