<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>The FMS Dental Lab</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #ff6600;"><strong>Can a laboratory add value to a dental practice</strong> </span>. . . most definitely!!! The FMS  in-house dental laboratory located in Langar House, Hyderabad. Established in 1998,  strives to do achieve world class prosthetic solutions : to add value to our dental practice.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;">Any prosthetic rehabilitation is a symbiotic association between the clinician and a dental laboratory. FMS  being one of the few corporate dental set ups having an<strong> in house LAB, </strong>with a myriad of available equipment, provides us  an array of material options for prosthetic rehabilitation. We are among the few in the country to have some of the best CAD-CAM systems, that provides digital dental solutions and concepts like TOOTH IN A DAY.Having an in house lab also gives us the biggest advantage of personalized customization of prosthesis for our patients and instant solutions.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

<div class="vc_grid-container-wrapper vc_clearfix">
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_media_grid" data-initial-loading-animation="bounce" data-vc-grid-settings="{&quot;page_id&quot;:4479,&quot;style&quot;:&quot;lazy&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1501515676554-173567d3-6732-7&quot;,&quot;items_per_page&quot;:&quot;10&quot;,&quot;tag&quot;:&quot;vc_media_grid&quot;}" data-vc-request="https://www.fmsdental.com/wp-admin/admin-ajax.php" data-vc-post-id="4479" data-vc-public-nonce="a9779e3ab0">
		
	</div>
</div>
                </div>
            </div>
</div>
<div class="vc_grid-container-wrapper vc_clearfix">
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_media_grid" data-initial-loading-animation="bounce" data-vc-grid-settings="{&quot;page_id&quot;:4479,&quot;style&quot;:&quot;lazy&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1501515676579-49ebce78-4ea4-6&quot;,&quot;items_per_page&quot;:&quot;10&quot;,&quot;tag&quot;:&quot;vc_media_grid&quot;}" data-vc-request="https://www.fmsdental.com/wp-admin/admin-ajax.php" data-vc-post-id="4479" data-vc-public-nonce="a9779e3ab0">
		
	</div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
</div><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Technology and Material Sciences</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #ff6600; font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>CAD-CAM Designing</strong></span></p>
<p style="text-align: justify;">CAD CAMs are the latest dental innovations which give a micron level accuracy in the fit of the dental prosthesis. This provides crown with better precision fit, thus avoiding revisits to the clinic once the treatment is completed. Hence these latest advancements provide great quicker &amp; digitally designed esthetic crowns to the patient.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/cad2505.jpg?fit=1431%2C954&amp;ssl=1" alt="SIRONA INLAB" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/cad.jpg?fit=1431%2C954&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>SIRONA INLAB</h4>
       <p>CAD-CAM </p> 
    </div>

     <div class="desc"><p>Germany</p></div> 


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/procera4f8b.jpg?fit=680%2C350&amp;ssl=1" alt="Procera 2G and Procera forte" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/procera.jpg?fit=680%2C350&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Procera 2G and Procera forte</h4>
       <p>CAD-CAM</p> 
    </div>

     <div class="desc"><p>Zirconium crownand Bridges<br>
Zirconium / Titanium frameworks<br>
from Nobel Biocare Sweden</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-center     ">




        





</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600;"><strong>IPS e.max System</strong></span></p>
<p style="text-align: justify;">IPS e.max  was first adopted by V Dentarts way back in 2003. This system started off with the innovative  press lithium disilicate glass ceramic ingots but is now available for both press and CAD /CAM applications. These versatile materials offer excellent fit, form and function and demonstrate exceptional life-like esthetics. The pressing is done in a Programat EP3000 furnace( Ivoclar Vivadent ) and the CAD/CAM can be done using both our CAD systems- Sirona inLab MCXL and Procera 2G.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/emax10555.jpg?fit=400%2C325&amp;ssl=1" alt="IPS e.max Press" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/emax1.jpg?fit=400%2C325&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>IPS e.max Press</h4>
       <p> lithium disilicate glass-ceramic</p> 
    </div>

     <div class="desc"><p>Liechtenstein</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600;"><strong>Porcelain fused to Metal Crowns and Bridges (PFM)</strong></span></p>
<p style="text-align: justify;">PFM- Porcelain fused to metal , is the conventional technique of making crowns and bridges and maybe the most widely practiced technique in the world. At FMS’s Dental Lab we use one of the highest quality ceramic system- IPS d.SIGN . This fluorapatite glass ceramic is known for its impressive strength and desirable esthetics. The ceramic powder is layered over metal frameworks (Chrome Cobalt) and fired in ceramic funaces (Programat P300, Ivoclar). Prostheses made using this method can be easily designed to fit any type of preparation.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/ceramic-build-up7ce2.jpg?fit=448%2C279&amp;ssl=1" alt="Porcelain crowns" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/ceramic-build-up.jpg?fit=448%2C279&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Porcelain crowns</h4>
       <p>d.SIGN® - Ivoclar Vivadent</p> 
    </div>

     <div class="desc"><p>Liechtenstein</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600;"><strong>PEEK- Bredent</strong></span></p>
<p>Keeping abreast with all the new technologies FMS’s Dental lab- V Dentarts started with PEEK in 2013, making it one of the first few labs in the country to do so.</p>
<p>PEEK (polyetheretherketone),  is a ceramic-reinforced high performance polymer. It is processed using the <strong>For2Press </strong>( Bredent GmBH &amp; Co.) which is a vacuum press system  developed specifically for PEEK. With  its various shades, new possibilities arise for providing the patient with fixed or removable high quality prosthetic restorations on implants or natural teeth.</p>
<p>To add to the esthetics it can be layered with high strength composites like Adoro (Ivoclar Vivadent), Visio.lign and Crea’lign veneering systems ( Bredent GmBH &amp; Co. )</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/peek-14bb6.jpg?fit=790%2C403&amp;ssl=1" alt="PEEK" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/peek-1.jpg?fit=790%2C403&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>PEEK</h4>
       <p>Ceramic reinforced, Thermoplast frameworks.</p> 
    </div>

     <div class="desc"><p>BREDENT, UK</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600;"><strong>Precision casting-  Lukadent LUKACast S Induction Vacuum</strong></span></p>
<p>This is one of the latest additions to FMS’s Dental Lab and is considered to be among the world‘s smallest Vacuum-Casting Machines. It can be used for all precious and non-precious dental alloys. The casting is done with compressed air or argon gas.  This gives a very high quality casting and excellent precision in fit of the prostheses, thus increasing the longevity of the restoration.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/lukaplast5764.jpg?fit=468%2C441&amp;ssl=1" alt="Lukadent LUKACast S Induction Vacuum" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/lukaplast.jpg?fit=468%2C441&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Lukadent LUKACast S Induction Vacuum</h4>
       <p>precision fit prostheses</p> 
    </div>

     <div class="desc"><p>(YOR EQUIPMENT, INC.) Germany </p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2><span style="color: #ff6600;"><span style="font-size: 12pt; font-family: 'arial black', sans-serif;"><span style="font-family: arial, helvetica, sans-serif;">Flexible partial dentures</span></span></span></h2>
<p>These are partial dentures made of flexible, nylon-based, thermoplastic polyamides.</p>
<p><strong>FMS’s inhouse Dental Lab offers the following flexi systems: </strong><span style="color: #ff6600;"><strong>Thermopress </strong></span>( Bredent GmBH, UK ) and<span style="color: #ff6600;"> <strong>Valplast</strong> </span><strong><em>.</em></strong> The dentures made using these systems are highly biocompatible. They are fabricated through an injection molding technique and have an exceptional fit. Some of the reasons for opting for a flexi denture over a conventional partial denture are that they are thin, lightweight, resistant to fracture and durable. Moreover they come in a range of 4 colors which are designed to match gum tissue.<strong><em> Flexi </em>dentures are especially indicated when a fixed solution is not possible and also as an alternative for people allergic to acrylic.</strong></p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/valplast93d2.jpg?fit=900%2C600&amp;ssl=1" alt="VALPLAST" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/valplast.jpg?fit=900%2C600&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>VALPLAST</h4>
       <p> flexible partial dentures.</p> 
    </div>

     <div class="desc"><p> United Kingdom</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600;"><strong>BPS Dentures</strong></span></p>
<p>We are a BPS certified lab and have been fabricating premium quality precision dentures for years. BPS (Biofunctional Prosthetic Systems) essentially comprises of an injection molding technique and use of high-quality BPS core products to fabricate BPS brand dentures. A genuine BPS denture will have a BPS logo incorporated in it.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/lab-1bb44.jpg?fit=2515%2C953&amp;ssl=1" alt="BPS Dentures" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/lab-1.jpg?fit=2515%2C953&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>BPS Dentures</h4>
       <p>Biofunctional Prosthetic System dentures</p> 
    </div>

     <div class="desc"><p>Ivoclar Vivadent, Liechtenstein</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: left;"><strong><span style="color: #ff6600; font-family: arial, helvetica, sans-serif; font-size: 12pt;">Implant Prosthesis</span></strong></p>
<p style="text-align: justify;">FMS’s Dental Lab began its foray into implant prosthetics with <strong>Procera forte in 2006</strong> with single implant abutments  and Procera implant bridges . With the addition of other CAD systems over the years like<strong> Procera 2G and Sirona inLAB MCXL</strong>, V Dentarts expertise grew further into customized solutions. Prostheses planning and solutions were made easier with the <strong>Iso A1 Goldline ( Artiglio, Italy)</strong>&#8211; a precision dental milling machine enabling the lab to design multiple and complicated implant prostheses.</p>
<p style="text-align: justify;">The lab specializes in <strong>fixed hybrid dentures  with titanium frameworks</strong> where the framework is scanned using the Procera 2G scanner (Nobel Biocare).This framework is wrapped around in  high quality acrylic, which gives an absolute natural look and feel . This permanent functional prosthesis with unsurpassed esthetics, gives patients a dramatic quality of life.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Hybrid-Denture7362.jpg?fit=495%2C293&amp;ssl=1" alt="Implant Hybrid Denture" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Hybrid-Denture.jpg?fit=495%2C293&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Implant Hybrid Denture</h4>
       <p>Titanium framework with acrylic wrap around teeth</p> 
    </div>

     <div class="desc"><p>Nobel Procera, Sweden</p></div> 


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/malo-bridge5a9e.jpg?fit=738%2C442&amp;ssl=1" alt="Procera Implant Bridge " data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/malo-bridge.jpg?fit=738%2C442&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Procera Implant Bridge </h4>
       <p>Titanium framework with Zirconium crowns</p> 
    </div>

     <div class="desc"><p>Nobel Procera, Sweden</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We also offer high-end Implant prosthetic solutions like the <strong>Malo Bridge</strong> –constructed using the latest in CAD-CAM technology.  It has a <strong>Titanium / Zirconia</strong>  substructure with a choice of  <strong>PFM or Zirconia crowns</strong>. It offers ultimate  esthetics, strength and a smile that will last a lifetime !!!</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>