<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


        <div class="hgroup">

            <div class="title diagonal-bgcolor-trans">
                <div class="container">
                    <h1>{{hospital.name}}</h1>
                </div>
            </div>

            <div class="subtitle body-bg_section   ">
                <div class="container">
                    <p>Visit Guide</p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="main foo" data-colorset="foo">
    <section class="vc_row wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-12 col-md-6 margin_bottom_grid">
                    <div class="wpb_wrapper">

                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                {{{ hospital.description }}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>