<div class="head_panel">
  <div style="background-image: url(0/index.html)" class="full_width_photo  parallax-window ">


    <div class="hgroup">

      <div class="title diagonal-bgcolor-trans   ">
        <div class="container">
          <h1>Appointment Booking</h1>
        </div>
      </div>

      <div class="subtitle body-bg_section   ">
        <div class="container">
          <p>Fill in the Form or call us directly at <b> 00 91 8885060780</b></p>
        </div>
      </div>

    </div>


  </div>
</div>




<section class="vc_row wpb_row vc_row-fluid light_section">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container col-sm-6 light_section margin_bottom_grid">
        <div class="wpb_wrapper">
          <div >
            <form action="javascript:;" method="post" id="appointmentForm">
              <p>Full Name: (*)<br>
                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" value size="40"
                    class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required"
                    aria-required="true" aria-invalid="false"></span> </p>
              <p>Phone Number: (*)<br>
                <span class="wpcf7-form-control-wrap tel-760"><input type="tel" name="phone" value size="40"
                    class="wpcf7-form-control wpcf7-form-control form-control wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                    aria-required="true" aria-invalid="false"></span> </p>
              <p>Email Id: (*)<br>
                <span class="wpcf7-form-control-wrap email-71"><input type="email" name="email" value size="40"
                    class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email"
                    aria-required="true" aria-invalid="false"></span> </p>
              <p>Date Of Appointment: (*)<br>
                <span class="wpcf7-form-control-wrap datetime-875"><input type="text" name="date" value
                    size="40" class="wpcf7-form-control wpcf7-date wpcf7-datetime"> </span> </p>
              <p>Preferred Dental Hospital:<br>
                <span class="wpcf7-form-control-wrap Branch"><select name="branch"
                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false">
                    {{#each hospitals }}
                    <option value="{{this.dataValues.name}}">{{this.dataValues.name}}</option>
                    {{/each  }}
                  </select></span></p>
              <p>How did you know about our practice:<br>
                <span class="wpcf7-form-control-wrap practice"><select name="practice"
                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false">
                    <option value="Web Site">Web Site</option>
                    <option value="Internet">Internet</option>
                    <option value="Radio/Television">Radio/Television</option>
                    <option value="Post Card">Post Card</option>
                    <option value="News Paper">News Paper</option>
                    <option value="Referred">Referred</option>
                    <option value="Others">Others</option>
                  </select></span>
              </p>
              <p>Purpose:<br>
                <span class="wpcf7-form-control-wrap Purpose"><select name="purpose"
                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false">
                    <option value="Appointment">Appointment</option>
                    <option value="Billing">Billing</option>
                    <option value="Consultation">Consultation</option>
                    <option value="General Information">General Information</option>
                    <option value="Others">Others</option>
                  </select></span>
              </p>
              <p>Query: (*)<br>
                <span class="wpcf7-form-control-wrap Chiefcomplaint"><textarea name="query" cols="40" rows="10"
                    class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control"
                    aria-invalid="false"></textarea></span></p>
              <p>&nbsp;</p>
              <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
              <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container col-sm-6 transparent_film">
        <div class="wpb_wrapper">

          <div class="wpb_single_image wpb_content_element vc_align_left">

            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="130" height="100"
                  src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-130ad.png?resize=130%2C100&amp;ssl=1"
                  class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt="Book an appointment"
                  data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-1.png?resize=130%2C100&amp;ssl=1&amp;is-pending-load=1"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
            </figure>
          </div>

          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <p>Solutions to your dental problems &#8230;</p>
              <p><span style="color: #d66813; font-size: 18pt;"><strong>Call Now <span
                      style="font-family: arial,helvetica,sans-serif;">00 </span><span
                      style="font-family: arial,helvetica,sans-serif;">91 40 2222 1111</span></strong></span></p>

            </div>
          </div>
          <div
            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
            <h4>working hours</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
          </div>
          <div class="wpb_raw_code wpb_content_element wpb_raw_html">
            <div class="wpb_wrapper">
              <div class="timetable">
                <table class="timetable_hours">
                  <tr>
                    <td>MONDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>TUESDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>WEDNESDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>THURSDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>FRIDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>SATURDAY</td>
                    <td>09:00-21:00</td>
                  </tr>
                  <tr>
                    <td>SUNDAY</td>
                    <td>10:00-19:00</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
          <div
            class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
            <h4>Get treated now and Pay Later</h4><span class="vc_sep_holder vc_sep_holder_r"><span
                class="vc_sep_line"></span></span>
          </div>
          <div class="wpb_single_image wpb_content_element vc_align_left">

            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="777" height="203"
                  src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/bajaj-finserv-emi-logo-166d1.jpg?fit=777%2C203&amp;ssl=1"
                  class="vc_single_image-img attachment-large jetpack-lazy-image" alt
                  data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/bajaj-finserv-emi-logo-1.jpg?w=777&amp;ssl=1 777w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/bajaj-finserv-emi-logo-1.jpg?resize=300%2C78&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/bajaj-finserv-emi-logo-1.jpg?resize=768%2C201&amp;ssl=1 768w"
                  data-lazy-sizes="(max-width: 777px) 100vw, 777px"
                  data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/bajaj-finserv-emi-logo-1.jpg?fit=777%2C203&amp;ssl=1&amp;is-pending-load=1"
                  srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
            </figure>
          </div>

          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <p>0%  interest free loans are available from BAJAJ FINSERV, at all FMS Branches, with on the spot
                approvals.</p>

            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
          <div
            class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
            <h4>Empanelments</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
          </div>
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <p>For the convenience of our clients the <strong>FMS</strong> <strong>DENTAL HOSPITAL</strong>  provides
                direct billing with major Public and Private sector companies and insurance providers.</p>

            </div>
          </div>
          <div class="plethora_button wpb_content_element text-left ">
            <a href="https://fmsdental.com/new/payments-empanelments/" class="btn btn-primary  " title target="_self">


              More


            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


