	<div class="main foo" data-colorset="foo">
			<!--    >> START ========================= CONTENT AREA ========================  -->
			<section class="sidebar_on padding_top_half">
				<div class="container">
					<div class="row">
						<!--   START >> ========================= MAIN COLUMN ========================  -->
						<div class="col-sm-8 col-md-8 main_col ">
							<article id="post-13560"
								class="post post-13560 type-post status-publish format-standard has-post-thumbnail hentry category-benefits-of-cbct-scan category-images-fg category-news tag-benefits-of-cbct-scan tag-cbct-scan tag-cone-beam-ct tag-cone-beam-ct-scan tag-dental-implants-planning-placement-using-cbct-scan tag-guided-surgeries-with-cbct-scan">
								<h1 class="post_title">Benefits of CBCT scan</h1>
								<div class="post_figure_and_info">
									<figure class="stretchy_wrapper ratio_2-1"
										style="background-image: url(https_/i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/04/CBCT-Cone-Beam-CT-scan-FMS-DENTAL-Indiafee7.html?fit=715%2C739&amp;ssl=1')">
										<img alt="Benefits of CBCT scan"
											src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2019/04/CBCT-Cone-Beam-CT-scan-FMS-DENTAL-Indiafee7.jpg?fit=715%2C739&amp;ssl=1">
									</figure>
									<div class="post_sub"><span class="post_info post_date"><i
												class="fa fa-calendar"></i> April 5, 2019</span><a
											href="../author/admin/index.html" title="Team FMS"><span
												class="post_info post_author">Team FMS</span></a><a
											href="../category/benefits-of-cbct-scan/index.html"
											title="View all posts in category: Benefits of CBCT scan"><span
												class="post_info post_categories">Benefits of CBCT scan</span></a><a
											href="../category/images-fg/index.html"
											title="View all posts in category: Images FG"><span
												class="post_info post_categories">Images FG</span></a><a
											href="../category/news/index.html"
											title="View all posts in category: News"><span
												class="post_info post_categories">News</span></a><a
											href="../tag/benefits-of-cbct-scan/index.html"
											title="View all posts in tag: Benefits of CBCT scan"><span
												class="post_info post_tags">Benefits of CBCT scan</span></a><a
											href="../tag/cbct-scan/index.html"
											title="View all posts in tag: CBCT scan"><span
												class="post_info post_tags">CBCT scan</span></a><a
											href="../tag/cone-beam-ct/index.html"
											title="View all posts in tag: Cone Beam CT"><span
												class="post_info post_tags">Cone Beam CT</span></a><a
											href="../tag/cone-beam-ct-scan/index.html"
											title="View all posts in tag: Cone Beam CT scan"><span
												class="post_info post_tags">Cone Beam CT scan</span></a><a
											href="../tag/dental-implants-planning-placement-using-cbct-scan/index.html"
											title="View all posts in tag: Dental implants planning &amp; placement using cbct scan"><span
												class="post_info post_tags">Dental implants planning &amp; placement
												using cbct scan</span></a><a
											href="../tag/guided-surgeries-with-cbct-scan/index.html"
											title="View all posts in tag: guided surgeries with cbct scan"><span
												class="post_info post_tags">guided surgeries with cbct scan</span></a>
									</div>
								</div>
								<p>Benefits of CBCT scan include 90% less radiation exposure &amp; zero discomfort.
									<em><strong><span style="color: #ff6600;">FMS DENTAL</span> uses <span
												style="color: #800000;"><a
													style="color: #800000; text-decoration: underline;"
													href="../cbct/index.html">CBCT scan</a> </span>for all guided
											surgeries like Dental Implants etc.</strong></em></p>
								<p>Two dimensional radiographs like periapical and panoramic radiographs have always
									been used extensively since the past 25 years. 2D x-rays have few problems like
									low-definition images, distortion and superimposition resulting in erroneous
									diagnosis at times. In cases that need more clarity in imaging, patients were
									referred to medical (spiral) CT scan that had its own problems like higher exposure
									to radiation and longer procedure time.</p>
								<p>CBCT scans have evolved as a game changer in dental radiography and its introduction
									has definitely added an extra dimension to customized dental care delivery.</p>
								<p>Have you experienced the difference between 2D and a 3D movie? How realistic it feels
									to watch the 3D one! Well that’s exactly the difference one can perceive in 2D and
									3D scans. <strong><em>FMS Dental Hospital </em></strong>has walked an extra mile to
									deliver healthy smiles by introducing this <span
										style="color: #ff6600;"><em><strong>tremendous advancement of diagnostic
												technology</strong>.</em></span></p>
								<p><span style="color: #800000;"><strong><img
												class="wp-image-7418 size-full aligncenter jetpack-lazy-image"
												src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan53c6.jpg?resize=592%2C309&amp;ssl=1"
												alt="advantages of CBCT scan" width="592" height="309"
												data-recalc-dims="1"
												data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan.jpg?w=592&amp;ssl=1 592w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan.jpg?resize=300%2C157&amp;ssl=1 300w"
												data-lazy-sizes="(max-width: 592px) 100vw, 592px"
												data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan.jpg?resize=592%2C309&amp;is-pending-load=1#038;ssl=1"
												srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img
													class="wp-image-7418 size-full aligncenter"
													src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan53c6.jpg?resize=592%2C309&amp;ssl=1"
													alt="advantages of CBCT scan" width="592" height="309"
													srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan.jpg?w=592&amp;ssl=1 592w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/cbct-scan.jpg?resize=300%2C157&amp;ssl=1 300w"
													sizes="(max-width: 592px) 100vw, 592px"
													data-recalc-dims="1" /></noscript></strong></span></p>
								<p><span style="color: #800000;"><strong>What is a CBCT scan?</strong></span><br />
									It’s basically a three-dimensional radiograph. CBCT stands for “Cone Beam Computed
									Tomography”. It is quite similar to the “CAT scan” technology used in the medical
									domain. The difference is that a cone-shaped beam is used to image a small area
									exclusively with significantly less radiation.  There is lesser distortion as
									compared to 2D images. Accurate measurements of the bone density, bone height and
									width are possible.</p>
								<p><span style="color: #ff6600;"><strong><em>CARESTREAM CS 9300, the latest and one of
												the best in CBCT technology, is being used at FMS since the past 6 years
												for our more complex dental cases.</em></strong></span></p>
								<p><span style="color: #800000;"><strong>When do you need one?</strong></span><br />
									You may be asked by your dentist to get a CBCT scan done in the following cases-</p>
								<ul>
									<li><strong>Dental implants</strong> –for the precise planning and placement of
										dental implants.</li>
									<li>For Assessment of<strong> Relative Bone Quality</strong></li>
									<li><strong>Root canal treatment- </strong>for clear-cut viewing of root canals.
									</li>
									<li><strong>Temporomandibular Joint</strong>&#8211; for diagnosis of TMJ related
										problems</li>
									<li><strong>Impacted teeth</strong> – for checking the position of the impacted
										tooth in relation to the neighboring structures like mandibular nerve and
										maxillary sinus.</li>
									<li><strong>Orthodontic treatment</strong>&#8211; for evaluation of the facial
										structures and teeth.<strong> </strong></li>
								</ul>
								<p><span style="text-decoration: underline;"><a
											href="https://www.youtube.com/watch?v=DfwF9X6CWe4&amp;t=3s"><span
												style="color: #800000;"><strong><span
														style="color: #800000; text-decoration: underline;">What are the
														benefits of CBCT scan over 2D
														radiographs?</span></strong></span></a></span></p>
								<ul>
									<li>Benefits of CBCT scan include high definition images with exceptional details.
									</li>
									<li>Multidimensional assessment is possible as multiple images are generated in
										various planes.</li>
									<li>Helpful in accurate diagnosis and treatment planning.</li>
									<li>Beneficial for Guided Surgeries.</li>
								</ul>
								<p><span style="color: #800000;"><strong>What are the advantages of CBCT scans over CT
											scans?</strong></span></p>
								<ul>
									<li>90% less radiation exposure as compared to CT scans.</li>
									<li>Quick procedure of 30 seconds to a minute as compared to one hour procedure in
										CT scans.</li>
									<li>No discomfort like claustrophobia or loud noise</li>
								</ul>
								<p><span style="color: #800000;"><strong>Conclusion</strong></span></p>
								<p><strong><span style="color: #ff6600;">CBCT</span> </strong>or 3D imaging is surely
									going to shape the future of dental diagnosis and treatment planning. This quick and
									painless procedure helps in accurate assessment of your facial skeleton and helps in
									planning of reconstructive and cosmetic dentistry procedures.</p>
								<p>If you have any questions about the CBCT Scan or are interested in getting one done
									and knowing more about it, call us at <strong><span style="color: #ff6600;">040 2222
											1111</span></strong>.</p>
							</article>
							<div id="new_comment">
								<div class="new_comment">
									<div id="respond" class="comment-respond">
										<h3 id="reply-title" class="comment-reply-title">Add Comment <small><a
													rel="nofollow" id="cancel-comment-reply-link"
													href="index.html#respond" style="display:none;">Cancel</a></small>
										</h3>
										<form action="https://www.fmsdental.com/wp-comments-post.php" method="post"
											id="commentform" class="comment-form">
											<div class="row">
												<div class="col-sm-12 col-md-8"><textarea rows="5"
														placeholder="Comments" class="form-control" id="comment"
														name="comment" class="form-control"
														aria-required="true"></textarea></div>
											</div><br>
											<div class="row">
												<div class="col-sm-6 col-md-4"><input name="name"
														placeholder="Your name" type="text" class="form-control"
														id="author" name="author" aria-required="true"></div>
												<div class="col-sm-6 col-md-4"><input name="email"
														placeholder="Your email" type="text" class="form-control"
														id="email" name="email" value="" aria-required="true"></div>
											</div>
											<p class="comment-form-cookies-consent"><input
													id="wp-comment-cookies-consent" name="wp-comment-cookies-consent"
													type="checkbox" value="yes" /> <label
													for="wp-comment-cookies-consent">Save my name, email, and website in
													this browser for the next time I comment.</label></p>
											<p class="form-submit"><input name="submit" type="submit" id="submit"
													class="btn send btn-primary" value="Add Comment" /> <input
													type='hidden' name='comment_post_ID' value='13560'
													id='comment_post_ID' />
												<input type='hidden' name='comment_parent' id='comment_parent'
													value='0' />
											</p>
										</form>
									</div><!-- #respond -->
								</div>
							</div>

						</div>
						<!--    << END ========================= MAIN COLUMN ========================  -->
						<div id="sidebar" class="col-sm-4 col-md-4">
							<aside id="locationslistwidget-2" class="widget locationsListWidget">
								<h4> </h4>
								<div class="locations">
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL &ndash; International All-on-4 Dental Implant Center
											Jubilee Hills Hyderabad India</h3>
										<div class="address">
											<div class="addr">Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road,
												CBI Colony, Near Daspalla Hotel, Jubilee Hills</div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500033</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88850 60770 / +91-88850 60763</span></div>
										<div class="info-wrapper">Hours:
											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=Door+No.+8-2-293%2F82%2FA%2F725%2C+Road+No.+37%2C+Hi-Tech+City+Road%2C+CBI+Colony%2C+Near+Daspalla+Hotel%2C+Jubilee+Hills+Hyderabad%2C+Telangana%2C+India+500033">Directions</a>
											<span class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=Door+No.+8-2-293%2F82%2FA%2F725%2C+Road+No.+37%2C+Hi-Tech+City+Road%2C+CBI+Colony%2C+Near+Daspalla+Hotel%2C+Jubilee+Hills+Hyderabad%2C+Telangana%2C+India+500033">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road, CBI Colony, Near Daspalla Hotel, Jubilee Hills, , Hyderabad, Telangana, India, 500033&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road, CBI Colony, Near Daspalla Hotel, Jubilee Hills, , Hyderabad, Telangana, India, 500033&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL, Best Dental Hospital in Hyderabad India</h3>
										<div class="address">
											<div class="addr">H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of
												India, Above HDFC Bank </div>
											<div class="addr2">Bank Street, Koti</div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500001</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88850 60776 / +91-40-2473 7373</span></div>
										<div class="info-wrapper">Hours:

											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=H.+No.+5-1-680%2F1%2F1%2C+Ayanger+Plaza%2C+Adj.+Central+Bank+of+India%2C+Above+HDFC+Bank+%2C+Bank+Street%2C+Koti+Hyderabad%2C+Telangana%2C+India+500001">Directions</a>
											<span class="divider">|</span> <a class="email"
												href="mailto:contact@fmsdental.com">Email</a> <span
												class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=H.+No.+5-1-680%2F1%2F1%2C+Ayanger+Plaza%2C+Adj.+Central+Bank+of+India%2C+Above+HDFC+Bank+%2C+Bank+Street%2C+Koti+Hyderabad%2C+Telangana%2C+India+500001">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of India, Above HDFC Bank , Bank Street, Koti, Hyderabad, Telangana, India, 500001&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of India, Above HDFC Bank , Bank Street, Koti, Hyderabad, Telangana, India, 500001&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL, Dental Implant Clinic Langar House Hyderabad India</h3>
										<div class="address">
											<div class="addr"> H. No. 9-1-43/52, Prashanth Nagar, </div>
											<div class="addr2">Bapu Nagar, Opposite Bus Stop, Langar House, </div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500008</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88866 43234 / +91-40-2222-1111</span></div>
										<div class="info-wrapper">Hours:
											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM
										</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=+H.+No.+9-1-43%2F52%2C+Prashanth+Nagar%2C+%2C+Bapu+Nagar%2C+Opposite+Bus+Stop%2C+Langar+House%2C++Hyderabad%2C+Telangana%2C+India+500008">Directions</a>
											<span class="divider">|</span> <a class="email"
												href="mailto:contact@fmsdental.com">Email</a> <span
												class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=+H.+No.+9-1-43%2F52%2C+Prashanth+Nagar%2C+%2C+Bapu+Nagar%2C+Opposite+Bus+Stop%2C+Langar+House%2C++Hyderabad%2C+Telangana%2C+India+500008">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q= H. No. 9-1-43/52, Prashanth Nagar, , Bapu Nagar, Opposite Bus Stop, Langar House, , Hyderabad, Telangana, India, 500008&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear= H. No. 9-1-43/52, Prashanth Nagar, , Bapu Nagar, Opposite Bus Stop, Langar House, , Hyderabad, Telangana, India, 500008&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
			<!--    << END ========================= CONTENT AREA ========================  -->
		</div>
		<!--    END ======