<div class="main foo" data-colorset="foo">
			<!--    >> START ========================= CONTENT AREA ========================  -->
			<section class="sidebar_on padding_top_half">
				<div class="container">
					<div class="row">
						<!--   START >> ========================= MAIN COLUMN ========================  -->
						<div class="col-sm-8 col-md-8 main_col ">
							<article id="post-12224"
								class="post post-12224 type-post status-publish format-standard hentry category-best-dental-hospital-in-hyderabad category-images-fg category-news tag-best-dental-clinic-in-hyderabad tag-best-dental-clinic-in-india tag-best-dental-clinic-near-me tag-best-dental-hospital-in-hyderabad tag-best-dental-hospital-in-india tag-best-dental-hospital-near-me tag-best-dentist-near-me tag-braces-cost tag-dental-implant tag-implant-cost tag-root-canal-treatment">
								<h1 class="post_title">Best Dental Hospital in Hyderabad</h1>
								<div class="post_figure_and_info">
									<div class="post_sub"><span class="post_info post_date"><i
												class="fa fa-calendar"></i> May 26, 2018</span><a
											href="../author/admin_ez/index.html"
											title="Face Makeover &#038; Smile Clinics"><span
												class="post_info post_author">Face Makeover &#38; Smile
												Clinics</span></a><a
											href="../category/best-dental-hospital-in-hyderabad/index.html"
											title="View all posts in category: Best Dental Hospital in Hyderabad"><span
												class="post_info post_categories">Best Dental Hospital in
												Hyderabad</span></a><a href="../category/images-fg/index.html"
											title="View all posts in category: Images FG"><span
												class="post_info post_categories">Images FG</span></a><a
											href="../category/news/index.html"
											title="View all posts in category: News"><span
												class="post_info post_categories">News</span></a><a
											href="../tag/best-dental-clinic-in-hyderabad/index.html"
											title="View all posts in tag: Best Dental Clinic in Hyderabad"><span
												class="post_info post_tags">Best Dental Clinic in Hyderabad</span></a><a
											href="../tag/best-dental-clinic-in-india/index.html"
											title="View all posts in tag: Best Dental Clinic in India"><span
												class="post_info post_tags">Best Dental Clinic in India</span></a><a
											href="../tag/best-dental-clinic-near-me/index.html"
											title="View all posts in tag: Best Dental Clinic near me"><span
												class="post_info post_tags">Best Dental Clinic near me</span></a><a
											href="../tag/best-dental-hospital-in-hyderabad/index.html"
											title="View all posts in tag: Best Dental Hospital in Hyderabad"><span
												class="post_info post_tags">Best Dental Hospital in
												Hyderabad</span></a><a
											href="../tag/best-dental-hospital-in-india/index.html"
											title="View all posts in tag: Best Dental Hospital in India"><span
												class="post_info post_tags">Best Dental Hospital in India</span></a><a
											href="../tag/best-dental-hospital-near-me/index.html"
											title="View all posts in tag: Best Dental Hospital Near Me"><span
												class="post_info post_tags">Best Dental Hospital Near Me</span></a><a
											href="../tag/best-dentist-near-me/index.html"
											title="View all posts in tag: Best Dentist Near me"><span
												class="post_info post_tags">Best Dentist Near me</span></a><a
											href="../tag/braces-cost/index.html"
											title="View all posts in tag: Braces Cost"><span
												class="post_info post_tags">Braces Cost</span></a><a
											href="../tag/dental-implant/index.html"
											title="View all posts in tag: Dental Implant"><span
												class="post_info post_tags">Dental Implant</span></a><a
											href="../tag/implant-cost/index.html"
											title="View all posts in tag: Implant Cost"><span
												class="post_info post_tags">Implant Cost</span></a><a
											href="../tag/root-canal-treatment/index.html"
											title="View all posts in tag: Root canal treatment"><span
												class="post_info post_tags">Root canal treatment</span></a></div>
								</div>
								<h2>Best Dental Hospital in Hyderabad</h2>
								<p>FMS Dental Hospital is the <strong>Best Dental Hospital in Hyderabad</strong> &amp;
									Awarded as a  &#8220;Best Hospital Of The Year 2018 &#8211; DENTISTRY&#8221; at the
									&#8220;Times Healthcare Achievers Awards 2018” presented by TIMES OF INDIA.</p>
								<p>FMS DENTAL is one of the <a href="https://gcr.org/top/dental/in" target="_blank"
										rel="noopener noreferrer">top dental clinics in Hyderabad,
										India</a> and <strong>2nd best dental center in the world</strong> <a
										href="https://gcr.org/top/dental?button=&amp;location=&amp;page=1&amp;search%5Bclinic_type_text%5D=Dental"
										target="_blank" rel="noopener noreferrer">(GCR Rating)</a>, with multi-specialty
									practice, in-patient facility and 24 hr. emergency dental services.</p>
								<p><a href="../best-dental-hospital-hyderabad/index.html"><img
											class="alignnone wp-image-12226 size-full jetpack-lazy-image"
											src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-Indiafa14.jpg?resize=960%2C960"
											alt="Best Dental Hospital in Hyderabad" width="960" height="960"
											data-recalc-dims="1"
											data-lazy-srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?w=960&amp;ssl=1 960w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=768%2C768&amp;ssl=1 768w"
											data-lazy-sizes="(max-width: 960px) 100vw, 960px"
											data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=960%2C960&amp;is-pending-load=1"
											srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img
												class="alignnone wp-image-12226 size-full"
												src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-Indiafa14.jpg?resize=960%2C960"
												alt="Best Dental Hospital in Hyderabad" width="960" height="960"
												srcset="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?w=960&amp;ssl=1 960w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg?resize=768%2C768&amp;ssl=1 768w"
												sizes="(max-width: 960px) 100vw, 960px"
												data-recalc-dims="1" /></noscript></a></p>
								<p>FMS Dental Hospitals is the most sought after destination for Dental Implants,
									Cosmetic Dentistry, Periodontist, Orthodontist, Laser Root Canal, Dental Braces
									Treatment  in Hyderabad, India. We offer an exciting Dental Tourism opportunity,
									which combines your dental procedures with great holidays around Hyderabad and
									exotic India. So enjoy the splendor of this incredible part of the world, while also
									being on your way to healthier teeth and beautiful smiles, at one of the
									<strong>Best Dental Hospital in Hyderabad</strong>.</p>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<p>The exclusive Hospital for Maxillofacial Surgery with  sedation-general
											anesthesia facility was started in the year 1998 at <a
												href="../fms-dental-hospitals-koti/index.html">Koti</a>, Hyderabad.
											Probably this is the first corporate dental chain which started the concept
											of independent Hospital Dentistry with sedation-general anesthesia facility
											in the country.</p>
										<p>The dental hospital at Koti consists of :</p>
										<ul>
											<li>Operation Theatre Complex:
												<ul>
													<li>This includes a major operation theatre,</li>
													<li>Intensive care Unit (ICU)</li>
													<li>All life supporting devices like ventilator, defibrillator,
														pulse-oximeters,Anesthesia and conscious sedation work stations,
														electrocauteries, Stryker Saw system, Physio dispensors etc.
													</li>
												</ul>
											</li>
										</ul>
										<p><img class="aligncenter wp-image-12456  jetpack-lazy-image"
												src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-hospital-hyderbad-india-1024x7659596.html?resize=646%2C508"
												alt="best dental hospital in hyderbad" width="646" height="508"
												data-recalc-dims="1"
												data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-hospital-hyderbad-india-1024x765.jpg?resize=646%2C508&amp;is-pending-load=1"
												srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img
													class="aligncenter wp-image-12456 "
													src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-hospital-hyderbad-india-1024x7659596.html?resize=646%2C508"
													alt="best dental hospital in hyderbad" width="646" height="508"
													data-recalc-dims="1" /></noscript></p>
										<ul>
											<li>In house nursing staff.</li>
											<li>In-patient facility with sedation-general anesthesia care, catering to
												all patients undergoing major and minor</li>
										</ul>
										<p><img class="aligncenter wp-image-12460 size-large jetpack-lazy-image"
												src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward-1024x55849e6.jpg?resize=1024%2C558"
												alt width="1024" height="558" data-recalc-dims="1"
												data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=1024%2C558&amp;ssl=1 1024w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=300%2C163&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=768%2C418&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?w=1713&amp;ssl=1 1713w"
												data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"
												data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward-1024x558.jpg?resize=1024%2C558&amp;is-pending-load=1"
												srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript><img
													class="aligncenter wp-image-12460 size-large"
													src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward-1024x55849e6.jpg?resize=1024%2C558"
													alt="" width="1024" height="558"
													srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=1024%2C558&amp;ssl=1 1024w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=300%2C163&amp;ssl=1 300w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?resize=768%2C418&amp;ssl=1 768w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/post-ward.jpg?w=1713&amp;ssl=1 1713w"
													sizes="(max-width: 1000px) 100vw, 1000px"
													data-recalc-dims="1" /></noscript></p>
										<ul>
											<li>maxillofacial surgical patients – trauma, orthognathic surgeries, cleft
												lip and palate, dental Implants etc.</li>
											<li>Dental Implant Theatre</li>
											<li>Special clinics for medically compromised dental patients.</li>
											<li>24 x 7 Emergency Dental Services.</li>
										</ul>
									</div>
								</div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<p>The centre has got 14 electrically operated dental chairs with
													in-house full-fledged radiology department that includes Cone Beam
													CT scan (KODAK cs9000), Digital OPG &amp; Ceph and RVGs.</p>
												<p>Dedicated Implantology department with Physio dispensers, Piezo
													surgery units &amp; various special surgical equipments to place
													different implant systems from Nobel Biocare, AlphaBio, AB, MIS,
													IDHE DENTAL (KOS, BOI, BCS) are available in this centre.</p>
												<p>Other Special equipments are Bio LASE from water LASE, Diode LASER
													from SKANRAY, DIAGNOdent, surgical microscope etc.</p>
												<p>More than 15 specialists from various specialities of dentistry, 6
													general dentists &amp; dental hygienists are available between 9
													a.m. – 9 p.m. in this hospital.</p>
												<p>This Dental Hospital has a comprehensive team  comprising 
													Prosthodontists, Endodontists, Periodontists, Orthodontists and Oral
													&amp; Maxillofacial surgeons and senior anesthetist on call, with
													decades of experience, academic and research background, making it
													the <strong>Best Dental Hospital in Hyderabad</strong>.They not only
													work together behind the smiles of millions, but also is actively
													involved in training dentists across the country, in the field of
													Dentistry.</p>
												<p>It is recognised referral hospital for the employees of Central
													Government of India, State Government of Telangana and Andhra
													Pradesh, police department of Telangana &amp; Andhra Pradesh (Arogya
													Bhadratha) and 30 more public sector employees.</p>
											</div>
										</div>
									</div>
								</div>
								<p><a href="https://www.youtube.com/watch?v=X2k8zslYgqw">FMS Dental Hospital Awarded
										as</a> &#8220;Best Hospital Of The Year 2018 &#8211; DENTISTRY&#8221; at the
									&#8220;Times Healthcare Achievers Awards 2018” presented by TIMES OF INDIA.</p>
								<div style="width: 1280px;" class="wp-video">
									<!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
									<video class="wp-video-shortcode" id="video-12224-1" width="1280" height="720"
										poster="../wp-content/uploads/2018/05/Best-Dental-Hospital-in-Hyderabad-Awarded-by-Times-of-India.jpg"
										preload="metadata" controls="controls">
										<source type="video/mp4"
											src="../wp-content/uploads/2018/05/Best-Hospital-Of-The-Year-2018-DENTISTRY-at-the-Times-Healthcare-Achievers-Awards-2018%e2%80%9d-presented-by-TIMES-OF-INDIA230a.mp4?_=1" />
										<a
											href="../wp-content/uploads/2018/05/Best-Hospital-Of-The-Year-2018-DENTISTRY-at-the-Times-Healthcare-Achievers-Awards-2018%e2%80%9d-presented-by-TIMES-OF-INDIA.mp4">https://www.fmsdental.com/wp-content/uploads/2018/05/Best-Hospital-Of-The-Year-2018-DENTISTRY-at-the-Times-Healthcare-Achievers-Awards-2018”-presented-by-TIMES-OF-INDIA.mp4</a></video>
								</div>
								<p>&nbsp;</p>
								<p><a href="../location/index.html">FMS Dental Hospital Located twin city
										Hyderabad/Secunderbad.</a></p>
								<p>FMS International Dental Implant Center Jubilee Hills</p>
								<p>FMS Dental Hospital Koti</p>
								<p><a href="../fms-dental-hospitals-langar-house/index.html">FMS Dental Hospital langar
										house</a></p>
								<p><a
										href="../fms-dental-hospital-cosmetic-dental-clinic-dentist-kondapur-hyderabad-india/index.html">FMS
										Dental Hospital Kondapur</a></p>
								<p>FMS Dental Hospital Secundrabad</p>
								<p>FMS Dental Hospital Dilsukhnagar</p>
								<p><a href="../fms-dental-hospitals-kukatpally/index.html">FMS Dental Hospital
										Kukatpally</a></p>
								<p>FMS Dental Hospital Panjagutta</p>
								<p>FMS Dental Hospital A S Rao Nagar</p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
							</article>
							<div id="new_comment">
								<div class="new_comment">
									<div id="respond" class="comment-respond">
										<h3 id="reply-title" class="comment-reply-title">Add Comment <small><a
													rel="nofollow" id="cancel-comment-reply-link"
													href="index.html#respond" style="display:none;">Cancel</a></small>
										</h3>
										<form action="https://www.fmsdental.com/wp-comments-post.php" method="post"
											id="commentform" class="comment-form">
											<div class="row">
												<div class="col-sm-12 col-md-8"><textarea rows="5"
														placeholder="Comments" class="form-control" id="comment"
														name="comment" class="form-control"
														aria-required="true"></textarea></div>
											</div><br>
											<div class="row">
												<div class="col-sm-6 col-md-4"><input name="name"
														placeholder="Your name" type="text" class="form-control"
														id="author" name="author" aria-required="true"></div>
												<div class="col-sm-6 col-md-4"><input name="email"
														placeholder="Your email" type="text" class="form-control"
														id="email" name="email" value="" aria-required="true"></div>
											</div>
											<p class="comment-form-cookies-consent"><input
													id="wp-comment-cookies-consent" name="wp-comment-cookies-consent"
													type="checkbox" value="yes" /> <label
													for="wp-comment-cookies-consent">Save my name, email, and website in
													this browser for the next time I comment.</label></p>
											<p class="form-submit"><input name="submit" type="submit" id="submit"
													class="btn send btn-primary" value="Add Comment" /> <input
													type='hidden' name='comment_post_ID' value='12224'
													id='comment_post_ID' />
												<input type='hidden' name='comment_parent' id='comment_parent'
													value='0' />
											</p>
										</form>
									</div><!-- #respond -->
								</div>
							</div>

						</div>
						<!--    << END ========================= MAIN COLUMN ========================  -->
						<div id="sidebar" class="col-sm-4 col-md-4">
							<aside id="locationslistwidget-2" class="widget locationsListWidget">
								<h4> </h4>
								<div class="locations">
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL &ndash; International All-on-4 Dental Implant Center
											Jubilee Hills Hyderabad India</h3>
										<div class="address">
											<div class="addr">Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road,
												CBI Colony, Near Daspalla Hotel, Jubilee Hills</div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500033</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88850 60770 / +91-88850 60763</span></div>
										<div class="info-wrapper">Hours:
											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=Door+No.+8-2-293%2F82%2FA%2F725%2C+Road+No.+37%2C+Hi-Tech+City+Road%2C+CBI+Colony%2C+Near+Daspalla+Hotel%2C+Jubilee+Hills+Hyderabad%2C+Telangana%2C+India+500033">Directions</a>
											<span class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=Door+No.+8-2-293%2F82%2FA%2F725%2C+Road+No.+37%2C+Hi-Tech+City+Road%2C+CBI+Colony%2C+Near+Daspalla+Hotel%2C+Jubilee+Hills+Hyderabad%2C+Telangana%2C+India+500033">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road, CBI Colony, Near Daspalla Hotel, Jubilee Hills, , Hyderabad, Telangana, India, 500033&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road, CBI Colony, Near Daspalla Hotel, Jubilee Hills, , Hyderabad, Telangana, India, 500033&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL, Best Dental Hospital in Hyderabad India</h3>
										<div class="address">
											<div class="addr">H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of
												India, Above HDFC Bank </div>
											<div class="addr2">Bank Street, Koti</div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500001</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88850 60776 / +91-40-2473 7373</span></div>
										<div class="info-wrapper">Hours:

											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=H.+No.+5-1-680%2F1%2F1%2C+Ayanger+Plaza%2C+Adj.+Central+Bank+of+India%2C+Above+HDFC+Bank+%2C+Bank+Street%2C+Koti+Hyderabad%2C+Telangana%2C+India+500001">Directions</a>
											<span class="divider">|</span> <a class="email"
												href="mailto:contact@fmsdental.com">Email</a> <span
												class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=H.+No.+5-1-680%2F1%2F1%2C+Ayanger+Plaza%2C+Adj.+Central+Bank+of+India%2C+Above+HDFC+Bank+%2C+Bank+Street%2C+Koti+Hyderabad%2C+Telangana%2C+India+500001">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of India, Above HDFC Bank , Bank Street, Koti, Hyderabad, Telangana, India, 500001&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=H. No. 5-1-680/1/1, Ayanger Plaza, Adj. Central Bank of India, Above HDFC Bank , Bank Street, Koti, Hyderabad, Telangana, India, 500001&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
									<div class="location noPhoto">
										<h3>FMS DENTAL HOSPITAL, Dental Implant Clinic Langar House Hyderabad India</h3>
										<div class="address">
											<div class="addr"> H. No. 9-1-43/52, Prashanth Nagar, </div>
											<div class="addr2">Bapu Nagar, Opposite Bus Stop, Langar House, </div>
											<div class="city_state_zip"><span class="city">Hyderabad, <span
														class="state">Telangana, India <span
															class="zipcode">500008</span></div>
										</div>
										<div class="phone-wrapper"><strong>Phone:</strong> <span
												class="num phone">+91-88866 43234 / +91-40-2222-1111</span></div>
										<div class="info-wrapper">Hours:
											Sunday: 10:00 AM - 07:00 PM ;
											Mon - Sat: 09:00 AM - 09:00 PM
										</div>
										<div class="map_link"><a
												href="https://maps.google.com/maps?saddr=current+location&amp;daddr=+H.+No.+9-1-43%2F52%2C+Prashanth+Nagar%2C+%2C+Bapu+Nagar%2C+Opposite+Bus+Stop%2C+Langar+House%2C++Hyderabad%2C+Telangana%2C+India+500008">Directions</a>
											<span class="divider">|</span> <a class="email"
												href="mailto:contact@fmsdental.com">Email</a> <span
												class="divider">|</span> <a class="website"
												href="../index.html">Website</a> <span class="divider">|</span> <a
												href="https://maps.google.com/?q=+H.+No.+9-1-43%2F52%2C+Prashanth+Nagar%2C+%2C+Bapu+Nagar%2C+Opposite+Bus+Stop%2C+Langar+House%2C++Hyderabad%2C+Telangana%2C+India+500008">View
												Full Map</a></div>
										<div class="locations_gmap"><iframe width="425px" height="350" frameborder="0"
												scrolling="no" marginheight="0" marginwidth="0"
												data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q= H. No. 9-1-43/52, Prashanth Nagar, , Bapu Nagar, Opposite Bus Stop, Langar House, , Hyderabad, Telangana, India, 500008&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear= H. No. 9-1-43/52, Prashanth Nagar, , Bapu Nagar, Opposite Bus Stop, Langar House, , Hyderabad, Telangana, India, 500008&amp;z=14&amp;output=embed"
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
										</div>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
			<!--    << END ========================= CONTENT AREA ========================  -->
		</div>