<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Bone grafting with gum surgery</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                                <a href="../dental-implants-homepage/index.html" class="list-group-item ">Dental Implants Home</a> 
                                <a href="why-implants.html" class="list-group-item ">Why Implants?</a> 
                                <a href="fms-implant-team.html" class="list-group-item ">FMS Implant Team</a>
                                 <a href="the-implant-center.html" class="list-group-item ">The Implant Center</a> 
                                 <a href="implant-cost.html" class="list-group-item">Implant Cost</a>
                                  <a href="single-tooth-replacement.html" class="list-group-item">Single Tooth Replacement</a>
                                   <a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
                                     <a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
                                   <a href="../teeth-in-a-day/index.html" class="list-group-item ">Teeth-In-A-Day</a>
                                     <a href="../permenant-fixed-teeth-in-5-days/index.html" class="list-group-item">Permenant-Fixed-Teeth-In-5-Days</a>
                                        <a href="all-on-4-technique.html" class="list-group-item ">All-On-4 technique</a>
                                         <a href="all-on-6-8-technique.html" class="list-group-item ">ALL-On-6-8-Technique</a>
                                          <a href="../boi-implants/index.html" class="list-group-item "> BOI Implants</a>
                                             <a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
                                                <a href="../zygoma-implants/index.html" class="list-group-item">Zygoma-Implants</a>                        
                                                <a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
                                                 <a href="../bone-grafts/index.html" class="list-group-item active">Bone Grafts</a>
                                                  <a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">3D CBCT Scan&amp;Implants</a>
                                                  <a href="../implantology-frequently-asked-questions/index.html" class="list-group-item">FAQs</a> 
                                <a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><strong><span style="color: #800000;">Bone Grafting With Gum Surgery</span></strong></h3>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>When plaque and calculus are not removed the bacteria in plaque produce toxins (or poisons) that can destroy the supporting tissues and bone around the teeth. As the diseases progress, the gum around the tooth becomes loose and separates away from the tooth resulting in deep areas called pockets. As these pockets deepen, more gum tissue and bone are destroyed forming deep bone defects.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="183" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegrafts_imgdf52.jpg?fit=120%2C183&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegrafts_img.jpg?fit=120%2C183&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="173" height="183" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegrafts_img20e74.jpg?fit=173%2C183&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegrafts_img2.jpg?fit=173%2C183&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Are bone substitutes (powders/ gels/ sponges) etc., which are placed in the diseased areas to enhance new bone formation with application of regenerated techniques.</p>
<p>Various Bone Graft materials available in hospital are: Osteogen, Biogran, Perioglas, Fisiograft ( gel /sponge).</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>Case-I Anterior Teeth</h5>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="88" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter01118f.jpg?fit=120%2C88&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter01.jpg?fit=120%2C88&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="88" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter02118f.jpg?fit=120%2C88&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter02.jpg?fit=120%2C88&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="88" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter03118f.jpg?fit=120%2C88&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter03.jpg?fit=120%2C88&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="120" height="88" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter04118f.jpg?fit=120%2C88&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_inter04.jpg?fit=120%2C88&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>Case-II Posterior Teeth</h5>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="167" height="123" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post011c19.jpg?fit=167%2C123&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post01.jpg?fit=167%2C123&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="167" height="123" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post021c19.jpg?fit=167%2C123&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post02.jpg?fit=167%2C123&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="167" height="123" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post031c19.jpg?fit=167%2C123&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post03.jpg?fit=167%2C123&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="167" height="123" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post041c19.jpg?fit=167%2C123&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bonegraft_post04.jpg?fit=167%2C123&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5>A case of Bone Graft</h5>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="450" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft18672.jpg?fit=600%2C450&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft1.jpg?w=600&amp;ssl=1 600w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft1.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft1.jpg?fit=600%2C450&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="487" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft27ea3.jpg?fit=650%2C487&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft2.jpg?w=650&amp;ssl=1 650w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft2.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft2.jpg?fit=650%2C487&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="487" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft37ea3.jpg?fit=650%2C487&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft3.jpg?w=650&amp;ssl=1 650w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft3.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft3.jpg?fit=650%2C487&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="650" height="487" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft47ea3.jpg?fit=650%2C487&amp;ssl=1" class="vc_single_image-img attachment-full jetpack-lazy-image" alt data-lazy-srcset="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft4.jpg?w=650&amp;ssl=1 650w, https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft4.jpg?resize=300%2C225&amp;ssl=1 300w" data-lazy-sizes="(max-width: 650px) 100vw, 650px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/bone-graft4.jpg?fit=650%2C487&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>

                </div>
            </div>
</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4261 current_page_item menu-item-4263"><a href="index.html" aria-current="page">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>