<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>contact us</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Call +9779860470939 or Email at kantipurdental@gmail.com</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Kathmandu </h4>
       <p>Nepal Dental Hospital, Cosmetic Dental Clinic &amp; kantipur dental hospital in Nepal</p> 
    </div>

     <div class="desc"><p>H. No. 014385911, Basundhara,kathmandu<br>
Near by Chakarpath, Opp. Green City Hospital, Basundhara, chakrapath Road<br>
Basundhara, Kathmandu<br>
Tel:- 014385911<br>
<a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || <a href="/" target="_blank" rel="noopener noreferrer">Virtual Tour</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Capital city,Kathmandu </h4>
       <p>Nepal DENTAL HOSPITAL, Dent Inn Dental Clinic</p> 
    </div>

     <div class="desc"><p>Heritage Plaza,Kamaladi,<br>
Near by Nic Asia bank,Kamaladi<br>
Kathmandu<br>
Tel:- 014456392<br>
<a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Chabhail Ringroad</h4>
       <p>Nepal DENTAL HOSPITAL, Om Dental care</p> 
    </div>

     <div class="desc"><p>G-1, chabhailchowk,<br>
Near by Medicare hospital,<br>
 chabhail,kathmandu,Nepal<br>
Tel:- 014456247<br>
<a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Kathmandu</h4>
       <p>Nepal DENTAL HOSPITAL, Healthy Smiles dental Clinic</p> 
    </div>

     <div class="desc"><p>Ananda Bhavan,<br>
Opposite hotel Ambassador,44600,<br>
Kathmandu,<br>
Nepal<br>
Tel:-9801044208<br>
<a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Chabhail</h4>
       <p>Nepal DENTAL HOSPITAL, Shangrila dental clinic
</p> 
    </div>

     <div class="desc"><p>H. No. 014411164, Chabhail,<br>
Chabhail road, Opposite Ac complex,<br>
Amazing House,<br>
Kathmandu<br>
Tel:- 014411164<br>
<a href="/">MAP</a> || <a href="/" target="_blank" rel="noopener noreferrer">Virtual Tour</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Jamal</h4>
       <p>Nepal DENTAL HOSPITAL, DentaLife Oral Concern</p> 
    </div>

     <div class="desc"><p>Kanti Path, Jamal, Siddhi Bhawan - 1st Floor , 44600 Kathmandu, Central Development Region, Nepal
Kathmandu, 44600
Central Development Region
Nepal<br>
Tel: 014478932</p>
<p><a href="/">MAP</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental hospital in Kathmandu</h4>
       <p>Nepal DENTAL HOSPITAL,Sarweshwor Dental Home</p> 
    </div>

     <div class="desc"><p>H. No. 5-1-680/1/1, kathmandu,<br>
Head bank century, Bank Street,<br>
Kathmandu,<br>
Tel:- 015678945<br>
<a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental hospital in Chandragiri</h4>
       <p>Nepal DENTAL Hospital, Om Samaj Dental hospital</p> 
    </div>

     <div class="desc"><p>Nepal DENTAL Hospital, chabhail Branch<br>
Chandragiri Municipality-14<br>
New Naikap,<br>
Kathmandu,Nepal<br>
Tel: 014312991,9841957436</p>
<p><a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Lalitpur</h4>
       <p>Nepal DENTAL HOSPITAL, ARS dental cilinc</p> 
    </div>

     <div class="desc"><p>House No. 5-26, 1st Floor, Beside lalitpur Bus Depot,<br>
lokanthali chowk,lalitpur<br>
Tel:- 016205762</p>
<p><a href="/" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Chabhail</h4>
       <p>Nepal DENTAL HOSPITAL, Omkar dental clinic</p> 
    </div>

     <div class="desc"><p>Chabhail,near by GopiKrishna<br>
Chabhail near by Ac complex,<br>
Chabhailchowk,<br>
Kathmandu,Nepal<br>
Tel:- 014471293<br>
<a href="" target="_blank" rel="noopener noreferrer">MAP</a> || <a href="https://www.google.co.in/maps/place/FMS+DENTAL+HOSPITAL,+Kukatpally+Branch/@17.4882279,78.3998366,3a,75y,297h,90t/data=!3m8!1e1!3m6!1siX-2mt1NrqsAAAQvvKS9fQ!2e0!3e2!6s%2F%2Fgeo0.ggpht.com%2Fcbk%3Fpanoid%3DiX-2mt1NrqsAAAQvvKS9fQ%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D234%26h%3D106%26yaw%3D297.97934%26pitch%3D0%26thumbfov%3D100!7i9000!8i4500!4m5!3m4!1s0x0:0xe11923fd09800445!8m2!3d17.488053!4d78.399807!6m1!1e1" target="_blank" rel="noopener noreferrer">Virtual Tour</a> || SMS</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>Elish dental care</h4>
       <p>Nepal DENTAL HOSPITAL – International Dental Implant Center in chabhail</p> 
    </div>

     <div class="desc"><p>Door No. 8-2-293/82/A/725, Road No. 37, Chabhail Road, ,<br>
Near by Ganeshthan, Kathmandu,<br>
Tel:- 014423493</p>
<p><a href="/">MAP</a> || <a href="/" target="_blank" rel="noopener noreferrer">Virtual Tour</a> || SMS<br>
</p></div> 


  </div>

</div>




<div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">




        




  <div class="content text-left  ">
    
    <div class="hgroup">
       <h4>dental clinic in Tankeshwor</h4>
       <p>Nepal Dental Hospital, Midha Dental Care Center</p> 
    </div>

     <div class="desc"><p>Tankeshwor,Kalimati<br>
Kathmandu,<br>
Central development Region, Nepal<br>
Tel:- 01-4458920,9841236425</p>
<p><a href="/,">MAP</a> || SMS<br>
</p></div> 


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section no_padding separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed  ">


  <div class="figure ">


        

        

        <i class="fa fa-car"></i>




  </div>

  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Parking Spaces</h4>
       <p>You can park your car just outside</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed  ">


  <div class="figure ">


        

        

        <i class="fa fa-bus"></i>




  </div>

  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Bus Routes</h4>
       <p>Public transports are freely available</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed  ">


  <div class="figure ">


        

        

        <i class="wmi icon-i-accessibility"></i>




  </div>

  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Accesibility</h4>
       <p>Elevators and wheel chair facility available.</p> 
    </div>

    


  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section transparent_film bgimage parallax-window bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-center">

    


    
        <h2>Want to schedule an appointment?</h2>

    

        <p>Call us at <b>+977 9860470939</b> or fill in the appointment form...</p>
    
</div>




<div class="plethora_button wpb_content_element text-center ">
    <a href="/" class="btn btn-success with-icon " title target="_self">

        
        Appointment Form
         <i class="wmi icon-i-registration"></i> 

    </a>
</div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>