<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Dental Implants</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Near natural way to replace missing teeth</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid no_bottom_padding Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center     ">

  <div class="figure ">



        
         <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/02/Best-Dental-Implant-Clinic-India-FMS-DENTAL-Indiafc94.jpg?fit=1604%2C828&amp;#038;ssl=1')"></div> 
        
          

        


  </div>



</div>


<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
<a href="../dental-implants-homepage/index.html" class="list-group-item active">Dental Implants Home</a> 
<a href="../why-dental-implants/index.html" class="list-group-item">Why Dental Implants?</a>
<a href="fms-implant-team.html" class="list-group-item">FMS Implant Team</a>
<a href="the-implant-center.html" class="list-group-item">The Implant Center</a> 
<a href="implant-cost.html" class="list-group-item">Implant Cost</a>
<a href="single-tooth-replacement.html" class="list-group-item">Single Tooth Replacement</a>
<a href="../multiple-teeth-replacement/index.html" class="list-group-item">Multiple Teeth Replacement</a>
<a href="../complete-teeth-replacement/index.html" class="list-group-item">Complete Teeth Replacement</a>
<a href="../teeth-in-a-day/index.html" class="list-group-item">Teeth-In-A-Day</a>
<a href="../permenant-fixed-teeth-in-5-days/index.html" class="list-group-item">Permenant-Fixed-Teeth-In-5-Days</a>
<a href="all-on-4-technique.html" class="list-group-item">All-On-4 Implant technique</a>
<a href="all-on-6-8-technique.html" class="list-group-item">ALL-On-6-8-Technique</a>
<a href="../pterygoid-implants/index.html" class="list-group-item">Pterygoid Implants</a>
<a href="../zygoma-implants/index.html" class="list-group-item">Zygoma-Implants</a>                        
<a href="../sinus-lift/index.html" class="list-group-item">Sinus Lift</a>
<a href="../bone-grafts/index.html" class="list-group-item">Bone Grafts</a>
<a href="../cone-beam-3d-ct-scan/index.html" class="list-group-item">3D CBCT Scan&amp;Implants</a>
<a href="../implantology-frequently-asked-questions/index.html" class="list-group-item">FAQs</a> 
<a href="../fms-lifetime-warranty/index.html" class="list-group-item">FMS Lifetime Warranty</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: justify;"><span style="font-size: 14pt; color: #613b3b;">A dental implant is the ideal replacement for a missing tooth</span></h3>
<p style="text-align: justify;">Dental implant, is a prototype of a natural tooth root, made of the most biocompatible metal, Titanium, which fuses to the jaw bone (osseointegrates) over a period of time. A crown is placed over it. If done well, it looks, feels and lasts like the real tooth it replaces.</p>

		</div>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_message_box vc_message_box-solid vc_message_box-rounded vc_color-mulled_wine"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><p style="text-align: left;"><span style="font-size: 14pt;"><strong>  <img class="alignnone wp-image-11960 size-full jetpack-lazy-image" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/01/Best-Cosmetic-Dentist-FMS-DENTAL-Hyderabad-Indiaebae.png?resize=75%2C75" alt="Best dental implant clinic in India" width="75" height="75" data-recalc-dims="1" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/01/Best-Cosmetic-Dentist-FMS-DENTAL-Hyderabad-India.png?resize=75%2C75&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript>  <span style="color: #ff6600;"><em> Amazing  FACILITY&#8230;Awesome DOCTORS !!</em></span></strong></span></p>
<p style="text-align: justify;"><em>&#8220;</em><em>I previously had a very bad dental experience 10 years ago to point where I was making my own temporaries&#8230; Now, I looked all over the world except USA as it was too expensive. I chose FMS, India with loads of research over the internet&#8230;</em></p>
<p><em>In India, I visited 3 dentists in person and based on the interviews with them I chose FMS. I was very impressed with their equipment, expertise &amp; sincerity. They were professional, the hygiene was extremely clean&#8230; I got 3 implants, few root canals, several crowns, bone grafting&#8230; what not! They did a phenomenal work. They had a CBCT scan which no other dentist had, also they had their own lab. I was taken care very well. I would really thank Dr. PP, Dr. Shailaja Reddy, Dr. Paul, Dr. Kavya and all the staff”<span style="color: #ff6600;"><strong> &#8211; Mr. Ilmar Saar (Dental Implant patient, USA)</strong></span></em></p>
</div><div class="vc_message_box vc_message_box-solid vc_message_box-rounded vc_color-mulled_wine"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><p style="text-align: left;"><span style="font-size: 14pt;"><strong><a href="../testimonials/index.html"><img class="alignnone wp-image-5396 jetpack-lazy-image" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Ligaya-Ignacio-Rafael-150x150ebae.jpg?resize=75%2C75" alt="best dental implant in India, Ligaya Ignacio Rafael" width="75" height="75" data-recalc-dims="1" data-lazy-srcset="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Ligaya-Ignacio-Rafael.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Ligaya-Ignacio-Rafael.jpg?w=160&amp;ssl=1 160w" data-lazy-sizes="(max-width: 75px) 100vw, 75px" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/Ligaya-Ignacio-Rafael-150x150.jpg?resize=75%2C75&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></a>     <span style="color: #ff6600;"><em> EXPERTISE UNLIMITED</em> .. <em>truly International !!</em></span></strong></span></p>
<p style="text-align: justify;"><em>&#8220;It was an amazing, painless dental implant experience at FMS, they truly showed their expertise of having completed <strong>8000 + dental implants</strong> in their practice. Its awesome to be here at FMS Dental, specially meeting Dr Shailaja, the Chief Implantologist. Another noticeable thing is their teamwork, close to 5 specialists were involved in my dental implant treatment, awesome cordination and professionalism &#8221; &#8211; <span style="color: #ff6600;"><strong> Ligaya Ignacio <span style="font-size: 10pt;">  (dental implant patient,  Iceland)</span></strong></span></em></p>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;"> MISSING TEETH CAN BE TROUBLESOME</span></p>
<p style="text-align: justify;">Your teeth play an important part in your daily life. It not only helps you to chew and eat your food, but frames your face. Any missing tooth can have a major impact on your quality of life. It can also affect your dental and oral health over the long-term.</p>
<ul style="list-style-type: square;">
<li>INABILITY TO CHEW</li>
<li>IMPAIRMENT OF SPEECH</li>
<li>BONE LOSS &amp;  AGED LOOK</li>
<li>HEADACHES AND MIGRAINES</li>
</ul>

		</div>
	</div>


<div class="teaser_box wpb_content_element text-center  skincolored_section boxed_special   with_button ">

  <div class="figure ">


      <a href="../all-on-4-dental-implants/index.html" title target> 

        
         <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/all-on-4-dental-implant-techniquec06a.jpg?fit=400%2C255&amp;#038;ssl=1')"></div> 
        
          

        

    </a>

  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>All-on-4 Dental implants</h4>
       <p>Full mouth fixed teeth in 3 days </p> 
    </div>

    

    <div class="link centered">
        <a href="../all-on-4-dental-implants/index.html" class="btn btn-xs btn-secondary"><strong>Know all about it</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center  secondary_section boxed_special  ">

  <div class="figure skincolored_section">



        
         <div class="figure skincolored_section stretchy_wrapper ratio_2-1" style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/best-dental-clinic-hyderabad-india-1d1cd.jpg?fit=600%2C315&amp;#038;ssl=1')"></div> 
        
          

        


  </div>


  <div class="content text-center  ">
    
    <div class="hgroup">
       <h4>Chat about Dental Implants</h4>
      
    </div>

    


  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">THE FMS IMPLANT CENTER</span></h3>

		</div>
	</div>
<div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>2nd Best Dental Center in the world and 1st in India by GCR (Global Clinic Rating)</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div><div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Awarded BEST HOSPITAL OF THE YEAR - DENTAL SERVICES , by Times of India ( HEALTHCARE AWARDS 2017)</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>FMS INTERNATIONAL DENTAL CENTER, JUBILEE HILLS and FMS Dental Hospital, Koti, Hyderabad, are the exclusive Centers for Oral &amp; Maxillofacial Surgery and Dental Implants and the Best dental implant clinic in India . The FMS DENTAL KOTI facility is equipped with an Operation theatre, Dental Implant clinic, I.C.U and In-patient facility, along with a team of Implantologists, Maxillofacial Surgeons, Anesthetist and Paramedical staff.</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed   with_button ">

  <div class="figure secondary_section">


      <a href="https://www.google.co.in/maps/@17.438015,78.3985198,3a,75y,26.73h,103.93t/data=!3m6!1e1!3m4!1sh2_5nNpU6_gAAAQ3kNY8-Q!2e0!7i9000!8i4500" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/best-dental-implant-clinic-20787.jpg?fit=1075%2C644&amp;ssl=1" alt="IMPLANT CLINIC" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/best-dental-implant-clinic-2.jpg?fit=1075%2C644&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>IMPLANT CLINIC</h4>
       <p>CLICK below to have a VIRTUAL TOUR of the CENTER</p> 
    </div>

    

    <div class="link centered">
        <a href="https://www.google.co.in/maps/@17.438015,78.3985198,3a,75y,26.73h,103.93t/data=!3m6!1e1!3m4!1sh2_5nNpU6_gAAAQ3kNY8-Q!2e0!7i9000!8i4500" class="btn btn-xs btn-warning"><strong>CLICK TO SEE INSIDE</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed   with_button ">

  <div class="figure secondary_section">


      <a href="https://www.google.co.in/maps/@17.4380405,78.3985187,3a,75y,38h,90t/data=!3m6!1e1!3m4!1sF9NdPfBES2YAAAQ3kNY9Dw!2e0!7i9000!8i4500!6m1!1e1" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Cozy-Lounges-at-FMS-International-Dental-Implant-Centerddfd.jpg?fit=448%2C308&amp;ssl=1" alt="PERSONALIZED PATIENT WAITING AREAS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/07/Cozy-Lounges-at-FMS-International-Dental-Implant-Center.jpg?fit=448%2C308&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>PERSONALIZED PATIENT WAITING AREAS</h4>
       <p>CLICK below to have a VIRTUAL TOUR of the CENTER</p> 
    </div>

    

    <div class="link centered">
        <a href="https://www.google.co.in/maps/@17.4380405,78.3985187,3a,75y,38h,90t/data=!3m6!1e1!3m4!1sF9NdPfBES2YAAAQ3kNY9Dw!2e0!7i9000!8i4500!6m1!1e1" class="btn btn-xs btn-warning"><strong>CLICK TO SEE INSIDE</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #ff6600; font-size: 14pt;"><span style="font-family: arial black,sans-serif; font-size: 18pt;">&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;&#8216; <strong>SMILE CARNIVAL 2019 &#8216;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</strong></span></span></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #000000; font-size: 14pt;">                                                                                                <strong>Restore your Youth and Smile with Dental Implants</strong></span></p>

		</div>
	</div>


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">


      <a href="../free-checkup-offer-dental-implants/%20_blank.html" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/09/usa-new-1f8e1.jpg?fit=1200%2C628&amp;ssl=1" alt data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2018/09/usa-new-1.jpg?fit=1200%2C628&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>



</div>



                </div>
            </div>
</div><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>MEET THE IMPLANTOLOGY TEAM</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>A comprehensive<a href="../fms-implant-team/index.html"><span style="color: #ff6600;"> team</span> </a>of Oral and Maxillofacial surgeons, Implantologist, Prosthodontists, Periodontist with decades of experience, academic and research background, trained abroad constitutes the implant team.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-shailaja-reddy/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Hyderabad-India-FMS-DENTAL-Dr.-Shailaja-Reddy-Directord8e9.jpg?fit=402%2C396&amp;ssl=1" alt="DR. SHAILAJA REDDY" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Hyderabad-India-FMS-DENTAL-Dr.-Shailaja-Reddy-Director.jpg?fit=402%2C396&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. SHAILAJA REDDY</h4>
       <p>Senior Consultant Implantology</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-shailaja-reddy/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-p-parthasarathi-reddy/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Dr.-Parthasaradhi-Reddy-Best-CEOd8e9.jpg?fit=402%2C396&amp;ssl=1" alt="DR. PARTHASARADHI REDDY, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2018/05/Dr.-Parthasaradhi-Reddy-Best-CEO.jpg?fit=402%2C396&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. PARTHASARADHI REDDY, MDS</h4>
       <p>Senior Implantologist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-p-parthasarathi-reddy/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-dushyanth-paul/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Dr-Dushyanth-Pb048.jpg?fit=341%2C336&amp;ssl=1" alt="DR. DUSHYANTH PAUL MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Dr-Dushyanth-P.jpg?fit=341%2C336&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. DUSHYANTH PAUL MDS</h4>
       <p>Oral &amp; Maxillofacial surgeon</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-dushyanth-paul/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-kavya-ravuri/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/Hyderabad-India-FMS-DENTAL-Dr.-Kavya-Ravuri-Prothodontistd8e9.jpg?fit=402%2C396&amp;ssl=1" alt="DR. KAVYA RAVURI, MDS" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/Hyderabad-India-FMS-DENTAL-Dr.-Kavya-Ravuri-Prothodontist.jpg?fit=402%2C396&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. KAVYA RAVURI, MDS</h4>
       <p>Consultant Prosthodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-kavya-ravuri/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-ramakrishna-reddy/index.html" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/10/admin-ajaxd8e9.jpg?fit=402%2C396&amp;ssl=1" alt="DR. RAMA KRISHNA REDDY, MDS" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2018/10/admin-ajax.jpg?fit=402%2C396&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. RAMA KRISHNA REDDY, MDS</h4>
       <p>Oral &amp; Maxillofacial Surgeon</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-ramakrishna-reddy/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>




<div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

  <div class="figure ">


      <a href="../profile/dr-nidhi-guptha/index.html" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/Hyderabad-India-FMS-DENTAL-Dr.-Nidhi-Gupta-Prosthodontistd8e9.jpg?fit=402%2C396&amp;ssl=1" alt="DR. NIDHI GUPTHA, MDS" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/Hyderabad-India-FMS-DENTAL-Dr.-Nidhi-Gupta-Prosthodontist.jpg?fit=402%2C396&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed  with_button ">
    
    <div class="hgroup">
       <h4>DR. NIDHI GUPTHA, MDS</h4>
       <p>Consultant Prosthodontist</p> 
    </div>

    

    <div class="link centered">
        <a href="../profile/dr-nidhi-guptha/index.html" class="btn btn-xs btn-default"><strong>More</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_column-gap-15 vc_row-o-equal-height vc_row-flex">            <div class="wpb_column vc_column_container col-sm-4 skincolored_section transparent_film text-left">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 8px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="font-size: 10pt; color: #ff6600;"><strong><span style="font-family: 'arial black', sans-serif;">WHAT ARE THE </span></strong></span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #ff6600;">SURGICAL PROCESSES <span style="font-size: 10pt;">AND </span></span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #ff6600;">TIME NEEDED</span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #ff6600;"><span style="font-size: 10pt;"> FOR</span> DENTAL IMPLANT</span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #ff6600;">REPLACEMENTS? </span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 10pt; color: #613b3b;"><span style="font-size: 18pt;">NOW</span>&#8230;..DENTAL IMPLANT SUPPORTED</span></p>
<p><span style="color: #613b3b;"><span style="font-family: 'arial black', sans-serif; font-size: 10pt;">FULL MOUTH<span style="font-size: 14pt;"> FIXED </span></span><span style="font-family: 'arial black', sans-serif; font-size: 14pt;">TEETH </span></span></p>
<p><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="font-size: 10pt; color: #613b3b;">IN JUST </span> </span><span style="color: #ff6600;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt;"><span style="color: #613b3b;">5 DAYS</span></span><span style="font-family: 'arial black', sans-serif; font-size: 14pt;">?</span></span></p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4 light_section text-justify">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="color: #613b3b; font-family: 'arial black', sans-serif; font-size: 18pt;">     <span style="font-size: 14pt;">  <span style="font-size: 18pt;">&#8216; DID YOU KNOW?&#8217; </span></span></span></p>
<p style="text-align: justify;">Contrary to popular belief, tooth replacement treatments like dental implants can be completed very quickly. Often, only one surgery is needed.</p>
<p style="text-align: justify;">Here are the two steps needed using an immediate placement method:</p>
<p style="text-align: justify;">• Day 1: Extraction of teeth (if necessary) + dental implants placed  + fix temporary tooth on the same day or a full jaw teeth in just 3-5 days</p>
<p style="text-align: justify;">• After 3 months of healing: final dental crown is fixed and treatment is completed!</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4 light_section transparent_film text-justify">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">         <span style="font-size: 18pt;">  &#8216; NO DISCOMFORT&#8217;</span></span></p>
<p style="text-align: justify;">Local anaesthesia would be used during the implant placement surgery to minimise whatever discomfort experienced by the patient. If you or your loved ones are more nervous, you can opt for General Anaesthesia / Intravenous Sedation. FMS oral and maxillofacial surgery team works closely with anaesthetists to provide an anxiety-free experience for patients who may be apprehensive about the procedure, or who may want to sleep through the whole process.</p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;">FMS Dental Hospitals, one of the pioneers in implant dentistry in India, has been recognized as the best dental implant center, implant dentist, dental implant clinic in Hyderabad, South India. At FMS, all the best of the implant systems in the world are available under one roof.</p>

		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_message_box vc_message_box-3d vc_message_box-rounded vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><p><span style="font-family: 'arial black', sans-serif; font-size: 12pt; color: #613b3b;">IMPLANT SYSTEMS PRACTICED AT FMS</span></p>
<ul style="list-style-type: square;">
<li style="text-align: justify;">Nobel Biocare (Sweden)</li>
<li style="text-align: justify;">Branemark (Sweden)</li>
<li style="text-align: justify;">Alpha Bio (England)</li>
<li style="text-align: justify;">Alpha Dent (Germany)</li>
<li style="text-align: justify;">KOS / BCS / BOI Single Piece Implants(IHDE Dental Switzerland)</li>
</ul>
</div>
                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: left;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">WHAT ARE THE DIFFERENT TEETH REPLACEMENT OPTIONS AVAILABLE @ FMS DENTAL?</span></h3>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  white_section boxed_special   with_button ">

  <div class="figure white_section">


      <a href="https://fmsdental.com/new/single-tooth-replacement/" title target> 

        
        
        
         <img src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/single-tooth-implant90eb.jpg?fit=146%2C90&amp;ssl=1" alt="Single Tooth Replacement" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/single-tooth-implant.jpg?fit=146%2C90&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>Single Tooth Replacement</h4>
      
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/new/single-tooth-replacement/" class="btn btn-xs btn-secondary"><strong>Read more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Single Missing Tooth </span>&#8211; IMPLANT AND DENTAL CROWN</p>
<p style="text-align: justify;">If you are missing only one tooth, an all-ceramic dental crown on a dental implant is often the best choice. The implant serves as a foundation for a dental crown. The ceramic crown is then attached to the dental implant. It matches the shade and contour of your natural teeth so that no one can tell the difference. Replacing a single tooth with an implant-based solution does not compromise healthy adjacent teeth, nor is there a risk that continuing bone loss will weaken neighbouring teeth. <a href="https://fmsdental.com/new/single-tooth-replacement/"><span style="color: #ff6600;">Know more&#8230;&#8230;</span></a></p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  white_section boxed_special   with_button ">

  <div class="figure white_section">


      <a href="https://fmsdental.com/new/multiple-teeth-replacement/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/crown-and-bridge-on-implant770e.jpg?fit=146%2C98&amp;ssl=1" alt="Multiple Teeth Replacement" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/crown-and-bridge-on-implant.jpg?fit=146%2C98&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>Multiple Teeth Replacement</h4>
      
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/new/multiple-teeth-replacement/" class="btn btn-xs btn-secondary"><strong>Read more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Multiple Missing Tooth </span>&#8211; IMPLANTS AND CROWN &amp; BRIDGE</p>
<p style="text-align: justify;">What if you have lost several teeth? You can consider getting bridges on implants. In conventional Crown and Bridge natural teeth on either side are ground down to attach the crowns, so implant supported Bridges are a far superior method to manage this situation. <a href="https://fmsdental.com/new/multiple-teeth-replacement/"><span style="color: #ff6600;">Know more&#8230;..</span></a></p>

		</div>
	</div>

                </div>
            </div>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  white_section boxed_special   with_button ">

  <div class="figure white_section">


      <a href="https://fmsdental.com/new/complete-teeth-replacement/" title target> 

        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/all-on-4-dental-implant-techniquec3d1.jpg?fit=400%2C255&amp;ssl=1" alt="Complete Replacement" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2017/03/all-on-4-dental-implant-technique.jpg?fit=400%2C255&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center   with_button ">
    
    <div class="hgroup">
       <h4>Complete Replacement</h4>
      
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/new/complete-teeth-replacement/" class="btn btn-xs btn-secondary"><strong>Read more</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_empty_space" style="height: 8px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: justify;"><span style="font-family: 'arial black', sans-serif; font-size: 14pt; color: #613b3b;">Missing Teeth on Entire Jaw (fully edentulous) </span></p>
<p style="text-align: justify;">If you are missing teeth on an entire jaw, you can consider many options depending on the availability of bone and your budget. FMS practices all the scientifically proven protocols of full mouth rehabilitation with implants, offering different levels of stability, namely over-dentures on implants, Permanent-fixed teeth-in-5 days with Basal Implants, All-on-4, All-on-6/8, All-on-4 with Zygoma Implants, Pterygoid Implants etc. <a href="https://fmsdental.com/new/complete-teeth-replacement/"><span style="color: #ff6600;">Know more&#8230;..</span></a></p>

		</div>
	</div>

                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><span style="color: #f7f2f2;">FMS is one of the best dental implant center, implant dentist, dental implant clinic in hyderabad</span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_top_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>DENTAL IMPLANT PACKAGES</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div><div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="pricing_plan skincolored_section">  


    <div class="stretchy_wrapper ratio_16-9">
      <div style="background-image:url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/OD57c9a.jpg?fit=300%2C216&amp;#038;ssl=1');" class="pricing_plan_photo"></div>
      
    </div>


  <div style="background-image:url(../wp-content/themes/healthflexxxx/features/shortcode/pricingplan/GPlay.svg);" class="plan_title secondary_section">
    <h3>Full mouth implants</h3>
    <p>with fixed PFM ceramic teeth</p>
  </div>
  <div class="the_price dark_section">@ 3990<small> USD (255,000 INR) per jaw</small></div>
  <div class="the_offerings ">
   • 6 Implants per jaw from ALPHADENT Netherlands.<br>
• Implants with Liifetime warranty<br>
• For appointment call +91888 50 60 770<br>
   <br> 


  </div>

</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="pricing_plan skincolored_section">  


    <div class="stretchy_wrapper ratio_16-9">
      <div style="background-image:url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/Nobel-Biocare-Logod32c.jpg?fit=300%2C136&amp;#038;ssl=1');" class="pricing_plan_photo"></div>
      
    </div>


  <div style="background-image:url(../wp-content/themes/healthflexxxx/features/shortcode/pricingplan/GPlay.svg);" class="plan_title secondary_section">
    <h3>All-on-4 implant technique</h3>
    <p>with fixed Hybrid Denture (Nobel Procera)</p>
  </div>
  <div class="the_price dark_section">@ 6990<small>USD (450,000 INR) per jaw</small></div>
  <div class="the_offerings ">
   • 4 -5 Implants per jaw from Nobel Biocare, Sweden<br>
• 98% success in less bone cases<br>
• For appointment call +91888 50 60 770<br>
   <br> 


  </div>

</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="pricing_plan skincolored_section">  


    <div class="stretchy_wrapper ratio_16-9">
      <div style="background-image:url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2017/06/dental-tourism-india-158a93.jpg?fit=980%2C540&amp;#038;ssl=1');" class="pricing_plan_photo"></div>
      <div class="heart beating"><div class="heart-inner"><div class="heart-label"></div></div></div>
    </div>


  <div style="background-image:url(../wp-content/themes/healthflexxxx/features/shortcode/pricingplan/GPlay.svg);" class="plan_title secondary_section">
    <h3>Monsoon Dental Tourism</h3>
    <p>complimentary* 2 nights </p>
  </div>
  <div class="the_price dark_section">@ Ramada Cochin<small></small></div>
  <div class="the_offerings ">
   • Multiple tourism options<br>
• Call Dr ROHIT @ +91888 50 60 780<br>
   <br> 


  <a href="../monsoon-dental-tourism/index.html" class="btn btn-secondary 0 icon-right" title target="_self">

    More

    

  </a>


  </div>

</div>

                </div>
            </div>
</div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div class="vc_message_box vc_message_box-3d vc_message_box-rounded vc_color-sandy_brown"><div class="vc_message_box-icon"><i class="fas fa-info-circle"></i></div><p><strong>            <span style="font-size: 14pt;">  &#8220;Did you know?&#8221;</span></strong></p>
<p style="text-align: justify;">Dental implants are made of biocompatible materials, and hence are usually well accepted by your body.</p>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p style="text-align: center;"><span style="font-family: 'arial black', sans-serif;">For any queries regarding Dental Implants, call on <span class="number">+91 888 50 60 750 or email to contact@fmsdental.com</span></span></p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11933 current_page_item menu-item-11958"><a href="index.html" aria-current="page">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>