<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo  parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>E-CONSULTATION</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Fill in the Form and choose your mode of e-consultation or Call us @ <b>(0091) 88850 60780</b></p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">




<section class="vc_row wpb_row vc_row-fluid light_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section margin_bottom_grid">
                <div class="wpb_wrapper">
<div role="form" class="wpcf7" id="wpcf7-f5254-p5521-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/e-consultation/#wpcf7-f5254-p5521-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5254">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5254-p5521-o1">
<input type="hidden" name="_wpcf7_container_post" value="5521">
</div>
<p>Name: *<br>
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Phone Number: *<br>
    <span class="wpcf7-form-control-wrap tel-316"><input type="tel" name="tel-316" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </p>
<p>Email Id: *<br>
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
<p>Query:<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span> </p>
<p>File upload<br>
    <span class="wpcf7-form-control-wrap file-942"><input type="file" name="file-942" size="40" class="wpcf7-form-control wpcf7-file" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-invalid="false"></span> "(only in .jpg format and less than 200kb size allowed)"</p>
<p>[recaptcha]</p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6 transparent_film">
                <div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="103" height="100" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-2f342.png?resize=103%2C100&amp;ssl=1" class="vc_single_image-img attachment-thumbnail jetpack-lazy-image" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/image-2.png?resize=103%2C100&amp;ssl=1&amp;is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
		</figure>
	</div>
<div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Modes of E-Consultation</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>For the convenience of our clients, <strong>FMS DENTAL HOSPITALS</strong> provide 3 options for e-consultation.</p>
<ul>
<li>Video Consultation  (Skype ID: <a href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=13&amp;ct=1478603880&amp;rver=6.6.6577.0&amp;wp=MBI_SSL&amp;wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D578134%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252F%26site_name%3Dlw.skype.com&amp;lc=1033&amp;id=293290&amp;mkt=en-IN&amp;uaid=7a33345a93e4ded60589fbb9e7cf3603&amp;cobrandid=90010&amp;client_flight=hsu%2Chlm%2Chld%2CReservedFlight33%2CReservedFlight67&amp;psi=skype"><span style="font-family: 'arial black', sans-serif;">FMS DENTAL HOSPITALS</span></a>)</li>
<li>Tele-Dentistry<span style="font-family: 'arial black', sans-serif;"> <span style="font-family: arial, helvetica, sans-serif;">( Call</span> (+91) 40 2222 1111)</span></li>
<li>Text Consultation (e-chat or e-mail to <span style="font-family: 'arial black', sans-serif;">contact@fmsdental.com</span>)</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>We are happy to discuss your dental problems. <strong>FMS</strong> believes in a multi-specialty approach to dentistry, even your consultations  and treatment planning will be done by consultants with vast experience.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>