<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>FAQs</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>Nepal Dental Hospitals - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">




<section class="vc_row wpb_row vc_row-fluid">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">
<div id="1468219581226-20bd561a-1ca5" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>DENTAL EMERGENCY ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>If you are an emergency case requiring immediate attention, please call (+977)9803244759.</p>
<p>We will give you instructions and directions.</p>
</div></div><div id="1471159655411-f3e79a11-6bc6" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>WHAT HAPPENS IF I AM A NEW PATIENT ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>We will discuss your problem and ask about your medical history. A thorough examination will then follow. We may request examinations and tests to assist and support our diagnosis.</p>
<p>Clinical examination, Digital X-rays, OPG/Panorama Xray, CBCT Scan can all be performed with no delay in the same building. If you have previous examinations and tests related to your current condition, please bring those along to the consultation. Also bring any copies of letters from other doctors or recent medication. It will help us to help you.</p>
<p>We will discuss with you the results of your examinations and we will recommend the proper treatment.</p>
<p>In case you need procedure/surgery requiring general anesthesia, we have an Inpatient facility, Operation Theater, ICU, Senior Anesthetist on call etc.</p>
</div></div><div id="1468219694117-4aabeabf-2d01" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>WHAT CAN I EXPECT AT AN APPOINTMENT ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>When you arrive at any Nepal  Dental Hospitals, the staff will greet you and seat you at the waiting room. We will examine you as quick as possible – average waiting time is 15 minutes.</p>
</div></div><div id="1471159654666-b7472146-6736" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>DO YOU HAVE IMAGING (X-RAYS, CT-SCAN) FACILITIES ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064507869-5e4ee3bd-a327" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p>Yes.</p>
<p>Ordinary Digital RVG, Panoramic mouth Xrays, CBCT-scan can be performed on location.</p>
</div>
</div>
<div id="1447065710387-d413605d-104e" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md"></div>
</div>
</div>
</div>
</section>
<div id="new_comment"></div>
</div>
<div id="sidebar" class="col-sm-4 col-md-4"></div>
</div></div><div class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>Who is RCT Specialist?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064507869-5e4ee3bd-a327" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p>Endodontists are highly skilled dental specialists specialized in the field of Conservative Dentistry &amp; <span style="color: #ff6600;"><strong><a style="color: #ff6600;" href="../root-canal-treatment/index.html">Endodontics</a></strong></span>. Endodontists undergo extensive training during their post graduation for a period of 3 years after graduating as a full time dentist. Endodontists are specialized in diagnosing the infected dental pulp, treating tooth pain by performing root canal treatments.</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div></div><div class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>Who is the best RCT Specialist in Kathmandu?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>At Kantipur  Dental hospital, a team of highly qualified, experienced &amp; dedicated root canal specialists perform <span style="color: #ff6600;"><a style="color: #ff6600;" href="../root-canal-treatment/index.html"><strong>Root Canal procedures</strong></a></span>. These dental specialists can even perform RCT in teeth with complex anatomy like dilacerated (curved) roots, accessory canals, failed root canal cases, calcified canals, mutilated teeth etc.</p>
</div></div><div class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>How much does the Root Canal Treatment cost in kathmandu,Nepal ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064507869-5e4ee3bd-a327" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p><span style="color: #ff6600;"><strong><a style="color: #ff6600;" href="../root-canal-treatment/index.html">Root Canal Treatment cost</a></strong></span> depends on the infection level in the pulp tissue of the tooth roots. To understand the duration of the treatment procedure and the number of visits required to perform the treatment, you need to meet the Endodontist for a consultation. During the consultation, the Endodontist will advise a RVG (Single tooth radiograph) which will determine the level of infection, the number of root canals and accessory canals infected. After evaluating these conditions the Endodontist can advise you on the cost estimate for the root canal treatment procedure.</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div></div><div id="1471159653965-5d9c70e8-6264" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>DO YOU HAVE A PEDIATRIC DENTIST AT YOUR CLINIC ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064555113-315c72fb-176e" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p>Yes.</p>
<p>Pediatric Dentists are available on appointment, at all Nepal Dental branches. We also have dedicated Pediatric dental clinics with conscious sedation / General anaesthesia facility for fearful and uncoperative children.</p>
</div>
</div>
<div id="1447065710387-d413605d-104e" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md"></div>
</div>
</div>
</div>
</section>
<div id="new_comment"></div>
</div>
<div id="sidebar" class="col-sm-4 col-md-4"></div>
</div></div><div class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>At what age should my child first visit a dentist ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064555113-315c72fb-176e" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p>Ideally a child has to visit a pediatric dentist by his / her first birthday. Preventive medicine has always stressed on well-checks for children. This concept is long been applied to dentistry and focuses on the necessity for regular visits to pediatric dentists once in every 6 months even before anything emergent occurs. At Kantipur Dental hospital, our senior pediatric dentists evaluate each and every child thoroughly and make sure the child doesn’t have cavities. Also periodical fluoride varnish application and sealant administration minimizes the possibility of dental cavities in the future. No drills, no scary instruments – prevention is better than cure!</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div></div><div class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>Who is the best Pediatric Dentist in kathmandu ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><div class="col-sm-8 col-md-8 main_col ">
<section class="vc_row wpb_row vc_row-fluid">
<div class="row">
<div class="wpb_column vc_column_container col-sm-12 margin_bottom_grid">
<div class="wpb_wrapper">
<div id="1447064555113-315c72fb-176e" class="vc_toggle vc_toggle_default vc_toggle_color_default vc_toggle_size_md vc_toggle_active">
<div class="vc_toggle_content">
<p>At Kantipur Dental hospital, senior team of Pedodontists / Pediatric dentists handle the child dental issues. A qualified pediatric dentist with years of experience in handling different types of oral &amp; dental diseases in children and who is efficient in handling children with different behavioral habits is considered to be the best Pediatric dentist in the filed of Pediatric dentistry. Modern day pediatric dentistry demands handling even semi cooperative and uncooperative children as well. Usage of Conscious sedation / Sedation dentistry in semi cooperative children &amp; General Anesthesia in uncooperative children by pediatric dentists at Nepal Dental hospital has allowed many such children in and out of kathmandu to get treated for their dental issues.</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div></div><div id="1471159652852-c0438670-7f50" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>WHAT IF I AM FEARFUL AND I NEED GENERAL ANESTHESIA / CONSCIOUS SEDATION ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>We can undertake all Dental, Maxillofacial and Implant procedures requiring General anaesthesia / Conscious sedation at our <strong>Kantipur dental hospitalCentre for Oral and Maxillofacial Surgery and Implants. </strong>The Center has an Operation Theatre, ICU, Inpatient facility, Anaesthetist on call with Maxillofacial surgeons and Nursing staff available round the clock.</p>
</div></div><div id="1471161470834-3d7ec2c0-5926" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>FIND THE PAYMENT OPTION THAT WORKS FOR YOU</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>As the leading dental clinic network in kathmandu, we offer a wide range of payment options that make quality dental care affordable for all. We make sure your bank account stays as healthy as your teeth — with competitive prices, promotional offers, discount plans and flexible financing.</p>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
<p><strong>Payment Options</strong></p>
</div>
</div>
<div class="row">
<ul>
<li class="col-md-12 col-sm-12 col-xs-12 col-lg-12">Cash against treatment and you receive computer generated receipts.</li>
<li class="col-md-12 col-sm-12 col-xs-12 col-lg-12">Credit or Debit cards</li>
<li class="col-md-12 col-sm-12 col-xs-12 col-lg-12">Financing options with 0% EMI from Bajaj Finserv</li>
<li class="col-md-12 col-sm-12 col-xs-12 col-lg-12">Credit facility for our Empaneled / Insurance patients.</li>
</ul>
</div>
<p><strong>Do you accept my insurance?</strong></p>
<p>Our Dental Centre <strong>don&#8217;t have cashless treatment facility</strong> with third party Insurance companies.</p>
<p>In this case, or if you have no insurance coverage then you will be expected to pay the bill in cash or credit card at the end of consultation. The original receipt, the signed copy of the credit card bill, the detailed treatment report in English and the results of tests performed are given to you in order to be delivered to your private or state insurance for reimbursement.</p>
<p>An estimate of consultation fees and costs, investigations or surgery are available on request.</p>
<p><strong>Do I need referral?</strong></p>
<p>If you have private insurance with an affiliate, the referral can be sent from your insurance company to us by fax or e-mail. We suggest that you contact your insurance in order to obtain this referral before your visit to our offices.</p>
</div></div><div id="1471161311104-7267fec5-cf3c" class="vc_toggle vc_toggle_default vc_toggle_color_sandy_brown  vc_toggle_size_md"><div class="vc_toggle_title"><h4>DO YOU HAVE PARKING FACILITIES ?</h4><i class="vc_toggle_icon"></i></div><div class="vc_toggle_content"><p>Yes.</p>
<p>Free Parking is available in front and around the Nepal dental Hospitals centre.</p>
</div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center  skincolored_section boxed_special   with_button ">

  <div class="figure secondary_section">


      <a href="https://fmsdental.com/new/appointment-booking-2/" title target> 

        
        
        
         <img src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/gh11db6.jpg?fit=373%2C373&amp;ssl=1" alt="Make an appointment" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/08/gh1.jpg?fit=373%2C373&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        

    </a>

  </div>


  <div class="content text-center boxed_special  with_button ">
    
    <div class="hgroup">
       <h4>Make an appointment</h4>
       <p>Call 9860470939 or fill in a form</p> 
    </div>

    

    <div class="link centered">
        <a href="https://fmsdental.com/new/appointment-booking-2/" class="btn btn-xs btn-secondary"><strong>Book now</strong></a>
    </div>

  </div>

</div>



                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>