<div class="main foo" data-colorset="foo">




<section style="background-image: url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/fms-jobs4ad3.jpg?fit=638%2C298&amp;ssl=1')" class="vc_row wpb_row vc_row-fluid skincolored_section no_padding full_height vertical_center bgimage parallax-window bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 128px"><span class="vc_empty_space_inner"></span></div>

<div class="section_header  subtitle_bottom  fancy text-left">

    


    
        <h1 style="text-align: left;"><span style="color: #542d2d;">Apply for a Job with NDH</span></h1>

    

        <p>Fill in the form or Call 9860470939</p>
    
</div>




<div class="vc_row wpb_row vc_inner vc_row-fluid folded_section">            <div class="wpb_column vc_column_container col-sm-6 dark_section transparent_film boxed_plus same_height_col">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-left">

    


    
        <h3><span style="color: #ffffff;">We are Hiring &#8230;</span></h3>

    

        <p></p>
    
</div>





	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ffffff;">Opening Positions:</span></h3>
<ul>
<li>Senior General Dentists / Clinic In-charge</li>
<li>Endodontists</li>
<li>Periodontists</li>
<li>Prosthodontists</li>
<li>Dental Assistants with 1+ years experience</li>
<li>Staff Nurses for OT</li>
<li>Front Office staff</li>
<li>Dental Technicians with ceramic experience &#8211; excellent salary &amp; perks</li>
</ul>

		</div>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><div role="form" class="wpcf7" id="wpcf7-f5280-p5281-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/fms-jobs/#wpcf7-f5280-p5281-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5280">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5280-p5281-o1">
<input type="hidden" name="_wpcf7_container_post" value="5281">
</div>
<p>Name *<br>
    <span class="wpcf7-form-control-wrap Name"><input type="text" name="Name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Age *(in Years)<br>
    <span class="wpcf7-form-control-wrap Age"><input type="text" name="Age" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Gender <br>
   <span class="wpcf7-form-control-wrap Gender"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first"><input type="radio" name="Gender" value="Male" checked="checked"><span class="wpcf7-list-item-label">Male</span></span><span class="wpcf7-list-item last"><input type="radio" name="Gender" value="Female"><span class="wpcf7-list-item-label">Female</span></span></span></span></p>
<p>Phone Number: *<br>
    <span class="wpcf7-form-control-wrap Phone"><input type="tel" name="Phone" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </p>
<p>Email Id: *<br>
    <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
<p>Qualification: *<br>
    <span class="wpcf7-form-control-wrap Qualification"><input type="text" name="Qualification" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Post Applied for *<br>
    <span class="wpcf7-form-control-wrap Post-Applied"><input type="text" name="Post-Applied" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
<p>Experience *<br>
    <span class="wpcf7-form-control-wrap Experience"><textarea name="Experience" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span> </p>
<p>File upload<br>
    <span class="wpcf7-form-control-wrap file-942"><input type="file" name="file-942" size="40" class="wpcf7-form-control wpcf7-file" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-invalid="false"></span> (only in .doc format and less than 200kb size allowed)</p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>