null<div class="main foo" data-colorset="foo">




<section style="background-image: url('../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2016/06/dental-implant-landing7e02.jpg?fit=2560%2C1324&amp;ssl=1')" class="vc_row wpb_row vc_row-fluid skincolored_section no_padding full_height vertical_center bgimage parallax-window bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 128px"><span class="vc_empty_space_inner"></span></div>

<div class="section_header Cup_subHeading subtitle_bottom  fancy text-left">

    


    
        <h1 style="text-align: left;"><span style="color: #3d2424;"><span style="color: #ff6600;">SMILE CARNIVAL 2019</span> &#8211; Hyderabad, India</span></h1>
<h3 style="text-align: left;">Restore your smile with <span style="font-size: 24pt; color: #ff6600;">Dental implants</span></h3>

    

        <p>Call / WhatsApp 00 91 888 50 60 770</p>
    
</div>




<div class="vc_row wpb_row vc_inner vc_row-fluid folded_section">            <div class="wpb_column vc_column_container col-sm-6 secondary_section transparent_film boxed_plus same_height_col">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ffffff;">Register right away to avail the dental implant treatment offers! You will get a call back with all the details&#8230;</span></h3>
<p>FMS Dental Hospitals are one of the pioneers in implant dentistry in India, with all the best of the implant systems in the world available under one roof. A comprehensive team of surgeons, Prosthodontists, Periodontists with decades of experience, academic and research background, trained abroad constitutes the <strong><span style="color: #ff6600;"><a style="color: #ff6600;" href="../best-implant-dentist-in-india/index.html">FMS Implant Team</a></span></strong></p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="text-decoration: underline; color: #ff6600;">Smile Carnival 2018-19 Offers</span> <span style="color: #000000;"><span style="color: #ff6600;">&#8211;</span><span style="color: #ffffff;">( for first 100 registrations only )</span>  <span style="font-size: 36pt; color: #ff0000;">41</span> registrations done </span></h3>
<ul style="list-style-type: square;">
<li>All-on-4 Dental Implants @ 4999 USD per jaw using world&#8217;s best Nobel Biocare Implants from Sweden.</li>
<li>Nobel Procera Hybrid fixed prosthesis @1299 USD per jaw.</li>
<li>All-on-6 Dental Implants with Zirconium Crowns @ 4999 USD per jaw.</li>
<li>Single Implants with lifetime warranty @ 499 USD.</li>
<li>General Anesthesia facility with hospital charges @ 999 USD upon request.</li>
<li>Nobel Procera titanium framework with zirconium crowns upon request.</li>
</ul>
<h4><span style="text-decoration: underline; color: #ff6600;">Select SC 2019 to avail Smile Carnival 2019 Offers</span><span style="color: #ff6600;"> </span></h4>

		</div>
	</div>
<div role="form" class="wpcf7" id="wpcf7-f12012-p4537-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/free-checkup-offer-dental-implants/#wpcf7-f12012-p4537-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="12012">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f12012-p4537-o1">
<input type="hidden" name="_wpcf7_container_post" value="4537">
</div>
<p><span class="wpcf7-form-control-wrap menu-919"><select name="menu-919" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="SC 2019">SC 2019</option><option value="Dental Implants">Dental Implants</option></select></span> </p>
<p> Name  <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></p>
<p> Email <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </p>
<p> Phone  <span class="wpcf7-form-control-wrap Phone"><input type="text" name="Phone" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></p>
<p>Message  <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span></p>
<p>Date <span class="wpcf7-form-control-wrap date-135"><input type="text" name="date-135" value size="40" class="wpcf7-form-control wpcf7-date"> </span></p>
<p>[recaptcha size:compact]</p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>