<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo   ">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans   ">
                <div class="container">
                    <h1>Locations</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section   ">
                <div class="container">
                    <p>Call <a href="tel:+9779860470939">(+977) 9860470939</a> or Email to <a href="mailto:pandeyachyut29@gmail.com">pandeyachyut29@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main black_section" data-colorset="black_section">
    <section class="vc_row wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-4">
                    <div class="wpb_wrapper">
                        <!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>JUBILEE HILLS</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL – International Dental Implant Center Jubilee Hills Branch Hyderabad India<br />
                                        Door No. 8-2-293/82/A/725, Road No. 37, Hi-Tech City Road, CBI Colony, Near Daspalla Hotel, Jubilee Hills, Hyderabad, Telangana 500033<br />
                                        Tel:- 088850 60770, 088850 60763<br />
                                        <a href="https://www.google.co.in/maps/place/FMS+DENTAL+HOSPITAL+(International+Dental+Center),+Jubilee+Hills+Branch/@17.438426,78.398944,15z/data=!4m5!3m4!1s0x0:0xdcf026b1e66834df!8m2!3d17.438426!4d78.398944" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7612.934751658029!2d78.39624308015777!3d17.43733032308933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91445ba5af61%3A0xdcf026b1e66834df!2sFMS+DENTAL+HOSPITAL+(International+Dental+Center)%2C+Jubilee+Hills+Branch!5e0!3m2!1sen!2sin!4v1486454261444" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>CHANDANAGAR</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Chandanagar Branch<br />
                                        Plot No. 14, 15, 19 &amp; 20,<br />
                                        Kosal Sai Plaza, Above Vijetha Super Market,<br />
                                        Madinaguda, Chanda Nagar,<br />
                                        Hyderabad, Telangana 500 049<br />
                                        Tel:- 088866 43232, (040) 4856 3111, 2988 4111<br />
                                        <a href="https://www.google.co.in/maps/place/FMS+DENTAL,+Best+Dentist+Hyderabad+India/@17.4947712,78.3419639,15z/data=!4m5!3m4!1s0x0:0xf35179e8be64c170!8m2!3d17.4947712!4d78.3419639" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4525.244310517914!2d78.3416020210441!3d17.495015673494184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf35179e8be64c170!2sFMS+DENTAL%2C+Best+Dentist+Hyderabad+India!5e0!3m2!1sen!2sin!4v1541596046277" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>KOTI</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Koti Branch<br />
                                        H. No. 5-1-680/1/1, Ayanger Plaza,<br />
                                        Adj. Central Bank of India, Bank Street, Koti, Hyderabad, Telangana &#8211; 500 001.<br />
                                        Tel:- 088866 43223, (040) 2473 7373, 2465 5595</p>
                                    <p><a href="https://www.google.co.in/maps/place/FMS+Dental+Hospitals,+Koti/@17.385521,78.4781113,759m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3bcb99d412bd3f63:0x5cccd6b0aa854866!8m2!3d17.385521!4d78.4803?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15230.187726427235!2d78.4803!3d17.385521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cccd6b0aa854866!2sFMS+Dental+Hospitals%2C+Koti!5e0!3m2!1sen!2sin!4v1470031193642" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>KONDAPUR</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Cosmetic Dental Clinic &amp; Dentist Kondapur Hyderabad India<br />
                                        H. No. 1-111/3/B, Pranav Tej Towers,<br />
                                        Above Vijeta Super Market, Opp. KIMS Hospital, Hanuman Nagar, Gachibowli-Miyapur Road<br />
                                        Kondapur, Hyderabad, Telangana &#8211; 500084<br />
                                        Tel:- 088866 43230, 088850 60793, (040) 4020 2663<br />
                                        <a href="https://www.google.co.in/maps/place/FMS+Dental+Hospitals,+Kondapur+Branch/@17.4655793,78.3671379,21z/data=!4m5!3m4!1s0x3bcb93cc9d70ff13:0x9d8e995ee163ccc3!8m2!3d17.4655974!4d78.3672072" target="_blank" rel="noopener noreferrer">MAP</a> || <a href="https://www.google.co.in/maps/place/FMS+Dental+Hospitals,+Kondapur+Branch/@17.4656454,78.3670408,3a,75y,88h,90t/data=!3m8!1e1!3m6!1s37J0xTonO5gAAAQvO-oa2g!2e0!3e13!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3D37J0xTonO5gAAAQvO-oa2g%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D88.732391%26pitch%3D0!7i9000!8i4500!4m5!3m4!1s0x3bcb93cc9d70ff13:0x9d8e995ee163ccc3!8m2!3d17.4655974!4d78.3672072!6m1!1e1" target="_blank" rel="noopener noreferrer"> Virtual Tour </a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.8769530162544!2d78.36501851440254!3d17.4656025051428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93cc9d70ff13%3A0x9d8e995ee163ccc3!2sFMS+Dental+Hospitals%2C+Kondapur+Branch!5e0!3m2!1sen!2sin!4v1470031604627" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-4">
                    <div class="wpb_wrapper">
                        <!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>VANASTHALIPURAM</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL, Vanasthalipuram Branch<br />
                                        Plot No. 56, 1st Floor Mother&#8217;s Plaza,<br />
                                        Above Vijaya Diagnostic Centre, Ganesh Temple Road,<br />
                                        Vanasthalipuram, Hyderabad, Telangana 500070<br />
                                        Tel: 088866 43226, 088850 60792, (040) 2988 2944</p>
                                    <p><a href="https://www.google.com/maps/place/FMS+DENTAL,+Best+Braces+%26+Root+Canal+Dentist+in+Vanasthalipuram+Hyderabad+India/@17.3334565,78.5673878,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcba13efe0668d5:0xb16fcc35b780f400!8m2!3d17.3334565!4d78.5695765" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.6286684738707!2d78.56738781487559!3d17.33345648811089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba13efe0668d5%3A0xb16fcc35b780f400!2sFMS+DENTAL%2C+Best+Braces+%26+Root+Canal+Dentist+in+Vanasthalipuram+Hyderabad+India!5e0!3m2!1sen!2sin!4v1548409459549" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>DILSUKHNAGAR</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Dilsukhnagar Branch<br />
                                        House No. 5-26,<br />
                                        1st Floor, Beside Dilsukhnagar Bus Depot,<br />
                                        Dilsukhnagar, Hyderabad, Telangana &#8211; 500 060<br />
                                        Tel:- 088850 60780, 088850 60773, (040) 2404 2434</p>
                                    <p><a href="https://www.google.co.in/maps/place/FMS+Dental+Hospital/@17.368658,78.525971,190m/data=!3m1!1e3!4m5!3m4!1s0x3bcb98f6d6d383bd:0x835f244c365684f7!8m2!3d17.368799!4d78.525822?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.894598787225!2d78.52363331440134!3d17.36880410791359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb98f6d6d383bd%3A0x835f244c365684f7!2sFMS+Dental+Hospital!5e0!3m2!1sen!2sin!4v1470031467196" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>PUNJAGUTTA</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Panjagutta Branch<br />
                                        G-1, Kanthishikara Apartments,<br />
                                        Yashoda Hospital Road, Punjagutta<br />
                                        Hyderabad, Telangana &#8211; 500 082.<br />
                                        Tel:- 088866 43224, (040) 2340 3173, 6661 5949</p>
                                    <p><a href="https://www.google.co.in/maps/place/F.M.S.Dental+Hospital/@17.424745,78.454295,190m/data=!3m1!1e3!4m5!3m4!1s0x3bcb974ac321bc2d:0xc1de402c59b90e8d!8m2!3d17.424898!4d78.454509?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60913.70424990771!2d78.42670524881076!3d17.40667519698345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb974ac2eaabf9%3A0x9a7c3174018e4356!2sFMS+Dental+Hospital%2C+Punjagutta!5e0!3m2!1sen!2sin!4v1470031405339" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>SECUNDERABAD</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Secunderabad Branch<br />
                                        9-1-113 to 118, Ground Floor Amsri Shamira Complex,<br />
                                        Old Lancer Road, Opposite St. Mary&#8217;s Degree College,<br />
                                        Secunderabad, Telangana 500003<br />
                                        Tel: 088866 43225, 088850 60754, (040) 2782 3729</p>
                                    <p><a href="https://www.google.com/maps/place/FMS+DENTAL+HOSPITAL,+Best+Dental+Clinic+in+Secunderabad/@17.4397529,78.5024529,18.75z/data=!4m5!3m4!1s0x0:0x3175184e5e56d438!8m2!3d17.4397539!4d78.5031158?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1131.6544911861145!2d78.50245285397607!3d17.43975291971752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3175184e5e56d438!2sFMS%20DENTAL%20HOSPITAL%2C%20Best%20Dental%20Clinic%20in%20Secunderabad!5e0!3m2!1sen!2sin!4v1583750096309!5m2!1sen!2sin" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-4">
                    <div class="wpb_wrapper">
                        <!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>LANGAR HOUSE</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Dental Implant Clinic Langar House Hyderabad India<br />
                                        H. No. 9-1-43/52, Prashanth Nagar,<br />
                                        Bapu Nagar, Opposite Bus Stop,<br />
                                        Langar House,<br />
                                        Hyderabad, Telangana &#8211; 500 008<br />
                                        Tel:- 088866 43234, (040) 2351 7770, 2351 7771<br />
                                        <a href="https://www.google.co.in/maps?q=FMS+Dental+Hospital,+Prashanth+Nagar,+Langar+House,+Hyderabad,+Andhra+Pradesh&amp;hl=en&amp;sll=21.125498,81.914063&amp;sspn=43.968758,79.013672&amp;oq=fms+Langar+Hous&amp;hq=FMS+Dental+Hospital,&amp;hnear=Prashanth+Nagar,+Langar+House,+Hyderabad,+Ranga+Reddy,+Andhra+Pradesh&amp;t=h&amp;z=16" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.770059883826!2d78.41625431440134!3d17.374794107742485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb965780ed1303%3A0xbe760ae2c93bcea6!2sFMS+Dental+Hospital%2C+Langar+House!5e0!3m2!1sen!2sin!4v1470031557825" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>KUKATPALLY</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, Kukatpally Branch<br />
                                        MIG 155, KPR Complex, KPHB Road No. 1,<br />
                                        Above State Bank Of India,<br />
                                        Kukatpally, Hyderabad, Telangana &#8211; 500 072.<br />
                                        Tel:- 088866 43228, 088850 60769, (040) 4854 4286</p>
                                    <p><a href="https://www.google.co.in/maps/place/FMS+Dental+Hospital/@17.487663,78.399612,379m/data=!3m1!1e3!4m5!3m4!1s0x3bcb9193c1c2e37b:0xe11923fd09800445!8m2!3d17.488226!4d78.399804?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.403720425881!2d78.39761531440284!3d17.488231104493032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9193c1c2e37b%3A0xe11923fd09800445!2sFMS+Dental+Hospital!5e0!3m2!1sen!2sin!4v1470031356056" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>A S Rao Nagar</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL HOSPITAL, A. S. Rao Nagar Branch<br />
                                        Plot No. 51 E, Sreeja Classic, Opp. R. S. Brothers,<br />
                                        Anupuram Colony, A. S. Rao Nagar<br />
                                        Secunderabad, Telangana &#8211; 500062<br />
                                        Tel:- 088866 43231, 088850 60753, (040) 4851 9829<br />
                                        <a href="https://www.google.co.in/maps/place/FMS+Dental+Hospital,+A.+S.+Rao+Nagar/@17.477333,78.562723,190m/data=!3m1!1e3!4m5!3m4!1s0x3bcb9b81b74831d9:0xe5d37b43ec7d21f8!8m2!3d17.4772467!4d78.5626028?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.633404991598!2d78.5604141144027!3d17.477251804808375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9b81b74831d9%3A0xe5d37b43ec7d21f8!2sFMS+Dental+Hospital%2C+A.+S.+Rao+Nagar!5e0!3m2!1sen!2sin!4v1470031646608" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div><!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box wpb_content_element text-left   boxed_special same_height_col ">
                            <div class="content text-left  ">
                                <div class="hgroup">
                                    <h4>Suchitra</h4>
                                </div>
                                <div class="desc">
                                    <p>FMS DENTAL,<br />
                                        Plot No. 5 North, 2nd floor,<br />
                                        Caton Residential Twp, Kompally,<br />
                                        Hyderabad, Telangana &#8211; 500055</p>
                                    <p>Tel:- 088866 43237, (040) 2716 5773, 2716 5783<br />
                                        <a href="https://www.google.com/maps/place/FMS+DENTAL/@17.5782371,78.4961232,10.38z/data=!4m5!3m4!1s0x0:0x2296e8737bdbf9a1!8m2!3d17.5190654!4d78.4823791?hl=en" target="_blank" rel="noopener noreferrer">MAP</a> || SMS</p>
                                </div>
                            </div>
                        </div>
                        <!-- END======================= TEASER BOX ==========================-->
                        <div class="wpb_gmaps_widget wpb_content_element">
                            <div class="wpb_wrapper">
                                <div class="wpb_map_wraper"><iframe width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d375412.6546407275!2d78.49612319931965!3d17.578237147891013!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2296e8737bdbf9a1!2sFMS%20DENTAL!5e0!3m2!1sen!2sin!4v1569501443531!5m2!1sen!2sin" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vc_row wpb_row vc_row-fluid secondary_section transparent_film bgimage parallax-window bg_vcenter">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                        <div class="section_header  subtitle_bottom  fancy text-center">
                            <h2>Want to schedule an appointment?</h2>
                            <p>Call us at <b>(+91) 40 2222 1111</b> or fill in the appointment form...</p>
                        </div>
                        <div class="plethora_button wpb_content_element text-center ">
                            <a href="https://fmsdental.com/new/appointment-booking/" class="btn btn-warning with-icon " title="" target="_self">
                                Appointment Form
                                <i class="wmi icon-i-registration"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="new_comment">
        <div class="container">
            <div class="new_comment">
            </div>
        </div>
    </div>
</div>