<div class="main foo" data-colorset="foo">




<section style="background-image: url('../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2015/10/smile-checkup-landing-page28e2.jpg?fit=2560%2C1323&amp;ssl=1')" class="vc_row wpb_row vc_row-fluid skincolored_section no_padding full_height vertical_center bgimage bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 128px"><span class="vc_empty_space_inner"></span></div>

<div class="section_header Cup_subHeading  subtitle_bottom  fancy text-left">

    


    
        <h1 style="text-align: left;"><span style="color: #3d1f1f;">Free Smile Assessment!</span></h1>

    

        <p>Fill in the form or Call / WhatsApp +977 9860470939</p>
    
</div>




<div class="vc_row wpb_row vc_inner vc_row-fluid folded_section">            <div class="wpb_column vc_column_container col-sm-6 dark_section transparent_film boxed_plus same_height_col">
                <div class="wpb_wrapper">
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ffffff;">Book your Free checkup Now!</span></h3>
<p>Smile is one of the first things you notice when you meet someone. It can help increase confidence and create a more memorable, ever-lasting impression. So, enlighten yourselves regarding a plethora of dental procedures, that can Gift you an exciting gift <strong></strong></p>
<ul>
<li><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="../tooth-whitening/index.html">Professional Tooth Whitening</a></strong></span></li>
<li><span style="color: #ffffff;"><a style="color: #ffffff;" href="../dental-veneers-laminates/index.html"><b>Veneers/Laminates</b></a></span></li>
<li><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="../enamel-tooth-recontouring/index.html">Enamel Contouring</a></strong></span></li>
<li><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="../gum-depigmentation/index.html">Gum Depigmentation</a></strong></span></li>
<li><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="../gum-recontouring/index.html">Gum Recontouring</a></strong></span></li>
<li><span style="color: #ffffff;"><strong><a style="color: #ffffff;" href="../minor-orthodontics/index.html">Minor Orthodontics</a></strong></span></li>
<li><span style="color: #ffffff;"><a style="color: #ffffff;" href="../orthognathic-surgery/index.html"><strong>Orthognathic &amp; other facial surgeries</strong></a></span></li>
</ul>

		</div>
	</div>
<div role="form" class="wpcf7" id="wpcf7-f263-p634-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" aria-live="polite"></div>
<form action="https://www.fmsdental.com/smile-designing/#wpcf7-f263-p634-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="263">
<input type="hidden" name="_wpcf7_version" value="5.1.9">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f263-p634-o1">
<input type="hidden" name="_wpcf7_container_post" value="634">
</div>
<p><span class="wpcf7-form-control-wrap menu-919"><select name="menu-919" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Department">Department</option><option value="Dental Implants">Dental Implants</option><option value="Cosmetic Dentistry">Cosmetic Dentistry</option><option value="General Dentistry">General Dentistry</option></select></span> </p>
<p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name"></span></p>
<p><span class="wpcf7-form-control-wrap Phone"><input type="text" name="Phone" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone No"></span></p>
<p><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"></span></p>
<p><span class="wpcf7-form-control-wrap date"><input type="text" name="date" value size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Appointment Date"></span></p>
<p><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false" placeholder="Message"></textarea></span> </p>
<p>[recaptcha]</p>
<p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn-primary"></p>
<div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>



      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>