<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>testimonials</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section style="background-image: url('../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2015/09/testimonial-1-1a0de.jpg?fit=1280%2C472&amp;ssl=1')" class="vc_row wpb_row vc_row-fluid secondary_section transparent_film vcenter bgimage bg_vcenter">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="section_header  subtitle_bottom  fancy text-center">

    


    
        <h2 style="text-align: center;">We promised to take care&#8230; and we delivered</h2>

    

        <p></p>
    
</div>





                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-2">
                <div class="wpb_wrapper">

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-8 text-center">
                <div class="wpb_wrapper">


    <div class="testimonial testimonial-slider">
      <ul class="slides">
          <li>
			   <p style="text-align: center;"><em>“I chose FMS after careful and long research for a dental hospital fully equipped to carry all the dental surgical needs for patients.</em><em>The dental surgeons are very caring, on my arrival they discussed with me all the possible options. My experience has been very positive. They promised and they delivered. I have now received the smile I always wanted. Thank you very much……… FMS”<strong> </strong></em><img class="aligncenter wp-image-14120 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/doha-17989.jpg?resize=180%2C180&amp;ssl=1" alt="doha-1-FMS-Dental Clinic" width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/doha-1.jpg?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></p>
			<div class="name">
	          	<strong>Ms. Doha,</strong> 
	          	Sydney Australia
          	</div>

          </li>
          <li>
			   <em>Now I’ve got my tooth back, I can eat anything I like again.  I would recommend FMS DENTAL Implant Centre to anyone with a missing or failing tooth – they’re amazing....</em>
<p style="text-align: center;"><img class="aligncenter wp-image-14123 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Ligaya-Ignacio-Rafael7989.jpg?resize=180%2C180&amp;ssl=1" alt="Ligaya-Ignacio-Rafael-FMS-Dental Clinic" width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Ligaya-Ignacio-Rafael.jpg?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></p>
			<div class="name">
	          	<strong>Ligaya Ignacio Rafael,</strong> 
	          	ICELAND
          	</div>

          </li>
          <li>
			   &nbsp;

<em>The first thing that anyone, who goes here notices, is the ambiance is unlike most clinics. This one soothes you rather than making you feel anxious or apprehensive.The root canal, surprisingly was the most painless I have had. Very professional and transparent approach with complete cost estimate.</em> (Guess....learnt from past mistakes)
<p style="text-align: center;"><img class="aligncenter wp-image-14122 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/image7989.jpg?resize=180%2C180&amp;ssl=1" alt="image-FMS-Dental Clinic" width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i1.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/image.jpeg?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></p>
			<div class="name">
	          	<strong>Mr. Andrew,</strong> 
	          	United Kingdom
          	</div>

          </li>
          <li>
			   &nbsp;

I have been accommodated immediately in a very short notice. My experience has been breath taking to say the least. It was not like a one man show, it was team work that impressed me a lot. The Dental Implant process wasn’t painful at all. The professionalism, quality and team work have been just amazing. I have got temporary crowns on my lower front Implants. Will visit soon for the permanents.<img class="aligncenter wp-image-14125 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Mr.-Sammy7989.png?resize=180%2C180&amp;ssl=1" alt="Mr.-Sammy-FMS-Dental Clinic" width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Mr.-Sammy.png?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript>
			<div class="name">
	          	<strong>Mr. SAMMY KILONZO, </strong> 
	          	Kenya
          	</div>

          </li>
          <li>
			   <p style="text-align: center;"><em>“Hello… my name is Dan D’Jacamo and I am in here in Hyderabad from New York &amp; I needed some dental work done, thought to combine with a little tour of India. So that’s how is a good way to get your dental work done I suppose.</em></p>
<em>I came to Dr. Paul and Dr. Shailaja, they did an evaluation on the work I needed in my mouth. It turns out I needed an Implant and I know an Implant doesn’t happen fast. But, I must say I was very happy with the work and treatment that I got. It was excellent; I was treated very well and with very minimal pain. I am happy with the work and the result, still waiting for the final crown but we have to wait for the graft to heal. Overall I would recommend Dr. Paul and Dr. Shailaja.</em><em>”<strong> </strong></em>

<img class="aligncenter wp-image-14121 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dan-DJacamo7989.jpg?resize=180%2C180&amp;ssl=1" alt="Hyderabad-India-FMS-DENTAL-Dan-DJacamo" width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Hyderabad-India-FMS-DENTAL-Dan-DJacamo.jpg?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript>
			<div class="name">
	          	<strong>Dan D'Jacamo</strong> 
	          	New York, USA
          	</div>

          </li>
          <li>
			   <p style="text-align: center;"><em>“I previously had a very bad dental experience 10 years ago to point where I was making my own temporaries... Now, I looked all over the world except USA as it was too expensive. I chose FMS, India with loads of research over the internet...</em></p>
<p style="text-align: center;"><em> In India, I visited 3 dentists in person and based on the interviews with them I chose FMS. I was very impressed with their equipment, expertise &amp; sincerity. They were professional, the hygiene was extremely clean... I got 3 implants, few root canals, several crowns, bone grafting... what not! They did a phenomenal work. They had a CBCT scan which no other dentist had, also they had their own lab. I was taken care very well. I would really thank Dr. PP, Dr. Shailaja Reddy, Dr. Paul, Dr. Kavya and all the staff”</em><strong><em> </em></strong><img class="aligncenter wp-image-14124 size-full jetpack-lazy-image" style="width: 180px !important; height: 180px !important; border-radius: 50%; margin: 20px auto;" src="../../i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Mr.-Ilmar-Island-Saar7989.png?resize=180%2C180&amp;ssl=1" alt width="180" height="180" data-recalc-dims="1" data-lazy-src="https://i0.wp.com/www.fmsdental.com/wp-content/uploads/2020/01/Mr.-Ilmar-Island-Saar.png?resize=180%2C180&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"><noscript></noscript></p>
			<div class="name">
	          	<strong>Mr. Ilmar Saar </strong> 
	          	Miami, Florida, USA
          	</div>

          </li>
      </ul>
    </div>



                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12 col-md-2">
                <div class="wpb_wrapper">

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_bottom_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Dan D&#8217;Jacamo (USA)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/RXADeAE4kFs?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Ilmar Saar (USA)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/DfwF9X6CWe4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Victoria (China)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/kFWuCfI2dbM?start=4&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Sammy Kilonzo (Kenya)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/eWFOFoHuS2U?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Basheer Mohammed (UAE)<span style="font-size: 10pt;"> in Arabic</span></em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/c5ppwGvM4kY?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6 white_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Arun (Aukland, NZ)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/fIYM6X8198c?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Mark Profit (USA) </em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/VDnYRcKPDfM?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Hussein Mohammed (UAE) </em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/QXZOwUJ0HLM?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Teri Mosier (USA)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" gesture="media" allowfullscreen data-src="https://www.youtube.com/embed/sBa0-e7Pbeg?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Chandini Camlesh (London, UK)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/JzRr0LoNe9c?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="font-size: 12pt; color: #ff6600;"><em>Moosa Noori (Sudan)</em></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/RBW4nNOp5-o?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="font-size: 12pt; color: #ff6600;"><em>John (Kenya)</em></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/kFCQMoPe1BA?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Alessandra  (United Kingdom)</em></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/HZ6aut1ZQkA?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Sammy Kilonzo (Kenya)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/47t6GQWPhwo?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Rashid Al Salami (UAE) <span style="font-size: 10pt;">in Arabic</span></em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="375" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/ucuAzjR5f5I?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6 white_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="font-size: 12pt; color: #ff6600;"><em>Marina Sheryl Collins (Australia)</em></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/OW9fNa4QM6I?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Sulaiman Al Khudhouri (Oman)<span style="font-size: 8pt;"> in Arabic</span></em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/BhF4cry-QX4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Ijaz Majid (Tanzania) </em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/lqrWdpIidIc?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Abdul Murtaza (Tanzania) </em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/9v3QNYaTXo8?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Ligaya Ignacio (Iceland)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/_j8lTp9QOpc?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Ernest Collins (Melbourne, Australia)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/vkOcQa62d-o?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Pratheek (Sydney, Australia)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/UTsRQVWMYSE?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Kenneth (USA)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/7jPt42Y4xBU?start=8&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Rasammy (China)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/rup_dad59U4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Rajeev (Tanzania)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/dl0QJzxzAJ4?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6 white_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="font-size: 12pt; color: #ff6600;"><em>Aishwarya Rao  (USA)</em></span><br>
</span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="375" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/HZWE_D1lt-Q?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h5 style="text-align: center;"><span style="color: #ff6600; font-size: 12pt;"><em>Erica (USA)</em></span></h5>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="375" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/heXKmeC-_cY?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Soniya (Madagascar) </em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/bFjydlBMLMg?start=3&feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Vadym (Ukraine)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="autoplay; encrypted-media" allowfullscreen data-src="https://www.youtube.com/embed/BCnSprEOssA?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Grenville Collins (Melbourne, Australia)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/lF3784I2NzQ?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid no_padding">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-6 light_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Kenneth (USA)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/dGuKTJDhipA?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-6 white_section">
                <div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><span style="color: #800000;"><span style="color: #ff6600; font-size: 12pt;"><em>Ramya (India)</em></span></span></h6>

		</div>
	</div>

	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe style="border:none;" width="500" height="281" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-src="https://www.youtube.com/embed/yWKAzWqtsVg?feature=oembed" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></div>
		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>