<div class="head_panel">
    <div style="background-image: url(0/index.html)" class="full_width_photo  parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Virtual Help Desk</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - a step forward to serve you better</p>
          </div>
        </div>

      </div>


    </div>
</div>null