<div class="head_panel">
    <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


      <div class="hgroup">

        <div class="title diagonal-bgcolor-trans   ">
          <div class="container">
            <h1>Wisdom Tooth Surgery</h1>
          </div>
        </div>

        <div class="subtitle body-bg_section   ">
          <div class="container">   
            <p>FMS - an everlasting commitment to a healthy smile.</p>
          </div>
        </div>

      </div>


    </div>
</div><div class="main foo" data-colorset="foo">



<section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-3">
                <div class="wpb_wrapper">

	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="list-group">
                                <a href="oral-maxillofacial-surgery-home.html" class="list-group-item">Oral Surgery Home</a> 
<a href="oral-maxillofacial-surgery-team.html" class="list-group-item ">Our Surgeons </a>
<a href="oral-maxillofacial-surgery-infrastructure.html" class="list-group-item ">Surgical Infrastructure</a> 
<a href="oral-maxillofacial-surgery-extraction.html" class="list-group-item ">Extraction of Teeth</a>
<a href="../impacted-teeth/index.html" class="list-group-item active">Impacted Teeth</a> 
<a href="../orthognathic-surgery/index.html" class="list-group-item ">Orthognathic (Jaw) Surgery</a>
<a href="../facial-infections/index.html" class="list-group-item ">Facial Infections</a>
<a href="../facial-injuries/index.html" class="list-group-item ">Facial Injuries</a>
<a href="../jaw-cysts-and-tumors/index.html" class="list-group-item ">Jaw Cysts and Tumors</a>
<a href="../jaw-joint-problems/index.html" class="list-group-item ">Jaw Joint Problems</a>
<a href="../inability-to-open-mouth/index.html" class="list-group-item ">Inability To Open Mouth</a>
<a href="../cleft-lip-and-palate/index.html" class="list-group-item ">Cleft Lip and Palate</a>
<a href="../rhinoplasty-nose-surgery/index.html" class="list-group-item ">Nose Correction</a>
<a href="../oral-cancer/index.html" class="list-group-item ">Oral Cancer</a>
                            </div>
		</div>
	</div>

                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-9">
                <div class="wpb_wrapper">
<div class="vc_row wpb_row vc_inner vc_row-fluid">            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">


<div class="teaser_box wpb_content_element text-center   boxed_special  ">

  <div class="figure ">



        
        
        
         <img src="../../i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/impactionc063.jpg?fit=744%2C552&amp;ssl=1" alt data-lazy-src="https://i2.wp.com/www.fmsdental.com/wp-content/uploads/2016/05/impaction.jpg?fit=744%2C552&amp;&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image"><noscript></noscript>   

        


  </div>



</div>



                </div>
            </div>
</div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1><span style="font-size: 14pt;"><strong><span style="color: #800000;">Impacted Teeth</span></strong></span></h1>
<p>Wisdom teeth, otherwise known as third molars, are the last set of teeth to develop. Sometimes these teeth emerge from the gum line and the jaw is large enough to allow room for them, but most of the time, this is not the case. More often, one or more of these third molars fails to emerge in proper alignment or fails to fully emerge through the gum line and becomes entrapped or &#8220;impacted&#8221; between the jawbone and the gum tissue. Impacted wisdom teeth can result in swelling, pain, and infection of the cheek &amp; gum tissue surrounding the wisdom teeth. In addition, impacted wisdom teeth can cause permanent damage to nearby teeth, gums, and bone and can sometimes lead to the formation of cysts or tumors that can destroy sections of the jaw. Therefore, we recommend to people with impacted wisdom teeth to have them surgically removed.</p>
<p>It&#8217;s not just wisdom teeth that sometimes become impacted and need to be removed. Other teeth, such as the cuspids and the bicuspids can become impacted and can cause the same types of problems described with impacted wisdom teeth.</p>
<p><span style="color: #800000;"><strong>Wisdom tooth should be extracted in following conditions:</strong></span></p>
<ul>
<li>Repeated history of pain</li>
<li>Swelling</li>
<li>Pus discharge</li>
<li>Cavities in the Wisdom teeth</li>
<li>Tooth positioned in a manner, which will likely cause problems in the future</li>
<li>X-ray reveals</li>
<li>Localised gum infection</li>
<li>Damage to adjacent teeth</li>
</ul>
<p><span style="color: #800000;"><strong> Wisdom tooth should not be extracted in following conditions:</strong></span></p>
<ul>
<li>Teeth erupted in healthy position</li>
<li>No signs of cavities or gum diseases</li>
<li>Teeth are very deeply impacted or in a very risky position and likely not to bother you for rest of your life</li>
</ul>
<p><span style="color: #800000;"><strong>Is surgery very painful?</strong></span></p>
<p>Wisdom tooth removal is absolutely painless. It is slightly uncomfortable and tiring due to the  length of the procedure. Some patients may experience some pain and discomfort post removal but it depends on:</p>
<ul>
<li>Your threshold for pain</li>
<li>How difficult was your tooth removal?</li>
<li>How long the operative procedure lasted?</li>
</ul>
<p>You will be given a prescription post surgery, and as long as you follow the instructions pain and discomfort is minimal.</p>
<p><span style="color: #800000;"><strong>What kind of anesthesia is required?</strong></span></p>
<p>Generally, simple and uncomplicated procedures are usually performed under local anesthesia. However, patients with low pain tolerance and requiring complicated procedures can be done under general anesthesia also.</p>
<p><span style="color: #800000;"><strong>What are the restrictions following the surgery?</strong></span></p>
<ul>
<li>We advise patients to avoid strenuous physical activity for 24 hrs following surgery, but no restrictions for routine daily activities.</li>
<li>Smoking before and after surgery can cause dry socket or delayed healing. You should stop smoking completely until the extraction sockets heal, which may take couple of weeks.</li>
<li>Similar restrictions apply for alcoholic and aerated beverages.</li>
<li>There will be restriction on certain foods for 24 hrs as well.</li>
</ul>
<p><strong> <span style="color: #800000;">What about discomfort following the surgery?</span></strong></p>
<ul>
<li>Some difficulty in opening your mouth wide is expected from the 1st post surgery day of the surgery, but this will gradually return to normal. Mouth opening exercises help open the mouth earlier.</li>
<li>Some patients experience temporary difficulty or soreness when swallowing.</li>
<li>You will experience swelling around your jaws at the site of surgery, which generally increases for 48-72 hrs following which it tends to subside. Swelling can vary tremendously among patients and between different procedures.</li>
</ul>
<p><span style="color: #800000;"><strong>UNCOMMON COMPLICATIONS</strong></span></p>
<ul>
<li><strong>Numbness &#8211; </strong>The roots and jawbone surrounding the lower wisdom teeth can be positioned very close to the nerves that supply sensation to your chin, lip, and tongue. While removing lower wisdom teeth, these nerves can sometimes be stretched or injured so that even after the local anesthetic wears off, you might feel an altered sensation in your chin/lip/tongue. However, permanent numbness is a very rare condition and generally this condition heals by itself over a period of time.</li>
<li><strong>Oro antral communication &#8211;</strong> Sometimes the root of a deep seated upper tooth may be in close vicinity or within the maxillary sinus and a communication may occur between the oral cavity and the sinus during the extraction. This may heal by itself or can be managed efficiently by the oral surgeon.</li>
</ul>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Treatment of fractures of facial bones</h4>
<p>In this era of fast moving traffic, there has been a steep rise in the incidence of road traffic accidents, interpersonal violence, leading to increasing challenges faced by the oral and maxillofacial surgeon. Oral and Maxillofacial surgeons are trained, skilled and uniquely qualified to manage and treat facial trauma &#8211; Intra oral and extra oral lacerations, fractured teeth, facial and jawbones.</p>

		</div>
	</div>

                </div>
            </div>
		</div>
	</div>
</section>


<section class="vc_row wpb_row vc_row-fluid secondary_section">
	<div class="container">
		<div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Issues?</h2><div class="menu-dental-issues-container"><ul id="menu-dental-issues" class="menu"><li id="menu-item-4303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a href="../dental-cavities/index.html">Dental Cavities</a></li>
<li id="menu-item-6517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a href="../gum-disease/index.html">Bleeding Gums</a></li>
<li id="menu-item-4312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a href="../loose-teeth/index.html">Loose Teeth</a></li>
<li id="menu-item-4309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a href="../stained-teeth/index.html">Stained Teeth</a></li>
<li id="menu-item-4306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a href="../crooked-teeth/index.html">Crooked Teeth</a></li>
<li id="menu-item-6521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a href="../chipped-teeth/index.html">Chipped Teeth</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PROSTHODONTICS</h2><div class="menu-prosthodontics-container"><ul id="menu-prosthodontics" class="menu"><li id="menu-item-4285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
<li id="menu-item-4154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a href="../bps-dentures/index.html">BPS DENTURES</a></li>
<li id="menu-item-8597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a href="../cad-cam/index.html">CAD CAM</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2><div class="menu-paediatric-dentistry-container"><ul id="menu-paediatric-dentistry" class="menu"><li id="menu-item-6343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
<li id="menu-item-6345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
<li id="menu-item-6348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
<li id="menu-item-6349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
<li id="menu-item-6350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
<li id="menu-item-6351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Smile make over</h2><div class="menu-smile-make-over-container"><ul id="menu-smile-make-over" class="menu"><li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a href="../tooth-whitening/index.html">Tooth Whitening</a></li>
<li id="menu-item-4176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
<li id="menu-item-4291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a href="../composite-bonding/index.html">Composite Bonding</a></li>
<li id="menu-item-4294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
<li id="menu-item-4297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
<li id="menu-item-6535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ENDODONTICS</h2><div class="menu-endodontics-container"><ul id="menu-endodontics" class="menu"><li id="menu-item-4144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
<li id="menu-item-6525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
<li id="menu-item-6531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a href="../invisible-fillings/index.html">Invisible Fillings</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORTHODONTICS</h2><div class="menu-orthodontics-container"><ul id="menu-orthodontics" class="menu"><li id="menu-item-4228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
<li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a href="../child-orthodontics/index.html">Child Orthodontics</a></li>
<li id="menu-item-8894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
<li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a href="../invisible-braces/index.html">Invisible Braces</a></li>
<li id="menu-item-8928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a href="../clear-aligners/index.html">Clear Aligners</a></li>
<li id="menu-item-4112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
</ul></div></div></div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
<div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">Dental Implants</h2><div class="menu-dental-implants-container"><ul id="menu-dental-implants" class="menu"><li id="menu-item-11958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a href="../dental-implants/index.html">Dental Implants</a></li>
<li id="menu-item-12995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
<li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental implant</a></li>
<li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
<li id="menu-item-6536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
<li id="menu-item-6537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a href="../zygoma-implants/index.html">Zygoma Implants</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">PERIODONTICS</h2><div class="menu-periodontics-container"><ul id="menu-periodontics" class="menu"><li id="menu-item-4131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a href="../flap-surgery/index.html">Flap Surgery</a></li>
<li id="menu-item-4263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
<li id="menu-item-4266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
</ul></div></div></div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2><div class="menu-oral-and-maxillofacial-surgery-container"><ul id="menu-oral-and-maxillofacial-surgery" class="menu"><li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4204 current_page_item menu-item-4206"><a href="index.html" aria-current="page">Wisdom Tooth Surgery</a></li>
<li id="menu-item-4210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a></li>
<li id="menu-item-4215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
<li id="menu-item-4216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
<li id="menu-item-4218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
<li id="menu-item-4221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
</ul></div></div></div>
                </div>
            </div>
		</div>
	</div>
</section>

      
      <div id="new_comment">
      <div class="container">        <div class="new_comment">
                    </div>
      </div>      </div>

    



</div>